.enabled {
    background: #e0ffe0;
}

.disabled {
    background: #ffebeb;
}

#dishTable th.rotate {
    height: 140px;
    white-space: nowrap;
    position: relative;
}

#dishTable th.rotate > div {
    transform: rotate(315deg);
    width: 30px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#dishTable th.rotate > div > span {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}

#dishTable tr:hover {
    border: 2px #000 solid;
    border-left: none;
    border-right: none;
}

.report_actions {
    padding: 0;
}

.menu-btn {
    opacity: 0.1;
    float: right;
    width: 24px;
    background: #7cb342;
    color: #fff !important;
    text-align: center;
    padding: 0 !important;
    border-radius: 2px;
}

li:hover .menu-btn {
    opacity: 1;
}

@media (max-width: 480px) {
    .shop_name {
        display: none;
    }
}

.shop_name {
    color: #fff;
    font-size: 24px;
    padding-left: 15px;
}

@media print {

    .dt-print-view {
        padding: 0 !important;
    }

    .dt-print-view table {
        margin: 0;
    }

    .dt-print-view h1 {
        font-size: 14px;
        margin: 0;
        line-height: 32px;
    }

    .dt-print-view td {
        padding: 0;
        font-size: 10px;
    }
}

.dt-button {
    padding: 6px 12px;
    background: #ddd;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.summary_col {
    background: #eee;
}
