@font-face {
    font-family: 'Myriad Pro';
    src: url('/css/fonts/8141.OTF');
}

@font-face {
    font-family: 'Gothic';
    src: url('/css/fonts/GOTHIC.TTF');
}

@font-face {
    font-family: 'Gothic-Bold';
    src: url('/css/fonts/GOTHICB.TTF');
}