body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#page_content_inner {
    padding: 15px 0;
}

.uk-grid {
    margin-left: -5px;
}

.uk-grid > * {
    padding-left: 5px;
}

.md-card .md-card-content {
    padding: 10px;
}

.trm-btn, .trm-btn-ok, .trm-btn-backspace {
    color: #212121;
    text-align: center;
    display: block;
    border: 2px solid #212121;
    padding: 6px 0;
    width: 40px;
    float: left;
    min-width: 40px;
    font: 500 24px/24px Roboto, sans-serif !important;
}

.trm-btn-selected {
    background: #0f0;
}

.trm-btn-selected i {
    color: #fff;
}

.trm-btn-fullwidth {
    width: 136px;
}

#dish_list,
#category_list {
    /*max-height: 690px;*/
    overflow-y: scroll;
}

#dish_list ul,
#dishes {
    margin: 0;
    padding: 0;
    list-style: none;
}

#dishes .selected {
    background: #ddd;
}

#dish_list ul > li > a > .menu_icon,
#dishes > li > a > .menu_icon {
    width: 48px;
    text-align: left;
    display: inline-block;
    color: #727272;
    padding-right: 8px;
}

#dishes .menu_icon img {
    height: 48px;
}

#dish_list ul > li > a,
#dishes > li > a {
    font: 500 14px/25px Roboto, sans-serif;
    color: #212121;
    display: block;
    overflow: hidden;
    position: relative;
    line-height: 48px;
}

#dishes > li.submenu_trigger > a:before {
    position: absolute;
    right: 8px;
    top: 0px;
    content: '\e313';
    font-family: "Material Icons";
    font-size: 18px;
    display: block;
    color: #727272;
    -webkit-transition: -webkit-transform 280ms;
    transition: transform 280ms;
}

.quantityBlock {
    position: absolute;
    width: 193px;
    background: #eee;
    #top: 45px;
    right: 50px;
    z-index: 1;
    padding: 8px;
    top: -50px;
}

.custom_quantity {
    height: 40px;
    line-height: 40px;
    font-size: 32px;
}

.quantityBlock .trm-btn {
    margin: 8px 8px 0 0;
}

#dish_list ul > li,
#dishes > li {
    line-height: 48px;
    position: relative;
    /* padding: 0 10px;*/
}

#dish_list ul li p,
#dishes li p {
    margin: 0;
    padding: 0;
    line-height: 20px;
}

#dish_list ul li p.meta,
#dishes li p.meta {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 12px;
}

.add_to_order {
    padding: 0 10px;
}

.move_from_order,
.delete_from_order {
    display: inline-block;
}

#dishes > li ul {
    margin: 0;
    display: none;
    /*padding-left: 60px;*/
}

.dish {
    position: relative;
    line-height: 48px;
    /*height: 40px;*/
    border-bottom: 1px #c1c1c1 solid;
    margin: 5px 0;
    padding: 5px 0;
}

.dish p {
    margin: 0;
    padding: 0;
    line-height: 20px;
}

.dish p.meta {
    font-size: 12px;
    line-height: 16px;
    /*margin-bottom: 12px;*/
}

#order_dishes {
    margin-bottom: 16px;
}

.order-actions {
    position: absolute;
    top: 10px;
    right: 10px;
}

.split_order {
    position: absolute;
    top: 10px;
    right: 50px;
}

tr {
    line-height: 48px;
}

.dish_actions {
    position: absolute;
    right: 0;
    top: 0;
    float: right;
}

.price {
    display: block;
    float: left;
    margin-right: 8px;
}

li span {
    white-space: nowrap;
}

.collapse_all {
    position: absolute;
    right: 10px;
    top: 10px;
}

#custom_order i {
    font-size: 22px;
}

p.dishname {
    font-weight: bold;
    padding-right: 90px;
    min-height: 40px;
}

.summary p {
    text-align: right;
    margin: 0;
    font-weight: bold;
}

.summary p span {
    display: inline-block;
    text-align: center;
    padding: 0 10px;
    font-size: 18px;
}

#client-row {
    margin-top: 0;
}

#button-block .uk-form-row {
    margin-top: 12px;
}

div.cat_title {
    font-size: 18px;
    padding-left: 10px;
}

span.cat_title {
    font-size: 18px;
    padding-left: 10px;
}

.dish_cat_parent > ul {
    display: none;
    list-style: none;
    padding: 0;
}

.cat_dishes {
    display: none;
}

#menu_top_dropdown .table_menu_toggle {
    height: 48px;
    line-height: 51px;
    color: #fff;
    display: block;
}

#menu_top_dropdown .table_menu_toggle .material-icons {
    color: #fff
}

#place_plan {
    display: none;
    max-height: 640px;
    min-width: 830px;
    #margin: 48px 0 0 -100px;
    position: absolute;
    #left: 50px;
    top: 50px;
    z-index: 1020;
    background: #fff;
    padding: 10px;
}

#places_list svg {
    width: 100%;
    height: 600px;
}

.sub_group_title {
    background: #eee;
    position: relative;
}

.sub_group_title:before {
    position: absolute;
    content: '\e313';
    font-family: "Material Icons";
    font-size: 48px;
    right: 0;
}

.sub_group_list {
    background: #fff;
}

.sub_group_list li {
    padding: 0 10px;
}

.inline-label {
    line-height: 48px;
}

.order_meta p {
    margin: 0;
}

#dish_list {
    overflow: hidden;
}

.mCSB_scrollTools {
    width: 50px !important;
}

.mCSB_inside > .mCSB_container {
    margin-right: 50px !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 50px !important;
    border-radius: 0 !important;
}

.mCSB_scrollTools .mCSB_draggerRail {
    width: 50px !important;
    border-radius: 0 !important;
    background: #fff !important;
}

.mCSB_dragger_bar {
    background: #aaa !important;
}

.header_button {
    font-size: 24px;
    padding: 0 20px;
    border-left: 1px #fff solid;
    border-right: 1px #fff solid;
    color: #fff;
    height: 48px;
    line-height: 51px;
    display: block;
}

#table_control {
    position: relative;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 600px;
    display: block;
    opacity: 0.2;
    z-index: -1;
    margin: auto;
}

#moneyBack, #moneyForm, #metaForm, #confirmForm, #requestEditForm {
    display: none;
    position: absolute;
    width: 332px;
    height: 550px;
    background: #ddd;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    margin: auto;
    padding: 15px;
    font-size: 24px;
}

#metaForm, #confirmForm {
    z-index: 1215;
    width: 900px;
    height: 650px;
}

#confirmForm {

}

#requestEditForm {
    padding: 10px;
    max-width: 400px;
    width: auto;
}

#requestEditForm .buttons {
    flex-direction: column;
    height: 100%;
}

#requestEditForm .buttons .trm-btn.cancel {

    align-self: flex-end;
}
#requestEditForm .buttons .trm-btn {
    width: 100%;
    max-height: 90px;
    align-items: center;
    padding: 30px 0;
}

#confirmOrderInfo, #confirmActions {
    flex: 1;
}

.order-meta-form {
    display: flex;
}

#moneyBack span,
#moneyForm span {
    font-weight: bold;
}

#moneyForm #cashSum,
#moneyForm #cardSum,
#moneyForm #oplati,
#moneyForm #client {
    height: 44px;
    margin: 10px 0;
    line-height: 40px;
}

#moneyForm #cashSum span,
#moneyForm #cardSum span {
    display: inline-block;
    background: #fff;
    width: 180px;
    border: 2px solid #000;
    text-align: left;
    padding: 0 10px;
    float: right;
}
#metaTime, #metaComment, #metaPhone {
    margin-bottom: 15px;
    margin-left: 15px;
}
#metaForm #metaTime span,
#metaForm #metaComment span,
#metaForm #metaPhone span {
    display: inline-block;
    background: #fff;
    width: 70%;
    border: 2px solid #000;
    text-align: left;
    padding: 0 10px;
    float: right;
    height: 38px;
    margin-left: 15px;
}


#moneyForm #oplati .oplati-type {
    display: flex;
    float: right;
    width: 204px;
}

.oplati-type button {
    border: 2px solid #000;
    display: inline-block;
    background: #fff;
    flex: 1;
    height: 40px;
}

#moneyForm #client select ,
#confirmForm select {
    display: inline-block;
    background: #fff;
    width: 180px;
    border: 2px solid #000;
    text-align: left;
    padding: 0 10px;
    float: right;
    box-sizing: content-box;
    height: 40px;
}

#moneyBack .close,
#moneyForm .close,
#metaForm .close,
#confirmForm .close
{
    top: 15px;
    right: 15px;
    position: absolute;
    width: 50px;
    height: 50px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
    width: 400px;
    box-sizing: border-box;
}

.buttons .trm-btn {
    flex: 0 30%;
    margin: 0;
    height: 100px;
    margin-bottom: 10px;
    word-break: break-word;
}

#buttons .trm-btn {
    width: 100px;
    height: 100px;
}

#buttons .md-btn {
    margin-left: 8px;
    margin-bottom: 8px;
}

.meta-form {
    display: flex;
    flex-direction: column;
}

#change_shop {
    color: #fff;
    font-size: 20px;
    margin-top: -4px;
    height: 46px;
}

#change_shop option {
    color: #000;
}

#buttons:after {
    content: ' ';
    display: table;
    clear: both;
}

.quantityBlock span.title {
    float: none;
    clear: both;
    display: block;
    line-height: 14px;
    font-weight: bold;
    font-size: 18px;
}

#moneyForm #buttons {
    width: 332px;
    float: left;
}

#metaForm #buttons {
    width: 332px;
    float: left;
}

#moneyForm #orderInfo {
    width: 350px;
    float: right;
    position: relative;
    height: 100%;
}

#moneyForm #closeOrder {
    position: absolute;
    bottom: 0;
    width: 140px;
    height: 100px;
    right: 0;
    left: 0;
    margin: 0 auto;
}
#oplati_qr_res,
#oplati_pin_res {
    display: none;
    position: absolute;
    top: 0;
    left: -342px;
    background: #fff;
    width: 316px;
    text-align: center;
    height: 300px;
    line-height: 300px;
    font-size: 60px;
}

#termOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1214;
    display: none;
}

#moneyForm {
    display: none;
    position: absolute;
    width: 700px;
    height: 421px;
    z-index: 1215;
}

#order_save_order, #order_update_order, #order_pay_order, #order_close {
    position: fixed;
    right: 0;
    top: 62px;
    width: 100px;
    height: 80px;
    padding: 0;
}

#order_pay_order {
    top: 142px;
}

#order_close {
    top: 320px;
}