<p class="p1"><strong> ПОЛОЖЕНИЕ о Дисконтной карте</strong></p>
<p class="p3"><strong>Термины:</strong></p>
<p class="p3"><em>&laquo;Организатор программы&raquo;</em>:</p>
<p class="p3">&ndash; Иностранное общество с ограниченной ответственностью &laquo;Итал-Сервис&raquo; (далее - ИООО &laquo;Итал-Сервис&raquo;) г. Брест, ул. Интернациональная, 5, ком. 208.</p>
<p class="p3">&ndash; Общество с ограниченной ответственностью &laquo;Лаилик&raquo; (далее - ООО &laquo;Лаилик&raquo;) г. Брест, ул. Интернациональная, 5, ком. 205.</p>
<p class="p3"><em>- Сеть заведений ITALSERVICE GROUP &ndash; </em>объекты общественного питания ИООО &laquo;Итал-Сервис&raquo; и ООО &laquo;Лаилик&raquo;.</p>
<p class="p3"><em>&laquo;Партнеры программы&raquo;:</em></p>
<p class="p3">&ndash;иные компании, реализующие товары и/или услуги, в отношении которых предоставляются привилегии Участникам в рамках Программы.</p>
<p class="p3">Основные термины:</p>
<p class="p3"><em>&laquo;Программа лояльности сети Заведений ITALSERVICE GROUP&raquo; (далее &laquo;Программа&raquo;)</em> &ndash; комплекс взаимоотношений Организаторов, Партнеров Программы и иных юридических лиц (индивидуальных предпринимателей) с одной стороны и физических лиц (участников) с другой стороны, в результате которых у Участника Программы возникает право получения скидки на продукцию в Заведениях Программы, в соответствии с условиями настоящего Положения.</p>
<p class="p3"><em>&laquo;Участник&raquo;</em> &ndash; физическое лицо, которое выразило свое намерение участвовать в Программе и выполнило необходимые условия в соответствии с настоящим Положением.</p>
<p class="p3"><em>&laquo;Анкета&raquo;</em> &ndash; электронная форма, которая при заполнении и активации физическим лицом &ndash; посетителем Заведений Программы, является выражением желания и согласия такого физического лица на участие в Программе в соответствии с условиями настоящего Положения.</p>
<p class="p3"><em>&laquo;Личный кабинет&raquo;</em> &ndash; раздел на сайте venezia.by с информацией об анкетных данных, где Участник Программы видит свои личные данные, количество Накоплений, срок их действия.</p>
<p class="p3"><em> &laquo;База данных&raquo;</em>&ndash; информационный ресурс, который создается и ведется Организатором Программы и содержит сведения об Участнике Программы, полученные из анкеты, а также некоторую информацию из сделок Участника в Заведениях Программы и иных подобных источников информации.</p>
<p class="p3"><em>&laquo;Дисконтная накопительная карта&raquo;</em> &ndash; пластиковая карта, имеющая уникальный номер, данные владельца и подтверждающая право на участие в Программе на условиях настоящего Положения.</p>
<p class="p3"><em>&laquo;Скидка&raquo; </em>- процент от суммы счета, на который снижается цена товара для Участника.</p>
<p class="p3"><em>&laquo;Сумма покупок&raquo;</em> &ndash; сумма потраченных средств в Сети заведений ITALSERVICE GROUP с использованием Дисконтной накопительной карты, от которой зависит процент скидки.</p>
<p class="p3"><em> &laquo;Уведомление&raquo;</em> &ndash; информация, в том числе рекламного содержания, передаваемая участнику по мобильному телефону или иным способом.</p>
<p class="p3"><strong>1. Общие Положения:</strong></p>
<p class="p3">1.1. Цели программы:</p>
<p class="p5">* Поощрение лояльности постоянных гостей сети Заведений ITALSERVICE GROUP;</p>
<p class="p6">* Формирование и расширение круга постоянных гостей;</p>
<p class="p6">* Продвижение услуг сети Заведений ITALSERVICE GROUP.</p>
<p class="p3">1.2. Перечень заведений (далее &ndash; Сеть Заведений ITALSERVICE GROUP), участвующих в Программе:</p>
<p class="p6">* Кафе &laquo;Venezia&raquo;</p>
<p class="p5"><span class="Apple-converted-space">&nbsp;&nbsp; </span>г. Брест, ул. Интернациональная 5, телефон: 8 016 2 20 33 49</p>
<p class="p5">* Кафетерий &laquo;Caffe Italia Pizzeria&raquo;</p>
<p class="p5"><span class="Apple-converted-space">&nbsp;&nbsp; </span>г. Брест, ул. Советская 112, телефон: 8 016 2 22 11 70</p>
<p class="p5">* Закусочная &laquo;Кусочек пиццы&raquo;</p>
<p class="p5"><span class="Apple-converted-space">&nbsp;&nbsp; </span>г. Брест, ул. Адамковская 45, телефон: 8 0162 24 38 70</p>
<p class="p5">* Закусочная &laquo;Venezia Fusion&raquo;</p>
<p class="p5"><span class="Apple-converted-space">&nbsp;&nbsp; </span>г. Брест, пр-т Машерова 16, телефон: 8 0162 55 67 28</p>
<p class="p5">* Закусочная &laquo;Urban Soup&raquo;</p>
<p class="p5"><span class="Apple-converted-space">&nbsp;&nbsp; </span>г. Брест, ул. Советская 67, телефон: 8 0162 20 72 64</p>
<p class="p5">*<span class="Apple-converted-space">&nbsp; </span>Мини-кафе &laquo;Pizza Al Taglio&raquo; 24 часа</p>
<p class="p5"><span class="Apple-converted-space">&nbsp; &nbsp; </span>г. Брест, ул. Московская 329, телефон 8 0162 49 22 21</p>
<p class="p5">* Кафе &laquo;GRAN CAFFE&raquo;</p>
<p class="p5"><span class="Apple-converted-space">&nbsp;&nbsp; </span>г. Брест, ул. Советская 73, телефон: 8<span class="Apple-converted-space">&nbsp; </span>0162 20 92 06</p>
<p class="p5">* Закусочная &laquo;Metromilano&raquo;</p>
<p class="p5"><span class="Apple-converted-space">&nbsp;&nbsp; </span>г. Брест, ул. Советская 73, телефон: 8 0162 21 04 79</p>
<p class="p5">* Мини-бар &laquo;Metromilano&raquo; в боулинге Cosmic</p>
<p class="p5"><span class="Apple-converted-space">&nbsp;&nbsp; </span>г. Брест, ул. Советская 73, телефон: 8 033 335 53 93</p>
<p class="p5">* Закусочная &laquo;Pizza Al Taglio&raquo;</p>
<p class="p5"><span class="Apple-converted-space">&nbsp;&nbsp; </span>г. Брест, ул. Советская 55, телефон: 8 0162 20 83 36</p>
<p class="p5">* Закусочная &laquo;Draft House&raquo;</p>
<p class="p5"><span class="Apple-converted-space">&nbsp;&nbsp; </span>г. Брест, ул. Советская 57, телефон: 8 0162 53 09 93</p>
<p class="p8">&nbsp;</p>
<p class="p3">1.3. Преимущества Дисконтной накопительной карты, предусмотренных в Сети Заведений ITALSERVICE GROUP:</p>
<p class="p3">&ndash; получение Скидки при расчете в зависимости от суммы покупок;</p>
<p class="p3">&ndash; дополнительная Скидка в День Рождения;</p>
<p class="p3">&ndash; информирование о новостях, акциях, специальных предложениях Сети Заведений ITALSERVICE GROUP.</p>
<p class="p3">1.4.Дисконтная накопительная карта является элементом маркетинговой политики Организаторов Программы.</p>
<p class="p9"><span class="s1">1.5. </span>Обязательным условием получения Дисконтной накопительной карты является полное и достоверное заполнение Анкеты клиента на сайте <span class="s1">venezia.by.</span></p>
<p class="p3"><strong>2. Как работает Программа:</strong></p>
<p class="p3">2.1.<span class="Apple-converted-space">&nbsp; </span>Каждый раз по предъявлению покупателем Дисконтной накопительной карты при совершении расчета в Заведениях ITALSERVICE GROUP, предоставляется скидка согласно п.5.5. Положения, а также на карту добавляется сумма покупки.</p>
<p class="p3">2.2.<span class="Apple-converted-space">&nbsp; </span>Дисконтная накопительная карта является именной. При проведении специальных акций и розыгрышей участвовать может только владелец дисконтной карты, указанный в анкете.</p>
<p class="p3">2.3. Используя Дисконтную карту, физическое лицо подтверждает согласие с условиями участия в Программе.</p>
<p class="p9">2.4. Карты не действуют при заказе блюд через службу доставки партнеров.</p>
<p class="p3"><strong>3. Как стать участником Программы Дисконтной накопительной карты:</strong></p>
<p class="p3">3.1. Обладателем Дисконтной накопительной карты могут стать любые физические лица, являющиеся посетителями Сети Заведений ITALSERVICE GROUP, совершающие расчет наличными деньгами, пластиковыми банковскими картами.</p>
<p class="p3">3.2. Стать обладателем Дисконтной накопительной карты можно<span class="Apple-converted-space">&nbsp; </span>одним из способов:</p>
<p class="p3">3.2.1. Купить Дисконтную накопительную карту в Сети Заведений ITALSERVICE GROUP.</p>
<p class="p3">3.2.2. Получить Дисконтную накопительную карту посетив одно из заведений сети ITALSERVICE GROUP совершив заказ на сумму чека от 50 рублей (кафе &laquo;Venezia&raquo;, кафетерий &laquo;Caffe Italia Pizzeria&raquo;, закусочная &laquo;Metromilano&raquo;, закусочная &laquo;Venezia Fusion&raquo;, закусочная &laquo;Draft House&raquo;) либо от 30 рублей (закусочная &laquo;Кусочек пиццы&raquo;, закусочная &laquo;Urban Soup&raquo;, мини-кафе &laquo;Pizza Al Taglio&raquo;, кафе &laquo;GRAN CAFFE&raquo;, мини-бар &laquo;Metromilano&raquo;, закусочная &laquo;Pizza Al Taglio&raquo;.</p>
<p class="p3">3.3. Получить счет, где указан QR код. Сканировать QR код.</p>
<p class="p3">3.4. Заполнить электронную форму анкеты на сайте venezia.by.</p>
<p class="p3"><span class="Apple-converted-space">&nbsp; </span>* Анкета клиента:</p>
<p class="p6">1. Фамилия Имя (корректные паспортные данные, на латинице)*</p>
<p class="p6">2. Дата рождения*</p>
<p class="p6">3. Пол</p>
<p class="p6">4. Семейное положение</p>
<p class="p6">5. Есть ли у Вас дети*</p>
<p class="p6">6. Мобильный телефон*</p>
<p class="p6">7. Адрес *</p>
<p class="p6">8.<span class="Apple-converted-space">&nbsp; </span>e-mail*</p>
<p class="p6">9. Пользуетесь ли Вы доставкой *</p>
<p class="p6">10. Как часто посещаете Заведений ITALSERVICE GROUP<span class="Apple-converted-space">&nbsp; </span>(выбрать из предложенных вариантов)</p>
<ul class="ul1">
    <li class="li3">очень часто (несколько раз в неделю)</li>
    <li class="li3">часто (несколько раз в месяц)</li>
    <li class="li3">редко (несколько раз в пол года)</li>
    <li class="li3">очень редко (1 раз в год)</li>
</ul>
<p class="p3"><span class="Apple-converted-space">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>11. В каком заведении хотите получить свою дисконтную накопительную карту*</p>
<ul class="ul1">
    <li class="li3">закусочная URBAN SOUP<span class="Apple-converted-space">&nbsp; </span>г. Брест, ул. Советская, 73</li>
    <li class="li3">мини-кафе PIZZA AL TAGLIO г. Брест,<span class="Apple-converted-space">&nbsp; </span>ул.Московская, 329</li>
    <li class="li3">закусочная Кусочек пиццы<span class="Apple-converted-space">&nbsp; </span>г. Брест, ул. Адамковская, 45</li>
</ul>
<p class="p6">12. Подпись-согласие*</p>
<ul class="ul1">
    <li class="li3">Хотите ли вы получать информацию о действующих скидках и акциях по e-mail.</li>
    <li class="li3">Я понимаю и соглашаюсь с тем, что ООО &laquo;Лаилик&raquo;/ ИООО &laquo;Итал-Сервис&raquo; вправе осуществлять сбор, обработку, хранение, передачу моих персональных данных, а также пользование ими (в том числе с привлечением программно-технических комплексов третьих лиц при условии заключения с ними договоров о неразглашении конфиденциальной информации). Настоящим даю согласие на получение от ООО &laquo;Лаилик&raquo;/ ИООО &laquo;Итал-Сервис&raquo; SMS-оповещений, IM-сообщений (в том числе рекламной информации) об услугах, предложениях и новостях ООО &laquo;Лаилик&raquo;/ ИООО &laquo;Итал-Сервис&raquo; и (или) третьих лиц (в случае запланированных кросс-маркетинговых акций). В случае моего отказа от Уведомлений Дисконтная карта становится неактивной.<span class="Apple-converted-space">&nbsp; &nbsp;</span></li>
</ul>
<p class="p3">*- поля заполняются обязательно.</p>
<p class="p3">3.5.<span class="Apple-converted-space">&nbsp; </span>Дождаться изготовления именной карты (срок изготовления - 2 недели).</p>
<p class="p3">3.6.<span class="Apple-converted-space">&nbsp; </span>Получить дисконтную карту в заведении указанном в анкете, после <span class="s2">SMS-оповещения о её готовности.</span></p>
<p class="p10">&nbsp;</p>
<p class="p3"><strong>4. Хранение и обработка персональных данных в Базе данных.</strong></p>
<p class="p3"><span class="s3">4.1. Каждый Участник Программы даёт согласие на обработку персональных данных в </span>целях маркетинга, рекламы, изучения мнений, идентификации участника в Программе, предоставление различных сервисных и иных услуг, обработки истории покупок Участника в Сети ITALSERVICE GROUP, распространения рекламных сообщений, а также для анализа всей истории взаимодействия Участника с Организатором, а также для продвижения услуг на рынке путем осуществления прямых контактов (рекламно-информационной рассылки) с Участником с помощью различных средств связи, включая, но, не ограничиваясь телефон, сеть Интернет, иные средства связи.</p>
<p class="p3">4.2. Участник предоставляет согласие Организатору и его партнерам обрабатывать персональные данные Участника с помощью автоматизированных систем управления базами данных, а также иных программных средств. Участник соглашается с тем, что, если это необходимо для реализации целей, указанных в настоящей Программе, его персональные данные, полученные Организатором, могут быть переданы третьим лицам, которым Организатор может поручить обработку персональных данных Участника, при условии соблюдения требований законодательства Республики Беларусь об обеспечении такими <span class="s1">третьими лицами конфиденциальности персональных данных и безопасности персональных данных при их обработке. </span></p>
<p class="p11">4.3. Участник подтверждает, что отметка чекбокса &laquo;Понимаю и соглашаюсь на обработку персональных данных на условиях пользовательского соглашения&raquo; означает полное согласие Участника с Программой со всеми условиями без исключения.</p>
<p class="p3">4.4. Участник вправе вносить дополнения в своей учетной записи на сайте в разделе Личный кабинет или потребовать ее удаления, посредством направления письменного обращения по адресу: 224030 г. Брест, ул. Интернациональная, 5 либо посредством направления Участником письма по электронной почте на электронный адрес&nbsp;marketing@italbrest.com.</p>
<p class="p3">4.5. В случае отказа Участника от<span class="Apple-converted-space">&nbsp; </span>прямых контактов Дисконтная накопительная карта может быть деактивирована Организатором.<span class="Apple-converted-space">&nbsp; &nbsp;</span></p>
<p class="p3"><strong>5. Предъявление скидки и начисление денег. Срок действия.</strong></p>
<p class="p3">5.1. Дисконтная накопительная карта предъявляется <span class="s4">перед</span> расчетом в Сети Заведений ITALSERVICE GROUP.</p>
<p class="p3">5.2. Предоставление Скидки и увеличения Суммы покупок возможно только при предъявлении Дисконтной накопительной карты.</p>
<p class="p3">5.3. Скидка не предоставляется на табачные изделия, алкоголь, сертификаты, на доставку партнеров, товар с фиксированной ценой, а так же на другие акции Сети Заведений ITALSERVICE GROUP.</p>
<p class="p3">5.4. Сумма покупок зачисляются в личный кабинет Участника Программы при каждом расчете в Сети Заведений ITALSERVICE GROUP.</p>
<p class="p3">5.5. Процент скидки рассчитывается согласно таблице:</p>
<table class="t1" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td class="td1" valign="middle">
            <p class="p1">Сумма покупок (руб.)</p>
        </td>
        <td class="td1" valign="middle">
            <p class="p1">Процент скидки:</p>
        </td>
    </tr>
    <tr>
        <td class="td1" valign="middle">
            <p class="p12">0-699</p>
        </td>
        <td class="td1" valign="middle">
            <p class="p13">5%</p>
        </td>
    </tr>
    <tr>
        <td class="td1" valign="middle">
            <p class="p13">700- 1999</p>
        </td>
        <td class="td1" valign="middle">
            <p class="p13">10%</p>
        </td>
    </tr>
    <tr>
        <td class="td1" valign="middle">
            <p class="p13">2000 и больше</p>
        </td>
        <td class="td1" valign="middle">
            <p class="p13">20 %</p>
        </td>
    </tr>
    </tbody>
</table>
<p class="p3">5.5. Переход на более высокий уровень скидки происходит автоматически при достижении необходимого уровня суммы покупок. Замена Карты не требуется.</p>
<p class="p3">5.6. Информация о том, что Участнику доступен новый уровень скидки, направляется Участнику на мобильный номер, указанный в личном кабинете.</p>
<p class="p3">5.7. Срок действия Дисконтной накопительной карты не ограничен.</p>
<p class="p3">5.8. Срок действия 10% и 20% скидки 370 дней со дня последней совершенной покупки. В случае неиспользования Дисконтной карты в течение указанного срока, Сумма покупок и предоставляется минимальная скидка в 5%.</p>
<p class="p3"><strong>6. Замена карты клиента:</strong></p>
<p class="p3">6.1. В случае утери или повреждения карты клиента данная карта не восстанавливается.</p>
<p class="p3">6.2. После сверки анкетных данных Участник Программы может получить взамен утерянной или поврежденной карты новую карту клиента на платной основе, на которую переносятся все ранее накопленные бонусы по утерянной или поврежденной карте.</p>
<p class="p3">6.3. Утерянная или поврежденная карта клиента признается недействующей и блокируется Организатором Программы.</p>
<p class="p3"><strong>7. Заключительные положения:</strong></p>
<p class="p14">7.1. Организатор ос<span class="s5">тавляет за собой право без какого-либо специального уведомления вносить изменения </span>и/или дополнения в настоящее Положение. Использование Участником Программы <span class="s1">Дисконтной накопительной карты означает его согласие с такими изменениями и/или дополнениями.</span></p>
<p class="p15">7.2. Участник обязуется самостоятельно контролировать наличие изменений в настоящем Положении. Новая редакция Положения вступает в силу с момента ее размещения на сайте, если иное не предусмотрено новой редакцией Положения.</p>
<p class="p11">7.3. Организатор оставляет за собой право изменять Сайт, в том числе изменять или добавлять в его структуру разделы, менять дизайн и совершать прочие действия, направленные на повышение функциональности Сайта.</p>
<p class="p3"><span class="s1">7.4. В случае возникновения технических и (или) организационных проблем Организатор и Партнеры Программы</span> имеют право временно не выдавать Дисконтные накопительные карты, не предоставлять по ним скидки до устранения вышеуказанных проблем.</p>
<p class="p3">7.5. Незнание условий настоящего Положения не может являться основанием для предъявления каких-либо претензий со стороны владельцев Дисконтных карт в адрес Организатора и Партнеров Программы.</p>
<p class="p3">7.6. Дисконтная накопительная карта является собственностью Организатора, который оставляет за собой право блокировать Карту в случае нарушения условий Программы держателем Карты.</p>
<p class="p3">7.7. Ознакомиться с Положением, внесенными изменениями и/или дополнениями можно на сайте venezia.by в разделе правовая информация.</p>
<p class="p3">7.8. Узнать сумму скидки можно будет в чеке после расчета.</p>
<p class="p3">7.9. Сумму покупок можно узнать в разделе &laquo;Личный кабинет&raquo; на сайте venezia.by.</p>
<p class="p3">7.10. Редактировать личные данные в разделе &laquo;Личный кабинет&raquo; на сайте venezia.by запрещено.&nbsp;</p>
<p class="p3">7.11. Дополнительные бонусы и привилегии для держателей Дисконтной накопительной карты в Сети Заведений ITALSERVICE GROUP:</p>
<p class="p3">7.11.1. В свой День Рождения Участник Программы получает дополнительную разовую СКИДКУ в размере 10% к действующей скидке, в одном из заведении ITALSERVICE GROUP, при предъявлении Дисконтной накопительной карты.</p>
<p class="p3">7.11.2. Обладатели Дисконтной накопительной карты принимают участие в различных розыгрышах, акциях от<span class="Apple-converted-space">&nbsp; </span>Сети Заведений ITALSERVICE GROUP.</p>
<p class="p3">7.11.3. Предпраздничные и праздничные программы.&nbsp;</p>