{% extends "RestaurantBundle::layout.html.twig" %}

{% block container %}
    <div id="page_content_inner">
        <div class="uk-grid uk-grid-width-small-1-1 ">
            <div class="uk-width-3-3">
                <div class="md-card">
                    <div class="md-card-toolbar-actions" style="width:100%;padding: 12px 0 0 0;margin-top: -5px;">
                        <div class="uk-grid">
                            <div class="uk-width-large-1-1 uk-width-medium-1-1">
                                <div class="uk-input-group">
                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                    <label for="uk_dp_start">{{ 'Дата' | trans }}</label>
                                    <input class="md-input" type="text" id="dateStart" value="{{ dateStart | date("d.m.Y") }}" data-uk-datepicker="{ format:'DD.MM.YYYY'}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md-card-content">
                        <table class="uk-table table_status">
                            <thead>
                            <tr>
                                <th>Заведение</th>

                                {% if is_granted('ROLE_BUHGALT') %}
                                    <th>{{ 'Выручка' | trans }}</th>
                                {% endif %}
                                {% if is_granted("ROLE_SHOP_MANAGER") %}
                                    <th>{{ 'Пицца' | trans }}</th>
                                {% endif %}

                                {% if is_granted('ROLE_BUHGALT') or is_granted("ROLE_SHOP_WATCHER") %}
                                    <th>{{ 'Изм' | trans }}</th>
                                {% endif %}

                                {% if is_granted('ROLE_MARKETMAN') or is_granted("ROLE_SHOP_WATCHER") %}
                                    <th>{{ 'Меню' | trans }}</th>
{#                                    <th>{{ 'Конструктор' | trans }}</th>#}
                                {% endif %}

                                {% if is_granted('ROLE_BUHGALT') or is_granted("ROLE_SHOP_WATCHER") %}
                                    <th>{{ 'Отчет' | trans }}</th>
                                    <th>{{ 'Реализация' | trans }}</th>
                                {% endif %}

                                <th>status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set moneySum = 0 %}
                            {% set pizzaSum = 0 %}
                            {% set pizzaFreeSum = 0 %}
                            {% for shop in shops %}
                                <tr style="background: {{ (shop.id in status|keys) ? "#cfffcf" : "#fff" }}">
                                    <td>
                                        {{ shop.name }}
                                    </td>

                                    {% if is_granted('ROLE_BUHGALT') %}
                                        {% if shopsData[shop.id] is defined %}

                                            {% set moneySum = moneySum + shopsData[shop.id]['cash'] %}
                                            {% set pizzaSum = pizzaSum + shopsData[shop.id]['pizza'] %}
                                            {% set pizzaFreeSum = pizzaFreeSum + shopsData[shop.id]['pizza_free'] %}

                                            <td>{{ shopsData[shop.id]['cash'] | price }}</td>
                                        {% else %}
                                            <td>{{ 0 | price }}</td>
                                        {% endif %}
                                    {% endif %}

                                    {% if is_granted("ROLE_SHOP_MANAGER") %}

                                        {% if shopsData[shop.id] is defined %}
                                            <td>
                                                <a href="{{ path('report_pizza_shop', {'shop' : shop.id}) }}" target="_blank">{{ shopsData[shop.id]['pizza'] }} ({{ shopsData[shop.id]['pizza_free'] }})</a>
                                            </td>
                                        {% else %}
                                            <td>
                                                <a href="{{ path('report_pizza_shop', {'shop' : shop.id}) }}" target="_blank">{{ 0 }}</a>
                                            </td>
                                        {% endif %}
                                    {% endif %}


                                    {% if is_granted('ROLE_BUHGALT') or is_granted("ROLE_SHOP_WATCHER") %}
                                        <td>
                                            {#<a target="_blank" href="{{ path("report_daily_changes") }}" class="row_hidden">#}
                                            {{ shop.id in changes|keys ? changes[shop.id] : 0 }}
                                            {#</a>#}
                                        </td>
                                    {% endif %}

                                    {% if is_granted('ROLE_MARKETMAN') or is_granted("ROLE_SHOP_WATCHER") %}
                                        <td>
                                            <a target="_blank" href="{{ path("menu_print", {'id' : shop.id}) }}" class="row_hidden">{{ 'Меню' | trans }}</a>
                                        </td>
{#                                        <td>
                                            <a target="_blank" href="{{ path("menu_constructor", {'id' : shop.id}) }}" class="row_hidden">{{ 'Конструктор' | trans }}</a>
                                        </td>#}
                                    {% endif %}

                                    {% if is_granted('ROLE_BUHGALT') or is_granted("ROLE_SHOP_WATCHER") %}
                                        <td>
                                            <a target="_blank" href="{{ path("report_shop", {'id' : shop.id}) }}" class="row_hidden">{{ 'Отчеты' | trans }}</a>
                                        </td>
                                        <td>
                                            <a target="_blank" href="{{ path("shop_realisation", {'shop' : shop.id}) }}" class="row_hidden">{{ 'Реализация' | trans }}</a>
                                        </td>

                                    {% endif %}

                                    <td class="update" data-id="{{ shop.id }}">{{ (shop.id in status|keys) ?  status[shop.id].version : -1 }}</td>

                                </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                {% if is_granted("ROLE_BUHGALT") %}
                                    <td>{{ moneySum | price }}</td>
                                {% endif %}
                                <td>{{ pizzaSum }} ({{ pizzaFreeSum }})</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block page_specific_styles %}
    <style>
        .table_status .row_hidden {
            #display: none;
        }

        .table_status tr:hover .row_hidden {
            display: inherit;
        }

        .table_status tr:hover {
            background: #eee;
        }
    </style>
{% endblock %}

        {% block page_specific_plugins %}
            <script src="https://code.highcharts.com/highcharts.js"></script>
            <script src="https://rawgithub.com/laff/technical-indicators/master/technical-indicators.src.js"></script>

            <script>

{% if app.user.id == 2 %}
                $(document).on('click', ".update", function () {
                    var id = $(this).data("id");

                    $.ajax({
                        url: '/update/'+id,
                        type: 'GET',
                    });
                });
{% endif %}

                $(document).on('change', "#dateStart", function () {
                    location.href = "/?date=" + $(this).val();
                });

                $(document).on('click', '.chartDeep', function () {
                    var deep = $(this).data('deep');

                    $.ajax({
                        url: '{{ path('income_data_ajax') }}',
                        type: 'POST',
                        data: {
                            deep: deep,
                        },
                        success: function (response) {
                            chart.series[0].setData(parseData(response));
                            var sum = parseSum(response);
                            chart.setTitle({text: ("Выручка за " + deep + " дней" + " (" + sum + ")")});

                            addAverageLine(chart, sum / chart.series[0].data.length);
                            findMinMax(chart);
                        }
                    });
                    return false;
                });

                {#                var dataArray = {{ trendData | json_encode | raw }};#}


                function parseData(dataArray) {
                    var dailyData = [];
                    for (date in dataArray) {
                        dailyData.push([Date.parse(date), parseFloat(dataArray[date])]);
                    }
                    return dailyData;
                }

                function parseSum(dataArray) {
                    var sum = 0;
                    for (date in dataArray) {
                        sum += parseFloat(dataArray[date])
                    }
                    return sum;
                }


                var dailyData = parseData(dataArray);
                var sum = parseSum(dataArray);


                var chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'mGraph',
                        type: 'spline'
                    },
                    title: {
                        text: '{{ "Выручка за 7 дней" | trans }}' + ' (' + sum + ')',
                        x: -20 //center
                    },
                    subtitle: {
                        /*text: 'Source: WorldClimate.com',
                         x: -20*/
                    },
                    xAxis: {
                        type: 'datetime',
                        dateTimeLabelFormats: { // don't display the dummy year
                            month: '%e. %b',
                            year: '%b'
                        },
                        title: {
                            text: 'Дата'
                        },
                        plotLines: []

                    },
                    yAxis: {
                        title: {
                            text: '{{ "Выручка" | trans }}'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    /*tooltip: {
                     valueSuffix: '°C'
                     },*/
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: [{
                        id: 'primary',
                        name: 'Выручка',
                        data: dailyData
                    }]
                });

                function findMinMax(chart) {
                    var min = chart.series[0].dataMin;
                    var max = chart.series[0].dataMax;

                    for (var i = 0; i < chart.series[0].points.length; i++) {
                        if (chart.series[0].points[i].y === max) {
                            chart.series[0].points[i].update({
                                color: 'green',
                            });
                        }
                        if (chart.series[0].points[i].y === min) {
                            chart.series[0].points[i].update({
                                color: 'red',
                            });
                        }
                    }
                }

                function addAverageLine(chart, value) {
                    chart.yAxis[0].removePlotLine('average');
                    chart.yAxis[0].addPlotLine({
                        width: 1,
                        value: value,
                        color: 'red',
                        id: 'average',
                        label: {
                            text: 'Средняя ' + number_format(value, 2, '.', ' '),
                        }
                    });
                }

                findMinMax(chart);
                addAverageLine(chart, sum / dailyData.length);
            </script>

        {% endblock %}
