<table id="order-table">
    <thead>
    <tr>
        <th class="item-thumb">Блюдо</th>
        <th class="item-desc">Описание</th>
        <th>Цена</th>
        <th class="item-count">Количество</th>
        <th>Итого</th>
        <th class="remove-item"></th>
    </tr>
    </thead>
    <tbody>
    {% for dish in order.dishes %}
        <tr data-id="{{ dish.dish.id }}" class="cart-item-row">
            <td class="item-thumb">
                <figure>
                    <img src="{{ dish.dish.imagePath | imagine_filter('cart') }}" alt="{{ dish.dish.name }}">
                </figure>
            </td>
            <td class="item-desc">
                <p>{{ dish.dish.name }}</p>
                <p style="font-size: 12px;" class="description">{{ dish.dish.description }}</p>
            </td>
            <td><strong>{{ dish.dish.shopPrice(0) | price }} р</strong></td>
            <td>
                <input data-id="{{ dish.dish.id }}" data-price="{{ dish.dishPrice }}" data-category="{{ dish.dish.category.id }}"
                       type="text" class="cart-item-count {% if dish.dish.id != 13242 %}stepper{% endif %}" name="quantity"
                       value="{{ dish.quantity }}">
            </td>
            <td><strong class="sum">{{ (dish.quantity * dish.dish.shopPrice(0)) | price }}</strong> р</td>
            <td class="remove-item">
                {% if dish.dish.id != 13242 %}
                    <a href="#" class="remove-items-link"><i class="fa fa-times-circle"></i></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div style="display: none" id="orderSum">{{ orderSum }}</div>