{% extends '@Frontend/base_v3.html.twig' %}


{% block page_special_styles %}
    {% stylesheets
        "css/new/bootstrap.min.css"
        "css/new/bootstrap_col_15.css"
        "css/new/fontello.css"
        "css/new/owl.carousel.css"
        "css/new/magnific-popup.css"
        "css/new/custom-bg.css"

        "css/new/reset.css"
        "css/new/main.css"
        "css/new/main_new.css"

        filter="scssphp" %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=764a65f4-e00f-43b1-82a8-5414e24167ad&lang=ru_RU" type="text/javascript"></script>
    <style>
        .owl-carousel .owl-item img {
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block shopping_cart %}{% endblock %}

{% block container -%}
    <section class="store-cart style2 full-height">
        <div class="container">
            <h1>{{ 'Ваш заказ' | trans }}</h1>
            <form action="#" class="cart-items wow fadeInDown">
                {% include "@Frontend/Cart/__cartShowTable.html.twig" with {"order":preorder} %}
            </form>
            <form name="order_type" id="order-form" method="post" action="{{ path('frontend_cart_checkout') }}">
                <div class="estimate-shopping wow fadeInDown">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="info">
                                <h6>Информация</h6>
                                {{ form_row(form.cashType) }}
                                {{ form_row(form.phone) }}

                                {% if app.session.get('order_type') == constant('FrontendBundle\\Entity\\WebOrder::TYPE_PICKUP') %}
                                    {{ form_row(form.pickupTime, {'label' : 'Время к которому придете за заказом (не ранее чем ' ~ pickupTime ~ ')'}) }}
                                {% else %}
                                    {{ form_row(form.pickupTime, {'label' : 'Время к которому доставить заказ (не ранее чем ' ~ pickupTime ~ ')'}) }}
                                {% endif %}


                                {% if app.session.get('order_type') == constant('FrontendBundle\\Entity\\WebOrder::TYPE_PICKUP') %}
                                    {{ form_row(form.pickupShop) }}
                                {% else %}
                                    {{ form_row(form.address) }}
                                {% endif %}

                                {{ form_row(form.comment) }}
                                <p>
                                    Обращаем ваше внимание, что получение заказа осуществялется по указанному выше адресу, времени и только в день
                                    заказа.
                                    Администрация сайта оставляет за собой право заблокировать для дальнейших заказов недобросовестных
                                    покупателей.</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="cart-subtotal-container col-md-3">
                            <h6>К оплате</h6>
                            <div class="subtotals">
                                <div class="subtotal total">
                                    <h6>Итого:</h6>
                                    <span><strong id="sum">{{ orderSum | price }} р</strong></span>
                                </div>
                            </div>

                            {% if app.session.get('order_type') == constant('FrontendBundle\\Entity\\WebOrder::TYPE_DELIVERY') %}
                                <h6>Зона доставки</h6>
                                <div id="map" style="width:275px;height:200px"></div>
                            {% endif %}
                        </div>
                        <div class="col-md-12 align-right">
                            <a href="{{ path('frontend_takeaway_menu') }}" class="custom-button button-style3 large">Вернуться к меню</a>
                            {{ form_widget(form._token) }}
                            {{ form_widget(form.submit) }}
                        </div>

                    </div>

                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </section>
{% endblock %}

{% block page_special_javascripts %}


    {% javascripts
        "js/new/jquery.min.js"
        "js/new/jquery-ui.min.js"
        "js/new/jquery.scrollme.min.js"
        "js/new/jquery.fs.stepper.min.js"
        "js/new/cd-google-map-brown.js"
        "js/new/jquery.mixitup.min.js"
        "js/new/wow.min.js"
        "js/new/plugins.js"
        "js/new/main.js"
        "assets/js/intlTelInput.min.js"

        filter="?jsqueeze" %}

        <script src="{{ asset_url }}"></script>

    {% endjavascripts %}

    <style>
        .intl-tel-input {
            margin: 0 0 8px 0;
            width: 100%;
        }

        .intl-tel-input .selected-flag .iti-flag {
            top: 12px;
            left: 10px;
        }
    </style>
    <script type="text/javascript">

        $("#order_phone").intlTelInput({
            autoFormat: true,
            autoHideDialCode: false,
            allowDropdown: false,
            utilsScript: "/assets/js/utils.js",
            autoPlaceholder: 'aggressive',
            nationalMode: false,
            initialCountry: "BY",
            preferredCountries: ["BY"]

        });

        $(document).ready(function () {
            $("#order_phone").val(localStorage.phone);
            // $("#order_phone").val("+375 ");
            $("#order_address").val(localStorage.address);
            checkLowerThanStart();
        });

        function parseTime(time) {
            let myformat = 'dd.mm.yyyy HH:MM';

            let dtsplit = time.split(/[\/ .:]/);
            let dfsplit = myformat.split(/[\/ .:]/);

            let df = [];
            for (let dc = 0; dc < 6; dc++) {
                df[dfsplit[dc]] = dtsplit[dc];
            }

            return new Date(df['yyyy'], df['mm'] - 1, df['dd'], df['HH'], df['MM']);
        }

         $("#order_pickupTime").on('keyup', function () {
             validateTime();

         });

        function zeroPad(num, places) {
            var zero = places - num.toString().length + 1;
            return Array(+(zero > 0 && zero)).join("0") + num;
        }

        function checkLowerThanStart() {
            let selectedTime = parseTime($("#order_pickupTime").val()),
                workingTime = $("#order_pickupShop option:selected").data(),
                timeStart = setDateTime(new Date(), workingTime.timeStart);

            if (selectedTime < timeStart) {
                let datestring = zeroPad(timeStart.getDate(), 2) + "." + zeroPad((timeStart.getMonth() + 1), 2) + "." + timeStart.getFullYear() + " " + zeroPad(timeStart.getHours(), 2) + ":" + zeroPad(timeStart.getMinutes(), 2);
                $("#order_pickupTime").val(datestring)
            }
        }

        $("form").on("submit", function () {
            {% if app.session.get('order_type') == constant('FrontendBundle\\Entity\\WebOrder::TYPE_PICKUP') %}
            if (!validateTime()) {
                return false;
            }
            {% endif %}
        });

        function setDateTime(date, str) {
            let sp = str.split(':');
            date.setHours(parseInt(sp[0], 10));
            date.setMinutes(parseInt(sp[1], 10));
            date.setSeconds(0);
            return date;
        };

        function checkTimeBetween(time, start, end) {


            let c = time.getTime(),
                __start = setDateTime(new Date(), start),
                __end = setDateTime(new Date(), end);

            if (__start > __end)
                __end = new Date(__end.setDate(__end.getDate() + 1));

            return ((c + 1000) > __start.getTime() && c < __end.getTime());
        }

        function validateTime() {
            let workingTime = $("#order_pickupShop option:selected").data(),
                selectedTime = parseTime($("#order_pickupTime").val());

            let isInTime = checkTimeBetween(selectedTime, workingTime.timeStart, workingTime.timeEnd);

            if (!isInTime) {
                alert("Пожалуйста укажите время в пределах (" + workingTime.timeStart + " - " + workingTime.timeEnd + ")");
                return false;
            }

            return true;
        }

        $('.stepper').stepper();
        $(document).on("change", ".stepper", function () {

            if ($(this).data().hasOwnProperty("stepper")) return;

            var data = {};

            $(".cart-item-row").each(function () {
                data[$(this).data('id')] = {
                    quantity: $(this).find("input").val()
                }
            });

            $.ajax({
                url: "{{ path("frontend_cart_update") }}",
                type: "POST",
                data: {data},
                success: function (response) {
                    $("#order-table").replaceWith(response);
                    $('.stepper').stepper();
                    // debugger;
                    $("#sum").text($("#orderSum").text());
                }
            });
        });

        var myMap;
        ymaps.ready(function () {
            myMap = new ymaps.Map('map', {
                center: [52.0929625, 23.7133437],
                zoom: 11,
                controls: []
            });

            myMap.events.add('click', function (e) {
                if (!myMap.balloon.isOpen()) {
                    var coords = e.get('coords');
                    findDistance(coords);

                } else {
                    myMap.balloon.close();
                }
            });


            // 52.099066735626984,23.787571450073177
            // 52.13890728111419,23.64191010562131
            // 52.05899503982512,23.741159105956974


            // var myGeoObject = new ymaps.GeoObject({
            //     geometry: {
            //         type: "Polygon",
            //         coordinates: [
            //             [
            //                 [52.099066735626984, 23.787571450073177],
            //                 [52.05899256926491, 23.768293960632235],
            //                 [52.05899503982512, 23.741159105956974],
            //                 [52.04938858534578, 23.744552891381527],
            //                 [52.046562350291566, 23.741045554705792],
            //                 [52.04067537668231, 23.693788642852713],
            //
            //                 [52.04750547404727, 23.671995707696805],
            //                 [52.07312015703126, 23.657177369630084],
            //
            //                 [52.0906626951442, 23.62763014059937],
            //                 [52.10049540660781, 23.629572948046857],
            //                 [52.11544807159036, 23.621018492254994],
            //                 [52.12539139081891, 23.62464067700191],
            //                 [52.13890728111419, 23.64191010562131],
            //                 [52.14195332829579, 23.680499693115195],
            //                 [52.13247147658535, 23.728289821241688],
            //                 [52.115029470295255, 23.77856715521237],
            //
            //             ],
            //         ],
            //         fillRule: "nonZero"
            //     },
            //     properties: {
            //         balloonContent: "Зона доставки"
            //     }
            // }, {
            //     fillColor: '#00FF00',
            //     strokeColor: '#0000FF',
            //     opacity: 0.5,
            //     strokeWidth: 2,
            //     strokeStyle: 'solid'
            // });

            var circle = new ymaps.Circle([[52.086816, 23.696504], 3000], {}, {
                geodesic: true,
                fillColor: '#00FF00',
                strokeColor: '#0000FF',
                opacity: 0.5,
                strokeWidth: 2,
                strokeStyle: 'solid'

            });

            // myGeoObject.model.events.add('click', function () {
            //     return false;
            // });

            // Adding the polygon to the map.
            myMap.geoObjects.add(circle);
        });

        async function findDistance(destination) {
            destination = destination.toLowerCase();
            if (destination.indexOf("брест") < 0)
                destination = "брест " + destination;
            return new Promise((resolve, reject) => {
                var multiRoute = new ymaps.multiRouter.MultiRoute({
                    // Route points.
                    // Required field.
                    referencePoints: [
                        'брест советская 112',
                        destination,
                    ]
                }, {
                    // Automatically set the map viewport so that
                    // the entire route is visible.
                    boundsAutoApply: true
                });

                // Add the route to the map.
                myMap.geoObjects.add(multiRoute);

                multiRoute.model.events.add('requestsuccess', () => {
                    resolve({
                        destination,
                        distance: multiRoute.getActiveRoute().properties._data.distance.value,
                    });
                    myMap.geoObjects.remove(multiRoute);
                }).add("requestfail", function (event) {
                    resolve({
                        distance: false,
                    });
                });
            })
        }


        $(document).on("click", "#order_submit", async function (event) {
            {% if app.session.get('order_type') == constant('FrontendBundle\\Entity\\WebOrder::TYPE_DELIVERY') %}
            event.preventDefault();

            var distance = await findDistance($("#order_address").val());

            if (distance.distance > 8000) {
                alert("К сожалению мы не сможем доставить заказ по этому адресу, поскольку он вне зоны доставки");
            } else {
                $("#order-form").submit();
            }

            return false;
            {% endif %}
        });
    </script>
{% endblock %}
