{% extends '@Frontend/base_v3.html.twig' %}

{% block page_special_styles %}
    {% stylesheets
        "css/new/bootstrap.min.css"
        "css/new/bootstrap_col_15.css"
        "css/new/fontello.css"
        "css/new/owl.carousel.css"
        "css/new/magnific-popup.css"
        "css/new/custom-bg.css"

        "css/new/reset.css"
        "css/new/main.css"
        "css/new/main_new.css"

        filter="scssphp" %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"/>
    <style>
        .owl-carousel .owl-item img {
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block container -%}
    <section class="store-cart style2">
        <div class="container">
            <h1>{{ 'Ваш заказ' | trans }} </h1>
            <table class="order-table">
                {% for orderDish in order.dishes %}
                    <tr style="border-bottom: 1px #000 solid">
                        <td>{{ orderDish.dish.name }}</td>
                        <td>{{ orderDish.quantity }}</td>
                        <td>{{ orderDish.cashSum | price }} р.</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2"><b>{{ 'Итого' | trans }}:</b></td>
                    <td><strong style="font-weight: bold;color: #000;">{{ order.dishSum | price }} р.</strong></td>
                </tr>
                <tr>
                    <td><b>{{ 'Телефон'  | trans }}:</b></td>
                    <td>{{ order.phone }}</td>
                </tr>
                {#<tr>#}
                {#<td><b>{{ 'Адрес'  | trans }}:</b></td>#}
                {#<td>{{ order.address }}</td>#}
                {#</tr>#}
                <tr>
                    <td><b>{{ 'Дополнительно'  | trans }}:</b></td>
                    <td>
                        <p>{{ order.comment }}</p>
                        <p>
                            {% if promoCard is defined and promoCard is not null %}
                                {% if promoCard.id == 2 %}
                                    Скидка за онлайн оплату 15%
                                {% else %}
                                    Скидка держателю карты {{ promoCard.cardDiscount }}%
                                {% endif %}
                            {% endif %}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        {% if order.cashType == constant('OrderBundle\\Entity\\Order::CASHTYPE_ONLINE') %}
                            <p> Вы будете переадресованы на защищенную платежную страницу системы ArtPay.</p>
                            <p> На платежной странице будет отображаться номер заказа в интернет магазине, наименование товара(ов) и сумма заказа.
                                Введите реквизиты банковской карточки - номер, имя на карте, срок действия, CVV2/CVC2 код и адрес электронной почты
                                для получения электронного карт-чека и кликните «Оплатить».</p>
                            <p> Передача данных в процессе оплаты заказа происходит в защищенном режиме с использованием технологий 3-D Secure
                                Verified by VISA и MasterCard Secure Code.</p>
                            <p> В результате проведенной оплаты с использованием банковской платежной карты будет сформирован карт-чек в электронном
                                виде, отражающий реквизиты операции оплаты и являющийся подтверждением совершения операции оплаты и в котором отражены
                                реквизиты операции оплаты, который необходимо сохранять до момента получения товар/услуги. </p>
                        {% else %}
                            <p style="color:#f00;">Мы отправили код подтверждения на номер <strong>{{ order.phone }}</strong></p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="padding: 0;">
                        <a href="{{ path("frontend_cart_show") }}" class="custom-button">{{ 'В корзину' | trans }}</a>

                        {% if app.session.get("order_type") == constant('FrontendBundle\\Entity\\WebOrder::TYPE_PICKUP') %}
                            <a href="{{ path("frontend_takeaway_menu") }}" class="custom-button">{{ 'Отменить' | trans }}</a>
                        {% else %}
                            <a href="{{ path("frontend_delivery_menu") }}" class="custom-button">{{ 'Отменить' | trans }}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="padding: 0;">
                        {% if order.cashType == constant('OrderBundle\\Entity\\Order::CASHTYPE_ONLINE') %}
                            <form action="{{ payment.gate }}" method="POST">
                                {% for key, data in transaction %}
                                    <input type="hidden" name="{{ key }}" value="{{ data }}">
                                {% endfor %}
                                <button class="custom-button" type="submit" style="width: 100%;">{{ 'Перейти к оплате' | trans }}</button>
                            </form>
                        {% else %}
                            <form method="POST" class="cart-confirmation" action="{{ path('frontend_cart_confirmation') }}">
                                <input required type="text" name="code"
                                       style="font-size: 26px;    border: #f00 2px solid;    margin: 10px 15px 10px 0;    width: 100%;    display: block;    padding: 10px;    max-width: initial;"
                                       placeholder="{{ 'Код подтверждения' | trans }}">
                                <button class="custom-button" type="submit" style="margin: 10px 0;">{{ 'Подтвердить' | trans }}</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
        <div class="clearfix"></div>
    </section>
{% endblock %}


    {% block page_special_javascripts %}


        {% javascripts
            "js/new/jquery.min.js"
            "js/new/jquery-ui.min.js"
            "js/new/jquery.scrollme.min.js"
            "js/new/jquery.fs.stepper.min.js"
            "js/new/cd-google-map-brown.js"
            "js/new/jquery.mixitup.min.js"
            "js/new/wow.min.js"
            "js/new/plugins.js"
            "js/new/main.js"

            filter="?jsqueeze" %}

            <script src="{{ asset_url }}"></script>

        {% endjavascripts %}

        <script type="text/javascript">
            $(document).ready(function () {
                $("#order_phone").val(localStorage.phone);
                $("#order_address").val(localStorage.address);
            });
            $(".cart-confirmation").on("submit", function (event) {
                event.preventDefault();
                let code = $(this).find('input[name="code"]').val();
                $.ajax({
                    url: "{{ path('frontend_cart_confirmation') }}",
                    type: "POST",
                    data: {code},
                    statusCode: {
                        200: function (xhr) {
                            location.href = "/cart/success";
                        },
                        403: function (xhr) {
                            alert('Неверный код подтверждения');
                        }
                    }
                });

                return false;
            });
        </script>
    {% endblock %}