<div class="shopping-cart style2">
    <div class="cart-container clearfix">
        <a href="#" class="cart-link"><span>{{ (order is defined and order is not null) ? order.dishes | length : 0 }}</span></a>
        <div class="cart-items">
            <div class="cart-counter">
                <h5><span><span>{{ (order is defined and order is not null) ? order.dishes | length : 0 }}</span> позиций</span> в корзине</h5>
            </div>
            <ul>
                {% if order is defined and order is not null %}
                    {% for dish in order.dishes %}
                        <li>
                            <div class="item-container clearfix" data-id="{{ dish.dish.id }}">
                                <a href="#" class="remove-items"><i class="fa fa-times-circle"></i></a>

                                <figure>
                                    <img src="{{ dish.dish.imagePath | imagine_filter('cart') }}">
                                </figure>
                                <p class="food-name">
                                    <a href="{{ path('frontend_show_dish', {'name' : dish.dish.name}) }}">{{ dish.dish.name }}</a>
                                </p>

                                <p class="food-price">{{ dish.quantity }}&times;{{ dish.dish.shopPrice(0) | price }}р</p>
                            </div>
                        </li>
                    {% endfor %}
                {% endif %}
                <li class="order_price">
                    {#<div class="item-container clearfix">Итого: <span class="order_summary">{{ cart['summary'] }} руб.</span></div>#}
                </li>
            </ul>
            <a href="{{ path('frontend_cart_show') }}" class="button view-cart-btn">Корзина</a>
            {#<a href="{{ path('frontend_checkout') }}" class="button checkout-btn">Оформить</a>#}

            <a href="{{ path('frontend_cart_show') }}" class="button checkout-btn">Оформить</a>

            <div class="checkout button view-cart-btn" style="margin-top: 10px; width: 260px;">
                {#{{ dump(order.dishes) }}#}
                <span class="order_summary">{{ orderSum }} р</span>
            </div>
        </div>
    </div>
</div>