{% extends '@Frontend/base_v3.html.twig' %}


{% block container -%}
    <div class="actions">
    <h1>{{ table.place.shop.name }}</h1>
    <h2>{{ table.place.name }} {{ table.name }}</h2>
    <a class="action-button" href="/menu/">меню</a>
    <a class="action-button" href="{{ path("frontend_call_table", {uuid: uuid, type: 1}) }}">вызов официанта</a>
    <a class="action-button" href="{{ path("frontend_call_table", {uuid: uuid, type: 2}) }}">счет онлайн</a>
    <a class="action-button" href="{{ path("frontend_call_table", {uuid: uuid, type: 3}) }}">счет</a>
    <a class="action-button" href="{{ path("frontend_call_table", {uuid: uuid, type: 4}) }}">счет и терминал сразу</a>
    </div>
{% endblock %}

{% block page_special_javascripts %}

    <script>

    </script>

{% endblock %}

