<div class="md-card" style="flex: 1; margin-top: 0;">
    <div class="md-card-toolbar">
        <div class="md-card-toolbar-actions">
            <div class="uk-float-right">
                <strong>
                    {{ 'Итого' | trans }}:
                </strong>
                <span>{{ order.cashSum | price }}</span>
            </div>
        </div>
        <h3 class="md-card-toolbar-heading-text">
            {{ 'Счет №' | trans }}{{ order.localId }} ({{ order.id }}) {{ actions ? "Старый" : "Новый" }}
        </h3>
    </div>
    <div class="md-card-content">
        <div>
            <table class="uk-table uk-table-striped">
                <tbody>
                <tr>
                    <td></td>
                    <td>
                        <h3 class="">
                            {{ 'Блюда' | trans }}
                        </h3>
                    </td>
                    <td>{{ 'Кол-во' | trans }}</td>
                    <td>{{ 'Цена' | trans }}</td>
                    <td>{{ 'Скидка' | trans }}</td>
                    <td>{{ 'Итог' | trans }}</td>
                </tr>
                {% for dish in order.dishes %}
                    {% if dish.quantity > 0 %}
                        <tr>
                            <td>{{ dish.id }}</td>
                            <td>
                                <a href="{{ path("dish_edit", { 'id' : dish.dish.id }) }}">
                                    {{ dish.dish.name }}
                                </a>
                            </td>
                            <td>{{ dish.quantity }}</td>
                            <td>{{ dish.dishPrice | price }}</td>
                            <td>{{ dish.dishDiscount | price }}</td>
                            <td>{{ dish.cashSum | price }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td style="float: right;font-weight: bold;">{{ 'Итого' | trans }}:</td>
                    <td></td>
                    <td>{{ order.sumDiscount | price }}</td>
                    <td>{{ order.cashSum | price }}</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ 'Открыт' | trans }}</td>
                    <td colspan="4" id="createdAt"
                        data-id="{{ order.id }}">{{ order.createdAt | date ("d.m.Y H:i") }}</td>
                </tr>
                {% if order.status == constant('OrderBundle\\Entity\\Order::STATUS_CLOSED') %}
                    <tr>
                        <td></td>
                        <td>{{ 'Закрыт' | trans }}</td>
                        <td colspan="4">
                            {% if order.closedAt != null %}
                                {{ order.closedAt | date ("d.m.Y H:i") }}
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                {% if order.promo != null %}
                    <tr>
                        <td></td>
                        <td>{{ 'Скидка' | trans }}</td>
                        <td colspan="4">
                            {{ order.promo.client.firstName }} {{ order.promo.cardDiscount }}
                            %
                        </td>
                    </tr>
                {% endif %}
                {% if order.status == constant('OrderBundle\\Entity\\Order::STATUS_SEMI_DELETED') %}
                    <tr>
                        <td></td>
                        <td><strong style="color: #f00;">{{ 'Изменения запрошены' | trans }}</strong>
                        </td>
                        <td colspan="4">
                            {{ order.deletedAt | date ("d.m.Y H:i") }}
                        </td>
                    </tr>
                {% endif %}
                {% if order.status == constant('OrderBundle\\Entity\\Order::STATUS_DELETED') %}
                    <tr>
                        <td></td>
                        <td><strong style="color: #f00;">{{ 'Удален' | trans }}</strong>
                        </td>
                        <td colspan="4">
                            {{ order.deletedAt | date ("d.m.Y H:i") }}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td></td>
                    <td>
                        {{ 'Заведение' | trans }}
                    </td>
                    <td colspan="4">
                        <a href="{{ path("shop_edit", {'id' : order.shop.id}) }}">
                            {{ order.shop.name }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ 'Официант' | trans }}:</td>
                    <td colspan="4">
                        <a href="{{ path('fos_user_profile_edit', {'id' : order.user.id}) }}">
                            {{ order.user.name }}
                        </a>
                    </td>
                </tr>
                {% if order.client is not null %}
                    <tr>
                        <td></td>
                        <td>{{ 'Клиент' | trans }}:</td>
                        <td colspan="4">
                            <a href="{{ path('client_edit', {'id' : order.client.id}) }}">
                                {{ order.client.name }}
                            </a>
                        </td>
                    </tr>
                {% endif %}

                <tr>
                    <td></td>
                    <td>{{ 'Стол' | trans }}</td>
                    <td colspan="4">{{ order.table.place.name }}
                        , {{ order.table.name }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ 'Оплата' | trans }}</td>
                    <td colspan="4">
                        {% if order.cashType == constant('OrderBundle\\Entity\\Order::CASHTYPE_CASH') %}
                            {{ 'Наличные' | trans }}
                        {% elseif order.cashType == constant('OrderBundle\\Entity\\Order::CASHTYPE_INVOICE') %}
                            {{ 'Счет' | trans }}
                        {% elseif order.cashType == constant('OrderBundle\\Entity\\Order::CASHTYPE_INTERNAL') %}
                            {{ 'Внутренний' | trans }}
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>{{ 'Комментарий' | trans }}</td>
                    <td colspan="4">{{ order.meta.other }}</td>
                </tr>


                </tbody>
            </table>
        </div>

        {% if actions %}
            <div>
                <button  class="md-btn md-btn-block md-btn-danger resolve" data-id="{{ order.id }}">Удалить</button>
                <div class="error" style="text-align: center; margin-top: 15px; text-transform: uppercase; color:red;font-weight: bold"></div>
            </div>
        {% endif %}

        {% if (changes | length) > 0 %}
            <div>
                <div class="md-card-toolbar">
                    <h3 class="md-card-toolbar-heading-text">{{ 'Изменения' | trans }}</h3>
                </div>
                <table class="uk-table uk-table-striped">
                    <thead></thead>
                    <tbody>
                    {% for change in __order["changes"] %}
                        <tr>
                            <td>{{ change.datetime | date('d.m.Y H:i') }}</td>
                            <td>{{ change.orderDish.dish.name }}</td>
                            <td>{{ change.difference }}</td>
                            <td>{{ change.orderDish.dishPrice | price }}</td>
                            <td>{{ (change.orderDish.dishPrice * change.difference) | price }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        {% endif %}
    </div>
</div>
