{% extends "RestaurantBundle::layout.html.twig" %}

{% block title %}

{% endblock %}

    {% block page_specific_styles %}
        <style>
            ul {
                list-style: none;
            }
        </style>
    {% endblock %}

    {% block container %}
        <div id="page_content_inner">
            <div class="uk-grid ">
                <div class="uk-width-medium-1-1" data-uk-grid-margin>

                    {% for __order in orders %}
                        {% set order = __order['order'] %}
                        {% set copyOf = __order['order'].copyOf %}

                        <div class="order-group" id="order_{{ order.id }}">
                            {% include "@Order/Default/__orderCard.html.twig" with {order: copyOf, changes: __order["changes"], actions: false} %}
                            {% include "@Order/Default/__orderCard.html.twig" with {order: order, changes: [], actions: true} %}
                        </div>

                    {% endfor %}
                </div>
                <div class="uk-width-medium-1-2" data-uk-grid-margin>

                    {% if photos is defined and (photos | length) > 0 %}
                        <div class="md-card">
                            <div class="md-card-content">
                                <div class="md-card-toolbar">
                                    <h3 class="md-card-toolbar-heading-text">{{ 'Фото' | trans }}</h3>
                                </div>
                                <table>
                                    {% for __photo in photos %}
                                        <tr>
                                            <td>
                                                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+A8AAQUBAScY42YAAAAASUVORK5CYII="

                                                     data-src="{{ ("uploads/photos/" ~ __photo.photoPath)  | imagine_filter('index') }}"

                                                     alt="" style="width: 150px;">
                                            </td>
                                            <td>
                                                <div><b>Пицца:</b>{{ __photo.orderDish.dish.name }}</div>
                                                <div><b>Пиццерист:</b>{{ __photo.user.name }}</div>
                                                <div><b>Вес: </b>{{ __photo.weight }}
                                                    /{{ __photo.orderDish.dish.weight }} гр
                                                </div>
                                                <div><b>Фото в:</b>{{ __photo.date | date("H:i:s") }}</div>
                                                <div><b>Время
                                                        приготовления:</b>{{ __photo.date.diff(__photo.orderDish.parentOrder.createdAt) | date("%H:%I:%S") }}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}

    {% block page_specific_plugins %}
        <script>
            $(".resolve").on("click", function () {
                $(this).addClass("disabled");
                $(".error").text("");

                var id = $(this).data().id;

                $.ajax({
                    url: `/admin/order/${id}/resolve`,
                    type: "GET",
                    success: function (response) {
                        console.log(response);
                        if (response.success) {
                            $("#order_" + id).remove();
                            return
                        } else {
                            $(".error").text("Нет удаленного доступа к заведению")
                            $(".resolve").removeClass("disabled");
                        }
                    }
                });
                return false;
            });

            window.addEventListener('load', function () {
                var allimages = document.getElementsByTagName('img');
                for (var i = 0; i < allimages.length; i++) {
                    if (allimages[i].getAttribute('data-src')) {
                        allimages[i].setAttribute('src', allimages[i].getAttribute('data-src'));
                    }
                }
            }, false)
        </script>
    {% endblock %}
