<div class="menu">
    <div class="menu-item">
        <a href="{{ path('frontend_index') }}">
            {{ "На главную" | trans }}
        </a>
    </div>
    <div class="menu-item">
        <a href="{{ path('frontend_show_shop_menu', {'slug': webShop.slug}) }}">
            {{ "Меню" | trans }}
        </a>
    </div>
    <div class="menu-item">
        <a href="{{ path('frontend_show_shop_gallery', {'slug': webShop.slug}) }}">
            {{ "Галерея" | trans }}
        </a>
    </div>
    <div class="menu-item">
        <a href="{{ path('frontend_add_shop_review', {'slug': webShop.slug}) }}">
            {{ "Оставить отзыв" | trans }}
        </a>
    </div>
    <div class="menu-item">
        <a href="{{ path('frontend_show_shop_contact', {'slug': webShop.slug}) }}">
            {{ "Контакты" | trans }}
        </a>
    </div>
</div>