{% extends '@Frontend/base_v3.html.twig' %}

    {% block page_special_styles %}
        {% stylesheets
            "css/new/bootstrap.min.css"
            "css/new/bootstrap_col_15.css"
            "css/new/fontello.css"
            "css/new/owl.carousel.css"
            "css/new/magnific-popup.css"
            "css/new/custom-bg.css"

            "css/new/reset.css"
            "css/new/main.css"
            "css/new/main_new.css"

            filter="scssphp" %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"/>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
              integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <style>
            .owl-carousel .owl-item img {
                margin: 0 auto;
            }
        </style>
    {% endblock %}

{% block shopping_cart %}
    {% include '@Frontend/Cart/cartInline.html.twig' %}
{% endblock %}

{% block container -%}

<h1 style="color:red; text-align: center;">С Днем Победы!</h1>

{% endblock %}
