{% extends '@Frontend/base.html.twig' %}


{% block container -%}
    <div class="row">
        <div class="col-md-12">
            <h1 class="front-text" style="font-size: 60px;">{{ 'Сеть заведений' | trans }} ITALSERVICE GROUP</h1>
        </div>
    </div>
    <section class="store-items style2" style="padding: 0 45px;text-align: center;">
        {% for __shop in shops %}
            <div class="shop col-md-3 col-sm-1">
                <a href="{{ path('frontend_show_shop', {'slug':__shop.slug}) }}" class="shop-link">
                    <img src="/img/logo/logo_v.png" alt="{{ __shop.name }}" class="shop-img">
                    <h2>{{ __shop.name }}</h2>
                    <p>{{ __shop.address }}</p>
                </a>
            </div>
        {% endfor %}
    </section>
    <div class="col-md-12">
        <h1 class="front-text">{{ 'Настоящая итальянская кухня в Бресте!' | trans }}</h1>
    </div>
{% endblock %}