{% extends '@Frontend/base.html.twig' %}


{% block container -%}
    <div class="row">
        <div class="col-md-12">
            <div class="review">
                <h1>{{ 'Мы открыты для Ваших предложений и всегда готовы к обратной связи!' }}</h1>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            {{ 'Ваше имя и фамилия' | trans }}*
                        </div>
                        <div class="col-md-9">
                            <input type="text" name="name">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">

                        <div class="col-md-3">
                            {{ 'Контактный телефон' | trans }}*
                        </div>
                        <div class="col-md-9">
                            <input type="text" name="phone">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">

                        <div class="col-md-3">
                            {{ 'Оцените заведение' | trans }}*
                        </div>
                        <div class="col-md-9">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="row">

                        <div class="col-md-3">
                            {{ 'Ваш отзыв' | trans }}*
                        </div>
                        <div class="col-md-9">

                            <textarea name="" id="" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <p>*{{ 'поля отмеченные "*" являются обязательными для заполнению' }}</p>
                </div>
            </div>
        </div>
    </div>



{% endblock %}