{% extends '@Frontend/base.html.twig' %}

    {% block page_special_styles %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"/>
        <style>
            .owl-carousel .owl-item img {
                margin: 0 auto;
            }
        </style>
    {% endblock %}


{% block container -%}

    {% include '@Frontend/New/__menu.html.twig' with {'shop' : shop} %}
    <div class="shop-block">
        <h1>{{ shop.name }}</h1>
        <div class="owl-carousel owl-theme">
            <div class="item">
                <img src="/img/logo/logo_v.png" style="width: 600px; height: 400px;" alt="{{ shop.name }}" class="shop-img">
            </div>
            <div class="item">
                <img src="/img/logo/logo_v.png" style="width: 600px; height: 400px;" alt="{{ shop.name }}" class="shop-img">
            </div>
            <div class="item">
                <img src="/img/logo/logo_v.png" style="width: 600px; height: 400px;" alt="{{ shop.name }}" class="shop-img">
            </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>






{% endblock %}


{% block page_special_javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            autoplay: true,
            responsiveClass: true,
            items: 1,
        })
    </script>
{% endblock %}