{% extends '@Frontend/base_v3.html.twig' %}

    {% block page_special_styles %}
        {% stylesheets
            "css/new/bootstrap.min.css"
            "css/new/bootstrap_col_15.css"
            "css/new/fontello.css"
            "css/new/owl.carousel.css"
            "css/new/magnific-popup.css"
            "css/new/custom-bg.css"

            "css/new/reset.css"
            "css/new/main.css"
            "css/new/main_new.css"

            filter="scssphp" %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"/>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
              integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <style>
            .owl-carousel .owl-item img {
                margin: 0 auto;
            }
        </style>
    {% endblock %}

{% block shopping_cart %}
    {% include '@Frontend/Cart/cartInline.html.twig' %}
{% endblock %}

{% block container -%}
    {% if app.request.get('_route') == "frontend_takeaway_menu" %}
        <div class="shop-select-container" style="{{ app.session.get("takeaway-shop") is not null ? "display:none;" : "display:block;" }}">
            <div class="shop-select-overlay"></div>
            <div class="shop-select-holder">
                <h2>Выберите заведение где хотите забрать заказ</h2>
                <ul class="shop-select">
                    {% for __shop in shops %}
                        <li>
                            <a href="#" class="{{ app.session.get("takeaway-shop") == __shop.id ? "active " : "" }}"
                               data-shop="{{ __shop.id }}">{{ __shop.name }}, {{ __shop.address }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}


    <div class="shop-block">
        {% if app.request.get('_route') == "frontend_takeaway_menu" %}
            <span class="current-shop">{{ shop.name }}, {{ shop.address }}</span>
            <a href="#" class="change-shop">Сменить заведение</a>
        {% endif %}
        {% for parent in categories %}
            {% for category in parent.children %}
                <div class="row" id="cat_{{ category.id }}">
                    <h1>{{ category.name }}</h1>
                    {% for dish in category.dishes %}
                        <div class="col15-md-3 col15-sm-5 col-xs-6 mix cat-{{ category.id }}" id="item_{{ dish.id }}">
                            <div class="store-item {#wow fadeInDown#}">
                                <figure>
                                    <a href="{{ path('frontend_show_dish',{'name': dish.name}) }}">
                                        <img alt="{{ dish.name }}" src="{{ dish.imagePath | imagine_filter('index') }}">
                                    </a>
                                </figure>
                                <h3 class="food-name">
                                    <a href="{{ path('frontend_show_dish',{'name': dish.name}) }}">{{ dish.name | length > 42 ? dish.name | slice(0, 39) ~ '...' : dish.name }}</a>
                                </h3>
                                <div class="food-info">{% if dish.weight != '' %}<strong>{{- dish.weight }} гр.</strong>, {% endif %}{{ dish.description -}}</div>
                                <div class="food-order">
                                    <p class="food-price">{{ dish.shopPrice() | price }} р</p>
                                    <a href="#" class="add-to-cart-link" data-itemid="{{ dish.id }}">Добавить</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

{% endblock %}

{% block page_special_javascripts %}
    {% javascripts
        "js/new/jquery.min.js"
        "js/new/jquery-ui.min.js"
        "js/new/jquery.scrollme.min.js"
        "js/new/jquery.fs.stepper.min.js"
        "js/new/cd-google-map-brown.js"
        "js/new/jquery.mixitup.min.js"
        "js/new/wow.min.js"
        "js/new/plugins.js"
        "js/new/main.js"

        filter="?jsqueeze" %}

        <script src="{{ asset_url }}"></script>

    {% endjavascripts %}
{% endblock %}