{% extends "RestaurantBundle::layout.html.twig" %}

{% block title %}
    {{ 'Ингредиенты' | trans }}
{% endblock %}

{#{% if form_title is defined %}#}
    {% form_theme ingredientForm '@Restaurant/Form/Fields.twig' %}
{#{% endif %}#}

{% block container %}
    <div id="page_content_inner">
        <div class="uk-grid">
            <div class="uk-width-medium-1-2">
                <div class="md-card">
                    <div class="md-card-content">
                        <table class="uk-table" id="ingredient_list">
                            <thead>
                            <tr>
                                <th>{{ 'Название' | trans }}</th>
                                <th>{{ 'Ед. изм.' | trans }}</th>
                                <th>{{ 'Код 1С' | trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for __ingredient in ingredients %}
                                <tr data-id="{{ __ingredient.id }}">
                                    <td>
                                        <a href="{{ path('admin_ingredient_edit', {'id':__ingredient.id }) }}">
                                            {{ __ingredient.name }}
                                        </a>
                                    </td>
                                    <td>{{ __ingredient.unit }}</td>
                                    <td>{{ __ingredient.id1c }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="uk-width-medium-1-2">
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_a uk-margin-bottom">
                            {{ (form_title is defined) ? form_title : ('Новый ингредиент' | trans) }}
                        </h3>
                        {{ form(ingredientForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_specific_plugins %}
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>

    <script>
        $("#ingredient_list").DataTable({
            pageLength: -1,
        });
    </script>


{% endblock %}