{% extends '@Frontend/base_v3.html.twig' %}

{% block container -%}
    <div class="bonus-card__cabinet">
        <h1 style="">{{ "Личный кабинет" | trans }}</h1>
        <p>{{ 'Здравствуйте' }}, {{ card.client.firstName | capitalize }}!</p>
        <p style="font-weight: normal;">{{ 'Сумма ваших накоплений' }}: {{ card.fullSum | price }} руб</p>
        <p style="font-weight: normal;">{{ 'Ваша скидка' }}: {{ discount }}%</p>
    </div>
{% endblock %}
