{% extends '@Frontend/base_v3.html.twig' %}


{% block container -%}
    <div class="bonus-card__login">
        <h1 style="">{{ "Вход в личный кабинет" | trans }}</h1>

        <form action="" id="promo-card-form-login" method="POST">
            <div class="popup-booking__row">
                <input type="text" id="promo_card_phone" name="phone" required="required" placeholder="{{ 'Телефон'|trans }}" class="">
            </div>
            <div class="popup-booking__row">
                <input type="text" id="promo_card_id" name="card" required="required" placeholder="{{ "Номер карты" | trans }}" class="">
            </div>
            <div class="popup-booking__row popup-booking__row--button">
                <button type="submit" id="promo_card_submit" class="btn-huge btn-huge--booking btn-booking-submit--js">{{ "Войти" | trans }}</button>
            </div>
        </form>
    </div>
{% endblock %}