{% extends '@Frontend/base_v3.html.twig' %}


{% block container -%}
    <div class="bonus-card__login">
        <h1>{{ 'Заявку на карту успешно отправлена' | trans }}</h1>
        <p style="text-align: center; margin-bottom: 60px;">{{ 'После изготовления карты вам будет отправлено СМС уведомление' | trans }}</p>
    </div>
{% endblock %}
