{% extends '@Frontend/base_v3.html.twig' %}


{% block container -%}
    <div class="bonus-card__login">
        <h1 style="">{{ 'Ошибка' | trans }}</h1>
        <p style="text-align: center; margin-bottom: 60px;">{{ message }}</p>
    </div>
{% endblock %}



