{% extends '@Frontend/base_v3.html.twig' %}


{% block container -%}
    <style>
        .popup-booking__row.checkbox input {
            width: 25px !important;
        }
    </style>
    <div class="bonus-card__register">
        {{ form_start(form, {'attr': {'id':'promo-card-form'}}) }}
        <div class="col-md-2 col-sm-1">
            <div class="popup-booking__row">
                {{ form_widget(form.lastName) }}
            </div>
            <div class="popup-booking__row">
                {{ form_widget(form.firstName) }}
            </div>
            <div class="popup-booking__row">
                {{ form_widget(form.surName) }}
            </div>
            <div class="popup-booking__row">
                {{ form_widget(form.birthDate) }}
            </div>
            <div class="popup-booking__row">
                {{ form_widget(form.gender) }}
            </div>
            <div class="popup-booking__row">
                {{ form_widget(form.familyStatus) }}
            </div>
            <div class="popup-booking__row">
                {{ form_widget(form.hasChildren) }}
            </div>
            <div class="popup-booking__row">
                {{ form_widget(form.phone) }}
            </div>
            <div class="popup-booking__row">
                {{ form_widget(form.address) }}
            </div>
            <div class="popup-booking__row">
                {{ form_widget(form.email) }}
            </div>
            <div class="popup-booking__row">
                {{ form_widget(form.useDelivery) }}
            </div>
            <div class="popup-booking__row">
                {{ form_widget(form.visitPeriod) }}
            </div>
            <div class="popup-booking__row">
                {{ form_widget(form.cardPickupShop) }}
            </div>
            <div class="popup-booking__row checkbox" style="height: 65px; padding: 0;">
                {{ form_widget(form.mailingAgreement) }}
                {{ form_label(form.mailingAgreement) }}
            </div>
            <div class="popup-booking__row checkbox" style="height: 90px; padding: 0;">
                {{ form_widget(form.processingAgreement) }}
                {{ form_label(form.processingAgreement) }}
            </div>
            <div class="popup-booking__row" style="margin-bottom: 10px;">
                <a href="#" class="show-agreement" style="text-decoration: underline;">подробнее</a>
            </div>
        </div>
        <div class="col-md-2 col-sm-1">
            <iframe src="/static/cardAgreement.html" frameborder="0" style="width: 100%; height: 700px;display: none" id="agreement"></iframe>
            {#<iframe src="/docs/discount.pdf" frameborder="0" style="width: 100%; height: 700px;"></iframe>#}
            {#<div class="input-box">#}
            {#<p>#}
            {#<strong>#}
            {#Дорогие друзья!#}
            {#</strong>#}
            {#</p>#}
            {#<p>Мы решили поблагодарить своих#}
            {#постоянных клиентов, которые за долгие#}
            {#годы знакомства стали друзьями,#}
            {#предоставив вам возможность посещать#}
            {#наши заведения с 10% скидкой!</p>#}
            {#<p>#}
            {#Данная программа предусматривает#}
            {#получение предъявителю карты в "Caffè#}
            {#Venezia", пабе "DRAFT HOUSE", а также#}
            {#других кафе нашей итальянской#}
            {#компании!#}
            {#</p>#}
            {#</div>#}
        </div>
        <div class="clearfix"></div>
        <div class="col-md-1 col-sm-1">
            <div class="popup-booking__row popup-booking__row--button">
                {{ form_widget(form.submit) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
