{% extends '@Frontend/base_v3.html.twig' %}


{% block container -%}
    <div class="block block-description">
        <div class="item-description-huge item-description-list article">
            {#<h2>Выбор ресторана</h2>#}
            <p class="subtitle">
                Открывая новые заведения, мы заботимся о том,<br>
                чтобы ваша жизнь была более удобной и интересной.
            </p>
        </div>
    </div>
    <ul class="tabs-content row-posts-list restaurants-search">
        <li class="tab block block-posts block-restaurants-list block-restaurants-list-album-trigger block-restaurants-pictures active">
            <ul>
                {%- for __shop in shops -%}
                    <li class="post article " data-id="{{ __shop.id }}" data-href="{{ path('frontend_show_shop', {'slug':__shop.slug}) }}">
                        <div class="block-border"></div>
                        <div
                                title="{{ __shop.typedImage(constant('FrontendBundle\\Entity\\WebShopImage::TYPE_PREVIEW'),true).seoAlt }}"
                                class="post-picture preload preload-background"
                                data-url="{{ __shop.typedImage(constant('FrontendBundle\\Entity\\WebShopImage::TYPE_PREVIEW')) | imagine_filter('index_thumb') }}">
                            <div class="post-logo">
                                {#<a href="{{ path('frontend_show_shop', {'slug':__shop.slug}) }}">#}
                                {#<img class="preload" data-url="/{{ __shop.typedImage(constant('FrontendBundle\\Entity\\WebShopImage::TYPE_LOGO')) }}" alt=""/>#}
                                {#</a>#}
                            </div>
                            <div class="post-picture-tint"></div>
                        </div>
                        <h3 class="post-title">
                            <a href="{{ path('frontend_show_shop', {'slug':__shop.slug}) }}">{{ __shop.name }}</a>
                        </h3>
                        <div class="post-text-preview">
                            <p>{{ __shop.shortDescription }}</p>
                        </div>
                        <a class="block-a" href="{{ path('frontend_show_shop', {'slug':__shop.slug}) }}">&nbsp;</a>
                    </li>
                {%- endfor -%}
            </ul>
        </li>
    </ul>
    <div class="block-restaurant-album">
        <div class="block">
            <div class="btn-action btn-action-white btn-prev"><span class="icon"></span><span class="popup-title">предыдущий<br/>ресторан</span></div>
            <div class="btn-action btn-action-white btn-next"><span class="icon"></span><span class="popup-title">следующий<br/>ресторан</span></div>
            <div class="btn-action btn-action-white btn-close"><span class="icon"></span><span class="popup-title">Закрыть</span></div>
        </div>
        <ul class="restaurant-pages">
            {% for __shop in shops %}
                <li class="restaurant-page popup-restaurant-{{ __shop.id }}">

                    <div
                            title="{{ __shop.typedImage(constant('FrontendBundle\\Entity\\WebShopImage::TYPE_PANORAMA'), true).seoAlt }}"
                            class="restaurant-page-tan {% if __shop.hasTypedImage(constant('FrontendBundle\\Entity\\WebShopImage::TYPE_PANORAMA')) %}restaurant-animated{% endif %} preload preload-background preload-background-delayed preload-background-delayed-restaurant-album"
                            data-url="{{ __shop.typedImage(constant('FrontendBundle\\Entity\\WebShopImage::TYPE_PANORAMA'), true).imagePath }}">

                    </div>
                    <div class="tan"></div>
                    <div class="block">
                        <div class="restaurant-info-wrap article">
                            <div class="place-logo">
                                <img
                                        src="{{ __shop.typedImage(constant('FrontendBundle\\Entity\\WebShopImage::TYPE_LOGO')) }}"
                                        alt="{{ __shop.typedImage(constant('FrontendBundle\\Entity\\WebShopImage::TYPE_LOGO'), true).seoAlt }}"/>
                            </div>
                            <h2>{{ __shop.name }} </h2>
                            {% if (__shop.social | length) > 0 -%}
                                <div class="place-social">
                                    {%- for __link in __shop.social -%}
                                        <a href="{{ __link }}" rel="nofollow" target="_blank">&#{{ __shop.socialIconCode(__link) }};</a>
                                    {%- endfor -%}
                                </div>
                            {%- endif %}
                            <div class="address">
                                <div class="sub-address">
                                    <div class="icon"></div>
                                    <p>Брест, {{ __shop.shop.address }}</p>
                                </div>
                                <div class="sub-address">
                                    <div class="icon"></div>
                                    <p>{{ __shop.shop.phone }}</p>
                                </div>
                                <div class="sub-address">
                                    <div class="icon"></div>
                                    <p>{{ __shop.times | raw }}</p>
                                </div>
                            </div>
                            {#<div class="btn-huge">#}
                            <a class="btn-huge" href="{{ path('frontend_show_shop', {'slug':__shop.slug}) }}">{{ 'Подробнее' | trans }}</a>
                            {#</div>#}
                        </div>
                    </div>
                    <div class="row row-item-params row-items-params-invert">
                        <ul class="{#block#} block-item-params block-item-params-three">
                            {#<li class="action banquet--js" data-place-id="">#}
                            {#<div class="param-icon">#}
                            {#<svg class="icon__present icon__present--action-bar">#}
                            {#<use xlink:href="#icon-gift"></use>#}
                            {#</svg>#}
                            {#</div>#}
                            {#<div class="param-title">Заказать банкет</div>#}
                            {#<div class="param-description">Online оформление заявки на проведение мероприятия</div>#}
                            {#</li>#}
                            <li class="action block-link" data-href="https://menu.by/">
                                <div class="block-item-param-content">
                                    <div class="param-icon"></div>
                                    <div class="param-title">{{ 'Заказать доставку' | trans }}</div>
                                    <div class="param-description">{{ 'перейти на сайт доставки' | trans }}</div>
                                    <a class="block-a" target="_blank" href="https://menu.by/"></a>
                                </div>
                            </li>
                            {#<li class="action feedback--js" data-place-id="{{ __shop.id }}">#}
                            {#<div class="block-item-param-content">#}
                            {#<div class="param-icon"></div>#}
                            {#<div class="param-title">Поделитесь отзывом</div>#}
                            {#<div class="param-description">расскажите о своих впечатлениях</div>#}
                            {#</div>#}
                            {#</li>#}
                        </ul>
                    </div>
                </li>
            {% endfor %}

        </ul>
    </div>


    {#
        <div class="row">
            <div class="col-md-12">
                <h1 class="front-text" style="font-size: 60px;">{{ 'Сеть заведений' | trans }} ITALSERVICE GROUP</h1>
            </div>
        </div>
        <section class="store-items style2" style="padding: 0 45px;text-align: center;">
            {% for __shop in shops %}
                <div class="shop col-md-3 col-sm-1">
                    <a href="{{ path('frontend_show_shop', {'slug':__shop.slug}) }}" class="shop-link">
                        <img src="/img/logo/logo_v.png" alt="{{ __shop.name }}" class="shop-img">
                        <h2>{{ __shop.name }}</h2>
                        <p>{{ __shop.address }}</p>
                    </a>
                </div>
            {% endfor %}
        </section>
        <div class="col-md-12">
            <h1 class="front-text">{{ 'Настоящая итальянская кухня в Бресте!' | trans }}</h1>
        </div>
        #}
{% endblock %}