{% extends '@Frontend/base_v3.html.twig' %}


{% block container -%}
    <div style="width: 100%;height: 600px;" id="google-map"></div>
{% endblock %}

{% block page_special_javascripts %}
    <script src="{{ asset('js/new/cd-google-map-brown.js') }}"></script>

    <script src="//maps.google.com/maps/api/js?key=AIzaSyBarglJ7FsRDRiGuUgAhNkRFfzFBxuGxVA&callback=initMap"></script>
{% endblock %}