{% extends '@Frontend/base_v4.html.twig' %}

{% block title %}Скидки и акции{% endblock %}


{% block container -%}
    <style>
        .shops-filter {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
        }

        .shops-filter li {
            font-family: "Palatino Linotype", Palatino, "Book Antiqua", "URW Palladio L", serif;
            display: block;
            padding: 4px 8px;
            margin: 12px 12px 0 0;
        }

        .shops-filter li a {
            color: #bd8c60;
        }

        .filter-promo.active {
            background: #ccc;
            border-radius: 10px;
        }
    </style>
    <div class="block block-highlights">

        <div class="block-actions">
            <h3 class="block-highlights-title">Акции</h3>

            <div>
                <ul class="shops-filter" style="">
                    {% for __shop  in shops %}
                        <li class="filter-promo" data-shop="{{ __shop.shop.id }}">
                            <a href="#">{{ __shop.shop.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <ul class="block-action-list news-slider promos-list">
                {% for __promo in promos %}
                    <li class="news-slide action current" data-shop="{{ __promo.shop.id }}">
                        <div class="news-slide-bg preload preload-background" data-url="{{ __promo.imagePath }}">
                            <div class="shadow"></div>
                            <div class="news-slide-title">
                                <h3>
                                    <a href="{{ path("frontend_show_promo", {"id": __promo.id}) }}">{{ __promo.title }}</a>
                                </h3>
                                <div class="post-place">
                                    <span></span>
                                    <a href="{{ path('frontend_show_shop', {'slug':__promo.shop.slug}) }}">{{ __promo.shop.shop.name }}</a>
                                    <div class="address">{{ __promo.shop.shop.address }}</div>
                                </div>
                            </div>
                            <a class="block-a" href="{{ path("frontend_show_promo", {"id": __promo.id}) }}"></a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
