{% extends '@Frontend/base_v3.html.twig' %}

{% block title %}Дисконтная программа{% endblock %}


{% block container -%}
    <style>
        .promodoc {
            font-family: "Arial";
        }

        .promodoc h1 {
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            margin: 15px 0;
        }

        .promodoc h2 {
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            margin: 30px 0;
        }

        .promodoc h3 {
            font-size: 16px;
            font-weight: bold;
            margin: 8px 0;
            text-align: center;
        }

        .promodoc p, .promodoc ul, .promodoc table {
            margin-bottom: 8px;
            text-align: justify;
            padding: 0 30px;
            line-height: 22px;
        }

        .promodoc .table {
            margin: 15px 30px;

        }

        .promodoc table {
            width: 100%;
        }

        .promodoc table, .promodoc th, .promodoc td {
            border: 1px solid black;
            padding: 5px;
        }

        .promodoc div {

        }
    </style>
    <article class="article-content row row-subheader promodoc">
        <h1>Дисконтная программа</h1>
        <h2>Дисконтная программа действует во всех заведениях ITALSERVICE GROUP.</h2>
        <div class="col-md-2 col-sm-1">
            <div style="padding: 0 30px; text-align: center;">
                <img src="{{ asset('static/card.jpg') }}" alt="" style="max-width: 430px;width: 100%;">
            </div>
            <h2>Условия получения:</h2>
            <p>Получить право на участие в Дисконтной Программе можно:</p>

            <ul>
                <li>совершив заказ на сумму чека от 50 рублей (кафе «Venezia», закусочная «Metromilano»,
                    кафетерий «Caffe Italia Pizzeria», закусочная «Venezia Fusion», закусочная «Draft House»)
                </li>
                <li>совершив заказ на сумму чека от 30 рублей (закусочная «Кусочек пиццы», закусочная
                    «Urban Soup», мини-кафе «Pizza Al Taglio», кафе «GRAN CAFFE», мини-бар «Metromilano»,
                    закусочная «Pizza Al Taglio»)
                </li>
                <li>купив Дисконтную накопительную карту в одном из заведений</li>
            </ul>

            <p>Обязательным условием получения Дисконтной накопительной карты является полное и достоверное заполнение Анкеты клиента на сайте venezia.by.</p>
            <h2>Скидка предоставляется</h2>
            <p>На продукцию собственного производства и барную продукцию. Не
                распространяется на табачные изделия, алкоголь, сертификаты, доставку партнеров, товар с
                фиксированной ценой, а так же на другие акции Сети Заведений ITALSERVICE GROUP.</p>

        </div>
        <div class="col-md-2 col-sm-1">

            <h2>Как работает Программа:</h2>
            <p>При предъявлении Дисконтной накопительной карты предоставляется скидка, а также на карту
                добавляется сумма покупки.</p>
            <p>Сумма всех покупок суммируется в личном кабинет, при достижении нового уровня (в руб.)
                увеличивает процент скидки.</p>
            <p>Процент скидки рассчитывается согласно таблице:</p>
            <div class="table">
                <table>
                    <thead>
                    <tr>
                        <th>Сумма всех покупок (руб.)</th>
                        <th>Процент скидки:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>0-699</td>
                        <td>5%</td>
                    </tr>
                    <tr>
                        <td>700- 1999</td>
                        <td>10%</td>
                    </tr>
                    <tr>
                        <td>2000 и больше</td>
                        <td>20%</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <p>Сумму всех покупок можно узнать в разделе «Личный кабинет».</p>

            <h2>Дополнительные бонусы</h2>
            <p>Держатели Дисконтной накопительной карты – в День Рождения получают дополнительную
                скидку в размере 10% к действующей скидке.</p>
            <p>При совершении покупки в сети заведениях ITALSERVICE GROUP с помощью карт
                рассрочек (типа «Халва», «Карта покупок», «Черепаха» и др.), предоставляемых банками,
                скидки, по дисконтной накопительной карте и скидки ко Дню Рождения, предоставляются и
                суммируются в случае возникновения права на одновременное их применение. </p>
            <h2>Замена карты клиента</h2>
            <p>Утерянную или поврежденную карту, после сверки анкетных данных, на платной основе,
                заменяют на новую, на которую переносятся все ранее накопленные бонусы по утерянной
                или поврежденной карте.</p>
        </div>
    </article>
{% endblock %}
