{% extends '@Frontend/base_v3.html.twig' %}

{% block title %}Скидки и акции{% endblock %}


{% block container -%}
    <div class="block block-highlights">
        <div class="block-actions">
            <h3 class="block-highlights-title">{{ promo.title }}</h3>
            <div class="block-action-list news-slider promos-list">
                <div class="news-slide action">
                    <div class="news-slide-bg preload preload-background" data-url="/{{ promo.imagePath }}">
                        <div class="shadow"></div>
                        <div class="news-slide-title">
                            <h3>
                                {{ promo.title }}
                            </h3>
                            <div class="post-place">
                                <span></span>
                                <a href="{{ path('frontend_show_shop', {'slug':promo.shop.slug}) }}">{{ promo.shop.shop.name }}</a>
                                <div class="address">{{ promo.shop.shop.address }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    {{ promo.text }}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
