{% extends '@Frontend/base_v3.html.twig' %}

{% block seoTitle %}{{ shop.seoTitle }}{% endblock %}
{% block seoDescription %}{{ shop.seoDescription }}{% endblock %}
{% block seoKeywords %}{{ shop.seoKeywords }}{% endblock %}

{% block container -%}
    <article class="article-content row"><!-- Заголовок места -->
        <div class="row">
            <div class="slider-wide slider-grid header-anchor scroll-to-anchor">
                <div class="block-item-logo"
                     style="background-image: url({{ shop.typedImage(constant('FrontendBundle\\Entity\\WebShopImage::TYPE_LOGO')) }})"
                     title="{{ shop.typedImage(constant('FrontendBundle\\Entity\\WebShopImage::TYPE_LOGO'),true).seoAlt }}"
                >
                    <div class="item-logo">
                        {#<ul class="item-logo-labels">#}
                        {#<li>NEW</li>#}
                        {#<li>fast&amp;good</li>#}
                        {#</ul>#}
                    </div>
                </div>

                <div class="preload preload-background" style="height: 500px;"
                     data-url="{{ shop.typedImage(constant('FrontendBundle\\Entity\\WebShopImage::TYPE_PANORAMA')) }}"
                     title="{{ shop.typedImage(constant('FrontendBundle\\Entity\\WebShopImage::TYPE_PANORAMA'),true).seoAlt }}"
                ></div>

            </div>
        </div><!-- Кнопки места -->
        <div class="row row-item-params">
            <ul class="block block-item-params block-item-actions">
                <li>
                    <div class="param-icon"></div>
                    <div class="param-title">Адрес</div>
                    <div class="param-description">{{ shop.shop.address }}<br></div>
                </li>
                <li class="action block-link" data-href="tel:{{ shop.shop.phone }}">
                    <div class="param-icon"></div>
                    <div class="param-title">Контактный телефон</div>
                    <div class="param-description">{{ shop.shop.phone }}</div>
                </li>
                {#<li class="action block-link">#}
                {#<div class="block-item-param-content">#}
                {#<div class="param-icon"></div>#}
                {#<div class="param-title">ЗАБРОНИРОВАТЬ СТОЛИК</div>#}
                {#<div class="param-description">Онлайн бронирование</div>#}
                {#</div>#}
                {#<a data-place-id="883" class="block-a book--js" target="_blank" href="book/883"></a>#}
                {#</li>#}
                <li class="action banquet--js" data-place-id="883">
                    <div class="param-icon"></div>
                    <div class="param-title">Заказать банкет</div>
                    <div class="param-description">Online оформление заявки на проведение мероприятия</div>
                </li>
            </ul>
        </div><!-- Описание места -->
        <div class="block block-item-title article block-item-title--nets-dropdown-donor">
            <div class="item-description-huge"><h1>{{ shop.shop.name }}</h1>
                <p>{{ shop.shortDescription }}</p>
                {#<div class="share-wrap hover">#}
                {#<div class="item-likes btn-action"><span class="icon"></span></div>#}
                {#<div class="share-buttons">#}
                {#<div class="share-net vk">#}
                {#<div id="vk_like"></div>#}
                {#</div>#}
                {#<div class="share-net fb">#}
                {#<fb:like layout="button_count" action="like" show_faces="false" share="false"></fb:like>#}
                {#</div>#}
                {#<div class="share-net tw"><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-count="horizontal">Tweet</a></div>#}
                {#</div>#}
                {#</div>#}
            </div>
        </div><!-- Кнопки места -->
        <div class="row row-item-params">
            <ul class="block block-item-params block-item-actions">
                <li>
                    <div class="param-icon"></div>
                    <div class="param-title">Время работы</div>
                    <div class="param-description">{{ shop.times | raw }}
                    </div>
                </li>
                <li>
                    <div class="param-icon"></div>
                    <div class="param-title">Кухни и блюда</div>
                    <div class="param-description">европейская, средиземноморская, итальянская, русская</div>
                </li>
                <li class="action feedback--js" data-place-id="791">
                    <div class="param-icon"></div>
                    <div class="param-title">Оставить отзыв</div>
                    <div class="param-description">Поделитесь впечатлениями</div>
                </li>
            </ul>
        </div>
        <div class="slide-to-buffer block-item-description slide-to" data-slide-anchor="about">
            <div class="item-description-image preload preload-background"
                 data-url="{{ shop.typedImage(constant('FrontendBundle\\Entity\\WebShopImage::TYPE_PREVIEW')) }}"
                 title="{{ shop.typedImage(constant('FrontendBundle\\Entity\\WebShopImage::TYPE_PREVIEW'),true).seoAlt }}"
            ></div>
            <div class="block item-description-content-wrap">
                <div class="item-description-content">
                    <div class="item-description-content-text article">
                        <h2>{{ shop.shop.name }}</h2>
                        <p class="subtitle"><em>О ресторане</em></p>
                        <p>{{ shop.shortDescription }}</p>
                        <div class="more-text">
                            <p>
                                {{ shop.description }}
                            </p>
                        </div>
                        <div class="view-more btn-action view-more-opened">
                            <p class="view-more-open"><span class="icon"></span><span class="title"><a href="#">Подробнее</a></span></p>
                            <p class="view-more-close"><span class="icon"></span><span class="title"><a href="#">Свернуть</a></span></p></div>
                    </div>
                </div>
            </div>
        </div>
        {% set galleryImages = shop.getTypedImages(constant('FrontendBundle\\Entity\\WebShopImage::TYPE_GALLERY')) %}
        {% if (galleryImages | length) > 0 %}
            <div class="row slide-to" data-slide-anchor="photo">
                <div class="block block-description">
                    <div class="item-description-huge item-description-gallery article">
                        <h2>Фотогалерея</h2>
                        <p class="subtitle">
                            {#Интерьеры ресторана OBEDBUFET крупным планом. Вдохновляйтесь вместе с нами находками дизайнеров, их вниманием к деталям и оригинальной атмосферой.#}
                        </p>
                    </div>
                </div>
                <div class="slider-wide slider-asis slider-wide-texted slider-wide-menu">
                    <ul class="slides-nav">
                        <li class="prev">
                            <div class="btn-action"><span class="icon"></span></div>
                        </li>
                        <li class="next">
                            <div class="btn-action"><span class="icon"></span></div>
                        </li>
                    </ul>
                    <ul class="slides slides-hover">
                        {% for __image in galleryImages %}
                            <li class="slide slide-hover"
                                data-src="{{ __image.imagePath | imagine_filter('slider_menu') }}"
                                data-title="{{ __image.seoAlt }}"
                            >
                                <div class="fader"></div>
                                {% if __image.title != '' %}
                                    <div class="slide-text-block article">
                                        {% if __image.title != '' %}
                                            <h3>{{ __image.title }}</h3>
                                        {% endif %}
                                        {% if __image.description != '' %}
                                            <p>{{ __image.description }}</p>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        {% set menuImages = shop.getTypedImages(constant('FrontendBundle\\Entity\\WebShopImage::TYPE_GALLERY_MENU')) %}
        {% if (menuImages | length) > 0 %}
            <div class="row slide-to" data-slide-anchor="menu">
                <div class="block block-description">
                    <div class="item-description-huge item-description-gallery article">
                        <h2>Меню</h2>
                        <p class="subtitle">
                            Красочные фотографии популярных позиций меню, которые вы можете попробовать, оказавшись у нас в гостях
                        </p>
                    </div>
                </div>
                <div class="slider-wide slider-asis slider-wide-texted slider-wide-menu protomenu">
                    <ul class="slides-nav">
                        <li class="prev">
                            <div class="btn-action"><span class="icon"></span></div>
                        </li>
                        <li class="next">
                            <div class="btn-action"><span class="icon"></span></div>
                        </li>
                    </ul>
                    <ul class="slides slides-hover">


                        {% for __image in menuImages %}
                            <li class="slide slide-hover"
                                data-src="{{ __image.imagePath | imagine_filter('slider_menu') }}"
                                data-title="{{ __image.seoAlt }}"
                            >
                                <div class="fader"></div>
                                {% if __image.title != '' %}
                                    <div class="slide-text-block article">
                                        {% if __image.title != '' %}
                                            <h3>{{ __image.title }}</h3>
                                        {% endif %}
                                        {% if __image.description != '' %}
                                            <p>{{ __image.description }}</p>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}

                    </ul>
                </div>
                {% if shop.showMenu %}
                    <div class="block"  id="menu">
                        <div id="menu-template" data-template='{{ shop.shop.menuTemplate | raw }}' style="display: none">
                            {% for parent in categories %}
                                <ul>
                                    {%- for category in parent.children -%}
                                        {%- spaceless -%}
                                            <li class="dish_category" id="category_{{ category.id }}">
                                                <a class="category_title" href="#cat_{{ category.id }}">{{ category.name }}</a>
                                                <ul class="category_dishes">
                                                    {% for __dish in category.dishes %}
                                                        <li data-name="{{ __dish.name }}" data-sort="{{ __dish.category.sortOrder }}"
                                                            data-description="{{ __dish.description }}" data-weight="{{ __dish.weight }}"
                                                            data-price="{{ __dish.shopPrice(shop.id) | price }}">{{ __dish.name }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {%- endspaceless -%}
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </div>
                        <div id="pages"></div>
                    </div>
                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            renderMenu($("#menu"), $("#menu-template").data('template'));
                        }, false);
                    </script>
                {% endif %}
            </div>
        {% endif %}

        {#<div class="row slide-to" data-slide-anchor="news">#}
        {#<div class="block block-description article">#}
        {#<div class="item-description-huge article"><h2>Новости</h2>#}
        {#<p class="subtitle">#}
        {#Узнайте обо всем, что происходило в ресторане OBEDBUFET за последнее время#}
        {#</p></div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="block block-posts block-restaurants-list block-events-list">#}
        {#<div class="block-news-rows">#}
        {#<div class="block-news-rows">#}
        {#<div class="row">#}
        {#<div class="row-full">#}
        {#<div class="format format-1x1  block-link" data-href="news/14834">#}
        {#<div class="tag"><span>must read</span></div>#}
        {#<div class="picture preload preload-background" data-url="/images/w280/20150810/080720ea371c9673b519b8914d2dc80e.jpg">#}
        {#<div class="picture-tint"></div>#}
        {#</div>#}
        {#<div class="title"><a title="Антон Беляев на страницах Ginza News" href="news/14834">Антон Беляев на страницах Ginza News</a></div>#}
        {#<div class="place"><span></span><a href="restaurant/obedbufet">OBEDBUFET</a></div>#}
        {#<a class="block-a" href="news/14834"></a></div>#}
        {#<div class="format format-1x1  block-link" data-href="news/14135">#}
        {#<div class="tag"><span>more food</span></div>#}
        {#<div class="picture preload preload-background" data-url="/images/w280/20150715/5fcb475bd04077bcff468ee7ffee9ba4.jpg">#}
        {#<div class="picture-tint"></div>#}
        {#</div>#}
        {#<div class="title"><a title="Новый OBEDBUFET на Арбате" href="news/14135">Новый OBEDBUFET на Арбате</a></div>#}
        {#<div class="place"><span></span><a href="restaurant/obedbufet">OBEDBUFET</a></div>#}
        {#<a class="block-a" href="news/14135"></a></div>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="news-acceptor"></div>#}
        {#<div class="btn-action btn-load-more btn-load-ajax" data-href="news/load/periodic/791" data-acceptor=".news-acceptor" data-offset="1"><span class="icon"></span><br/><span class="title">Ещё новости</span></div>#}
        {#</div>#}
        <!-- Контакты -->
        {#<div class="row slide-to" data-slide-anchor="contacts">#}
        {#<div class="block block-description article">#}
        {#<div class="item-description-huge article"><h2>Контакты</h2>#}
        {#<p class="subtitle">#}
        {#Необходимая информация и координаты для тех, кто собирается посетить ресторан OBEDBUFET. Удобная карта, прямой телефон ресторана и службы доставки.#}
        {#</p></div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="row">#}
        {#<div class="block-map-contacts">#}
        {#<div class="block-map-places">#}
        {#<div id="places-map"></div>#}
        {#</div>#}
        {#<script>#}
        {#GNZ.places = [#}
        {#[55.7520788334, 37.5913095474, "/assets/i/pin/791.png", 791, false],#}
        {#[55.8213571449, 37.4974309158, "/assets/i/pin/791.png", 791, false],#}
        {#[55.6041665392, 37.4913476657, "/assets/i/pin/791.png", 791, false],#}
        {#[55.7471973162, 37.5366179895, "/assets/i/pin/791.png", 791, false],#}
        {#[]#}
        {#];#}
        {#</script>#}
        {#</div>#}
        {#</div>#}
        {#<div class="row row-item-params">#}
        {#<ul class="block block-item-params block-item-params-three">#}
        {#<li class="action soon">#}
        {#<div class="block-item-param-content">#}
        {#<div class="param-icon"></div>#}
        {#<div class="param-title">ЗАБРОНИРОВАТЬ СТОЛИК</div>#}
        {#<div class="param-description">Онлайн бронирование</div>#}
        {#</div>#}
        {#</li>#}
        {#<li class="action block-link">#}
        {#<div class="block-item-param-content">#}
        {#<div class="param-icon"></div>#}
        {#<div class="param-title">Заказать доставку</div>#}
        {#<div class="param-description">Перейти на сайт доставки</div>#}
        {#<a class="block-a" target="_blank" href="https://takeaway.obed-bufet.ru/"></a></div>#}
        {#</li>#}
        {#<li class="action feedback--js" data-place-id="791">#}
        {#<div class="block-item-param-content">#}
        {#<div class="param-icon"></div>#}
        {#<div class="param-title">Оставить отзыв</div>#}
        {#<div class="param-description">Поделитесь впечатлениями</div>#}
        {#</div>#}
        {#</li>#}
        {#</ul>#}
        {#</div>#}
        <div class="row">
            <div class="block block-socials">
                <ul class="socials-list">
                    {% for __social in shop.social %}
                        <li class="social">
                            <a target="_blank" href="{{ __social }}">&#{{ shop.socialIconCode(__social) }}
                                ;{#<span class="title">перейти на  VK</span>#}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </article>





{% endblock %}
