{% extends '@Frontend/base.html.twig' %}

    {% block page_special_styles %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"/>
        <style>
            .owl-carousel .owl-item img {
                margin: 0 auto;
            }
        </style>
    {% endblock %}


{% block container -%}

    {% include '@Frontend/New/__menu.html.twig' with {'shop' : shop} %}
    <div class="shop-block">
        {% for parent in categories %}
            {% for category in parent.children %}
                <div class="row" id="cat_{{ category.id }}">
                    <h1>{{ category.name }}</h1>
                    {% for dish in category.dishes %}
                        <div class="col15-md-3 col15-sm-5 col-xs-6 mix cat-{{ category.id }}" id="item_{{ dish.id }}">
                            <div class="store-item {#wow fadeInDown#}">
                                <figure>
                                    <a href="{{ path('frontend_show_dish',{'id': dish.id}) }}">
                                        <img src="{{ dish.imagePath | imagine_filter('index') }}">
                                    </a>
                                </figure>
                                <h3 class="food-name">
                                    <a href="{{ path('frontend_show_dish',{'id': dish.id}) }}">{{ dish.name | length > 42 ? dish.name | slice(0, 39) ~ '...' : dish.name }}</a>
                                </h3>
                                <div class="food-order">
                                    <p class="food-price">{{ dish.shopPrice(shop.id) | price }} р</p>
                                    {#<a href="#" class="add-to-cart-link" data-itemid="{{ dish.id }}">Добавить</a>#}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>





{% endblock %}
