{% extends '@Frontend/base.html.twig' %}


{% block container -%}
    <div class="row">
        <div class="col-md-12">
            <div class="contact">
                <img src="/img/logo/logo_v.png" alt="{{ shop.name }}" style="width: 400px;display: block;margin: 0 auto;" class="shop-img">
                <h1>{{ shop.name }}</h1>
                <p><span>{{ 'Адрес' | trans }}:</span> {{ shop.address }}</p>
                <p><span>{{ 'Телефон' | trans }}:</span> {{ shop.phone }}</p>
                <p><a href="#"><i class="fab fa-instagram"></i> Instagram</a></p>
            </div>
        </div>
    </div>

{% endblock %}