<!DOCTYPE html>
<html>
<head>
    <base href="/msk/"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>OBEDBUFET / Ginza Project</title>
    <meta name="description" content="OBEDBUFET">
    <meta name="keywords" content="ginza project">
    <meta name="viewport" content="width=980">
    <meta name="developer" content="Artyom K"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-itunes-app" content="app-id=757009817">
    <link rel="shortcut icon" href="/favicon.gif">
    <meta name="theme-color" content="#fff">
    <meta name="twitter:card" value="summary">
    <meta property="og:title" content="OBEDBUFET"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://ginza.ru/msk/restaurant/obedbufet"
    /

    <meta property="og:image" content="http://ginza.ru/images/w300-h300/20150520/3b2d23b44b07e3d639fe372179d0d29b.png"/>
    <link rel="image_src" href="http://ginza.ru/images/w300-h300/20150520/3b2d23b44b07e3d639fe372179d0d29b.png"/>
    <link href="/assets/css/screen.min.css?v=1516167354534" media="screen" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/TheatricalSeasons.css" media="screen" rel="stylesheet" type="text/css"/>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]--><!--[if lte IE 8]>
    <script src="/assets/js/vendor/iefix.js"></script><![endif]-->
    <script>
        GNZ = window.GNZ || {};
    </script>
</head>
<body class="footer-mini">
<svg display="none" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <symbol id="icon-gift" viewBox="0 0 1024 1024">
            <path class="path1"
                  d="M810.667 341.333h-100.352c9.344-19.499 15.019-41.003 15.019-64 0-82.347-66.987-149.333-149.333-149.333-41.771 0-79.531 17.365-106.667 45.141-27.136-27.776-64.896-45.141-106.667-45.141-82.347 0-149.333 66.987-149.333 149.333 0 22.997 5.675 44.501 15.019 64h-100.352c-23.595 0-42.667 19.115-42.667 42.667v170.667c0 23.552 19.072 42.667 42.667 42.667v213.333c0 70.571 57.429 128 128 128h426.667c70.571 0 128-57.429 128-128v-213.333c23.595 0 42.667-19.115 42.667-42.667v-170.667c0-23.552-19.072-42.667-42.667-42.667zM768 512h-213.333v-85.333h213.333v85.333zM426.667 298.667h85.333v42.667h-85.333v-42.667zM512 426.667v85.333h-85.333v-85.333h85.333zM576 213.333c35.285 0 64 28.715 64 64s-28.715 64-64 64c-7.552 0-14.677-1.664-21.333-4.139v-38.528c0-22.229-17.237-39.979-38.955-41.899 8.619-25.173 32.256-43.435 60.288-43.435zM298.667 277.333c0-35.285 28.715-64 64-64 28.032 0 51.669 18.261 60.288 43.435-21.717 1.92-38.955 19.669-38.955 41.899v38.528c-6.656 2.475-13.781 4.139-21.333 4.139-35.285 0-64-28.715-64-64zM384 426.667v85.333h-213.333v-85.333h213.333zM256 853.333c-23.509 0-42.667-19.157-42.667-42.667v-256h170.667v298.667h-128zM426.667 853.333v-298.667h85.333v298.667h-85.333zM682.667 853.333h-128v-298.667h170.667v256c0 23.509-19.157 42.667-42.667 42.667z"></path>
        </symbol>
    </defs>
</svg>
<div id="page" class="page-shift-ready">
    <div class="block-header">
        <div class="row row-nav-global">
            <nav class="block block-nav-global">
                <ul class="action-bar--main">
                    <li><a title="Оставить отзыв" class="feedback--js" href="#"><span></span></a></li>
                    <li><a title="Перейти на сайт доставки" href="http://dostavka1.com" target="_blank"><span></span></a></li>
                </ul>
                <div class="city-selector">
                    <div class="city-current">
                        Москва<span>▾</span></div>
                </div>
                <ul class="action-bar">
                    <li class="search-trigger-wrap">
                        <form action="search" method="get"><input type="text" name="query" placeholder="Поиск по сайту"/><a href="#" class="search-trigger"><span></span></a></form>
                    </li>
                </ul>
            </nav>
            <ul class="cities">
                <li><a href="/msk">Москва</a></li>
                <li><a href="/spb">Санкт-Петербург</a></li><!-- li><a href="/rnd">Ростов-на-Дону</a></li -->
                <li><a href="/tula">Тула</a></li>
                <li><a href="/ldn">Лондон</a></li>
                <li><a href="/ny">Нью-Йорк</a></li>
                <li><a href="/baku">Баку</a></li>
                <li><a href="/sochi">Сочи</a></li>
            </ul>
        </div>
        <div class="row">
            <header class="block block-header-main">
                <div class="row row-logo">
                    <div class="column-date-wrap column-date-wrap--book">
                        <div class="column-date " data-href="event/">
                            <div class="header__phone__promo"><a href="tel:+74955404410">+7 (495) 540 44 10</a><br/><i>Call-center, бронирование</i><a href="book" class="header__book banquet--js">Заказать банкет</a></div>
                        </div>
                    </div>
                    <div class="column-logo">
                        <div class="logo-main"><a href="/msk"><img src="/assets/i/_header-main-logo.png?ver=2" class="large" alt=""/><img src="/assets/i/header-main-logo-mini.png?ver=1" class="mini" alt=""/></a></div>
                    </div>
                    <div class="column-date-wrap column-date-city-selector">
                        <div class="city-selector">
                            <div class="city-current">
                                Москва<span>▾</span></div>
                        </div>
                        <ul class="cities">
                            <li><a href="city/1">Москва</a></li>
                            <li><a href="city/2">Санкт-Петербург</a></li>
                            <li><a href="city/7">Лондон</a></li>
                        </ul>
                    </div>
                    <div class="column-date-wrap column-date-socials">
                        <div class="column-date">
                            <ul class="social-icons">
                                <li><a target="_blank" href="https://vk.com/ginzamoscow"></a></li>
                                <li><a target="_blank" href="https://www.facebook.com/ginzamoscow"></a></li>
                                <li><a target="_blank" href="http://instagram.com/ginzaproject"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div class="row">
            <nav class="block block-nav-main">
                <ul class="lang">
                    <li class="active">РУ</li>
                    <li><a href="http://en.ginza.ru/msk">EN</a></li>
                </ul>
                <ul class="block-nav-main-root-wrap">
                    <li class="block-nav-main-root block-nav-main-root-restaurant">
                        <div class="block-nav-main-root-hover"><a href="restaurant">Рестораны</a>
                            <div class="block-nav-main-restaurant-types-wrap">
                                <ul class="block-nav-main-restaurant-types">
                                    <li class="block-nav-main-restaurant-type"><a href="restaurant/#restaurant-pictures"><span></span> Картинками</a></li>
                                    <li class="block-nav-main-restaurant-type"><a href="restaurant/#restaurant-map"><span></span> На карте</a></li>
                                    <li class="block-nav-main-restaurant-type"><a href="restaurant/#restaurant-list"><span></span> Списком</a></li>
                                </ul>
                                <div class="ear"></div>
                            </div>
                        </div>
                    </li>
                    <li class="block-nav-main-root"><a href="project">Проекты</a></li>
                    <li class="block-nav-main-root"><a href="event">События</a></li>
                    <li class="block-nav-main-root"><a href="news">Новости</a></li>
                    <li class="block-nav-main-root"><a href="/msk/magazine">Газета</a></li>
                    <li class="block-nav-main-root"><a href="/contacts">Контакты</a></li>
                </ul>
            </nav>
        </div>
    </div><!--		CONTENT STARTS HERE-->
    <nav class="slide-menu">
        <div class="slide-close"></div>
        <div class="logo slide-menu-block"><img src="/images/w300-h190/20150520/3b2d23b44b07e3d639fe372179d0d29b.png" alt=""/></div>
        <ul class="nav">
            <li><a data-scroll-to="about" href="#">О ресторане</a></li>
            <li><a data-scroll-to="video" href="#">Видео</a></li>
            <li><a data-scroll-to="photo" href="#">Фотогалерея</a></li>
            <li><a data-scroll-to="panorama" href="#">Виртуальный тур</a></li>
            <li><a data-scroll-to="chief" href="#">Шеф-повар</a></li>
            <li><a data-scroll-to="menu" href="#">Меню</a></li>
            <li><a data-scroll-to="events" href="#">События</a></li>
            <li><a data-scroll-to="news" href="#">Новости</a></li>
            <li><a data-scroll-to="contacts" href="#">Контакты</a></li>
        </ul>
    </nav>

    <script type="text/javascript" src="//vk.com/js/api/openapi.js?105"></script>
    <script type="text/javascript">
        VK.init({apiId: 4157254, onlyWidgets: true});
        if (document.getElementById("vk_like")) {
            VK.Widgets.Like("vk_like", {type: "mini"});
        }
        ;
        if (document.getElementById("vk_like2")) {
            VK.Widgets.Like("vk_like2", {type: "mini"});
        }
        ;
    </script>
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=479819912093184";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <script>!function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = "https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, "script", "twitter-wjs");</script>
    <script>
        GNZ.placeColor = "";

        GNZ.show_booking = false;
    </script><!--		CONTENT ENDS HERE-->
    <div id="footer-buffer"></div>
</div>
<footer class="page-shift-ready">
    <div class="row row-header-main-footer-picture parallax-scroll" style="background-image: url(/images/w1450-h1450/20150520/3fd3d0e599b92a9055543ad1d31a0d7f.jpg)">
        <div class="row row-header-main-footer-picture-tint">
            <header class="block block-header-main block-header-main-footer">
                <div class="row row-logo">
                    <div class="column-date-wrap">
                        <div class="column-date block-link" data-href="event/">
                            Воскресенье, 18 Ноя
                            <br/><i>
                                Сегодня событий нет
                            </i></div>
                    </div>
                    <div class="column-logo">
                        <div class="logo-main"><a href="/"></a></div>
                    </div>
                    <div class="column-call-wrap">
                        <div class="column-call"><a href="tel:+74955404410">+7 (495) 540 44 10</a><br/><i>Единый телефон Ginza Project</i></div>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <div class="row">
        <header class="block block-footer-subscribe">
            <div class="row">
                <div class="column-title-wrap">
                    <div class="column-title">
                        Подписка на новости
                        <br/><i>Дайджест главных событий холдинга</i></div>
                </div>
                <div class="column-email"><input type="text" placeholder="Ваш e-mail"/><span>Спасибо!</span></div>
                <div class="column-btn">
                    <div class="btn-huge-column">
                        Подписаться
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="row">
        <div class="block block-footer-actions">
            <div class="column">© 2018 GINZA PROJECT</div>
            <div class="column column-action">
                <ul class="actions">
                    <li><a href="about">О холдинге Ginza Project</a></li>
                    <li><a href="/msk/vacancy">Вакансии</a></li>
                    <li><a href="/contacts">Контакты</a></li>
                    <li class="block-nav-main-root"><a href="/msk/magazine">Газета</a></li>
                </ul>
            </div>
            <div class="column">
                <ul class="lang" style="display: none">
                    <li class="active"><a href="#">Русский</a></li>
                    <li class="soon"><a href="#">English</a></li>
                </ul>
            </div>
        </div>
        <div class="block block-footer-social">
            <div class="title">Ginza Project в социальных сетях</div>
            <ul class="social-icons">
                <li><a target="_blank" href="https://vk.com/ginzamoscow"></a></li>
                <li><a target="_blank" href="https://www.facebook.com/ginzamoscow"></a></li>
                <li><a target="_blank" href="http://instagram.com/ginzaproject"></a></li>
            </ul>
        </div>
    </div>
</footer>
<div class="aside-nav-bar"></div>
<div class="soon-pin"><img src="/assets/i/soon-pin.png" alt=""/></div>
<div class="scroll-top-btn btn-action"><span class="icon"></span></div>
<div class="lt-overlay"></div>
<script>
    GNZ.city = {"id": "1", "title": "\u041c\u043e\u0441\u043a\u0432\u0430", "alias": "msk", "icon": null, "locale": "ru", "lat": "55.75124", "lon": "37.61842", "is_city": "yes"};
    GNZ.lang = "ru";
</script>
<script src="/assets/js/min/vendor.js?v=1516167354534"></script>
<script src="/assets/js/min/scripts.js?v=1516167354534"></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-48695214-1', 'ginza.ru');
    ga('send', 'pageview');

</script><!-- Yandex.Metrika counter -->
<script type="text/javascript">(function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter27726483 = new Ya.Metrika({id: 27726483, webvisor: true, clickmap: true, trackLinks: true, accurateTrackBounce: true});
            } catch (e) {
            }
        });
        var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {
            n.parentNode.insertBefore(s, n);
        };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");</script>
<noscript>
    <div><img src="//mc.yandex.ru/watch/27726483" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript><!-- /Yandex.Metrika counter --><!-- Google Tag Manager -->
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-KPPX4V"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KPPX4V');</script><!-- End Google Tag Manager --><!-- Old browser stub -->
<script>
    var $buoop = {
        c: 2,
        reminder: 0,
        reminderClosed: 0,
        l: "ru"
    };
    function $buo_f() {
        var e = document.createElement("script");
        e.src = "//browser-update.org/update.js";
        document.body.appendChild(e);
    };
    try {
        document.addEventListener("DOMContentLoaded", $buo_f, false)
    }
    catch (e) {
        window.attachEvent("onload", $buo_f)
    }
</script>
</body>
</html>