{% extends '@Frontend/base_v3.html.twig' %}

{% block title %}Вакансии{% endblock %}


{% block container -%}
    <article class="article-content row row-subheader">
        {#<div class="block block-description">#}
        {#<div class="item-description-huge item-description-list article"><h2>команда ginza project</h2>#}
        {#<p class="subtitle">#}
        {#Ginza Project&nbsp;&mdash; это эксклюзивная работа, уникальные люди и&nbsp;насыщенная жизнь! Мы&nbsp;верим, что работа должна приносить удовольствие и&nbsp;новые впечатления. Присоединяйтесь к&nbsp;нашей команде!#}
        {#</p>#}
        {#</div>#}
        {#</div>#}
        {#<div class="team-photo preload preload-background" data-url="/assets/i/team/1.jpg"></div>#}
        {#<div class="block block-description">#}
        {#<div class="item-description-huge item-description-list article"><h3><img src="/assets/i/team/num-1.png" alt=""/></h3>#}
        {#<h3>лидеры в мире<br/>#}
        {#ресторанного бизнеса</h3>#}
        {#<p class="subtitle">#}
        {#Каждый проект Ginza Project индивидуален и&nbsp;неповторим. Каждый ресторан GP&nbsp;&mdash; это отдельный человек. Каждый наш сотрудник&nbsp;&mdash; яркая индивидуальность. Это успешный бизнес, который делается руками талантливых людей.#}
        {#</p></div>#}
        {#</div>#}
        {#<div class="team-photo preload preload-background" data-url="/assets/i/team/2.jpg"></div>#}
        {#<div class="block block-description">#}
        {#<div class="item-description-huge item-description-list article"><h3><img src="/assets/i/team/num-2.png" alt=""/></h3>#}
        {#<h3>это система лояльности<br/>#}
        {#для всех сотрудников</h3>#}
        {#<p class="subtitle">#}
        {#Становитесь увлеченными профессионалами вместе с&nbsp;нами, а&nbsp;также получайте приятные бонусы: скидки от&nbsp;20% в&nbsp;ведущих фитнес-клубах, кинотеатрах, лучших салонах красоты и&nbsp;магазинах.#}
        {#</p></div>#}
        {#</div>#}
        {#<div class="team-photo preload preload-background" data-url="/assets/i/team/3.jpg"></div>#}
        {#<div class="block block-description">#}
        {#<div class="item-description-huge item-description-list article"><h3><img src="/assets/i/team/num-3.png" alt=""/></h3>#}
        {#<h3>работа в крупной компании</h3>#}
        {#<p class="subtitle">#}
        {#Работа в&nbsp;Ginza Project&nbsp;&mdash; это работа в&nbsp;крупной компании, где есть место творчеству и&nbsp;драйву, это профессионализм и&nbsp;креатив, престиж, успех и&nbsp;надёжность, постоянный рост, развитие и&nbsp;ничем не&nbsp;ограниченный простор для реализации ваших амбиций.#}
        {#</p></div>#}
        {#</div>#}
        {#<div class="team-photo preload preload-background" data-url="/assets/i/team/4.jpg"></div>#}
        <div class="block block-description header-anchor" id="vacancies-list">
            <div class="item-description-huge item-description-list vacancies-description-huge article"><h2>Наши вакансии</h2>
                <p class="subtitle">
                    Сделайте шаг к вашему будущему!
                </p></div>
        </div>
        <div class="vacancies-list block">
            {% for __vacancy in vacancies %}
                <div class="vacancies-list__item">
                    <div class="vacancies-list__item__opener closed"></div>
                    <div class="vacancies-list__item__title">{{ __vacancy.title }}</div>
                    <div class="vacancies-list__item__address">
                        {{ __vacancy.shop.shop.address }}
                    </div>
                    <div class="vacancies-list__item__description">
                        <pre>{{ __vacancy.text | raw }}</pre>

                        <a class="vacancies-list__item__btn" target="_blank" href="tel:{{ __vacancy.additional }}">{{ __vacancy.additional }}</a>
                    </div>

                    {#<div class="vacancies-list__item__note">#}
                        {#<span>от 50000 руб.</span>#}
                        {#06 Июл#}
                    {#</div>#}
                </div>
            {% endfor %}
        </div>
    </article>




{% endblock %}
