{% extends "RestaurantBundle::layout.html.twig" %}

{% block title %}
    {{ 'Галлерея' | trans }}
{% endblock %}

{% if form is defined %}
    {% form_theme form '@Restaurant/Form/Fields.twig' %}
{% endif %}

{% block page_specific_styles %}
    <link rel="stylesheet" href="/assets/skins/dropify/css/dropify.css">
    <style>
        .place-row {
            line-height: 48px;;
        }
    </style>
{% endblock %}

{% block container %}
    <div id="page_content_inner">
        <div class="uk-grid">
            <div class="uk-width-medium-1-1">
                <div class="md-card" style="margin-bottom: 15px;">
                    <div class="md-card-content">
                        <h3 class="heading_a uk-margin-bottom">{{ 'Добавить фото' | trans }}</h3>
                        <div class="uk-overflow-container">
                            {{ form_start(form) }}
                            <div class="uk-grid">
                                <div class="uk-width-medium-3-5">
                                    <div class="uk-form-row">
                                        {{ form_row(form.title) }}
                                    </div>
                                    <div class="uk-form-row">
                                        {{ form_row(form.description) }}
                                    </div>
                                    <div class="uk-form-row">
                                        {{ form_row(form.seoAlt) }}
                                    </div>

                                </div>
                                <div class="uk-width-medium-2-5">
                                    <div class="uk-form-row">
                                        {{ form_widget(form.imageFile) }}
                                    </div>
                                    <div class="uk-form-row">
                                        {{ form_row(form.shop) }}
                                    </div>
                                    <div class="uk-form-row">
                                        {{ form_row(form.type) }}
                                    </div>
                                </div>
                            </div>
                            {{ form_end(form) }}

                        </div>
                    </div>
                </div>
                {#</div>#}
                {#<div class="uk-width-medium-1-1">#}
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_a uk-margin-bottom">{{ 'Фотографии на сайте' | trans }}</h3>
                        <div class="uk-overflow-container">
                            <table class="uk-table uk-table-nowrap" id="client_list">
                                <thead>
                                <tr>
                                    <th>{{ 'Фото'  | trans }}</th>
                                    <th>{{ 'Название' | trans }}</th>
                                    <th>{{ 'Заведение' | trans }}</th>
                                    <th>{{ 'Тип'  | trans }}</th>
                                    <th>{{ 'Действия' | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for __photo in photos %}
                                    <tr>
                                        <td>
                                            <img src="{{ __photo.imagePath | imagine_filter('preview') }}" alt="">
                                        </td>
                                        <td>{{ __photo.title }}</td>
                                        <td>{{ __photo.shop.shop.name }}</td>
                                        <td>{{ __photo.typeName(__photo.type) }}</td>
                                        <td>
                                            <a href="{{ path('site_gallery_edit', {'id': __photo.id}) }}" class="md-btn md-btn-small md-btn-success">{{ 'Изменить' | trans }}</a><br>
                                            <a href="{{ path('site_gallery_delete', {'id': __photo.id}) }}" class="md-btn md-btn-small md-btn-danger">{{ 'Удалить' | trans }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_specific_plugins %}
    <!--  dropify -->
    <script src="/assets/js/custom/dropify/dist/js/dropify.min.js"></script>
    <!--  form file input functions -->
    <script src="/assets/js/pages/forms_file_input.min.js"></script>

    {#<script src="{{ asset('assets/js/jquery_extensions.js') }}"></script>#}

    {#<script>#}

    {#$('#social').collection({#}
    {#addButtonText: "{{ "Добавить соц сеть" | trans }}",#}
    {#deleteButtonText: "{{ "Удалить" | trans }}",#}
    {#});#}
    {#</script>#}
{% endblock %}