{% extends "RestaurantBundle::layout.html.twig" %}

{% block title %}
    {{ 'SEO данные' | trans }}
{% endblock %}

{% if form is defined %}
    {% form_theme form '@Restaurant/Form/Fields.twig' %}
{% endif %}

{% block container %}
    <style>
        span.error {
            margin: 15px 0;
            display: block;
            font-size: 18px;
            color: red;
        }
    </style>
    <div id="page_content_inner">
        <div class="uk-grid">
            <div class="uk-width-medium-2-6">
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_a uk-margin-bottom">{{ 'Заведения на сайте' | trans }}</h3>
                        <div class="uk-overflow-container">
                            <table class="uk-table uk-table-nowrap" id="client_list">
                                <thead>
                                <tr>
                                    <th class="uk-width-2-10">{{ 'Заведение' | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for __shop in shops %}
                                    <tr>
                                        <td class="uk-text-left">
                                            <a href="{{ path('site_shop_edit', {'id':__shop.id}) }}">
                                                {{ __shop.shop.name }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="uk-width-medium-4-6">
                <div class="md-card">
                    <div class="md-card-content">
                        {% if shop is defined %}
                            <h3>{{ shop.shop.name }}</h3>
                            {{ form_start(form) }}
                            {{ form_row(form.shortDescription) }}
                            {{ form_row(form.description) }}
                            {{ form_row(form.kitchen) }}
                            <div class="uk-form-row">
                                <div id="social" data-prototype="{{ form_widget(form.social.vars.prototype) | e }}">
                                    <h3 class="heading_a uk-margin-bottom">{{ "Социальные сети" | trans }}</h3>
                                    {% for __social in form.social %}
                                        <div class="item-row">
                                        <div class="uk-grid">
                                            <div class="uk-width-medium-2-3">
                                            {{ form_widget(__social) }}
                                            </div>
                                        </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="uk-form-row">
                                <div id="delivery" data-prototype="{{ form_widget(form.delivery.vars.prototype) | e }}">
                                    <h3 class="heading_a uk-margin-bottom">{{ "Доставки" | trans }}</h3>
                                    {% for __delivery in form.delivery %}
                                        <div class="item-row">
                                        <div class="uk-grid">
                                            <div class="uk-width-medium-2-3">
                                            {{ form_widget(__delivery) }}
                                            </div>
                                        </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {{ form_row(form.seoTitle) }}
                            {{ form_row(form.seoDescription) }}
                            {{ form_row(form.seoKeywords) }}
                            {{ form_end(form) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_specific_plugins %}
    <script src="{{ asset('assets/js/jquery_extensions.js') }}"></script>

    <script>

        $('#social').collection({
            addButtonText: "{{ "Добавить соц сеть" | trans }}",
            deleteButtonText: "{{ "Удалить" | trans }}",
        });

        $('#delivery').collection({
            addButtonText: "{{ "Добавить доставку" | trans }}",
            deleteButtonText: "{{ "Удалить" | trans }}",
        });
    </script>
{% endblock %}