<html>
<head>
    <link rel="stylesheet" href="/bower_components/uikit/css/uikit.almost-flat.min.css" media="all">
    <link rel="stylesheet" href="/assets/css/main.min.css" media="all">
    <link rel="stylesheet" href="{{ asset('assets/css/fonts.css') }}" media="all">

    <script src="/assets/js/common.min.js"></script>
    <script src="/assets/js/uikit_custom.min.js"></script>
    <script src="/assets/js/altair_admin_common.min.js?833803076"></script>
    <style>
        body {
            background: #ccc;
            padding: 0;
        }

        #pages {
            padding: 30px 330px;
        }

        .page {
            background: #fff;
            padding: 120px;
            box-sizing: border-box;
            margin: 20px auto;
            display: flex;
            flex-direction: row;
            position: relative;
            z-index: 10;
        }

        .column {
            display: flex;
            flex-direction: column;
            flex: 1;
            margin-right: 120px;
        }

        .column:last-child {
            margin: 0;
        }

        .category {

        }

        .title {
            text-align: center;
            text-transform: uppercase;
            margin: 12px 0 6px;
            font-family: "Myriad Pro";
            font-size: 144px;
        }

        .dish {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            font-family: "Gothic";
        }

        .dish .name {
            flex: 7;
            font-family: "Gothic-Bold";
            font-size: 112px;
        }

        .dish .weight {
            flex: 1;
            text-align: right;
            font-size: 112px;
        }

        .dish .price {
            flex: 1;
            text-align: right;
            font-size: 112px;
        }

        .dish .description {
            flex: 0 0 100%;
            font-size: 64px;
        }

        .page.portrait {
            width: 6320px;
            height: 8936px;
        }

        .page.album {
            width: 8936px;
            height: 6320px;
        }

        li a {
            color: #000;
            text-decoration: none;
        }

        h1 {
            text-align: center;
            margin: 15px 0;
        }

        h3 {
            overflow-wrap: break-word;
            padding: 0;
            margin: 0;
        }

        p {
            margin: 0;
            padding: 0;
        }

        ul {
            list-style: none;
        }

        #shop {
            width: 300px;
            position: fixed;
            left: 0;
            top: 0;
            background: #fff;
            height: 100%;
            overflow-y: scroll;
        }

        #tools {
            width: 300px;
            position: fixed;
            right: 0;
            top: 0;
            background: #fff;
            height: 100%;
        }

        .dish_root {
            width: 790px;
            margin: 0 auto;
        }

        @media print {
            #shop {
                display: none;
            }

            .page {
                width: 100%;
                padding: 0;
                margin: 0;
            }

            a {
                text-decoration: none;
            }

            a:after {
                content: " ";
                display: none;
            }

            #tools {
                display: none;
            }

            .sf-toolbar {
                display: none !important;
            }
        }
    </style>

</head>
<body>
<div id="shop">
    <h1>{{ shop.name }} </h1>
    <div class="lang" style="text-align: center;margin: 15px 0;">
        {% if app.request.locale == 'ru' %}
            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ru'})) }}" class="md-btn md-btn-primary">RU</a>
        {% else %}
            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ru'})) }}" class="md-btn md-btn-warning">RU</a>
        {% endif %}

        {% if app.request.locale == 'en' %}
            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}" class="md-btn md-btn-primary">EN</a>
        {% else %}
            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}" class="md-btn md-btn-warning">EN</a>
        {% endif %}

        {% if app.request.locale == 'it' %}
            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'it'})) }}" class="md-btn md-btn-primary">IT</a>
        {% else %}
            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'it'})) }}" class="md-btn md-btn-warning">IT</a>
        {% endif %}
    </div>
    <div>
        {% for parent in categories %}
            <ul>
                {%- for category in parent.children -%}
                    {%- spaceless -%}
                        <li class="dish_category" id="category_{{ category.id }}">
                            <a class="category_title" href="#cat_{{ category.id }}">{{ category.name }}</a>
                            <ul class="category_dishes">
                                {% for __dish in category.dishes %}
                                    <li data-name="{{ __dish.name }}" data-sort="{{ __dish.category.sortOrder }}" data-description="{{ __dish.description }}" data-weight="{{ __dish.weight }}" data-price="{{ __dish.shopPrice(shop.id) | price }}">{{ __dish.name }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {%- endspaceless -%}
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
</div>
<div id="pages"></div>
<div id="tools">
    <div style="padding: 15px;">
        <button id="save" class="md-btn md-btn-block md-btn-success">Сохранить шаблон</button>
    </div>
    <div style="padding: 15px;">
        <button id="download" class="md-btn md-btn-block md-btn-success">Скачать</button>
    </div>
    <div style="padding: 15px;">
        <textarea name="menu" id="menu" rows="30" style="width:100%">{{ shop.menuTemplate }}</textarea>
    </div>
    <div class="" style="margin: 15px;">
        <label>Ориентация:</label>
        <div class="dynamic_radio uk-margin-small-top">
            <span class="icheck-inline">
                <input type="radio" name="menu_orientation" id="d_form_or_book" data-md-icheck required/>
                <label for="d_form_or_book" class="inline-label">Книжная</label>
            </span>
            <span class="icheck-inline">
                <input type="radio" name="menu_orientation" id="d_form_or_album" data-md-icheck required/>
                <label for="d_form_or_album" class="inline-label">Альбомная</label>
            </span>
        </div>
    </div>

    <div class="" style="margin: 15px;">
        <label>Колонки:</label>
        <div class="dynamic_radio uk-margin-small-top">
            <span class="icheck-inline">
                <input type="radio" name="menu_columns" id="d_form_col_1" data-md-icheck required/>
                <label for="d_form_col_1" class="inline-label">1</label>
            </span>
            <span class="icheck-inline">
                <input type="radio" name="menu_columns" id="d_form_col_2" data-md-icheck required/>
                <label for="d_form_col_2" class="inline-label">2</label>
            </span>
        </div>
    </div>

    <div class="" style="margin: 15px;">
        <label>Размещение:</label>
        <div class="dynamic_radio uk-margin-small-top">
            <span class="icheck-inline">
                <input type="radio" name="menu_pages" id="d_form_pos_separated" data-md-icheck required/>
                <label for="d_form_pos_separated" class="inline-label">На отдельных страницах</label>
            </span>
            <span class="icheck-inline">
                <input type="radio" name="menu_pages" id="d_form_pos_order" data-md-icheck required/>
                <label for="d_form_pos_order" class="inline-label">По порядку</label>
            </span>
        </div>
        <script src="{{ asset('assets/js/html2canvas.js') }}"></script>
        <script>
            String.prototype.capitalize = function () {
                return this.charAt(0).toUpperCase() + this.slice(1)
            };
            function toDataURL(src, callback, outputFormat) {
                var img = new Image();
                img.crossOrigin = 'Anonymous';
                img.onload = function () {
                    var canvas = document.createElement('CANVAS');
                    var ctx = canvas.getContext('2d');
                    var dataURL;
                    canvas.height = this.naturalHeight;
                    canvas.width = this.naturalWidth;
                    ctx.drawImage(this, 0, 0);
                    dataURL = canvas.toDataURL(outputFormat);
                    callback(dataURL);
                };
                img.src = src;
                if (img.complete || img.complete === undefined) {
                    img.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==";
                    img.src = src;
                }
            }
            $(document).ready(() => {
                $(".page").css({
                    "transform": "scale(0.125)",
                    "transform-origin": "top left",
                });
            });
            $(document).on("click", "#download", () => {
                let pages = document.getElementsByClassName('page');
                let i = 1;
                for (let __page of pages) {
                    $(__page).css({
                        "transform": "scale(1)",
                        "transform-origin": "top left",
                    });
                    html2canvas(__page, {

                    }).then(function (canvas) {
                        let image = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream"),
                            link = document.createElement('a');

                        link.download = 'menu' + i + '1.png';
                        canvas.toBlob(function (blob) {
                            link.href = URL.createObjectURL(blob);
                            link.click();
                            link.remove();
                        });
                        $(__page).css({
                            "transform": "scale(0.125)",
                            "transform-origin": "top left",
                        });


                        i += 1;
                    });
                }
            });
            $(document).on("click", "#save", () => {
                saveMenu();
            });
            $(window).keypress(function (event) {
                if (!(event.which == 115 && (navigator.platform.match("Mac") ? event.metaKey : event.ctrlKey)) && !(event.which == 19)) return true;
                event.preventDefault();
                return false;
            });


            // used to process the cmd+s and ctrl+s events
            $(document).keydown(function (event) {
                if (event.which == 83 && (navigator.platform.match("Mac") ? event.metaKey : event.ctrlKey)) {
                    event.preventDefault();
                    saveMenu(event);
                    return false;
                }
            });

            function renderGroup(config) {
                config = parseConfig(config);
                return '<div class="group"><div class="title">' + config['title'] + '</div>';
            }

            function parseConfig(config) {
                let __configREGEX = /(\S+)=["']?((?:.(?!["']?\s+(?:\S+)=|[>"']))+.)["']?/g,
                    configOBJ = {};
                matches = config.match(__configREGEX);
                matches.forEach((__param) => {
                    __paramM = __param.match(/([a-z]+)="(.+)"/);
                    configOBJ[__paramM[1]] = __paramM[2];
                });
                return configOBJ;
            }
            function renderCategory(config) {
                config = parseConfig(config);

                let outputHTML = '<div class="category">',
                    $categoryData = $("#category_" + config['id']);

                let __title = $categoryData.find(".category_title").text(),
                    __dishes = $categoryData.find(".category_dishes li");

                if (config['title'] == "true")
                    outputHTML += '<div class="title">' + __title + '</div>';


                let dishGroupedArray = {},
                    dishCatArray = [],
                    dishUnGroupedArray = [];

                let stopWords = [];
                if (config.stopwords != undefined)
                    stopWords = config.stopwords.split(",");


                __dishes.each(function (index) {
                    let groupName;

                    let skipOnStopWord = false;
                    stopWords.forEach((__word) => {
                        if ($(this).data("name").toLowerCase().indexOf(__word) > 0) skipOnStopWord = true;
                    });
                    if (skipOnStopWord) return;

                    if ($(this).data("name").indexOf(" ") != -1) {
                        groupName = $(this).data("name").substr(0, $(this).data("name").indexOf(" "));
                    } else {
                        groupName = $(this).data("name");
                    }

                    dishCatArray.push({
                        name: $(this).data("name"),
                        description: $(this).data("description"),
                        sort: $(this).data("sort"),
                        weight: $(this).data("weight"),
                        groupByName: config["groupdishes"] == "true" ? true : false,
                        groupByNameSort: 1,
                        groupName: groupName,
                        price: parseFloat($(this).data("price")),
                    });
                });

                dishCatArray.forEach(function (dish, index) {
                    if (dish.groupByName) {
                        if (!dishGroupedArray.hasOwnProperty(dish.groupName)) {
                            dishGroupedArray[dish.groupName] = {};
                        }
                        if (!dishGroupedArray[dish.groupName].hasOwnProperty(dish.price.toString())) {
                            dishGroupedArray[dish.groupName][dish.price.toString()] = {
                                dishes: [],
                            };
                        }
                        dishGroupedArray[dish.groupName][dish.price.toString()].dishes.push(dish);
                    } else {
                        dishUnGroupedArray.push(dish);
                    }
                });

                if (dishUnGroupedArray.length > 0) {
                    dishUnGroupedArray.sort(dishUnGroupedArray[0].sort ? sortAsc : sortDesc);
                    dishUnGroupedArray.forEach(function (dish) {
                        outputHTML += renderDish(dish, config);
                    });
                } else {
                    for (let groupName in dishGroupedArray) {
                        let group = dishGroupedArray[groupName];
                        for (let __groupPrice in group) {
                            if (group[__groupPrice].dishes.length !== 1) {
                                let sortType = group[__groupPrice].dishes[0].groupByNameSort;
                                if (group[__groupPrice].dishes[0].groupByName) {

                                    group[__groupPrice].dishes.sort(sortType ? sortAsc : sortDesc);
                                    outputHTML += renderGroupedDish(groupName, group[__groupPrice], config);

                                }
                            } else {
                                outputHTML += renderDish(group[__groupPrice].dishes[0], config);
                            }
                        }
                    }
                }

                outputHTML += "</div>";
                return outputHTML;
            }

            function renderPage(config) {
                config = parseConfig(config);
                return '<div class="page ' + config['format'] + '" style="' + config['style'] + '">';
            }

            function renderGroupedDish(groupName, dishes, config) {
                let dish = dishes.dishes[0],
                    outputHTML = '',
                    groupedNames = [];


                outputHTML += '<div class="dish">';
                outputHTML += '<div class="name">' + groupName + '</div><div class="weight">' + dish.weight + '</div><div class="price">' + dish.price.toFixed(2) + '</div>';

                for (let __index in dishes.dishes) {
                    let __dish = dishes.dishes[__index],
                        __regexp = new RegExp(groupName + " ");
                    let __name = __dish.name.replace(__regexp, "");
                    groupedNames.push(__name.capitalize());

                }

                if (config['dishdescription'] == 'true')
                    outputHTML += '<div class="description">' + (groupedNames.join(", ")) + '</div>';

                outputHTML += '</div>';

                return outputHTML;
            }

            function sortAsc(a, b) {
                let aPrice = a.price,
                    bPrice = b.price,
                    aName = a.name,
                    bName = b.name;

                if (aPrice == bPrice) {
                    return (aName < bName) ? -1 : (aName > bName) ? 1 : 0;
                } else {
                    return (aPrice < bPrice) ? -1 : 1;
                }
            }

            function sortDesc(a, b) {
                let aPrice = a.price,
                    bPrice = b.price,
                    aName = a.name,
                    bName = b.name;

                if (aPrice == bPrice) {
                    return (aName < bName) ? -1 : (aName > bName) ? 1 : 0;
                } else {
                    return (aPrice > bPrice) ? -1 : 1;
                }
            }

            function renderDish(dish, config) {
                let outputHTML = '';

                outputHTML += '<div class="dish">';
                outputHTML += '<div class="name">' + dish.name + '</div><div class="weight">' + dish.weight + '</div><div class="price">' + dish.price.toFixed(2) + '</div>';
                if (config['dishdescription'] == 'true')
                    outputHTML += '<div class="description">' + dish.description + '</div>';
                outputHTML += '</div>';
                return outputHTML;
            }

            function renderMenu() {
                let menuTPL = $("#menu").val().split("\n"),
                    __pageREGEX = /\[page\s?(.*)"\]/,
                    __columnREGEX = /\[column\s?(.*)\]/,
                    __categoryREGEX = /\[category\s?(.*)\]/,
                    __groupREGEX = /\[group\s?(.*)\]/,

                    $container = $("#pages").empty(),
                    HTML = '';

                menuTPL.forEach((row) => {
                    if (__row = row.match(__pageREGEX)) {
                        HTML += renderPage(__row[1]);
                    }

                    if (__row = row.match(__columnREGEX)) {
                        HTML += '<div class="column">';
                    }

                    if (__row = row.match(__categoryREGEX)) {
                        HTML += renderCategory(__row[1]);
                    }
                    if (__row = row.match(__groupREGEX)) {
                        HTML += renderGroup(__row[1]);
                    }


                    if (__row = row.match(/\[\/(page|column|category|group)\]/)) {
                        HTML += '</div>';
                    }
                });
                $container.html(HTML);
            }

            function saveMenu() {
                let menu = $("#menu").val();
                $.ajax({
                    type: "POST",
                    data: {menu},
                });
                renderMenu();
            }
            $(document).on('ifChanged', '#d_form_pos_separated', function () {
                if ($(this).prop("checked")) {
                    $(".page table").css({
                        width: '100%',
                        float: 'none',
                    });
                }
            });
            $(document).on('ifChanged', '#d_form_pos_order', function () {
                if ($(this).prop("checked")) {
                    $(".page table").css({
                        width: '50%',
                        float: 'left',
                    });
                }
            });
            renderMenu();


        </script>
    </div>

</div>
</body>
</html>
