{% extends "RestaurantBundle::layout.html.twig" %}

{% block page_specific_styles %}
    <link rel="stylesheet" href="/assets/skins/dropify/css/dropify.css">
    <style>
        .place-row {
            line-height: 48px;;
        }
    </style>
{% endblock %}

{% block container %}
    <div id="page_content_inner">

        <div class="uk-grid">
            <div class="uk-width-medium-3-4">
                <iframe src="{{ path("menu_print", {'id' : shop.id}) }}" frameborder="0"></iframe>
            </div>
            <div class="uk-width-medium-1-4">

            </div>
        </div>
    </div>
{% endblock %}




{% block page_specific_plugins %}
    <!--  dropify -->
    <script src="/assets/js/custom/dropify/dist/js/dropify.min.js"></script>
    <!--  form file input functions -->
    <script src="/assets/js/pages/forms_file_input.min.js"></script>

    <!-- datatables -->
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <!-- datatables colVis-->
    <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <!-- datatables tableTools-->
    <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <!-- datatables custom integration -->
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>

    <script src="{{ asset('assets/js/jquery_extensions.js') }}"></script>

    <script>
        $("table").DataTable();
    </script>

    <script>

        $('#shop_places').collection({
            addButtonText: "{{ "Добавить площадку" | trans }}",
            deleteButtonText: "{{ "Удалить" | trans }}",
        });

        $('#category_delegate').collection({
            addButtonText: "{{ "Добавить делегирование" | trans }}",
            deleteButtonText: "{{ "Удалить" | trans }}",
        });
    </script>

{% endblock %}