{% extends "RestaurantBundle::layout.html.twig" %}

{% form_theme form '@Restaurant/Form/Fields.twig' %}

{% block container %}
    <div id="page_heading">
        <h1 id="product_edit_name">{{ place.shop.name }}, {{ place.name }}</h1>
        <span class="uk-text-muted uk-text-upper uk-text-small" id="product_edit_sn">SM-G925TZKFTMB</span>
    </div>
    <div id="page_content_inner">
        <div class="uk-grid">
            <div class="uk-width-medium-1-5">
                <div class="md-card">
                    <div class="md-card-content">
                        {{ form_start(form) }}
                        <div id="table_list" data-prototype="{{ form_widget(form.tables.vars.prototype) | e }}">
                            {% for table in form.tables %}
                                <div class="table-row" id="table_{{ table.vars.value.id }}" data-coords="{{ table.vars.value.metaCoordinates }}" data-id="{{ table.vars.value.id }}" data-name="{{ table.vars.value.name }}">
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-1-2">
                                            {{ form_widget(table) }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <button class="md-btn md-btn-primary" type="submit">{{ 'Сохранить' | trans }}</button>
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
            <div class="uk-width-medium-4-5">
                <canvas id="place_editor" width="1000" height="600" style="border: 1px solid rgb(0, 0, 0); cursor: auto;"><br>
                    This text is displayed if your browser does not support HTML5 Canvas.<br>
                </canvas>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_specific_styles %}
    <style>
        .table-row {
            line-height: 48px;
        }
    </style>
{% endblock %}

{% block page_specific_plugins %}
    <script>
        var tables = [];
        var selectionHandles = [];

        var canvas;
        var ctx;
        var WIDTH;
        var HEIGHT;
        var INTERVAL = 20;
        var GRID = 20;

        var isDrag = false;
        var isResizeDrag = false;
        var expectResize = -1; // New, will save the # of the selection handle if the mouse is over one.
        var mx, my; // mouse coordinates

        var canvasValid = false;

        var mySel = null;

        var mySelColor = '#CC0000';
        var mySelWidth = 2;
        var mySelBoxColor = 'darkred'; // New for selection boxes
        var mySelBoxSize = 6;

        var ghostcanvas;
        var gctx; // fake canvas context

        var offsetx, offsety;

        var stylePaddingLeft, stylePaddingTop, styleBorderLeft, styleBorderTop;

        function Table() {
            this.id = 0;

            this.selector = null;

            this.coords = {
                x: 0,
                y: 0,
                w: 1,
                h: 1
            };

            this.name = "test";
        }

        Table.prototype = {
            draw: function (context, optionalColor) {
                if (context === gctx) {
                    context.fillStyle = 'black'; // always want black for the ghost canvas
                } else {
                    context.fillStyle = 'rgba(220,205,65,0.7)';
                }

                // We can skip the drawing of elements that have moved off the screen:
                if (this.coords.x > WIDTH || this.coords.y > HEIGHT) return;
                if (this.coords.x + this.coords.w < 0 || this.coords.y + this.coords.h < 0) return;

                context.fillRect(this.coords.x, this.coords.y, this.coords.w, this.coords.h);

                this.print_text(context, "123");
                // draw selection
                // this is a stroke along the box and also 8 new selection handles
                if (mySel === this) {
                    context.strokeStyle = mySelColor;
                    context.lineWidth = mySelWidth;
                    context.strokeRect(this.coords.x, this.coords.y, this.coords.w, this.coords.h);

                    var half = mySelBoxSize / 2;

                    // 0  1  2
                    // 3     4
                    // 5  6  7

                    // top left, middle, right
                    selectionHandles[0].x = this.coords.x - half;
                    selectionHandles[0].y = this.coords.y - half;

                    selectionHandles[1].x = this.coords.x + this.coords.w / 2 - half;
                    selectionHandles[1].y = this.coords.y - half;

                    selectionHandles[2].x = this.coords.x + this.coords.w - half;
                    selectionHandles[2].y = this.coords.y - half;

                    //middle left
                    selectionHandles[3].x = this.coords.x - half;
                    selectionHandles[3].y = this.coords.y + this.coords.h / 2 - half;

                    //middle right
                    selectionHandles[4].x = this.coords.x + this.coords.w - half;
                    selectionHandles[4].y = this.coords.y + this.coords.h / 2 - half;

                    //bottom left, middle, right
                    selectionHandles[6].x = this.coords.x + this.coords.w / 2 - half;
                    selectionHandles[6].y = this.coords.y + this.coords.h - half;

                    selectionHandles[5].x = this.coords.x - half;
                    selectionHandles[5].y = this.coords.y + this.coords.h - half;

                    selectionHandles[7].x = this.coords.x + this.coords.w - half;
                    selectionHandles[7].y = this.coords.y + this.coords.h - half;


                    context.fillStyle = mySelBoxColor;
                    for (var i = 0; i < 8; i++) {
                        var cur = selectionHandles[i];
                        context.fillRect(cur.x, cur.y, mySelBoxSize, mySelBoxSize);
                    }
                }
            },
            print_text: function (context) {
                context.textBaseline = "middle";
                context.lineWidth = 1;
                context.fillStyle = "#000";
                context.font = "12pt sans-serif";

                var text = this.name;

                textX = this.coords.x + this.coords.w / 2 - context.measureText(text).width / 2;
                textY = this.coords.y + this.coords.h / 2;
                context.fillText(text, textX, textY - 8);
                /*
                 var time = ((new Date()) - this.time) / 1000;
                 textX = this.x + this.w / 2 - context.measureText(time).width / 2;
                 textY = this.y + this.h / 2;
                 context.fillText(time, textX, textY + 8);*/
            }

        };

        function addTable(coords, name, selector) {
            var table = new Table;

            table.selector = selector;

            table.coords = coords;
            /*table.x = x;
             table.y = y;
             table.w = w;
             table.h = h;*/

            table.name = name;
            tables.push(table);

            selector.attr("data-coords", JSON.stringify(table.coords));
            selector.find(".table_coords").val(JSON.stringify(table.coords));

            invalidate();
        }

        function getTables() {
            $(".table-row").each(function () {
                var data = $(this).data();

                addTable(data.coords, data.name, $(this));
            });
        }

        function init2() {
            getTables();

            canvas = $('#place_editor');
            canvas.attr("width", canvas.parent().width());
            canvas = canvas[0];

            HEIGHT = canvas.height;
            WIDTH = canvas.width;
            ctx = canvas.getContext('2d');
            ghostcanvas = document.createElement('canvas');
            ghostcanvas.height = HEIGHT;
            ghostcanvas.width = WIDTH;
            gctx = ghostcanvas.getContext('2d');

            canvas.onselectstart = function () {
                return false;
            };

            if (document.defaultView && document.defaultView.getComputedStyle) {
                stylePaddingLeft = parseInt(document.defaultView.getComputedStyle(canvas, null)['paddingLeft'], 10) || 0;
                stylePaddingTop = parseInt(document.defaultView.getComputedStyle(canvas, null)['paddingTop'], 10) || 0;
                styleBorderLeft = parseInt(document.defaultView.getComputedStyle(canvas, null)['borderLeftWidth'], 10) || 0;
                styleBorderTop = parseInt(document.defaultView.getComputedStyle(canvas, null)['borderTopWidth'], 10) || 0;
            }

            setInterval(mainDraw, INTERVAL);

            canvas.onmousedown = myDown;
            canvas.onmouseup = myUp;
            canvas.onmousemove = myMove;

            for (var i = 0; i < 8; i++) {
                var table = new Table;
                selectionHandles.push(table);
            }
        }


        function clear(c) {
            c.clearRect(0, 0, WIDTH, HEIGHT);
        }

        function mainDraw() {
            //if (canvasValid == false) {
            clear(ctx);

            // Add stuff you want drawn in the background all the time here

            // draw all boxes
            var l = tables.length;
            for (var i = 0; i < l; i++) {
                tables[i].draw(ctx); // we used to call drawshape, but now each box draws itself
            }

            // Add stuff you want drawn on top all the time here

            canvasValid = true;
            //}
        }

        function myMove(e) {
            if (isDrag) {
                getMouse(e);

                /*mx = (mx - (mx % GRID));
                 my = (my - (my % GRID));*/

                mySel.coords.x = Math.floor((mx - offsetx) / GRID) * GRID;
                mySel.coords.y = Math.floor((my - offsety) / GRID) * GRID;
                ;

                // something is changing position so we better invalidate the canvas!
                invalidate();
            } else if (isResizeDrag) {
                // time ro resize!
                var oldx = mySel.coords.x;
                var oldy = mySel.coords.y;

                /*mx = (mx - (mx % GRID));
                 my = (my - (my % GRID));*/


                // 0  1  2
                // 3     4
                // 5  6  7


                switch (expectResize) {
                    case 0:
                        mySel.coords.x = mx;
                        mySel.coords.y = my;
                        mySel.coords.w += oldx - mx;
                        mySel.coords.h += oldy - my;
                        break;
                    case 1:
                        mySel.coords.y = my;
                        mySel.coords.h += oldy - my;
                        break;
                    case 2:
                        mySel.coords.y = my;
                        mySel.coords.w = mx - oldx;
                        mySel.coords.h += oldy - my;
                        break;
                    case 3:
                        mySel.coords.x = mx;
                        mySel.coords.w += oldx - mx;
                        break;
                    case 4:
                        mySel.coords.w = mx - oldx;
                        break;
                    case 5:
                        mySel.coords.x = mx;
                        mySel.coords.w += oldx - mx;
                        mySel.coords.h = my - oldy;
                        break;
                    case 6:
                        mySel.coords.h = my - oldy;
                        break;
                    case 7:
                        mySel.coords.w = mx - oldx;
                        mySel.coords.h = my - oldy;
                        break;
                }
                /*console.log(mx + " " + my);

                 switch (expectResize) {
                 case 0:
                 mySel.coords.x = Math.floor(mx / GRID) * GRID;
                 mySel.coords.y = Math.floor(my / GRID) * GRID;
                 mySel.coords.w = Math.floor((mySel.coords.w + oldx - mx) / GRID) * GRID;
                 mySel.coords.h = Math.floor((mySel.coords.h + oldy - my) / GRID) * GRID;
                 break;
                 case 1:
                 mySel.coords.y = Math.floor(my / GRID) * GRID;
                 mySel.coords.h += Math.floor((oldy - my ) / GRID) * 2;
                 break;
                 case 2:
                 mySel.coords.y = Math.floor(my / GRID) * GRID;
                 mySel.coords.w = Math.floor((mx - oldx) / GRID) * GRID;
                 mySel.coords.h = Math.floor((mySel.coords.h + oldy - my) / GRID) * GRID;
                 break;
                 case 3:
                 mySel.coords.x = Math.floor(mx / GRID) * GRID;
                 mySel.coords.w = Math.floor((mySel.coords.w + oldx - mx) / GRID) * GRID;
                 break;
                 case 5:
                 mySel.coords.x = Math.floor(mx / GRID) * GRID;
                 mySel.coords.w = Math.floor((mySel.coords.w + oldx - mx) / GRID) * GRID;
                 mySel.coords.h = Math.floor((my - oldy) / GRID) * GRID;
                 break;


                 case 4:
                 mySel.coords.w = Math.floor((mx - oldx) / GRID) * GRID;
                 break;
                 case 6:
                 mySel.coords.h = Math.floor((my - oldy) / GRID) * GRID;
                 break;
                 case 7:
                 mySel.coords.w = Math.floor((mx - oldx) / GRID) * GRID;
                 mySel.coords.h = Math.floor((my - oldy) / GRID) * GRID;
                 break;
                 }*/

                invalidate();
            }

            getMouse(e);
            // if there's a selection see if we grabbed one of the selection handles
            if (mySel !== null && !isResizeDrag) {
                for (var i = 0; i < 8; i++) {
                    // 0  1  2
                    // 3     4
                    // 5  6  7

                    var cur = selectionHandles[i];

                    // we dont need to use the ghost context because
                    // selection handles will always be rectangles
                    if (mx >= cur.x && mx <= cur.x + mySelBoxSize &&
                            my >= cur.y && my <= cur.y + mySelBoxSize) {
                        // we found one!
                        expectResize = i;
                        invalidate();

                        switch (i) {
                            case 0:
                                this.style.cursor = 'nw-resize';
                                break;
                            case 1:
                                this.style.cursor = 'n-resize';
                                break;
                            case 2:
                                this.style.cursor = 'ne-resize';
                                break;
                            case 3:
                                this.style.cursor = 'w-resize';
                                break;
                            case 4:
                                this.style.cursor = 'e-resize';
                                break;
                            case 5:
                                this.style.cursor = 'sw-resize';
                                break;
                            case 6:
                                this.style.cursor = 's-resize';
                                break;
                            case 7:
                                this.style.cursor = 'se-resize';
                                break;
                        }
                        return;
                    }

                }
                // not over a selection box, return to normal
                isResizeDrag = false;
                expectResize = -1;
                this.style.cursor = 'auto';
            }
            if (mySel !== null) {
                mySel.selector.find(".table_coords").val(JSON.stringify(mySel.coords));
                mySel.selector.attr("data-coords", JSON.stringify(mySel.coords));
            }
        }

        function myDown(e) {
            getMouse(e);

            //we are over a selection box
            if (expectResize !== -1) {
                isResizeDrag = true;
                return;
            }

            clear(gctx);
            var l = tables.length;
            for (var i = l - 1; i >= 0; i--) {
                // draw shape onto ghost context
                tables[i].draw(gctx, 'black');

                // get image data at the mouse x,y pixel
                var imageData = gctx.getImageData(mx, my, 1, 1);
                var index = (mx + my * imageData.width) * 4;

                // if the mouse pixel exists, select and break
                if (imageData.data[3] > 0) {
                    mySel = tables[i];
                    offsetx = mx - mySel.coords.x;
                    offsety = my - mySel.coords.y;
                    mySel.coords.x = mx - offsetx;
                    mySel.coords.y = my - offsety;
                    isDrag = true;

                    invalidate();
                    clear(gctx);
                    return;
                }

            }
            // havent returned means we have selected nothing
            mySel = null;
            // clear the ghost canvas for next time
            clear(gctx);
            // invalidate because we might need the selection border to disappear
            invalidate();
        }

        function myUp() {
            isDrag = false;
            isResizeDrag = false;
            expectResize = -1;
        }


        function invalidate() {
            canvasValid = false;
        }

        function getMouse(e) {
            var element = canvas, offsetX = 0, offsetY = 0;

            if (element.offsetParent) {
                do {
                    offsetX += element.offsetLeft;
                    offsetY += element.offsetTop;
                } while ((element = element.offsetParent));
            }

            // Add padding and border style widths to offset
            offsetX += stylePaddingLeft;
            offsetY += stylePaddingTop;

            offsetX += styleBorderLeft;
            offsetY += styleBorderTop;

            mx = e.pageX - offsetX;
            my = e.pageY - offsetY;
            /*mx = Math.floor((e.pageX - offsetX) / GRID) * GRID;
             my = Math.floor((e.pageY - offsetY) / GRID) * GRID;*/
        }
        init2();

        $(document).on("keyup", '.table_name', function () {
            var table_row = $(this);
            tables.forEach(function (item, index) {
                if (JSON.stringify(item.coords) == JSON.stringify(table_row.parents(".table-row").data("coords"))) {
                    tables[index].name = table_row.val();
                }
            });
        });


        /*$(document).on("submit", 'form', function () {
         tables.forEach(function (table, i, tables) {
         table.selector.find("input[type=hidden]").val(JSON.stringify(table.coords));
         });
         return false;
         });*/
    </script>

    <script>

        var $collectionHolder = $('#table_list');

        var $addTagLink = $('<a href="#" class="add_table_link md-btn md-btn-success">{{ "Добавить стол" | trans }}</a>');
        var $newLinkLi = $('<div></div>').append($addTagLink);

        $(document).ready(function () {

            $collectionHolder.append($newLinkLi);

            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function (e) {
                e.preventDefault();
                addTableForm($collectionHolder, $newLinkLi);
            });

            $collectionHolder.find('div.table-row').each(function () {
                addTableFormDeleteLink($(this));
            });

        });

        function addTableForm() {
            var prototype = $collectionHolder.data('prototype');

            var index = $collectionHolder.data('index');

            var newForm = prototype.replace(/__name__/g, index);

            $collectionHolder.data('index', index + 1);

            var $newFormLi = $('<div class="table-row"></div>')
                    .append($('<div class="uk-grid" data-uk-grid-margin="">')
                            .append($('<div class="uk-width-medium-1-2"></div>')
                                    .append(newForm)));

            $newLinkLi.before($newFormLi);

            //specific

            addTableFormDeleteLink($newFormLi);
            addTable({x: 20, y: 20, w: 100, h: 100}, '{{ 'Новый стол' | trans }}', $newFormLi);
        }

        function addTableFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<div class="uk-width-medium-1-5"><a href="#" class="md-btn md-btn-danger">{{ "Удалить" | trans }}</a></div>');
            $tagFormLi.find(".uk-grid").append($removeFormA);

            $removeFormA.on('click', function (e) {
                e.preventDefault();

                tables.forEach(function (item, index) {
                    if (JSON.stringify(item.coords) == JSON.stringify($tagFormLi.data("coords"))) {
                        tables.splice(index, 1);
                    }
                });
                $tagFormLi.remove();
            });
        }
    </script>

{% endblock %}