<html>
<head>
    <link rel="stylesheet" href="/bower_components/uikit/css/uikit.almost-flat.min.css" media="all">
    <link rel="stylesheet" href="/assets/css/main.min.css" media="all">

    <script src="/assets/js/common.min.js"></script>
    <script src="/assets/js/uikit_custom.min.js"></script>
    <script src="/assets/js/altair_admin_common.min.js?833803076"></script>
    <style>
        body {
            background: #ccc;
            padding: 0;
        }

        .page {
            width: 790px;
            background: #fff;
            padding: 38px;
            height: 1121px;
            box-sizing: border-box;
            margin-bottom: 50px;
        }

        li a {
            color: #000;
            text-decoration: none;
        }

        h1 {
            text-align: center;
            margin: 15px 0;
        }

        h3 {
            overflow-wrap: break-word;
            padding: 0;
            margin: 0;
        }

        p {
            margin: 0;
            padding: 0;
        }

        .dish .title {
            float: left;
        }

        .dish .meta {
            float: right;
        }

        .dish:after {
            content: " ";
            clear: both;
            display: table;
        }

        /*
        ul {
            padding: 0;
            margin: 0;
            #list-style: none;

        }
        */

        ul {
            list-style: none;
        }

        #tools {
            width: 300px;
            position: fixed;
            right: 0;
            top: 0;
            background: #fff;
            height: 100%;
        }

        .dish_root {
            width: 790px;
            margin: 0 auto;
        }

        @media print {
            .page {
                width: 100%;
                padding: 0;
                margin: 0;
            }
            a {
                text-decoration: none;
            }

            a:after {
                content: " ";
                display: none;
            }

            #tools {
                display: none;
            }

            .sf-toolbar {
                display: none !important;
            }
        }
    </style>

</head>
<body>
{% for parent in categories %}
    <div class="dish_root">
        {%- for category in parent.children -%}
            {%- spaceless -%}
                <div class="dish_cat page" id="cat_{{ category.id }}">
                    <h3>
                        <a class="cat_title" href="{{ path('category_edit', {'id':category.id, '_locale' : app.request.locale}) }}" target="_blank">
                            {{ category.name }}
                        </a>
                    </h3>
                    <table style="width: 100%;">
                        {%- for dish in category.dishes -%}
                            {% set price = dish.shopPrice(shop.id) %}
                            <tr>
                                <td>
                                    <a href="{{ path('dish_edit', {'id' : dish.id, '_locale' : app.request.locale}) }}" target="_blank">
                                        {{ dish.id }} {{ dish.name }}
                                    </a>
                                </td>
                                <td style="width: 1%;">
                                    {{ price | price }}
                                </td>
                            </tr>
                        {%- endfor -%}
                    </table>
                </div>
            {%- endspaceless -%}
        {%- endfor -%}
    </div>
{%- endfor -%}
<div class="pages">
</div>
<div id="tools">
    <h1>{{ shop.name }} </h1>

    <div class="uk-input-group">
        <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
        <label for="uk_dp_start">На дату</label>
        <input class="md-input" type="text" id="menu_date" value="{{ date | date("d.m.Y") }}" data-uk-datepicker="{format:'DD.MM.YYYY'}">
    </div>

    <div class="lang" style="text-align: center;margin: 15px 0;">
        {% if app.request.locale == 'ru' %}
            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ru'})) }}" class="md-btn md-btn-primary">RU</a>
        {% else %}
            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ru'})) }}" class="md-btn md-btn-warning">RU</a>
        {% endif %}

        {% if app.request.locale == 'en' %}
            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}" class="md-btn md-btn-primary">EN</a>
        {% else %}
            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}" class="md-btn md-btn-warning">EN</a>
        {% endif %}

        {% if app.request.locale == 'it' %}
            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'it'})) }}" class="md-btn md-btn-primary">IT</a>
        {% else %}
            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'it'})) }}" class="md-btn md-btn-warning">IT</a>
        {% endif %}
    </div>

    <div>
        {% for parent in categories %}
            <ul>
                {%- for category in parent.children -%}
                    {%- spaceless -%}
                        <li class="dish_cat">
                            <a class="cat_title" href="#cat_{{ category.id }}">{{ category.name }}</a>
                        </li>
                    {%- endspaceless -%}
                {% endfor %}
            </ul>
        {% endfor %}
    </div>

    <div class="" style="margin: 15px;">
        <label>Ориентация:</label>
        <div class="dynamic_radio uk-margin-small-top">
            <span class="icheck-inline">
                <input type="radio" name="menu_orientation" id="d_form_or_book" data-md-icheck required/>
                <label for="d_form_or_book" class="inline-label">Книжная</label>
            </span>
            <span class="icheck-inline">
                <input type="radio" name="menu_orientation" id="d_form_or_album" data-md-icheck required/>
                <label for="d_form_or_album" class="inline-label">Альбомная</label>
            </span>
        </div>
        <script>
            $(document).on('ifChanged', '#d_form_or_book', function () {
                if ($(this).prop("checked")) {
                    $(".page").css({
                        width: '790px',
                        height: '1121px',
                    });
                    $(".dish_root").css({
                        width: '790px',
                    });
                } else {
                    $("#client-row").hide();
                }
            });
            $(document).on('ifChanged', '#d_form_or_album', function () {
                if ($(this).prop("checked")) {
                    $(".page").css({
                        width: '1121px',
                        height: '790px',
                    });
                    $(".dish_root").css({
                        width: '1121px',
                    });

                } else {
                    $("#client-row").hide();
                }
            });
        </script>
    </div>

    <div class="" style="margin: 15px;">
        <label>Колонки:</label>
        <div class="dynamic_radio uk-margin-small-top">
            <span class="icheck-inline">
                <input type="radio" name="menu_columns" id="d_form_col_1" data-md-icheck required/>
                <label for="d_form_col_1" class="inline-label">1</label>
            </span>
            <span class="icheck-inline">
                <input type="radio" name="menu_columns" id="d_form_col_2" data-md-icheck required/>
                <label for="d_form_col_2" class="inline-label">2</label>
            </span>
        </div>
        <script>
            $(document).on('ifChanged', '#d_form_col_1', function () {
                if ($(this).prop("checked")) {
                    $(".page table").css({
                        width: '100%',
                        float: 'none',
                    });
                }
            });
            $(document).on('ifChanged', '#d_form_col_2', function () {
                if ($(this).prop("checked")) {
                    $(".page table").css({
                        width: '50%',
                        float: 'left',
                    });


                }
            });
        </script>
    </div>

    <div class="" style="margin: 15px;">
        <label>Размещение:</label>
        <div class="dynamic_radio uk-margin-small-top">
            <span class="icheck-inline">
                <input type="radio" name="menu_pages" id="d_form_pos_separated" data-md-icheck required/>
                <label for="d_form_pos_separated" class="inline-label">На отдельных страницах</label>
            </span>
            <span class="icheck-inline">
                <input type="radio" name="menu_pages" id="d_form_pos_order" data-md-icheck required/>
                <label for="d_form_pos_order" class="inline-label">По порядку</label>
            </span>
        </div>
        <script>
            $(document).on('ifChanged', '#d_form_pos_separated', function () {
                if ($(this).prop("checked")) {
                    $(".page table").css({
                        width: '100%',
                        float: 'none',
                    });
                }
            });
            $(document).on('ifChanged', '#d_form_pos_order', function () {
                if ($(this).prop("checked")) {
                    $(".page table").css({
                        width: '50%',
                        float: 'left',
                    });
                }
            });
        </script>
    </div>

</div>
<script>
    $("#menu_date").on("change", function () {
        window.location = '{{ path('menu_print', { 'id' : shop.id}) }}/' + $(this).val();
    });
</script>
{#<script>
    var categories = {{ categories | json_encode | raw }};
    $(document).ready(function () {
        var page_data = [];
        var height = 0;
        var cat
        categories.forEach(function (category, index, context) {
            category.dishes.forEach(function (dish, index, context) {
                debugger;
            });
        });


        $("#base_list").hide();
    });
</script>#}
</body>
</html>
