{% extends "RestaurantBundle::layout.html.twig" %}

{% block title %}
    {{ 'Заведения' | trans }}
{% endblock %}

{% block container %}
    <style>
        .row_hidden {
            display: none;
        }
        tr:hover .row_hidden {
            display: inherit;
        }
    </style>
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <h3 class="heading_a uk-margin-bottom">{{ 'Заведения' | trans }}</h3>
                <table class="uk-table uk-table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'Заведение' | trans }}</th>
                        <th>{{ 'Телефон' | trans }}</th>
                        <th>{{ 'Меню' | trans }}</th>
                        <th>{{ 'Меню' | trans }}</th>
                        <th>{{ 'Отчет' | trans }}</th>
                        <th>{{ 'Реализация' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for shop in shops %}
                        <tr>
                            <td>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path("shop_edit", { 'id' : shop.id }) }}">{{ shop.name }}</a>
                                {% else %}
                                    {{ shop.name }}
                                {% endif %}
                            </td>
                            <td>{{ shop.phone }}</td>
                            <td><a target="_blank" href="{{ path("menu_print", {'id' : shop.id}) }}" class="row_hidden">{{ 'Меню' | trans }}</a></td>
                            <td><a target="_blank" href="{{ path("menu_constructor", {'id' : shop.id}) }}" class="row_hidden">{{ 'Конструктор' | trans }}</a></td>
                            <td><a target="_blank" href="{{ path("report_shop", {'id' : shop.id}) }}" class="row_hidden">{{ 'Отчеты' | trans }}</a></td>
                            <td><a target="_blank" href="{{ path("shop_realisation", {'shop' : shop.id}) }}" class="row_hidden">{{ 'Реализация' | trans }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path("shop_add") }}" class="md-btn md-btn-success md-btn-wave-light waves-effect waves-button waves-light">{{ 'Добавить заведение' | trans }}</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


{% block page_specific_plugins %}

    <!-- datatables -->
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <!-- datatables colVis-->
    <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <!-- datatables tableTools-->
    <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <!-- datatables custom integration -->
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>

    <script>
        $("table").DataTable({
            dom: 'tr',
            iDisplayLength: -1,
        });
    </script>


{% endblock %}