{% extends "RestaurantBundle::layout.html.twig" %}

{% form_theme form '@Restaurant/Form/Fields.twig' %}

{% block title %}
    {{ shop.name }}
{% endblock %}

{% block page_specific_styles %}
    <link rel="stylesheet" href="/assets/skins/dropify/css/dropify.css">
    <style>
        .place-row {
            line-height: 48px;;
        }
    </style>
{% endblock %}

{% block container %}
    <div id="page_content_inner">
        {{ form_start(form) }}
        <div class="uk-grid">

            <div class="uk-width-medium-1-2">

                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_a uk-margin-bottom">{{ form_title }}</h3>
                        {{ form_row(form.name) }}
                        {{ form_row(form.address) }}
                        {{ form_row(form.phone) }}
                        <div class="uk-form-row">
                            {{ form_widget(form.imageFile) }}
                        </div>
                        {{ form_row(form.adminPrinter) }}
                        {{ form_row(form.invoicePrinter) }}
                        {{ form_widget(form.isBarService) }}
                        {{ form_widget(form.fiscalType) }}


                        <div class="uk-form-row">
                            <div id="shop_places" data-prototype="{{ form_widget(form.places.vars.prototype) | e }}">
                                <h3 class="heading_a uk-margin-bottom">{{ "Площадки" | trans }}</h3>
                                {% for place in form.places %}
                                    <div class="place-row">
                                        <div class="uk-grid" data-uk-grid-margin="">
                                            {{ form_widget(place) }}
                                            <div class="uk-width-medium-1-5">
                                                <a href="{{ path("shop_place_edit", { 'id' :  place.vars.value.id }) }}" class="md-btn md-btn-primary">Просмотр</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="md-fab-wrapper">
                            <button type="submit" class="md-fab md-fab-primary" id="product_edit_submit">
                                <i class="material-icons">save</i>
                            </button>
                        </div>
                        {{ form_widget(form._token) }}
                    </div>
                </div>
            </div>


            <div class="uk-width-medium-1-2">
                <div class="md-card">
                    <div class="md-card-content">

                        <div class="uk-form-row">
                            <div>
                                {{ form_row(form.times) }}
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <div>
                                {{ form_row(form.customParams) }}
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <div>
                                {{ form_row(form.orderTypes) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="md-card">
                    <div class="md-card-content">
                        <div class="uk-form-row">
                            <div id="category_delegate" data-prototype="{{ form_widget(form.delegates.vars.prototype) | e }}">
                                <h3 class="heading_a uk-margin-bottom">{{ "Делегирование" | trans }}</h3>
                                {% for delegate in form.delegates %}
                                    <div class="item-row">
                                        {{ form_widget(delegate) }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
                {% if shop is defined %}
                    <div class="md-card">
                        <div class="md-card-toolbar">
                            <h3 class="md-card-toolbar-heading-text">
                                {{ 'Изменения цен' | trans }}
                            </h3>
                        </div>
                        <div class="md-card-content">
                            <table class="uk-table uk-table-striped">
                                <thead>
                                <tr>
                                    <th>{{ 'Пользователь' | trans }}</th>
                                    <th>{{ 'Блюдо' | trans }}</th>
                                    <th>{{ 'Дата' | trans }}</th>
                                    <th>{{ 'Поле' | trans }}</th>
                                    <th>{{ 'Значение' | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for change in changes %}
                                    <tr>
                                        <td>
                                            {% if change.user is not null %}
                                                <a href="{{ path("user_edit", {'id' : change.user.id }) }}">{{ change.user.name }}</a>
                                            {% else %}
                                                System
                                            {% endif %}
                                        </td>
                                        <td><a href="{{ path("dish_edit", {'id' : change.dish.id }) }}">{{ change.dish.name }}</a></td>
                                        <td>{{ change.date | date("d.m.Y H:i") }}</td>
                                        <td>{{ change.field }}</td>
                                        <td>{{ change.value }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                {% endif %}
            </div>
        </div>
        </form>
        {#
        {% if shop is defined %}
            <div class="uk-width-medium-1-2">
                {% if catDiscounts != null %}
                    <div class="md-card">
                        <div class="md-card-content">
                            <h3 class="heading_a uk-margin-bottom">{{ 'Скидки' | trans }}</h3>

                            <div class="uk-overflow-container">
                                <table class="uk-table uk-table-striped uk-table-nowrap" id="discountList">
                                    <thead>
                                    <tr>
                                        <th class="uk-width-2-10">{{ 'Категория' | trans }}</th>
                                        <th class="uk-width-2-10">{{ 'Скидка' | trans }}</th>
                                        <th class="uk-width-2-10">{{ 'Время' | trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for discount in catDiscounts %}
                                        <tr>
                                            <td class="uk-text-left">
                                                <a href="{{ path("category_edit", { 'id' : discount.category.id }) }}">{{ discount.category.name }}</a>
                                            </td>
                                            <td class="uk-text-left">
                                                {{ discount.discount }}%
                                            </td>
                                            <td class="uk-text-left">
                                                {{ discount.timeStart | date("H:i") }} - {{ discount.timeEnd | date("H:i") }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_a uk-margin-bottom"><a href="{{ path("menu_print", { 'id' : shop.id }) }}">{{ 'Меню' | trans }}</a></h3>

                        <div class="uk-overflow-container">
                            <table class="uk-table uk-table-striped uk-table-nowrap" id="itemList">
                                <thead>
                                <tr>
                                    <th class="uk-width-2-10">{{ 'Блюдо' | trans }}</th>
                                    <th class="uk-width-2-10">{{ 'Категория' | trans }}</th>
                                    <th class="uk-width-2-10">{{ 'Цена' | trans }}</th>
                                    {#<th class="uk-width-2-10">{{ 'Остаток' | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for dish in shop.dishes %}
                                    <tr>
                                        <td class="uk-text-left">
                                            <a href="{{ path("dish_edit", { 'id' : dish.id }) }}">{{ dish.name }}</a>
                                        </td>
                                        <td class="uk-text-left">
                                            {% if dish.category is not null %}
                                                <a href="{{ path("category_edit", { 'id' : dish.category.id }) }}">{{ dish.category.name }}</a>
                                            {% endif %}
                                        </td>
                                        <td class="uk-text-left">
                                            {{ dish.shopPrice(shop.id) }}
                                        </td>
                                        {#<td class="uk-text-left">
                                            {% if dish.shopQuantity(shop) != 999 %}
                                                {{ dish.shopQuantity(shop) }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="uk-form-row">
                            <a href="{{ path("dish_add") }}" class="md-btn md-btn-primary">{{ 'Добавить блюдо' | trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        #}
    </div>
    </div>
{% endblock %}




{% block page_specific_plugins %}
    <!--  dropify -->
    <script src="/assets/js/custom/dropify/dist/js/dropify.min.js"></script>
    <!--  form file input functions -->
    <script src="/assets/js/pages/forms_file_input.min.js"></script>

    <!-- datatables -->
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <!-- datatables colVis-->
    <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <!-- datatables tableTools-->
    <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <!-- datatables custom integration -->
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>

    <script src="{{ asset('assets/js/jquery_extensions.js') }}"></script>

{#    <script>#}
{#        $("table").DataTable();#}
{#    </script>#}

    <style>
        .shop-time label {
            margin-top: 14px;
            display: block;
        }
    </style>
    <script>
        $('#shop_places').collection({
            addButtonText: "{{ "Добавить площадку" | trans }}",
            deleteButtonText: "{{ "Удалить" | trans }}",
        });

        $('#category_delegate').collection({
            addButtonText: "{{ "Добавить делегирование" | trans }}",
            deleteButtonText: "{{ "Удалить" | trans }}",
        });

        $('#social').collection({
            addButtonText: "{{ "Добавить соц сеть" | trans }}",
            deleteButtonText: "{{ "Удалить" | trans }}",
        });
    </script>

{% endblock %}
