{% extends "RestaurantBundle::layout.html.twig" %}

{% form_theme form '@Restaurant/Form/Fields.twig' %}

{% block container %}
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <h2>{{ report.name }}</h2>
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block page_specific_plugins %}
    <script src="{{ asset('assets/js/select2.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery_extensions.js') }}"></script>
    <script>
        $('#report_data').collection({
            addButtonText: "{{ "Добавить параметр" | trans }}",
            deleteButtonText: "{{ "Удалить" | trans }}",
            addItemCallback: function (item) {
                $(item).find('.select2entity').select2entity();
            }
        });
    </script>
{% endblock %}