{% extends "RestaurantBundle::layout.html.twig" %}

{% block container %}
    <div id="page_content_inner">
        <div class="uk-grid ">
            <div class="uk-width-medium-1-2" data-uk-grid-margin>
                <div class="md-card">
                    <div class="md-card-content">
                        <table class="uk-table">
                            <tr>
                                <td colspan="2"><h2>{{ 'Отчеты' }}</h2></td>
                                <td>
                                    <a href="{{ path("create_report") }}"
                                       class="md-btn md-btn-block md-btn-primary">{{ 'Создать' }}
                                    </a>
                                </td>
                            </tr>
                            {% for __report in reports %}
                                <tr>
                                    <td>
                                        <a href="{{ path("show_report", { "id" : __report.id }) }}">
                                            {{ __report.name }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ __report.createdAt | date("Y-m-d H:i") }}
                                    </td>
                                    <td>
                                        <a href="{{ path("create_report", {'id' : __report.id }) }}"
                                           class="md-btn md-btn-block md-btn-primary">{{ 'Новый' }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}