{% extends "RestaurantBundle::layout.html.twig" %}

{% block container %}
    <div id="page_content_inner">
        <div class="md-card uk-width-medium-1-2">
            <div class="md-card-content">
                <table class="uk-table">
                    <tr>
                        <td colspan="2">{{ report.name }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">{{ report.createdBy.name }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">{{ report.createdAt | date("Y-m-d H:i:s") }}</td>
                    </tr>
                    {% for __reportData in report.data %}
                        <tr>
                            <td>{{ __reportData.element.name }}</td>
                            <td>{{ __reportData.value }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}