{% extends "RestaurantBundle::layout.html.twig" %}

{% form_theme form '@Restaurant/Form/Fields.twig' %}

{% block container %}
    <div id="page_content_inner">
        <div class="uk-grid ">
            <div class="uk-width-medium-1-2" data-uk-grid-margin>
                <div class="md-card">
                    <div class="md-card-content">
                        <table class="uk-table">
                            <tr>
                                <td colspan="2"><h2>{{ 'Таблицы' }}</h2></td>
                            </tr>
                            {% for __table in tables %}
                                <tr>
                                    <td>
                                        <a href="{{ path("show_table", { "id" : __table.id }) }}">
                                            {{ __table.name }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            {% if form is defined %}
                <div class="uk-width-medium-1-2" data-uk-grid-margin>
                    <div class="md-card">
                        <div class="md-card-content">
                            <h3 class="heading_a uk-margin-bottom">{{ "Добавить таблицу" }}</h3>
                            {{ form_start(form) }}

                            {{ form_row(form.name) }}
                            {{ form_row(form.path) }}


                            <div class="md-input-wrapper">
                                {{ form_row(form.submit) }}
                            </div>

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}