{% extends "RestaurantBundle::layout.html.twig" %}

{% block container %}
    <div id="page_content_inner">
        <div class="md-card" style="height: 800px;">
            <iframe style="width: 100%;height: 800px;" src="{{ table.path | raw }}" frameborder="0"></iframe>

        </div>
    </div>
{% endblock %}