{% extends "RestaurantBundle::layout.html.twig" %}

{% block title %}
    {{ order.shop.name }} | {{ 'Счет' | trans }} | {{ order.localId }}
{% endblock %}

    {% block page_specific_styles %}
        <style>
            ul {
                list-style: none;
            }
        </style>
    {% endblock %}

    {% block container %}
        <div id="page_content_inner">
            <div class="uk-grid ">
                <div class="uk-width-medium-1-2" data-uk-grid-margin>
                    <div class="md-card">
                        <div class="md-card-toolbar">
                            <div class="md-card-toolbar-actions">
                                <div class="uk-float-right">
                                    <strong>
                                        {{ 'Итого' | trans }}:
                                    </strong>
                                    <span>{{ order.cashSum | price }}</span>
                                </div>
                            </div>
                            <h3 class="md-card-toolbar-heading-text">
                                {{ 'Счет №' | trans }}{{ order.localId }} ({{ order.id }})
                            </h3>
                        </div>
                        <div class="md-card-content">
                            <div>
                                <table class="uk-table uk-table-striped">
                                    <tbody>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <h3 class="">
                                                {{ 'Блюда' | trans }}
                                            </h3>
                                        </td>
                                        <td>{{ 'Количество' | trans }}</td>
                                        <td>{{ 'Цена' | trans }}</td>
                                        <td>{{ 'Скидка' | trans }}</td>
                                        <td>{{ 'Итог' | trans }}</td>
                                    </tr>
                                    {% for dish in order.dishes %}
                                        <tr>
                                            <td>{{ dish.id }}</td>
                                            <td>
                                                <a href="{{ path("dish_edit", { 'id' : dish.dish.id }) }}">
                                                    {{ dish.dish.name }}
                                                </a>
                                            </td>
                                            <td>{{ dish.quantity }}</td>
                                            <td>{{ dish.dishPrice | price }}</td>
                                            <td>{{ dish.dishDiscount | price }}</td>
                                            <td>{{ dish.cashSum | price }}</td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td style="float: right;font-weight: bold;">{{ 'Итого' | trans }}:</td>
                                        <td></td>
                                        <td>{{ order.sumDiscount | price }}</td>
                                        <td>{{ order.cashSum | price }}</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>{{ 'Открыт' | trans }}</td>
                                        <td colspan="3" id="createdAt"
                                            data-id="{{ order.id }}">{{ order.createdAt | date ("d.m.Y H:i") }}</td>
                                    </tr>
                                    {% if order.status == constant('OrderBundle\\Entity\\Order::STATUS_CLOSED') %}
                                        <tr>
                                            <td></td>
                                            <td>{{ 'Закрыт' | trans }}</td>
                                            <td colspan="3">
                                                {% if order.closedAt != null %}
                                                    {{ order.closedAt | date ("d.m.Y H:i") }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% if order.promo != null %}
                                        <tr>
                                            <td></td>
                                            <td>{{ 'Скидка' | trans }}</td>
                                            <td colspan="3">
                                                {{ order.promo.client.firstName }} {{ order.promo.cardDiscount }}%
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% if order.status == constant('OrderBundle\\Entity\\Order::STATUS_DELETED') %}
                                        <tr>
                                            <td></td>
                                            <td><strong style="color: #f00;">{{ 'Удален' | trans }}</strong></td>
                                            <td colspan="3">
                                                {{ order.deletedAt | date ("d.m.Y H:i") }}
                                            </td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td></td>
                                        <td>
                                            {{ 'Заведение' | trans }}
                                        </td>
                                        <td colspan="3">
                                            <a href="{{ path("shop_edit", {'id' : order.shop.id}) }}">
                                                {{ order.shop.name }}
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>{{ 'Официант' | trans }}:</td>
                                        <td colspan="3">
                                            <a href="{{ path('fos_user_profile_edit', {'id' : order.user.id}) }}">
                                                {{ order.user.name }}
                                            </a>
                                        </td>
                                    </tr>
                                    {% if order.client is not null %}
                                        <tr>
                                            <td></td>
                                            <td>{{ 'Клиент' | trans }}:</td>
                                            <td colspan="3">
                                                <a href="{{ path('client_edit', {'id' : order.client.id}) }}">
                                                    {{ order.client.name }}
                                                </a>
                                            </td>
                                        </tr>
                                    {% endif %}

                                    <tr>
                                        <td></td>
                                        <td>{{ 'Стол' | trans }}</td>
                                        <td colspan="3">{{ order.table.place.name }}, {{ order.table.name }}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>{{ 'Оплата' | trans }}</td>
                                        <td colspan="3">
                                            {% if order.cashType == constant('OrderBundle\\Entity\\Order::CASHTYPE_CASH') %}
                                                {{ 'Наличные' | trans }}
                                            {% elseif order.cashType == constant('OrderBundle\\Entity\\Order::CASHTYPE_INVOICE') %}
                                                {{ 'Счет' | trans }}
                                            {% elseif order.cashType == constant('OrderBundle\\Entity\\Order::CASHTYPE_INTERNAL') %}
                                                {{ 'Внутренний' | trans }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"></td>
                                        <td colspan="2">
                                            <button class="md-btn md-btn-block md-btn-primary" id="repair_order"
                                                    href="">{{ 'Восстановить' | trans }}</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-1-2" data-uk-grid-margin>
                    {% if (changes | length) > 0 %}

                        <div class="md-card">
                            <div class="md-card-content">
                                <div class="md-card-toolbar">
                                    <h3 class="md-card-toolbar-heading-text">{{ 'Изменения' | trans }}</h3>
                                </div>
                                <table class="uk-table uk-table-striped">
                                    <thead></thead>
                                    <tbody>
                                    {% for change in changes %}
                                        <tr>
                                            <td>{{ change.datetime | date('d.m.Y H:i') }}</td>
                                            <td>{{ change.orderDish.dish.name }}</td>
                                            <td>{{ change.difference }}</td>
                                            <td>{{ change.orderDish.dishPrice | price }}</td>
                                            <td>{{ (change.orderDish.dishPrice * change.difference) | price }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot></tfoot>
                                </table>
                            </div>
                        </div>
                    {% endif %}
                    {% if (photos | length) > 0 %}
                        <div class="md-card">
                            <div class="md-card-content">
                                <div class="md-card-toolbar">
                                    <h3 class="md-card-toolbar-heading-text">{{ 'Фото' | trans }}</h3>
                                </div>
                                <table>
                                    {% for __photo in photos %}
                                        <tr>
                                            <td>
                                                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+A8AAQUBAScY42YAAAAASUVORK5CYII="

                                                     data-src="{{ ("uploads/photos/" ~ __photo.photoPath)  | imagine_filter('index') }}"

                                                     alt="" style="width: 150px;">
                                            </td>
                                            <td>
                                                <div><b>Пицца:</b>{{ __photo.orderDish.dish.name }}</div>
                                                <div><b>Пиццерист:</b>{{ __photo.user.name }}</div>
                                                <div><b>Вес: </b>{{ __photo.weight }}
                                                    /{{ __photo.orderDish.dish.weight }} гр
                                                </div>
                                                <div><b>Фото в:</b>{{ __photo.date | date("H:i:s") }}</div>
                                                <div><b>Время
                                                        приготовления:</b>{{ __photo.date.diff(__photo.orderDish.parentOrder.createdAt) | date("%H:%I:%S") }}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}

    {% block page_specific_plugins %}
        <script>
            $("#createdAt").on("dblclick", function () {
                $input = $("<input />").val($(this).text()).css({
                    'width': 'auto',
                });
                $cell = $(this);

                var data = {
                    'id': $(this).data('id'),
                };

                $input.keypress(function (e) {
                    data.newDate = $(this).val();
                    var newPrice;
                    var cell = $(this);
                    if (e.which == 13) {
                        $.ajax({
                            url: "/admin/order/updateAjax",
                            type: "POST",
                            cell: cell,
                            data: data,
                            success: function (response) {
                                if (response.status) {
                                    $cell.html($input.val());
                                }
                            }
                        });
                    }
                });
                $input.click(function (event) {
                    event.stopPropagation();
                });

                $(this).html($input);
            });
            window.addEventListener('load', function () {
                var allimages = document.getElementsByTagName('img');
                for (var i = 0; i < allimages.length; i++) {
                    if (allimages[i].getAttribute('data-src')) {
                        allimages[i].setAttribute('src', allimages[i].getAttribute('data-src'));
                    }
                }
            }, false)
        </script>
    {% endblock %}
