{% extends "RestaurantBundle::layout.html.twig" %}


{% block container %}
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <div class="md-card-toolbar">
                    <h3 class="heading_a uk-margin-bottom">
                        {% if shop is defined %}
                            <a href="{{ path('shop_edit', {'id': shop.id}) }}">{{ shop.name }}</a> |
                        {% endif %}
                        {% if category is defined %}
                            {{ 'Категория' | trans }} <a href="{{ path('category_edit', {'id': category.id}) }}">{{ category.name }}</a> |
                        {% endif %}
                        За период
                        {% if app.request.get('dateStart') is not null %}
                            c {{ app.request.get('dateStart') | date('d.m.Y') }}
                        {% endif %}
                        {% if app.request.get('dateEnd') is not null %}
                            по {{ app.request.get('dateEnd') | date('d.m.Y') }}
                        {% endif %}
                    </h3>
                </div>
                <div class="md-card-content">
                    <table class="uk-table uk-table-stripped">
                        <thead>
                        <tr>
                            <th>{{ 'Блюдо' | trans }}</th>
                            <th>{{ 'Цена' | trans }}</th>
                            <th>{{ 'Количество' | trans }}</th>
                            <th>{{ 'Сумма' | trans }}</th>
                            <th>%</th>
                            <th>{{ 'Скидка' | trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for id, dish in dishes %}
                            <tr>
                                <td>
                                    <a href="{{ path("dish_edit", {'id' : id}) }}">{{ dish.name }}</a>
                                </td>
                                <td>{{ dish.price }}</td>
                                <td>{{ dish.quantity }}</td>
                                <td>{{ dish.sum }}</td>
                                <td>{{ (dish.sum /  total.sum * 100) | round(2) }}%</td>
                                <td>{{ dish.discount }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>{{ total.quantity }}</td>
                            <td>{{ total.sum }}</td>
                            <td>100%</td>
                            <td>{{ total.discount }}</td>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

    {% block page_specific_plugins %}

        <!-- datatables -->
        <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
        <!-- datatables colVis-->
        <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
        <!-- datatables tableTools-->
        <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
        <!-- datatables custom integration -->
        <script src="/assets/js/custom/datatables_uikit.min.js"></script>

        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/data.js"></script>
        <script src="https://code.highcharts.com/modules/drilldown.js"></script>

        <script>
            $.fn.dataTable.Api.register('sum()', function () {
                return this.flatten().reduce(function (a, b) {
                    if (typeof a === 'string') {
                        a = a.replace(/[^\d.-]/g, '') * 1;
                    }
                    if (typeof b === 'string') {
                        b = b.replace(/[^\d.-]/g, '') * 1;
                    }
                    return a + b;
                }, 0);
            });
        </script>




        <script>
            $("table").DataTable({});
        </script>

    {% endblock %}