{% extends "RestaurantBundle::layout.html.twig" %}

{% form_theme seacrh_form '@Restaurant/Form/Fields.twig' %}

{% block container %}
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <h3 class="heading_a uk-margin-bottom">{{ 'Поиск' | trans }}</h3>
                {{ form_start(seacrh_form) }}
                <div class="uk-grid">
                    <div class="uk-width-large-1-4 uk-width-1-2">
                        <div class="uk-input-group">
                            {{ form_widget(seacrh_form.id) }}
                        </div>
                    </div>
                    <div class="uk-width-large-1-4 uk-width-1-2">
                        <div class="uk-input-group">
                            {{ form_widget(seacrh_form.datestart) }}
                        </div>
                    </div>
                    <div class="uk-width-large-1-4 uk-width-1-2">
                        <div class="uk-input-group">
                            {{ form_widget(seacrh_form.dateend) }}
                        </div>
                    </div>
                    <div class="uk-width-large-1-4 uk-width-1-2">
                        <div class="uk-input-group">
                            {{ form_widget(seacrh_form.shop) }}
                        </div>
                    </div>
                    <div class="uk-width-large-1-4 uk-width-1-2">
                        <div class="uk-input-group">
                            {{ form_widget(seacrh_form.submit) }}
                        </div>
                    </div>
                </div>
                {{ form_end(seacrh_form) }}
            </div>
        </div>
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid">
                    <div class="uk-width-1-2">
                        <h3 class="heading_a uk-margin-bottom">{{ 'Счета' | trans }}</h3>
                        <table class="uk-table uk-table-striped">
                            <thead>
                            <tr>
                                <th>{{ 'Заказ' | trans }}</th>
                                <th>{{ 'Заведение' | trans }}</th>
                                <th>{{ 'Дата' | trans }}</th>
                                <th>{{ 'Официант' | trans }}</th>
                                <th>{{ 'Сумма' | trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%- for order in orders -%}
                                <tr>
                                    <td>
                                        <a href="{{ path('admin_order_show', {'id' : order.id } ) }}">
                                            {{ 'Счет №' | trans }}{{ order.localId }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('shop_edit', {'id' : order.shop.id } ) }}">
                                            {{ order.shop.name }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ order.createdAt | date('d.m.Y H:i') }}
                                    </td>
                                    <td>
                                        <a href="{{ path('fos_user_profile_edit', {'id' : order.user.id } ) }}">
                                            {{ order.user.name }}
                                        </a>
                                    </td>
                                    <td>{{ order.cashSum | price }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="uk-width-1-2">
                        <h3 class="heading_a uk-margin-bottom">{{ 'Изменения' | trans }}</h3>
                        <table class="uk-table uk-table-striped">
                            <thead>
                            <tr>
                                <th>{{ 'Счет' | trans }}</th>
                                <th>{{ 'Заведение' | trans }}</th>
                                <th>{{ 'Блюдо' | trans }}</th>
                                <th>{{ 'Количество' | trans }}</th>
                                <th>{{ 'Дата' | trans }}</th>
                                <th>{{ 'Официант' | trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for change in changes %}
                                <tr>
                                    <td>
                                        <a href="{{ path('admin_order_show', {'id' : change.orderDish.order.id}) }}">
                                            {{ change.orderDish.order.id }}
                                            ({{ change.orderDish.order.localId }})
                                        </a>
                                    </td>
                                    <td>{{ change.orderDish.order.shop.name }}</td>
                                    <td>{{ change.orderDish.dish.name }}</td>
                                    <td>{{ change.difference }}</td>
                                    <td>{{ change.datetime | date("d.m.Y H:i") }}</td>
                                    <td>{{ change.orderDish.order.user.name }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="6">{{ 'Удаления' }}</td>
                            </tr>
                            {% for deletion in deletions %}
                                <tr>
                                    <td>
                                        <a href="{{ path('admin_order_show', {'id' : deletion.parentOrder.id }) }}">
                                            {{ deletion.parentOrder.id }}
                                            ({{ deletion.parentOrder.localId }})
                                        </a>
                                    </td>
                                    <td>{{ deletion.parentOrder.shop.name }}</td>
                                    <td>{{ deletion.dish.name }}</td>
                                    <td>{{ deletion.quantity }}</td>
                                    <td>{{ deletion.parentOrder.createdAt | date("d.m.Y H:i") }}</td>
                                    <td>{{ deletion.parentOrder.user.name }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_specific_plugins %}

    <!-- datatables -->
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <!-- datatables colVis-->
    <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <!-- datatables tableTools-->
    <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <!-- datatables custom integration -->
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>

    <style>
        td {
            text-align: center;
        }
    </style>

    <script>
        $("table").DataTable({
            "pageLenght": 20,
        });
    </script>


{% endblock %}