{% extends "RestaurantBundle::layout.html.twig" %}


{% block container %}
    <style>
        .summary_col {
            background: #eee;
        }
    </style>
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <div class="md-card-toolbar">
                    <div class="md-card-toolbar-actions" style="width:33%;padding: 0;margin-top: -5px;">
                        <div class="uk-grid">
                            <div class="uk-width-large-1-3 uk-width-medium-1-1">
                                <div class="uk-input-group">
                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                    <label for="uk_dp_start">{{ 'С даты' | trans }}</label>
                                    <input class="md-input" type="text" id="dateStart" value="{{ dateStart | date("d.m.Y") }}" data-uk-datepicker="{ format:'DD.MM.YYYY'}">
                                </div>
                            </div>
                            <div class="uk-width-large-1-3 uk-width-medium-1-1">
                                <div class="uk-input-group">
                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                    <label for="uk_dp_end">{{ 'По дату' | trans }}</label>
                                    <input class="md-input" type="text" id="dateEnd" value="{{ dateEnd | date("d.m.Y") }}" data-uk-datepicker="{format:'DD.MM.YYYY'}">
                                </div>
                            </div>
                            <div class="uk-width-large-1-3 uk-width-medium-1-1">
                                <button class="md-btn md-btn-primary md-btn-block md-btn-large" id="dateSearch">Поиск</button>
                            </div>
                        </div>
                    </div>
                    <h3 class="heading_a uk-margin-bottom">
                        <a href="{{ path("stat_summary", {'dateStart' : dateStart, 'dateEnd' : dateEnd}) }}">{{ 'Суммарная статистика' | trans }}</a> |
                        {% if shop is defined %}
                            {#<a href="{{ path('shop_edit', {'id': shop.id}) }}">{{ shop.name }}</a> |#}
                            {{ shop.name }} |
                        {% endif %}
                        {{ 'По часам' |trans }}
                        {% if dateStart is not null %}
                            c {{ dateStart | date("d.m.Y") }}
                        {% endif %}
                        {% if dateEnd is not null %}
                            по {{ dateEnd | date("d.m.Y") }}
                        {% endif %}
                    </h3>


                </div>
                <div class="md-card-content">
                    <button id="escalate" class="md-btn md-btn-primary">{{ 'С нарастающим итогом' | trans }}</button>
                    <div id="visitorsTableEscalated" style="display: none;">
                        <table class="uk-table uk-table-stripped">
                            <thead>
                            <tr>
                                <th>{{ 'Дата' | trans }}</th>
                                {% for hour in range(0,23) %}
                                    <th class="col_summ">
                                        {{ hour }}-{{ hour + 1 }}
                                    </th>
                                {% endfor %}
                                <th>{{ 'Итого' | trans }}</th>
                                <th>{{ 'Скидок' | trans }}</th>
                                <th>%</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for date, date_data in resByHourArray %}
                                <tr data-date="{{ date }}">
                                    <td>{{ date }}</td>
                                    {% set row_sum = 0 %}
                                    {% set row_discount = 0 %}
                                    {% for hourData in date_data.data %}
                                        {% set row_sum = row_sum + hourData.sum %}
                                        {% set row_discount = row_discount + hourData.discount %}
                                        <td class="orders_summ" data-sum="{{ hourData.sum }}" data-discount="{{ hourData.discount }}" data-orders="{{ hourData.sum }}">{{ row_sum | price }}</td>
                                    {% endfor %}
                                    <td>{{ row_sum | price }}</td>
                                    <td>{{ row_discount | price }}</td>
                                    <td>{{ (row_sum * 100 / totalSum) | round(2) }}%</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>{{ 'Дата' | trans }}</th>
                                {% for hour in range(0,23) %}
                                    <th class="col_summ"></th>
                                {% endfor %}
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div id="visitorsTable">
                        <table class="uk-table uk-table-stripped">
                            <thead>
                            <tr>
                                <th>{{ 'Дата' | trans }}</th>
                                {% for hour in range(0,23) %}
                                    <th class="col_summ">
                                        {{ hour }}-{{ hour + 1 }}
                                    </th>
                                {% endfor %}
                                <th>{{ 'Итого' | trans }}</th>
                                <th>{{ 'Скидок' | trans }}</th>
                                <th>%</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for date, date_data in resByHourArray %}
                                <tr data-date="{{ date }}">
                                    <td>{{ date }}</td>
                                    {% set row_sum = 0 %}
                                    {% set row_discount = 0 %}
                                    {% for hourData in date_data.data %}
                                        <td class="orders_summ" data-sum="{{ hourData.sum }}" data-discount="{{ hourData.discount }}" data-orders="{{ hourData.sum }}">{{ hourData.sum | price }}</td>
                                        {% set row_sum = row_sum + hourData.sum %}
                                        {% set row_discount = row_discount + hourData.discount %}
                                    {% endfor %}
                                    <td>{{ row_sum | price }}</td>
                                    <td>{{ row_discount | price }}</td>
                                    <td>{{ (row_sum * 100 / totalSum) | round(2) }}%</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>{{ 'Дата' | trans }}</th>
                                {% for hour in range(0,23) %}
                                    <th class="col_summ"></th>
                                {% endfor %}
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div id="visitorsTableEscalatedPercent" style="display: none;">
                        <table class="uk-table uk-table-stripped">
                            <thead>
                            <tr>
                                <th>{{ 'Дата' | trans }}</th>
                                {% for hour in range(0,23) %}
                                    <th class="col_summ">
                                        {{ hour }}-{{ hour + 1 }}
                                    </th>
                                {% endfor %}
                                <th>{{ 'Итого' | trans }}</th>
                                <th>{{ 'Скидок' | trans }}</th>
                                <th>%</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for date, date_data in resByHourArray %}
                                <tr data-date="{{ date }}">
                                    <td>{{ date }}</td>
                                    {% set row_sum = 0 %}
                                    {% set row_discount = 0 %}
                                    {% for hourData in date_data.data %}
                                        {% set row_sum = row_sum + hourData.sum %}
                                        {% set row_discount = row_discount + hourData.discount %}
                                        <td class="orders_summ" data-sum="{{ hourData.sum }}" data-discount="{{ hourData.discount }}" data-orders="{{ hourData.sum }}"{#{{ row_sum | price }}#}></td>
                                    {% endfor %}
                                    <td>{{ row_sum | price }}</td>
                                    <td>{{ row_discount | price }}</td>
                                    <td>{{ (row_sum * 100 / totalSum) | round(2) }}%</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>{{ 'Дата' | trans }}</th>
                                {% for hour in range(0,23) %}
                                    <th class="col_summ"></th>
                                {% endfor %}
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div id="visitorsTablePercent">
                        <table class="uk-table uk-table-stripped">
                            <thead>
                            <tr>
                                <th>{{ 'Дата' | trans }}</th>
                                {% for hour in range(0,23) %}
                                    <th class="col_summ">
                                        {{ hour }}-{{ hour + 1 }}
                                    </th>
                                {% endfor %}
                                <th>{{ 'Итого' | trans }}</th>
                                <th>{{ 'Скидок' | trans }}</th>
                                <th>%</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for date, date_data in resByHourArray %}
                                <tr data-date="{{ date }}">
                                    <td>{{ date }}</td>
                                    {% set row_sum = 0 %}
                                    {% set row_discount = 0 %}
                                    {% for hourData in date_data.data %}
                                        <td class="orders_summ" data-sum="{{ hourData.sum }}" data-discount="{{ hourData.discount }}" data-orders="{{ hourData.sum }}">{{ hourData.sum | price }}</td>
                                        {% set row_sum = row_sum + hourData.sum %}
                                        {% set row_discount = row_discount + hourData.discount %}
                                    {% endfor %}
                                    <td>{{ row_sum | price }}</td>
                                    <td>{{ row_discount | price }}</td>
                                    <td>{{ (row_sum * 100 / totalSum) | round(2) }}%</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>{{ 'Дата' | trans }}</th>
                                {% for hour in range(0,23) %}
                                    <th class="col_summ"></th>
                                {% endfor %}
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div id="visitorsChart"></div>
                </div>
            </div>
        </div>
        <div class="md-card">
            <div class="md-card-content">
                <h3 class="heading_a uk-margin-bottom">
                    {% if shop is defined %}
                        <a href="{{ path('shop_edit', {'id': shop.id}) }}">{{ shop.name }}</a> |
                    {% endif %}
                    {{ 'По категориям' | trans }}
                    {% if dateStart is not null %}
                        c {{ dateStart | date("d.m.Y") }}
                    {% endif %}
                    {% if dateEnd is not null %}
                        по {{ dateEnd | date("d.m.Y") }}
                    {% endif %}
                </h3>
                <table class="uk-table uk-table-stripped" id="shopByCat">
                    <thead>
                    <tr>
                        <th>{{ 'Дата' | trans }}</th>
                        {% for cat in cats['БАР'] %}
                            <th class="col_summ rotate group_bar" style="display: none;">
                                {{ cat }}
                            </th>
                        {% endfor %}
                        <th class="summary_col">{{ 'Итого БАР' | trans }}</th>
                        <th class="summary_col">{{ '%' | trans }}</th>
                        {% for cat in cats['КУХНЯ'] %}
                            <th class="col_summ rotate group_kitchen" style="display: none;">
                                {{ cat }}
                            </th>
                        {% endfor %}
                        <th class="summary_col">{{ 'Итого КУХНЯ' | trans }}</th>
                        <th class="summary_col">{{ '%' | trans }}</th>
                        <th>{{ 'Итого' | trans }}</th>
                        <th>{{ 'Скидок' | trans }}</th>
                        <th>%</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for date, data in resByCatArray %}
                        <tr data-name="{{ data.name }}">
                            <td>{{ data.name }}</td>

                            {% set row_sum_bar = 0 %}
                            {% set row_discount_bar = 0 %}
                            {% for catId, catData in data.data['БАР'] %}
                                <td style="display: none;" class="orders_summ group_bar" data-group="БАР" data-shop="{{ shop.name }}" data-shopName="{{ data.name }}" data-sum="{{ catData.sum }}" data-discount="{{ catData.discount }}" data-cat="{{ catData.name }}">
                                    <a href="{{ path("stat_summary_by_cat", { 'shop' : shop.id, 'category' : catId,'dateStart' : data.name }) }}" target="_blank">{{ catData.sum | price }}</a>
                                </td>
                                {% set row_sum_bar = row_sum_bar + catData.sum %}
                                {% set row_discount_bar = row_discount_bar + catData.discount %}
                            {% endfor %}
                            <td onclick="$('.group_bar').toggle()" class="summary_col">{{ row_sum_bar | price }}</td>
                            <td onclick="$('.group_bar').toggle()" class="summary_col">{{ (row_sum_bar * 100 / totalSum)| round(2) }}%</td>

                            {% set row_sum_kitchen = 0 %}
                            {% set row_discount_kitchen = 0 %}
                            {% for catId, catData in data.data['КУХНЯ'] %}
                                <td style="display: none;" class="orders_summ group_kitchen" data-group="КУХНЯ" data-shop="{{ shop.name }}" data-shopName="{{ data.name }}" data-sum="{{ catData.sum }}" data-discount="{{ catData.discount }}" data-cat="{{ catData.name }}">
                                    <a href="{{ path("stat_summary_by_cat", { 'shop' :shop.id, 'category' : catId, 'dateStart' : data.name }) }}" target="_blank">{{ catData.sum | price }}</a>
                                </td>
                                {% set row_sum_kitchen = row_sum_kitchen + catData.sum %}
                                {% set row_discount_kitchen = row_discount_kitchen + catData.discount %}
                            {% endfor %}
                            <td onclick="$('.group_kitchen').toggle()" class="summary_col">{{ row_sum_kitchen | price }}</td>
                            <td onclick="$('.group_kitchen').toggle()" class="summary_col">{{ (row_sum_kitchen *100 / totalSum)| round(2) }}%</td>

                            <td>{{ row_sum_bar + row_sum_kitchen }}</td>
                            <td>{{ row_discount_bar + row_discount_kitchen }}</td>

                            <td class="summary" data-id="{{ shop.name }}" data-name="{{ data.name }}" data-value="{{ row_sum_bar + row_sum_kitchen }}" data-valuepercent="{{ ((row_sum_bar + row_sum_kitchen) * 100 / totalSum) | round(2) }}">{{ ((row_sum_bar + row_sum_kitchen) * 100 / totalSum) | round(2) }}%</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>{{ 'Дата' | trans }}</th>
                        {% for cat in cats['БАР'] %}
                            <th class="col_summ rotate group_bar" style="display: none;">
                                {{ cat }}
                            </th>
                        {% endfor %}
                        <th class="summary_col">{{ 'Итого БАР' | trans }}</th>
                        <th class="summary_col">{{ '%' | trans }}</th>
                        {% for cat in cats['КУХНЯ'] %}
                            <th class="col_summ rotate group_kitchen" style="display: none;">
                                {{ cat }}
                            </th>
                        {% endfor %}
                        <th class="summary_col">{{ 'Итого КУХНЯ' | trans }}</th>
                        <th class="summary_col">{{ '%' | trans }}</th>
                        <th>{{ 'Итого' | trans }}</th>
                        <th>{{ 'Скидок' | trans }}</th>
                        <th>%</th>
                    </tr>
                    </tfoot>
                </table>
                <div id="shopChart" style="min-width: 310px; max-width: 1200px; height: 900px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
{% endblock %}

    {% block page_specific_plugins %}

        <!-- datatables -->
        <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
        <!-- datatables colVis-->
        <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
        <!-- datatables tableTools-->
        <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
        <!-- datatables custom integration -->
        <script src="/assets/js/custom/datatables_uikit.min.js"></script>

        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/data.js"></script>
        <script src="https://code.highcharts.com/modules/drilldown.js"></script>

        <script>
            $.fn.dataTable.Api.register('sum()', function () {
                return this.flatten().reduce(function (a, b) {
                    if (typeof a === 'string') {
                        a = a.replace(/[^\d.-]/g, '') * 1;
                    }
                    if (typeof b === 'string') {
                        b = b.replace(/[^\d.-]/g, '') * 1;
                    }

                    return a + b;
                }, 0);
            });

            Number.prototype.formatMoney = function (c, d, t) {
                var n = this,
                        c = isNaN(c = Math.abs(c)) ? 2 : c,
                        d = d == undefined ? "." : d,
                        t = t == undefined ? "," : t,
                        s = n < 0 ? "-" : "",
                        i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "",
                        j = (j = i.length) > 3 ? j % 3 : 0;
                return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
            };
        </script>

        <script>
            $(document).on('click', "#dateSearch", function () {
                //http://venezia.new/admin/order/list/summary/25.04.1991/27.04.2016
                var route = "{{ path("stat_by_shop", {'shop' : shop.id}) }}";
                var dateStart = $("#dateStart").val();
                var dateEnd = $("#dateEnd").val();
                if (dateStart != "") route += ("/" + dateStart);
                if (dateEnd != "") route += ("/" + dateEnd);
                window.location = route;
            });

            $(document).on('click', "#escalate", function () {
                $(this).text(function (i, text) {
                    return text === "{{ 'С нарастающим итогом' | trans }}" ? "{{ 'По часам' | trans }}" : "{{ 'С нарастающим итогом' | trans }}";
                });
                $("#visitorsTableEscalated").toggle();
                $("#visitorsTable").toggle();
            });
        </script>

        <script>
            var total_summ = {{ totalSum }};
            $("table").DataTable({
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        var int_val = 0;
                        if (typeof i === 'string') {
                            if (i.length > 12) {
                                int_val = parseFloat($(i).text().replace(/[\$\s,%]/g, ''));
                            } else {
                                int_val = parseFloat(i.replace(/[\$,%\s]/g, ''));
                            }
                        } else if (typeof i === 'number') {
                            int_val = i;
                        }
                        return int_val;
                    };

                    var length = data[0].length;
                    for (var i = 1; i < length; i++) {
                        var total_col = api
                                .column(i, {page: 'current'})
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                        $(api.column(i).footer()).html(total_col.formatMoney(2, '.', ' '));
                    }
                }
            });
        </script>

        <script>
            var hours = [];
            var hourlyData = [];
            for (i = 0; i < 24; i++) {
                var h = i + ":00";
                hours.push(h)
            }
            $("#visitorsTable tbody tr").each(function () {
                var row = $(this).data();
                var data = [];
                $(this).find(".orders_summ").each(function () {
                    var localData = $(this).data();
                    data.push(
                            {
                                y: localData.sum,
                            }
                    );
                });
                hourlyData.push({
                    name: row.date,
                    data: data,
                });
            });

            $(function () {
                $('#visitorsChart').highcharts({
                    chart: {
                        type: 'spline'
                    },
                    title: {
                        text: '{{ "Выручка по часам" | trans }}',
                        x: -20 //center
                    },
                    subtitle: {
                        /*text: 'Source: WorldClimate.com',
                         x: -20*/
                    },
                    xAxis: {
                        categories: hours
                    },
                    yAxis: {
                        title: {
                            text: '{{ "Выручка" | trans }}'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    /*tooltip: {
                     valueSuffix: '°C'
                     },*/
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: hourlyData
                });
            });
        </script>

        <script>
            var shopByCatData = [];
            var shopDetailed = [];
            $("#shopByCat tbody tr").each(function () {
                var rowData = $(this).find(".summary").data();
                var row = {
                    name: rowData.name,
                    value: rowData.value,
                    y: rowData.valuepercent,
                    drilldown: rowData.id
                };
                shopByCatData.push(row);
                var shopDetailedData = [];
                $(this).find(".orders_summ").each(function () {
                    var localData = $(this).data();
                    if (localData.sum > 0) {

                        shopDetailedData.push(
                                {
                                    name: localData.cat,
                                    y: localData.sum,
                                    value: localData.sum
                                }
                        );
                    }
                });
                var rowDetailed = {
                    name: rowData.name,
                    id: rowData.id,
                    data: shopDetailedData
                };
                shopDetailed.push(rowDetailed);
            });

            var defaultTitle = "{{ "Распределение выручки" | trans }}";
            var drilldownTitle = "{{ "Выручка по категориям в " | trans }}";

            $('#shopChart').highcharts({
                chart: {
                    type: 'pie',
                    events: {
                        drilldown: function (e) {
                            this.setTitle({text: drilldownTitle + " " + e.point.name});
                        }
                        ,
                        drillup: function (e) {
                            this.setTitle({text: defaultTitle});
                        }
                    }
                },
                title: {
                    text: defaultTitle,
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                            format: '{point.name}: {point.value} ({point.percentage:.1f}%)'
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.value}</b> ({point.percentage:.2f}% of total)<br/>'
                },
                series: [{
                    colorByPoint: true,
                    data: shopByCatData
                }],
                drilldown: {
                    series: shopDetailed
                }
            });
        </script>




    {% endblock %}