{% extends "RestaurantBundle::layout.html.twig" %}


{% block container %}
    <style>
        .summary_col {
            background: #eee;
        }
    </style>
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <div class="md-card-toolbar">
                    <div class="md-card-toolbar-actions" style="width:33%;padding: 0;margin-top: -5px;">
                        <div class="uk-grid">
                            <div class="uk-width-large-1-3 uk-width-medium-1-1">
                                <div class="uk-input-group">
                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                    <label for="uk_dp_start">С даты</label>
                                    <input class="md-input" type="text" id="dateStart" value="{{ dateStart| date("d.m.Y") }}" data-uk-datepicker="{format:'DD.MM.YYYY'}">
                                </div>
                            </div>
                            <div class="uk-width-large-1-3 uk-width-medium-1-1">
                                <div class="uk-input-group">
                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                    <label for="uk_dp_end">По дату</label>
                                    <input class="md-input" type="text" id="dateEnd" value="{{ dateEnd | date("d.m.Y") }}" data-uk-datepicker="{format:'DD.MM.YYYY'}">
                                </div>
                            </div>
                            <div class="uk-width-large-1-3 uk-width-medium-1-1">
                                <button class="md-btn md-btn-primary md-btn-block md-btn-large" id="dateSearch">Поиск</button>
                            </div>
                        </div>
                    </div>
                    <h3 class="heading_a uk-margin-bottom">
                        {% if shop is defined and shop is not null %}
                            <a href="{{ path('shop_edit', {'id': shop.id}) }}">{{ shop.name }}</a> |
                        {% endif %}
                        {% if category is defined %}
                            {#{{ 'Категория' | trans }} <a href="{{ path('category_edit', {'id': category.id}) }}">{{ category.name }}</a> |#}
                        {% endif %}
                        За период
                        {% if dateStart is not null %}
                            c {{ dateStart | date('d.m.Y') }}
                        {% endif %}
                        {% if dateEnd is not null %}
                            по {{ dateEnd | date('d.m.Y') }}
                        {% endif %}
                    </h3>
                </div>
                <div class="md-card-content">
                    <table class="uk-table uk-table-stripped" id="dish_quantity">
                        <thead>
                        <tr>
                            <th>{{ 'Блюдо' | trans }}</th>
                            <th>{{ 'Цена' | trans }}</th>
                            <th>{{ 'Количество' | trans }}</th>
                            <th>{{ 'Сумма' | trans }}</th>
                            <th>%</th>
                            <th>{{ 'Скидка' | trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for id, dish in dishes %}
                            <tr>
                                <td>
                                    <a href="{{ path("dish_edit", {'id' : id}) }}">{{ dish.name }}</a>
                                </td>
                                <td>{{ dish.price | price }}</td>
                                <td>{{ dish.quantity }}</td>
                                <td>{{ dish.sum | price }}</td>
                                <td>{{ (dish.sum /  total.sum * 100) | round(2) }}%</td>
                                <td>{{ dish.discount | price }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>{{ total.quantity }}</td>
                            <td>{{ total.sum }}</td>
                            <td>100%</td>
                            <td>{{ total.discount }}</td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="md-card">
            <div class="md-card-content">
                <div class="md-card-toolbar">
                    <div class="md-card-toolbar-actions" style="width:33%;padding: 0;margin-top: -5px;">

                    </div>
                    <h3 class="heading_a uk-margin-bottom">
                        {% for shop in shops %}
                            {{ shop.name }} |
                        {% endfor %}
                        {{ 'По часам' |trans }}
                        {% if dateStart is not null %}
                            c {{ dateStart | date("d.m.Y") }}
                        {% endif %}
                        {% if dateEnd is not null %}
                            по {{ dateEnd| date("d.m.Y") }}
                        {% endif %}
                    </h3>
                </div>
                <div class="md-card-content">
                    <button id="escalate" class="md-btn md-btn-primary">{{ 'С нарастающим итогом' | trans }}</button>
                    <div id="visitorsTableEscalated" style="display: none;">
                        <table class="uk-table uk-table-stripped">
                            <thead>
                            <tr>
                                <th>{{ 'Заведение' | trans }}</th>
                                {% for hour in range(0,23) %}
                                    <th class="col_summ rotate">{{ hour }}-{{ hour + 1 }}</th>
                                {% endfor %}
                                <th>{{ 'Итого' | trans }}</th>
                                <th>{{ 'Скидок' | trans }}</th>
                                <th>%</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for id, shop in resByHourArray %}
                                <tr data-name="{{ shop.name }}">
                                    <td>
                                        <a href="{{ path("stat_by_shop", { 'shop' : id, 'dateStart' : dateStart, 'dateEnd' : dateEnd } ) }}">{{ shop.name }}</a>
                                    </td>
                                    {% set row_sum = 0 %}
                                    {% set row_discount = 0 %}

                                    {% for hourData in shop.data %}
                                        {% set row_sum = row_sum + hourData.sum %}
                                        {% set row_discount = row_discount + hourData.discount %}
                                        <td class="orders_summ" data-sum="{{ hourData.sum }}" data-orders="{{ hourData.sum }}">{{ row_sum | price }}</td>

                                    {% endfor %}
                                    <td>{{ row_sum | price }}</td>
                                    <td>{{ row_discount | price }}</td>
                                    <td>{{ (row_sum * 100 / totalSum) | round(2) }}%</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>{{ 'Заведение' | trans }}</th>
                                {% for hour in range(0,23) %}
                                    <th class="col_summ"></th>
                                {% endfor %}
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div id="visitorsTable">
                        <table class="uk-table uk-table-stripped">
                            <thead>
                            <tr>
                                <th>{{ 'Заведение' | trans }}</th>
                                {% for hour in range(0,23) %}
                                    <th class="col_summ rotate">{{ hour }}-{{ hour + 1 }}</th>
                                {% endfor %}
                                <th>{{ 'Итого' | trans }}</th>
                                <th>{{ 'Скидок' | trans }}</th>
                                <th>%</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for id, shop in resByHourArray %}
                                <tr data-name="{{ shop.name }}">
                                    <td>
                                        <a href="{{ path("stat_by_shop", { 'shop' : id, 'dateStart' : dateStart, 'dateEnd' : dateEnd } ) }}">{{ shop.name }}</a>
                                    </td>
                                    {% set row_sum = 0 %}
                                    {% set row_discount = 0 %}

                                    {% for hourData in shop.data %}
                                        <td class="orders_summ" data-sum="{{ hourData.sum }}" data-orders="{{ hourData.sum }}">{{ hourData.quantity | price }}</td>
                                        {% set row_sum = row_sum + hourData.quantity %}
                                        {% set row_discount = row_discount + hourData.discount %}
                                    {% endfor %}
                                    <td>{{ row_sum | price }}</td>
                                    <td>{{ row_discount | price }}</td>
                                    <td>{{ (row_sum * 100 / totalSum) | round(2) }}%</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>{{ 'Заведение' | trans }}</th>
                                {% for hour in range(0,23) %}
                                    <th class="col_summ"></th>
                                {% endfor %}
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>

                    </div>
                    <div id="visitorsChart"></div>

{#
                    <div id="quantityTable">
                        <table class="uk-table uk-table-stripped">
                            <thead>
                            <tr>
                                <th>{{ 'Заведение' | trans }}</th>
                                {% for hour in range(0,23) %}
                                    <th class="col_summ rotate">{{ hour }}-{{ hour + 1 }}</th>
                                {% endfor %}
                                <th>{{ 'Итого' | trans }}</th>
                                <th>{{ 'Скидок' | trans }}</th>
                                <th>%</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for id, shop in resByHourArray %}
                                <tr data-name="{{ shop.name }}">
                                    <td>
                                        <a href="{{ path("stat_by_shop", { 'shop' : id, 'dateStart' : dateStart, 'dateEnd' : dateEnd } ) }}">{{ shop.name }}</a>
                                    </td>
                                    {% set row_sum = 0 %}
                                    {% set row_discount = 0 %}

                                    {% for hourData in shop.data %}
                                        <td class="quantity_summ" data-sum="{{ hourData.quantity }}" data-orders="{{ hourData.sum }}">{{ hourData.quantity | price }}</td>
                                        {% set row_sum = row_sum + hourData.quantity %}
                                        {% set row_discount = row_discount + hourData.discount %}
                                    {% endfor %}
                                    <td>{{ row_sum | price }}</td>
                                    <td>{{ row_discount | price }}</td>
                                    <td>{{ (row_sum * 100 / totalSum) | round(2) }}%</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>{{ 'Заведение' | trans }}</th>
                                {% for hour in range(0,23) %}
                                    <th class="col_summ"></th>
                                {% endfor %}
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div id="quantityChart"></div>
                </div>
                #}
            </div>
        </div>
    </div>
{% endblock %}

{% block page_specific_plugins %}

    <!-- datatables -->
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <!-- datatables colVis-->
    <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <!-- datatables tableTools-->
    <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <!-- datatables custom integration -->
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>
    <script src="{{ asset('js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('js/jszip.min.js') }}"></script>
    <script src="{{ asset('js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('js/buttons.print.min.js') }}"></script>

    <script src="{{ asset('assets/js/highcharts.js') }}"></script>
    <script src="{{ asset('assets/js/highchartsmodules/data.js') }}"></script>
    <script src="{{ asset('assets/js/highchartsmodules/drilldown.js') }}"></script>

    <script>
        $.fn.dataTable.Api.register('sum()', function () {
            return this.flatten().reduce(function (a, b) {
                if (typeof a === 'string') {
                    a = a.replace(/[^\d.-]/g, '') * 1;
                }
                if (typeof b === 'string') {
                    b = b.replace(/[^\d.-]/g, '') * 1;
                }

                return a + b;
            }, 0);
        });
    </script>

    <script>
        $(document).on('click', "#dateSearch", function () {
            //http://venezia.new/admin/order/list/summary/25.04.1991/27.04.2016
            var route = "{{ path("stat_summary_by_cat", {'shop' : app.request.get('shop'), 'category': app.request.get('category') }) }}";
            var dateStart = $("#dateStart").val();
            var dateEnd = $("#dateEnd").val();
            if (dateStart != "") route += ("/" + dateStart);
            if (dateEnd != "") route += ("/" + dateEnd);
            window.location = route;
        });

        $(document).on('click', "#escalate", function () {
            $(this).text(function (i, text) {
                return text === "{{ 'С нарастающим итогом' | trans }}" ? "{{ 'По часам' | trans }}" : "{{ 'С нарастающим итогом' | trans }}";
            });
            $("#visitorsTableEscalated").toggle();
            $("#visitorsTable").toggle();
        });

        Number.prototype.formatMoney = function (c, d, t) {
            var n = this,
                c = isNaN(c = Math.abs(c)) ? 2 : c,
                d = d == undefined ? "." : d,
                t = t == undefined ? "," : t,
                s = n < 0 ? "-" : "",
                i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "",
                j = (j = i.length) > 3 ? j % 3 : 0;
            return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
        };

    </script>

    <script>
        var total_summ = {{ totalSum }};

        $("#dish_quantity").DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });


        var tables = $("#visitorsTableEscalated table, #visitorsTable table").DataTable({
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    var int_val = 0;
                    if (typeof i === 'string') {
                        if (i.length > 12) {
                            int_val = parseFloat($(i).text().replace(/[\$\s,%]/g, ''));
                        } else {
                            int_val = parseFloat(i.replace(/[\$,%\s]/g, ''));
                        }
                    } else if (typeof i === 'number') {
                        int_val = i;
                    }
                    return int_val;
                };

                var length = data[0].length;
                for (var i = 1; i < length; i++) {
                    var total_col = api
                        .column(i, {page: 'all'})
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    $(api.column(i).footer()).html(total_col.formatMoney(2, '.', ' '));
                }
            }
        });
    </script>

    <script>
        var hours = [];
        var hourlyData = [];
        var quantityHourlyData = [];
        for (i = 0; i < 24; i++) {
            var h = i + ":00";
            hours.push(h)
        }
        $("#visitorsTable tbody tr").each(function () {
            var row = $(this).data();
            var data = [];
            $(this).find(".orders_summ").each(function () {
                var localData = $(this).data();
                data.push(
                    {
                        y: localData.sum,
                    }
                );
            });
            hourlyData.push({
                name: row.name,
                data: data,
            });
        });

        $(function () {
            $('#visitorsChart').highcharts({
                chart: {
                    type: 'spline'
                },
                title: {
                    text: '{{ "Выручка по часам" | trans }}',
                    //x: -20 //center
                },
                subtitle: {
                    /*text: 'Source: WorldClimate.com',
                     x: -20*/
                },
                xAxis: {
                    categories: hours
                },
                yAxis: {
                    title: {
                        text: '{{ "Выручка" | trans }}'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                /*tooltip: {
                 valueSuffix: '°C'
                 },*/
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: hourlyData
            });
        });


        $("#quantityTable tbody tr").each(function () {
            var row = $(this).data();
            var data = [];
            $(this).find(".quantity_summ").each(function () {
                var localData = $(this).data();
                data.push(
                    {
                        y: localData.sum,
                    }
                );
            });
            quantityHourlyData.push({
                name: row.name,
                data: data,
            });
        });

        $(function () {
            $('#quantityChart').highcharts({
                chart: {
                    type: 'spline'
                },
                title: {
                    text: '{{ "Блюда по часам" | trans }}',
                    //x: -20 //center
                },
                subtitle: {
                    /*text: 'Source: WorldClimate.com',
                     x: -20*/
                },
                xAxis: {
                    categories: hours
                },
                yAxis: {
                    title: {
                        text: '{{ "Выручка" | trans }}'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                /*tooltip: {
                 valueSuffix: '°C'
                 },*/
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: quantityHourlyData
            });
        });
    </script>
{% endblock %}