{% extends "RestaurantBundle::layout.html.twig" %}


{% block container %}
    <style>
        .summary_col {
            background: #eee;
        }

        #escalate {
            width: 230px;
        }
    </style>
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <div class="md-card-toolbar">
                    <div class="md-card-toolbar-actions" style="width:33%;padding: 0;margin-top: -5px;">
                        <div class="uk-grid">
                            <div class="uk-width-large-1-3 uk-width-medium-1-1">
                                <div class="uk-input-group">
                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                    <label for="uk_dp_start">С даты</label>
                                    <input class="md-input" type="text" id="dateStart" value="{{ app.request.get('dateStart')| date("d.m.Y") }}" data-uk-datepicker="{format:'DD.MM.YYYY'}">
                                </div>
                            </div>
                            <div class="uk-width-large-1-3 uk-width-medium-1-1">
                                <div class="uk-input-group">
                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                    <label for="uk_dp_end">По дату</label>
                                    <input class="md-input" type="text" id="dateEnd" value="{{ app.request.get('dateEnd') | date("d.m.Y") }}" data-uk-datepicker="{format:'DD.MM.YYYY'}">
                                </div>
                            </div>
                            <div class="uk-width-large-1-3 uk-width-medium-1-1">
                                <button class="md-btn md-btn-primary md-btn-block md-btn-large" id="dateSearch">Поиск</button>
                            </div>
                        </div>
                    </div>
                    <h3 class="heading_a uk-margin-bottom">
                        {% if shop is defined %}
                            {{ shop.name }} |
                        {% endif %}
                        {{ 'По часам' |trans }}
                        {% if app.request.get('dateStart') is not null %}
                            c {{ app.request.get('dateStart') | date("d.m.Y") }}
                        {% endif %}
                        {% if app.request.get('dateEnd') is not null %}
                            по {{ app.request.get('dateEnd')| date("d.m.Y") }}
                        {% endif %}
                    </h3>
                </div>
                <div class="md-card-content">
                    <button id="escalate" class="md-btn md-btn-primary">{{ 'С нарастающим итогом' | trans }}</button>
                    <button id="percent" class="md-btn md-btn-primary">%</button>
                    <div id="visitorsTableEscalated" style="display: none;">
                        <table class="uk-table uk-table-stripped">
                            <thead>
                            <tr>
                                <th>{{ 'Заведение' | trans }}</th>
                                {% for hour in range(0,23) %}
                                    <th class="col_summ rotate">
                                        {{ hour }}-{{ hour+1 }}
                                    </th>
                                {% endfor %}
                                <th>{{ 'Итого' | trans }}</th>
                                <th>{{ 'Скидок' | trans }}</th>
                                <th>%</th>
                                <th>{{ 'Заведение' | trans }}</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for id, shop in resByHourArray %}
                                <tr data-name="{{ shop.name }}">
                                    <td>
                                        <a href="{{ path("stat_by_shop", { 'shop' : id, 'dateStart' : app.request.get('dateStart'), 'dateEnd' : app.request.get('dateEnd') } ) }}">{{ shop.name }}</a>
                                    </td>
                                    {% set row_sum = 0 %}
                                    {% set row_discount = 0 %}
                                    {% for hourData in shop.data %}
                                        {% set row_sum = row_sum + hourData.sum %}
                                        {% set row_discount = row_discount + hourData.discount %}
                                        <td class="orders_summ" data-sum="{{ row_sum }}" data-orders="{{ hourData.sum }}" data-percent="{{ (row_sum *100 / shop.total) | number_format(2) }}">{{ row_sum | price }}</td>
                                    {% endfor %}
                                    <td>{{ row_sum | price }}</td>
                                    <td>{{ row_discount | price }}</td>
                                    <td>{{ (row_sum * 100 / totalSum) | price }}%</td>
                                    <td>
                                        <a href="{{ path("stat_by_shop", { 'shop' : id, 'dateStart' : app.request.get('dateStart'), 'dateEnd' : app.request.get('dateEnd') } ) }}">{{ shop.name }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>{{ 'Заведение' | trans }}</th>
                                {% for hour in range(0,23) %}
                                    <th class="col_summ"></th>
                                {% endfor %}
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>{{ 'Заведение' | trans }}</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div id="visitorsTableEscalatedPercent" style="display: none;">
                        <table class="uk-table uk-table-stripped">
                            <thead>
                            <tr>
                                <th>{{ 'Заведение' | trans }}</th>
                                {% for hour in range(0,23) %}
                                    <th class="col_summ rotate">
                                        {{ hour }}-{{ hour+1 }}
                                    </th>
                                {% endfor %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <th>{{ 'Итого' | trans }}</th>

                                    <th>{{ 'Скидок' | trans }}</th>
                                {% endif %}
                                <th>%</th>
                                <th>{{ 'Заведение' | trans }}</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for id, shop in resByHourArray %}
                                <tr data-name="{{ shop.name }}">
                                    <td>
                                        <a href="{{ path("stat_by_shop", { 'shop' : id, 'dateStart' : app.request.get('dateStart'), 'dateEnd' : app.request.get('dateEnd') } ) }}">{{ shop.name }}</a>
                                    </td>
                                    {% set row_sum = 0 %}
                                    {% set row_discount = 0 %}

                                    {% for hourData in shop.data %}
                                        {% set row_sum = row_sum + hourData.sum %}
                                        {% set row_discount = row_discount + hourData.discount %}
                                        <td class="orders_summ" data-sum="{{ row_sum }}" data-orders="{{ hourData.sum }}" data-percent="{{ row_sum | price }}">{{ (row_sum *100 / shop.total) | number_format(2) }}</td>
                                    {% endfor %}

                                    {% if is_granted('ROLE_ADMIN') %}
                                        <td>{{ row_sum | price }}</td>
                                        <td>{{ row_discount | price }}</td>
                                    {% endif %}

                                    <td>{{ (row_sum * 100 / totalSum) | price }}%</td>
                                    <td>
                                        <a href="{{ path("stat_by_shop", { 'shop' : id, 'dateStart' : app.request.get('dateStart'), 'dateEnd' : app.request.get('dateEnd') } ) }}">{{ shop.name }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>{{ 'Заведение' | trans }}</th>
                                {% for hour in range(0,23) %}
                                    <th class="col_summ"></th>
                                {% endfor %}

                                {% if is_granted('ROLE_ADMIN') %}
                                    <th></th>
                                    <th></th>
                                {% endif %}

                                <th></th>
                                <th>{{ 'Заведение' | trans }}</th>

                            </tr>
                            </tfoot>
                        </table>
                    </div>


                    <div id="visitorsTable">
                        <table class="uk-table uk-table-stripped">
                            <thead>
                            <tr>
                                <th>{{ 'Заведение' | trans }}</th>
                                {% for hour in range(0,23) %}
                                    <th class="col_summ rotate">
                                        {{ hour }}-{{ hour+1 }}
                                    </th>
                                {% endfor %}
                                <th>{{ 'Итого' | trans }}</th>
                                <th>{{ 'Скидок' | trans }}</th>
                                <th>%</th>

                                <th>{{ '23-9' | trans }}</th>
                                <th>%</th>
                                <th>{{ 'Заведение' | trans }}</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for id, shop in resByHourArray %}
                                <tr data-name="{{ shop.name }}">
                                    <td>
                                        <a href="{{ path("stat_by_shop", { 'shop' : id, 'dateStart' : app.request.get('dateStart'), 'dateEnd' : app.request.get('dateEnd') } ) }}">{{ shop.name }}</a>
                                    </td>
                                    {% set row_sum = 0 %}
                                    {% set row_discount = 0 %}
                                    {% for hourData in shop.data %}
                                        <td class="orders_summ" data-sum="{{ hourData.sum }}" data-orders="{{ hourData.sum }}" data-percent="{{ (hourData.sum *100 / shop.total) | number_format(2) }}">{{ hourData.sum | price }}</td>
                                        {% set row_sum = row_sum + hourData.sum %}
                                        {% set row_discount = row_discount + hourData.discount %}
                                    {% endfor %}
                                    <td>{{ row_sum | price }}</td>
                                    <td>{{ row_discount | price }}</td>
                                    <td>{{ (row_sum * 100 / totalSum) | price }}%</td>

                                    <td>{{ shop.night | price }}</td>
                                    <td>{{ (shop.night  * 100 / shop.total) | price }}%</td>
                                    <td>
                                        <a href="{{ path("stat_by_shop", { 'shop' : id, 'dateStart' : app.request.get('dateStart'), 'dateEnd' : app.request.get('dateEnd') } ) }}">{{ shop.name }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>{{ 'Заведение' | trans }}</th>
                                {% for hour in range(0,23) %}
                                    <th class="col_summ"></th>
                                {% endfor %}
                                <th></th>
                                <th></th>
                                <th></th>

                                <th>{{ '23-9' | trans }}</th>
                                <th>%</th>
                                <th>{{ 'Заведение' | trans }}</th>

                            </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div id="visitorsTablePercent">
                        <table class="uk-table uk-table-stripped">
                            <thead>
                            <tr>
                                <th>{{ 'Заведение' | trans }}</th>
                                {% for hour in range(0,23) %}
                                    <th class="col_summ rotate">
                                        {{ hour }}-{{ hour+1 }}
                                    </th>
                                {% endfor %}

                                {% if is_granted('ROLE_ADMIN') %}
                                    <th>{{ 'Итого' | trans }}</th>
                                    <th>{{ 'Скидок' | trans }}</th>
                                {% endif %}

                                <th>%</th>

                                {% if is_granted('ROLE_ADMIN') %}
                                    <th>{{ '23-9' | trans }}</th>
                                {% endif %}

                                <th>23-9 %</th>
                                <th>{{ 'Заведение' | trans }}</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for id, shop in resByHourArray %}
                                <tr data-name="{{ shop.name }}">
                                    <td>
                                        <a href="{{ path("stat_by_shop", { 'shop' : id, 'dateStart' : app.request.get('dateStart'), 'dateEnd' : app.request.get('dateEnd') } ) }}">{{ shop.name }}</a>
                                    </td>
                                    {% set row_sum = 0 %}
                                    {% set row_discount = 0 %}
                                    {% for hourData in shop.data %}
                                        <td class="orders_summ" data-sum="{{ hourData.sum }}" data-orders="{{ hourData.sum }}" data-percent="{{ hourData.sum | price }}">{{ (hourData.sum *100 / shop.total) | number_format(2) }}</td>
                                        {% set row_sum = row_sum + hourData.sum %}
                                        {% set row_discount = row_discount + hourData.discount %}
                                    {% endfor %}

                                    {% if is_granted('ROLE_ADMIN') %}
                                        <td>{{ row_sum | price }}</td>
                                        <td>{{ row_discount | price }}</td>
                                    {% endif %}
                                    <td>{{ (row_sum * 100 / totalSum) | price }}%</td>

                                    {% if is_granted('ROLE_ADMIN') %}
                                        <td>{{ shop.night | price }}</td>
                                    {% endif %}
                                    <td>{{ (shop.night * 100 / shop.total) | price }}%</td>
                                    <td>
                                        <a href="{{ path("stat_by_shop", { 'shop' : id, 'dateStart' : app.request.get('dateStart'), 'dateEnd' : app.request.get('dateEnd') } ) }}">{{ shop.name }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>{{ 'Заведение' | trans }}</th>
                                {% for hour in range(0,23) %}
                                    <th class="col_summ"></th>
                                {% endfor %}
                                {% if is_granted('ROLE_ADMIN') %}

                                    <th></th>
                                    <th></th>
                                {% endif %}
                                <th></th>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <th>{{ '23-9' | trans }}</th>
                                {% endif %}
                                <th>%</th>
                                <th>{{ 'Заведение' | trans }}</th>

                            </tr>
                            </tfoot>
                        </table>
                    </div>


                    <div id="visitorsChart"></div>

                </div>
            </div>
        </div>
        <div class="md-card">
            <div class="md-card-content">
                <h3 class="heading_a uk-margin-bottom">
                    По категориям
                    {% if app.request.get('dateStart') is not null %}
                        c {{ app.request.get('dateStart') | date("d.m.Y") }}
                    {% endif %}
                    {% if app.request.get('dateEnd') is not null %}
                        по {{ app.request.get('dateEnd') | date("d.m.Y") }}
                    {% endif %}
                </h3>
                <table class="uk-table uk-table-stripped" id="shopByCat">
                    <thead>
                    <tr>
                        <th>{{ 'Заведение' | trans }}</th>
                        {% for cat in cats['БАР'] %}
                            {% if is_granted('ROLE_ADMIN') %}

                                <th class="col_summ rotate group_bar" style="display: none;">
                                    {{ cat }}
                                </th>
                            {% endif %}
                        {% endfor %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <th class="summary_col">{{ 'Итого БАР' | trans }}</th>
                        {% endif %}
                        <th class="summary_col">{{ 'Бар %' | trans }}</th>
                        {% for cat in cats['КУХНЯ'] %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <th class="col_summ rotate group_kitchen" style="display: none;">
                                    {{ cat }}
                                </th>
                            {% endif %}
                        {% endfor %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <th class="summary_col">{{ 'Итого КУХНЯ' | trans }}</th>
                        {% endif %}
                        <th class="summary_col">{{ ' Кухня %' | trans }}</th>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th>{{ 'Итого' | trans }}</th>
                            <th>{{ 'Скидок' | trans }}</th>
                        {% endif %}
                        <th>%</th>
                        <th>{{ 'Заведение' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for shop, data in resByCatArray %}
                        <tr data-name="{{ data.name }}">
                            <td>
                                {{ data.name }}
                            </td>
                            {% set row_sum_bar = 0 %}
                            {% set row_discount_bar = 0 %}
                            {% for catId, catData in data.data['БАР'] %}
                                {% if is_granted('ROLE_ADMIN') %}

                                    <td style="display: none;" class="orders_summ group_bar" data-group="БАР" data-shop="{{ shop }}" data-shopName="{{ data.name }}" data-sum="{{ catData.sum }}" data-discount="{{ catData.discount }}" data-cat="{{ catData.name }}">
                                        <a href="{{ path("stat_summary_by_cat", { 'shop' :shop, 'category' : catId,'dateStart' : app.request.get('dateStart'), 'dateEnd' : app.request.get('dateEnd') }) }}" target="_blank">{{ catData.sum | price }}</a>
                                    </td>
                                {% endif %}
                                {% set row_sum_bar = row_sum_bar + catData.sum %}
                                {% set row_discount_bar = row_discount_bar + catData.discount %}
                            {% endfor %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <td onclick="$('.group_bar').toggle()" class="summary_col">{{ row_sum_bar | price }}</td>
                            {% endif %}
                            <td onclick="$('.group_bar').toggle()" class="summary_col" data-glob="{{ (row_sum_bar * 100 / data['sum']) | round(2) }}" data-loc="{{ (row_sum_bar * 100 / totalSum) | round(2) }}">{{ (row_sum_bar * 100 / data['sum']) | round(2) }}% | {{ (row_sum_bar * 100 / totalSum) | round(2) }}%</td>

                            {% set row_sum_kitchen = 0 %}
                            {% set row_discount_kitchen = 0 %}
                            {% for catId, catData in data.data['КУХНЯ'] %}
                                {% if is_granted('ROLE_ADMIN') %}

                                    <td style="display: none;" class="orders_summ group_kitchen" data-group="КУХНЯ" data-shop="{{ shop }}" data-shopName="{{ data.name }}" data-sum="{{ catData.sum }}" data-discount="{{ catData.discount }}" data-cat="{{ catData.name }}">
                                        <a href="{{ path("stat_summary_by_cat", { 'shop' :shop, 'category' : catId,'dateStart' : app.request.get('dateStart'), 'dateEnd' : app.request.get('dateEnd') }) }}" target="_blank">{{ catData.quantity | price }}</a>
                                    </td>
                                {% endif %}
                                {% set row_sum_kitchen = row_sum_kitchen + catData.sum %}
                                {% set row_discount_kitchen = row_discount_kitchen + catData.discount %}
                            {% endfor %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <td onclick="$('.group_kitchen').toggle()" class="summary_col">{{ row_sum_kitchen | price }}</td>
                            {% endif %}
                            <td onclick="$('.group_kitchen').toggle()" class="summary_col" data-glob="{{ (row_sum_kitchen * 100 / data['sum']) | round(2) }}" data-loc="{{ (row_sum_kitchen * 100 / totalSum) | round(2) }}">{{ (row_sum_kitchen * 100 / data['sum']) | round(2) }}% | {{ (row_sum_kitchen * 100 / totalSum) | round(2) }}%</td>

                            {% if is_granted('ROLE_ADMIN') %}
                                <td>{{ row_sum_bar + row_sum_kitchen }}</td>
                                <td>{{ row_discount_bar + row_discount_kitchen }}</td>
                            {% endif %}

                            <td class="summary" data-id="{{ shop }}" data-name="{{ data.name }}" data-value="{{ row_sum_bar + row_sum_kitchen }}" data-valuepercent="{{ ((row_sum_bar + row_sum_kitchen) * 100 / totalSum) | round(2) }}">{{ ((row_sum_bar + row_sum_kitchen) * 100 / totalSum) | round(2) }}%</td>
                            <td>
                                {{ data.name }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>{{ 'Итого' | trans }}</th>
                        {% for cat in cats['БАР'] %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <th class="col_summ rotate group_bar" style="display: none;">
                                    {{ cat }}
                                </th>
                            {% endif %}
                        {% endfor %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <th class="summary_col">{{ 'Итого БАР' | trans }}</th>
                        {% endif %}

                        <th class="summary_col percent">%</th>
                        {% for cat in cats['КУХНЯ'] %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <th class="col_summ rotate group_kitchen" style="display: none;">
                                    {{ cat }}
                                </th>
                            {% endif %}
                        {% endfor %}

                        {% if is_granted('ROLE_ADMIN') %}
                            <th class="summary_col">{{ 'Итого КУХНЯ' | trans }}</th>
                        {% endif %}

                        <th class="summary_col percent">%</th>

                        {% if is_granted('ROLE_ADMIN') %}
                            <th>{{ 'Итого' | trans }}</th>
                            <th>{{ 'Скидок' | trans }}</th>
                        {% endif %}

                        <th>%</th>
                        <th>{{ 'Заведение' | trans }}</th>

                    </tr>
                    </tfoot>
                </table>
                <div id="shopChart" style="min-width: 310px;max-width: 1200px;  height: 900px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
    <style>
        .rota1te {
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083); /* IE6,IE7 */
            -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
            -moz-transform: rotate(-90.0deg); /* FF3.5+ */
            -ms-transform: rotate(-90.0deg); /* IE9+ */
            -o-transform: rotate(-90.0deg); /* Opera 10.5 */
            -webkit-transform: rotate(-90.0deg); /* Safari 3.1+, Chrome */
            transform: rotate(-90.0deg); /* Standard */
        }
    </style>
{% endblock %}

{% block page_specific_styles %}

    <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.2.2/css/fixedColumns.dataTables.min.css">
    <style>
        .dt-button {
            padding: 6px 12px;
            background: #ddd;
            margin-right: 5px;
            border-radius: 5px;
            cursor: pointer;
        }

        .dataTables_wrapper .dt-uikit-header {
            padding: 14px 8px 4px;
            margin-bottom: 0px;
        }
    </style>
{% endblock %}

    {% block page_specific_plugins %}

        <!-- datatables -->
        <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
        <!-- datatables colVis-->
        <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
        <!-- datatables tableTools-->
        <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
        <!--<script src="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js"></script>-->
        <!-- datatables custom integration -->
        <script src="/assets/js/custom/datatables_uikit.min.js"></script>

        <script src="https://cdn.datatables.net/buttons/1.2.3/js/dataTables.buttons.min.js"></script>
        <script src="//cdn.datatables.net/buttons/1.2.3/js/buttons.print.min.js"></script>


        <script src="{{ asset('assets/js/highcharts.js') }}"></script>
        <script src="{{ asset('assets/js/highchartsmodules/data.js') }}"></script>
        <script src="{{ asset('assets/js/highchartsmodules/drilldown.js') }}"></script>

        <script>
            Number.prototype.formatMoney = function (c, d, t) {
                var n = this,
                    c = isNaN(c = Math.abs(c)) ? 2 : c,
                    d = d == undefined ? "." : d,
                    t = t == undefined ? "," : t,
                    s = n < 0 ? "-" : "",
                    i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "",
                    j = (j = i.length) > 3 ? j % 3 : 0;
                return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
            };

            $.fn.dataTable.Api.register('sum()', function () {
                return this.flatten().reduce(function (a, b) {
                    if (typeof a === 'string') {
                        a = a.replace(/[^\d.-]/g, '') * 1;
                    }
                    if (typeof b === 'string') {
                        b = b.replace(/[^\d.-]/g, '') * 1;
                    }

                    return a + b;
                }, 0);
            });
        </script>

        <script>
            $(document).on('click', "#dateSearch", function () {
                //http://venezia.new/admin/order/list/summary/25.04.1991/27.04.2016
                var route = "{{ path("stat_summary") }}";
                var dateStart = $("#dateStart").val();
                var dateEnd = $("#dateEnd").val();
                if (dateStart != "") route += ("/" + dateStart);
                if (dateEnd != "") route += ("/" + dateEnd);
                window.location = route;
            });

            var displayType = 0;
            $(document).on('click', "#percent", function () {
                $("td").each(function () {
                    if (displayType === 0) {
                        var val = $(this).data('percent');
                    } else {
                        var val = $(this).data('sum');
                    }

                    if (val !== undefined) $(this).text(parseFloat(val, '.', ' ').formatMoney(2));
                });
                $(this).text(function (i, text) {
                    return text === "%" ? "руб" : "%";
                });
                displayType = (displayType === 0 ? 1 : 0);
            });

            $(document).on('click', "#escalate", function () {
                $(this).text(function (i, text) {
                    return text === "{{ 'С нарастающим итогом' | trans }}" ? "{{ 'По часам' | trans }}" : "{{ 'С нарастающим итогом' | trans }}";
                });
                $("#visitorsTableEscalated").toggle();
                $("#visitorsTable").toggle();
            });


        </script>

        <script>
            var total_summ = {{ totalSum }};
            var visitorTables = $("#visitorsTableEscalated table, #visitorsTable table, #visitorsTableEscalatedPercent table, #visitorsTablePercent table").DataTable({
                dom: "<'dt-uikit-header'<'uk-grid'<'uk-width-medium-2-3'Bl><'uk-width-medium-1-3'>>><'uk-overflow-container'tr><'dt-uikit-footer'<'uk-grid'<'uk-width-medium-3-10'i><'uk-width-medium-7-10'p>>>",
                buttons: [
                    {#{#}
                        {#extend: 'print',#}
                        {#text: '{{ 'Печать' | trans }}',#}
                        {#title: ' {{ 'Отчет' | trans }} {{ app.request.get('dateStart') | date("d.m.Y") }} - {{ app.request.get('dateEnd') | date("d.m.Y") }}',#}
                        {#autoPrint: false,#}
                        {#customize: function (win) {#}
                            {#$(win.document.body).find('td:first-child').css('white-space', 'nowrap');#}
                        {#}#}
                    {#}#}
                ],

                paging: false,
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        var int_val = 0;
                        if (typeof i === 'string') {
                            if (i.length > 12) {
                                int_val = parseFloat($(i).text().replace(/[\$\s,%]/g, ''));
                            } else {
                                int_val = parseFloat(i.replace(/[\$,%\s]/g, ''));
                            }
                        } else if (typeof i === 'number') {
                            int_val = i;
                        }
                        return int_val;
                    };

                    var length = data[0].length;
                    for (var i = 1; i < length; i++) {

                        var total_col = api
                            .column(i, {page: 'current'})
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        $(api.column(i).footer()).html(total_col.formatMoney(2, '.', ' '));
                    }
                }
            });
            var catTable = $("#shopByCat").DataTable({
                dom: "<'dt-uikit-header'<'uk-grid'<'uk-width-medium-2-3'Bl><'uk-width-medium-1-3'>>><'uk-overflow-container'tr><'dt-uikit-footer'<'uk-grid'<'uk-width-medium-3-10'i><'uk-width-medium-7-10'p>>>",
                buttons: [
                    {
                        extend: 'print',
                        text: '{{ 'Печать' | trans }}',
                        title: ' {{ 'Отчет' | trans }} {{ app.request.get('dateStart') | date("d.m.Y") }} - {{ app.request.get('dateEnd') | date("d.m.Y") }}',
                        autoPrint: false,
                        customize: function (win) {
                            $(win.document.body).find('td:first-child').css('white-space', 'nowrap');
                        }
                    }
                ],

                paging: false,
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        var int_val = 0;
                        if (typeof i === 'string') {
                            if (i.length > 12) {
                                int_val = parseFloat($(i).text().replace(/[\$\s,%]/g, ''));
                            } else {
                                int_val = parseFloat(i.replace(/[\$,%\s]/g, ''));
                            }
                        } else if (typeof i === 'number') {
                            int_val = i;
                        }
                        return int_val;
                    };

                    var length = data[0].length;
                    var total_col
                    for (var i = 1; i < length; i++) {
                        if ($(api.column(i, {page: 'current'}).footer()).hasClass('percent')) {

                            $(api.column(i).footer()).html((total_col * 100 / total_summ).formatMoney(2, '.', ' ') + '%');

                        } else {
                            total_col = api
                                .column(i, {page: 'current'})
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            $(api.column(i).footer()).html(total_col.formatMoney(2, '.', ' ')).data('sum', total_col);
                        }
                    }
                }
            });
        </script>

        <script>
            var hours = [];
            var hourlyData = [];
            for (i = 0; i < 24; i++) {
                var h = i + ":00";
                hours.push(h)
            }
            $("#visitorsTable tbody tr").each(function () {
                var row = $(this).data();
                var data = [];
                $(this).find(".orders_summ").each(function () {
                    var localData = $(this).data();
                    data.push(
                        {
                            y: localData.sum,
                        }
                    );
                });
                hourlyData.push({
                    name: row.name,
                    data: data,
                });
            });

            $(function () {
                $('#visitorsChart').highcharts({
                    chart: {
                        type: 'spline'
                    },
                    title: {
                        text: '{{ "Выручка по часам" | trans }}',
                        //x: -20 //center
                    },
                    subtitle: {
                        /*text: 'Source: WorldClimate.com',
                         x: -20*/
                    },
                    xAxis: {
                        categories: hours
                    },
                    yAxis: {
                        title: {
                            text: '{{ "Выручка" | trans }}'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        formatter: function () {
                            function add(a, b) {
                                return a + b;
                            }

                            var sum = this.series.processedYData.reduce(add, 0);
                            var periodStart = parseInt(this.x);
                            var period = periodStart + ':00 - ' + (periodStart + 1) + ':00'


                            return period + '<br/><b>' + this.series.name + ':</b> ' + this.y + ' (' + (this.y * 100 / sum).formatMoney(2) + '%)';
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: hourlyData
                });
            });
        </script>

        <script>
            var shopByCatData = [];
            var shopDetailed = [];
            $("#shopByCat tbody tr").each(function () {
                var rowData = $(this).find(".summary").data();
                var row = {
                    name: rowData.name,
                    value: rowData.value,
                    y: rowData.valuepercent,
                    drilldown: rowData.id
                };
                shopByCatData.push(row);

                shopDetailedData = [];
                $(this).find(".orders_summ").each(function () {
                    var localData = $(this).data();
                    if (localData.sum > 0) {
                        shopDetailedData.push(
                            {
                                name: localData.cat,
                                y: localData.sum,
                                value: localData.sum
                            }
                        );
                    }
                });
                var rowDetailed = {
                    name: rowData.name,
                    id: rowData.id,
                    data: shopDetailedData
                };
                shopDetailed.push(rowDetailed);
            });

            var defaultTitle = "{{ "Распределение выручки" | trans }}";
            var drilldownTitle = "{{ "Выручка по категориям в " | trans }}";

            $('#shopChart').highcharts({
                chart: {
                    type: 'pie',
                    events: {
                        drilldown: function (e) {
                            this.setTitle({text: drilldownTitle + " " + e.point.name});
                        },
                        drillup: function (e) {
                            this.setTitle({text: defaultTitle});
                        }
                    }
                },
                title: {
                    text: defaultTitle,
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                            format: '{point.name}: {point.value} ({point.percentage:.1f}%)'
                        }
                    },
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'left',
                    verticalAlign: 'top',
                },
                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.value}</b> ({point.percentage:.2f}% of total)<br/>'
                },
                series: [{
                    colorByPoint: true,
                    data: shopByCatData
                }],
                drilldown: {
                    series: shopDetailed
                }
            });
        </script>




    {% endblock %}
