{% extends "RestaurantBundle::layout.html.twig" %}

{% block title %}
    {{ 'Карты' | trans }}
{% endblock %}

{#{% if form_title is defined %}#}
    {#{% form_theme cardForm '@Restaurant/Form/Fields.twig' %}#}
{#{% endif %}#}

{% block container %}
    <div id="page_content_inner">
        <div class="uk-grid">
            <div class="uk-width-medium-1-2">
                <div class="md-card">
                    <div class="md-card-content">
                        <table class="uk-table">
                            <tbody>
                            <tr>
                                <td colspan="2" style="text-align: center;"><b>{{ promoCard.client.lastName | capitalize }} {{ promoCard.client.firstName | capitalize }} {{ promoCard.client.surName | capitalize }}</b></td>
                            </tr>
                            <tr>
                                <td><b>{{ "Телефон" | trans }}:</b></td>
                                <td>{{ promoCard.client.phone }}</td>
                            </tr>
                            <tr>
                                <td><b>{{ "Email адрес" | trans }}:</b></td>
                                <td>{{ promoCard.client.email }}</td>
                            </tr>
                            <tr>
                                <td><b>{{ "Дата рождения" | trans }}:</b></td>
                                <td>{{ promoCard.client.birthDate | date("Y-m-d") }}</td>
                            </tr>
                            <tr>
                                <td><b>{{ "Адрес" | trans }}:</b></td>
                                <td>{{ promoCard.client.address }}</td>
                            </tr>
                            <tr>
                                <td><a href="{{ path('frontend_client_card_cabinet', {'code': promoCard.qrCode}) }}">ЛК</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-1-2">
                <div class="md-card">
                    <div class="md-card-content">
                        <table class="uk-table">
                            <thead>
                            <tr>
                                <th>{{ 'Дата' | trans }}</th>
                                <th>{{ 'Заведение' | trans }}</th>
                                <th>{{ 'Сумма' | trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for __order in orders %}
                                <tr>
                                    <td>
                                        <a href="{{ path('admin_order_show', {'id': __order.id}) }}">
                                            {{ __order.createdAt | date("Y-m-d H:i") }}
                                        </a>
                                    </td>
                                    <td>{{ __order.shop.name }}</td>
                                    <td>{{ __order.fullSum | price }}</td>
                                </tr>
                            {% endfor %}
                            {% set __firstOrder = orders | last %}
                            {% if promoCard.client.promoOrder.id != __firstOrder.id %}
                                {% set __order = promoCard.client.promoOrder %}
                                <td>
                                    <a href="{{ path('admin_order_show', {'id': __order.id}) }}">
                                        {{ __order.createdAt | date("Y-m-d H:i") }}
                                    </a>
                                </td>
                                <td>{{ __order.shop.name }}</td>
                                <td>{{ __order.fullSum | price }}</td>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}