{% extends "RestaurantBundle::layout.html.twig" %}

{% block title %}
    {{ 'Карты' | trans }}
{% endblock %}

{% if form_title is defined %}
    {% form_theme cardForm '@Restaurant/Form/Fields.twig' %}
{% endif %}

{% block container %}
    <style>
        span.error {
            margin: 15px 0;
            display: block;
            font-size: 18px;
            color: red;
        }

        .updateLocalId {
            width: 20px;
        }
    </style>
    <div id="page_content_inner">
        <div class="uk-grid">
            <div class="uk-width-medium-1-1">
                <div class="md-card">
                    <div class="md-card-content">
                        <ul class="uk-tab" data-uk-tab="{connect:'#tabs_1_content'}" id="tabs_1">
                            <li class="uk-active"><a href="#">{{ 'Новые заявки' | trans }} ({{ newClients | length }})</a></li>
                            <li><a href="#">{{ 'Изготовленные' | trans }} ({{ activeCards | length }})</a></li>
                            <li><a href="#">{{ 'Выданные' | trans }} ({{ issuedCards | length }})</a></li>
                            <li><a href="#">{{ 'Не выданные' | trans }} ({{ notIssuedCards | length }})</a></li>
                            <li><a href="#">{{ 'Сотрудники' | trans }} ({{ employeeCards | length }})</a></li>
                        </ul>
                        <ul id="tabs_1_content" class="uk-switcher uk-margin">
                            <li>
                                <div class="uk-grid">
                                    <div class="uk-width-medium-1-2">
                                        <h3 class="heading_a uk-margin-bottom">{{ 'Новые заявки' | trans }}</h3>
                                        <div class="uk-overflow-container">
                                            <table class="uk-table uk-table-nowrap" id="new_requests">
                                                <thead>
                                                <tr>
                                                    <th class="uk-width-2-10">Имя</th>
                                                    <th class="uk-width-2-10">Телефон</th>
                                                    <th class="uk-width-2-10">Подана заявка</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for client in newClients %}
                                                    <tr>
                                                        <td class="uk-text-left">
                                                            <a href="{{ path("admin_promo_card_create", { 'client' : client.id }) }}">
                                                                {{ client.firstName | capitalize }} {{ client.lastName | capitalize }}
                                                            </a>
                                                        </td>
                                                        <td>
                                                            {{ client.phone }}
                                                        </td>
                                                        <td>
                                                            {{ client.createdAt | date("Y-m-d H:i:s") }}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="uk-width-medium-1-2">
                                        {% if form_title is defined %}
                                            <h3 class="heading_a uk-margin-bottom">{{ form_title }}</h3>
                                            {% for message in app.flashes('error') %}
                                                <span class="error">{{ message }}</span>
                                            {% endfor %}
                                            {{ form_start(cardForm) }}

                                            {{ form_row(cardForm.client) }}
                                            {{ form_row(cardForm.cardId) }}
                                            {{ form_row(cardForm.localId) }}

                                            <div class="md-input-wrapper">
                                                {{ form_widget(cardForm.isEmployee) }}
                                            </div>

                                            <div class="md-input-wrapper">
                                                {{ form_row(cardForm.submit) }}
                                            </div>

                                            {{ form_end(cardForm) }}
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h3 class="heading_a uk-margin-bottom">{{ 'Активные карты' | trans }}</h3>
                                <table class="uk-table uk-table-nowrap" id="client_list">
                                    <thead>
                                    <tr>
                                        <th class="uk-width-2-10">Номер</th>
                                        <th class="uk-width-2-10">Имя</th>
                                        <th class="uk-width-2-10">Телефон</th>
                                        <th class="uk-width-2-10">Забрать в</th>
                                        <th class="uk-width-2-10">Номер карты</th>
                                        <th class="uk-width-2-10">Создана</th>
                                        <th class="uk-width-2-10">Последний счет</th>
                                        <th class="uk-width-2-10">Сумма</th>
                                        <th class="uk-width-2-10">Скидка</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for __cardData in activeCards %}
{% set __card = __cardData[0] %}
                                        <tr>
                                            <td>
                                                {% if __card.localId %}
                                                    {{ __card.localId }}
                                                {% else %}
                                                    <input type="text" data-id="{{ __card.id }}" class="updateLocalId">
                                                {% endif %}
                                            </td>
                                            <td class="uk-text-left">
                                                <a href="{{ path('admin_promo_card_view', {'id':__card.id}) }}">
                                                    {{ __card.client.firstName | capitalize }} {{ __card.client.lastName | capitalize }}
                                                </a>
                                            </td>
                                            <td>{{ __card.client.phone }}</td>
                                            <td>{{ __cardData["name"] }}</td>
                                            <td>{{ __card.cardId }}</td>
                                            <td>{{ __card.createdAt | date("Y-m-d H:i:s") }}</td>
                                            <td>
                                                {#{{ dump(__card.lastOrder) }}#}
                                                {% if  __card.lastOrder %}
{#                                                    {{ __card.lastOrder.createdAt | date("Y-m-d H:i:s") }}#}
                                                {% endif %}
                                            </td>
                                            <td>{{ (__cardData["cSum"] + __card.cardSum) | price }}</td>
                                            <td>{{ __card.cardDiscount | price }}</td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </li>
                            <li>
                                <h3 class="heading_a uk-margin-bottom">{{ 'Выданные' | trans }}</h3>

                                <table class="uk-table uk-table-nowrap" id="issued_list">
                                    <thead>
                                    <tr>
                                        <th class="uk-width-2-10">Карта</th>
                                        <th class="uk-width-2-10">Имя</th>
                                        <th class="uk-width-2-10">Заведение</th>
                                        <th class="uk-width-2-10">Телефон</th>
                                        <th class="uk-width-2-10">Постоянно в</th>
                                        <th class="uk-width-2-10"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for __card in issuedCards %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('admin_promo_card_view', {'id':__card.id}) }}">
                                                    {{ __card.localId }}
                                                </a>
                                            </td>
                                            <td class="uk-text-left">
                                                {{ __card.client.firstName | capitalize }} {{ __card.client.lastName | capitalize }}
                                            </td>
                                            <td>
                                                {{ __card.client.cardPickupShop.name }}
                                            </td>
                                            <td>
                                                {{ __card.client.phone }}
                                            </td>
                                            <td>
                                                {{ __card.mostVisitedShop }}
                                            </td>
                                            <td>{{ __card.mostVisitedShop('count') }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </li>
                            <li>
                                <h3 class="heading_a uk-margin-bottom">{{ 'Не выданные' | trans }}</h3>

                                <table class="uk-table uk-table-nowrap" id="not_issued_list">
                                    <thead>
                                    <tr>
                                        <th class="uk-width-2-10">Карта</th>
                                        <th class="uk-width-2-10">Имя</th>
                                        <th class="uk-width-2-10">Заведение</th>
                                        <th class="uk-width-2-10">Телефон</th>
                                        <th class="uk-width-2-10">Действие</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for __card in notIssuedCards %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('admin_promo_card_view', {'id':__card.id}) }}">
                                                    {{ __card.localId }}
                                                </a>
                                            </td>
                                            <td class="uk-text-left">
                                                {{ __card.client.firstName | capitalize }} {{ __card.client.lastName | capitalize }}
                                            </td>
                                            <td>
                                                {{ __card.client.cardPickupShop.name }}
                                            </td>
                                            <td>
                                                {{ __card.client.phone }}
                                            </td>
                                            <td>
                                                <button class="md-btn md-btn-success issueCard" data-id="{{ __card.id }}">Выдана</button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </li>
                            <li>
                                <h3 class="heading_a uk-margin-bottom">{{ 'Сотрудники' | trans }}</h3>
                                <table class="uk-table uk-table-nowrap" id="employee_list" style="    width: 100%;">
                                    <thead>
                                    <tr>
                                        <th class="uk-width-2-10">Карта</th>
                                        <th class="uk-width-2-10">Сотрудник</th>
                                        <th class="uk-width-2-10">Последний счет</th>
                                        <th class="uk-width-2-10">Сумма</th>
                                        <th class="uk-width-2-10">Сумма на карте</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for __card in employeeCards %}
                                        {% if __card.lastOrder is not null %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('admin_promo_card_view', {'id':__card.id}) }}">
                                                    {{ __card.localId }}
                                                </a>
                                            </td>
                                            <td class="uk-text-left">
                                                <a href="{{ path('admin_promo_card_view', {'id':__card.id}) }}">
                                                    {{ __card.client.firstName | capitalize }} {{ __card.client.lastName | capitalize }}
                                                </a>
                                            </td>
                                            <td>
                                                {{ __card.lastOrder.createdAt | date("Y-m-d H:i") }}
                                            </td>
                                            <td>
                                                {{ __card.lastOrder.fullSum | price }}
                                            </td>
                                            <td>
                                                {{ __card.fullSum | price }}
                                            </td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_specific_plugins %}
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>

    <script>
        $("#client_list, #employee_list").DataTable({
            pageLength: -1,
        });
    </script>
    <script>

        $(document).on("click", ".issueCard", function () {
            let cardId = $(this).data('id');
            $.ajax({
                type: "POST",
                url: "{{ path('terminal_promo_card_issue') }}",
                data: {card: cardId},
                context: $(this),
                success: function () {
                    this.parents("tr").remove();
                }
            });
            return false;
        });

        $(".updateLocalId").keyup(function (event) {

            if (event.keyCode === 13) {
                let localId = $(this).val(),
                    cardId = $(this).data('id');

                $.ajax({
                    url: "{{ path('admin_promo_card_update') }}",
                    data: {
                        localId,
                        cardId,
                    },
                    type: "POST",
                    context: $(this),
                    success: function (response) {
                        this.replaceWith(this.val())
                    },
                    statusCode: {
                        403: function () {
                            alert('Такой номер уже использован');
                        }
                    }
                });
            }
            return false;
        });

        let pressed = false;
        var chars = [];

        $(window).keypress(function (e) {
            var keycode = (e.which) ? e.which : e.keyCode;
            if ((keycode >= 65 && keycode <= 90) ||
                (keycode >= 97 && keycode <= 122) ||
                (keycode >= 48 && keycode <= 57)
            ) {
                chars.push(String.fromCharCode(e.which));
            }
            // console.log(e.which + ":" + chars.join("|"));
            if (pressed == false) {
                setTimeout(function () {
                    if (chars.length >= 8) {
                        var barcode = chars.join('');
                        $("#promo_card_cardId").val(barcode);
                    }
                    chars = [];
                    pressed = false;
                }, 100);
            }
            pressed = true;
        });
    </script>

{% endblock %}
