<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

{#    <meta name="apple-itunes-app" content="app-id=564177498" />#}

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WBF384X');</script>
    <!-- End Google Tag Manager -->
    <meta name="yandex-verification" content="5f64e7408530910f"/>

    <title>{% block seoTitle %}VENEZIA - кафе в лучших традициях классической и современной Италии в Бресте!{% endblock %}</title>
    <meta name="description" content="{% block seoDescription %}Крупнейшая сеть заведений настоящей итальянской кухни в Бресте. Только мы в Бресте выпекаем пиццы в традиционной печи на дровах прямо на ваших глазах. Приятные цены и безупречный сервис. Гостям, любящим скидки и бонусы, мы предлагаем дисконтную программу.{% endblock %}">
    <meta name="keywords" content="{% block seoKeywords %}венеция брест, кафе венеция брест, кафе бреста, кафе бреста меню, пицца венеция брест, заказать пиццу в бресте, пицца брест доставка бесплатно, пиццерии бреста{% endblock %}">

    {#<meta name="viewport" content="width=980">#}
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">

    {#<meta name="developer" content="Artyom K"/>#}
    <meta name="format-detection" content="telephone=no">
    {#<meta name="apple-itunes-app" content="app-id=757009817">#}
    <link rel="shortcut icon" href="/favicon.png">
    <meta name="theme-color" content="#fff">
    {#<meta property="og:image" content="http://ginza.ru/assets/i/sharelogo.png"/>#}
    {#<link rel="image_src" href="http://ginza.ru/assets/i/sharelogo.png"/>#}
    {#<link href="{{ asset('css/screen.css') }}" media="screen" rel="stylesheet" type="text/css"/>#}
    <link href="{{ asset('css/screen_wm.css') }}?2024073001" media="screen" rel="stylesheet" type="text/css"/>
    {% block page_special_styles %}{% endblock %}
    {#<link href="/assets/css/TheatricalSeasons.css" media="screen" rel="stylesheet" type="text/css"/>#}
    {#<!--[if IE]>#}
    {#<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]--><!--[if lte IE 8]>#}
    {#<script src="/assets/js/vendor/iefix.js"></script><![endif]-->#}
</head>
<body class="footer-normal">
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WBF384X"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="page" class="page-shift-ready">
    <div class="block-header">

        <div class="row">
            <header class="block block-header-main">
                <div class="row row-logo">
                    <div class="column-date-wrap column-date-wrap--book">
                        <div class="column-date " data-href="event/">
                            <div class="header__phone__promo">
                                {#<a href="tel:+375162203349">Заказ банкета<br>+375 (162) 203349</a>#}
                                {#<br/><i>Call-center, бронирование</i>#}
                                {#<a href="book" class="header__book banquet--js">Заказать банкет</a>#}
                            </div>
                        </div>
                    </div>
                    <div class="column-logo">
                        <div class="logo-main">
                            <a href="/">
                                <img src="{{ asset('uploads/images/shop/common_sq.jpg') }}" class="large" alt="" style="width: 100%;"/>
                                <img src="{{ asset('uploads/images/shop/common_sq.jpg') }}" class="mini" alt="" style="width: 100%;"/>
                                {#<img src="/assets/i/_header-main-logo.png?ver=2" class="large" alt=""/>#}
                                {#<img src="/assets/i/header-main-logo-mini.png?ver=1" class="mini" alt=""/>#}
                            </a>
                        </div>
                    </div>

                    <div class="column-date-wrap column-date-socials">
                        <div class="column-date">
                            <ul class="social-icons">
                                <li><a target="_blank" href="https://vk.com/veneziabrestpizza">&#59162;</a></li>
                                <li><a target="_blank" href="https://instagram.com/venezia_brest_pizza">&#59148;</a></li>
                                <li><a target="_blank" href="https://facebook.com/caffevenezia.brest">&#59128;</a></li>
                                {#<li><a target="_blank" href="https://www.facebook.com/ginzamoscow"></a></li>#}
                                {#<li><a target="_blank" href="http://instagram.com/ginzaproject"></a></li>#}
                            </ul>
                        </div>
                    </div>
                    <div class="bonus-card">
                        <a href="{{ path("frontend_client_card_login") }}">{{ 'Личный кабинет' | trans }}</a>
                    </div>
                </div>
            </header>
        </div>
        <div class="row">
            <nav class="block block-nav-main">
                {#<ul class="lang">#}
                {#<li class="active">РУ</li>#}
                {#<li><a href="http://en.ginza.ru/msk">EN</a></li>#}
                {#</ul>#}
                <ul class="block-nav-main-root-wrap">
                    <li class="block-nav-main-root"><a href="/">{{ 'Главная' | trans }}</a></li>
                    <li class="block-nav-main-root"><a href="{{ path('frontend_promos') }}">{{ 'Акции' | trans }}</a></li>
{#                    <li class="block-nav-main-root"><a href="{{ path('frontend_delivery_menu') }}">{{ 'Доставка' | trans }}</a></li>#}
                    <li class="block-nav-main-root"><a href="{{ path('frontend_shops') }}">{{ 'Заведения' | trans }}</a></li>
{#                    <li class="block-nav-main-root"><a href="{{ path('frontend_vacancy') }}">{{ 'Вакансии' | trans }}</a></li>#}
                </ul>
            </nav>
        </div>

    </div>
    {% block shopping_cart -%}{% endblock %}
    {% block container -%}

    {% endblock %}
    <div id="footer-buffer"></div>
</div>
<footer class="page-shift-ready">
    <div class="row row-item-params">
        <ul class="block block-item-params block-item-params-three">
            <li class="action">
<!--                <div class="block-item-param-content">
                    <div class="param-icon"></div>
                    <div class="param-title">Заказать доставку</div>
                    <div class="param-description">перейти на сайт доставки</div>
                    <a class="block-a" target="_blank" rel="nofollow" href="https://www.menu.by/brest/delivery/restaurant/br-venezia-cafe.html"></a>
                </div>-->
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="block block-footer-actions">
            <div class="column">© {{ "now" | date("Y") }} CAFFE VENEZIA</div>
            <div class="column column-action">
                <ul class="actions">
                    <li><a href="{{ path('frontend_promos') }}">Акции</a></li>
                    <li><a href="{{ path('frontend_promo_program') }}">{{ 'Дисконтная программа' | trans }}</a></li>
{#                    <li><a href="{{ path('frontend_vacancy') }}">Вакансии</a></li>#}
                </ul>
            </div>
            <div class="column">
                <ul class="lang" style="display: none">
                    <li class="active"><a href="#">Русский</a></li>
                    <li class="soon"><a href="#">English</a></li>
                </ul>
            </div>
        </div>
        <div class="block block-footer-social">
            <div class="title">Сеть заведений ITALSERVICE GROUP в социальных сетях</div>
            <ul class="social-icons">
                <li><a target="_blank" rel="nofollow" href="https://vk.com/veneziabrestpizza">&#59162;</a></li>
                <li><a target="_blank" rel="nofollow" href="https://instagram.com/venezia_brest_pizza">&#59148;</a></li>
                <li><a target="_blank" rel="nofollow" href="https://facebook.com/caffevenezia.brest">&#59128;</a></li>
            </ul>
            <p style="font-family:Minion Pro; font-size: 10px; font-style: italic;text-align: center;">ИООО "Итал-Сервис"
                Юр. адрес: г. Брест, ул.Интернациональная, 5.
                УНП 290363434 Гос. регистрация от 14.05.2004 года
                Брестский областной исполнительный комитет.</p>
        </div>
        <div class="block block-footer-payment">
            <ul class="social-icons">
                <li><img src="{{ asset('static/payment/all_payment_logo.png') }}" alt="" width="200"></li>
                <li>
                    <a href="https://artpay.by" rel="nofollow" target="_blank">
                        <img src="{{ asset('static/payment/artpay/artpay_transparent.png') }}" alt="" width="120">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<div class="aside-nav-bar"></div>
<div class="soon-pin"><img src="/assets/i/soon-pin.png" alt=""/></div>
<div class="scroll-top-btn btn-action"><span class="icon"></span></div>
<div class="lt-overlay"></div>


<script src="{{ asset('assets/js/min/vendor.js') }}"></script>
<script src="{{ asset('assets/js/min/scripts.js') }}"></script>
{% block page_special_javascripts %}
{% endblock %}
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(83995807, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
    });
</script>
</body>
</html>
