<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Сеть заведений Кафе Venezia{% endblock %}</title>
    <meta name="description" content="Сеть заведений Кафе Venezia">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.png">

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,700,300,400&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">



    {% stylesheets
    "css/new/bootstrap.min.css"
    "css/new/bootstrap_col_15.css"
    "css/new/fontello.css"
    "css/new/owl.carousel.css"
    "css/new/magnific-popup.css"
    "css/new/custom-bg.css"

    "css/new/reset.css"
    "css/new/main.css"
    "css/new/main_new.css"

    filter="scssphp" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% block page_special_styles %}{% endblock %}

    {#  <link rel="stylesheet" href="/css/new/bootstrap.min.css"/>
      <link rel="stylesheet" href="/css/new/bootstrap_col_15.css"/>
      <link rel="stylesheet" href="/css/new/fontello.css"/>
      <link rel="stylesheet" href="/css/new/owl.carousel.css"/>
      <link rel="stylesheet" href="/css/new/magnific-popup.css"/>
      <link rel="stylesheet" href="/css/new/custom-bg.css"/>
      <link rel="stylesheet" href="/css/new/reset.css"/>
      <link rel="stylesheet" href="/css/new/main.css"/>#}

</head>
<body class="{#fixed-menu#}">
<div class="page-frame">
    <div class="frame-top"></div>
    <div class="frame-right"></div>
    <div class="frame-bottom"></div>
    <div class="frame-left"></div>
</div>
{#<div class="mobile-nav-container clearfix">#}
    {#<div class="main-nav-trigger mobile-nav-trigger">#}
        {#<a href="/"></a>#}
    {#</div>#}
{#</div>#}
<div class="main-nav-container {#fixed#} custom-bg9" style="display: none;">
    <div class="main-nav-inner">
        <div class="logo-container">
            <a href="/">
                <img src="/img/logo/logo_v.png">
                <span>Caffè Venezia</span>
            </a>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="#">Меню</a></li>
                <li><a href="#">Оплата</a></li>
                <li><a href="#">Доставка</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav>
        {#<div class="socials-container">#}
        {#<ul>#}
        {#<li><a href="https://vk.com/brestpizza" target="_blank"><i class="fa fa-vk"></i></a></li>#}
        {#<li><a href="http://ok.ru/group/52605731012777" target="_blank"><i class="fa fa-odnoklassniki"></i></a></li>#}
        {#<li><a href="https://www.facebook.com/brestpizza" target="_blank"><i class="fa fa-facebook"></i></a></li>#}
        {#<li><a href="https://instagram.com/brestpizza/" target="_blank"><i class="fa fa-instagram"></i></a></li>#}
        {#</ul>#}
        {#</div>#}
        {#
        <div class="copyright">
            <p>Разработка сайта</p>
            <p><a href="asgu.org" target="_blank">asgu.org</a></p>
        </div>
        #}
    </div>
</div>
<div class="wrapper">
    <header class="main-header scrollme" id="top">
        <div class="container">

            {#{% block shopping_cart %}#}
            {#<div class="shopping-cart style2">#}
            {#<div class="cart-container clearfix">#}
            {#<a href="#" class="cart-link"><span>{{ order is not null ? order.dishes | length : 0 }}</span></a>#}

            {#<div class="cart-items">#}
            {#<div class="cart-counter">#}
            {#<h5><span><span>{{ order is not null ? order.dishes | length : 0 }}</span> позиций</span> в корзине</h5>#}
            {#</div>#}
            {#<ul>#}
            {#{% if order is defined and order is not null %}#}
            {#{% for dish in order.dishes %}#}
            {#<li>#}
            {#<div class="item-container clearfix" data-id="{{ dish.id }}">#}
            {#<a href="" class="remove-items"><i class="fa fa-times-circle"></i></a>#}
            {#<figure>#}
            {#<img src="{{ dish.dish.imagePath | imagine_filter('cart') }}">#}
            {#</figure>#}
            {#<p class="food-name">#}
            {#<a href="{{ path('frontend_show_dish', {'id' : dish.dish.id}) }}">{{ dish.dish.name }}</a>#}
            {#</p>#}

            {#<p class="food-price">{{ dish.dish.shopPrice(shop) | price }} р</p>#}
            {#</div>#}
            {#</li>#}
            {#{% endfor %}#}
            {#{% endif %}#}
            {#<li class="order_price">#}{#<div class="item-container clearfix">Итого: <span class="order_summary">{{ cart['summary'] }} руб.</span></div>#}{#</li>#}
            {#</ul>#}
            {#<a href="{{ path('cart_show') }}" class="button view-cart-btn">Корзина</a>#}
            {#<a href="{{ path('checkout') }}" class="button checkout-btn">Оформить</a>#}
            {#<a href="{{ path('frontend_show_cart') }}" class="button checkout-btn">Оформить</a>#}

            {#<div class="checkout button view-cart-btn">#}
            {#<span class="order_summary">{{ order is not null ? order.sum | price }} р</span>#}
            {#</div>#}
            {#</div>#}
            {#</div>#}
            {#</div>#}
            {#{% endblock %}#}

        </div>
        {% block topbanner -%}{% endblock %}
    </header>
    {% block body %}
        <div class="row">
            <div class="col-md-2 col-md-offset-9 col-sm-12">
                <a href="{{ path('card_create') }}">
                    <img src="{{ asset('static/credit-card.png') }}" style="margin: 15px 15px 0 0 ;" class="card" alt="">
                </a>
            </div>
        </div>
        {% block container %}{% endblock %}
    {% endblock %}

    {% block stores %}
        {#<section class="clients style2 white-bg">#}
            {#<div class="container">#}
                {#<div class="clients-carousel grayscale-image row">#}
                    {#{% set tplshop = shop %}#}
                    {#{% for shop in shops %}#}
                        {#{% if shop != tplshop %}#}
                            {#<div class="store wow fadeInUp" data-wow-delay="{{ loop.index*2/10 }}s">#}
                                {#<div class="client-logo-container">#}
                                    {#<figure class="client-logo">#}
                                        {#<a href="{{ path( 'frontend_show_shop', {'id': shop.id}) }}"><img src="{{ shop.image }}"></a>#}
                                    {#</figure>#}
                                {#</div>#}
                                {#<div class="client-info">#}
                                    {#<span class="title">{{ shop.name }}</span>#}
                                    {#<span class="address">{{ shop.address }}</span>#}
                                {#</div>#}
                            {#</div>#}
                        {#{% endif %}#}
                    {#{% endfor %}#}
                {#</div>#}
            {#</div>#}
        {#</section>#}
    {% endblock %}

    {% block footer %}
        {#<footer class="main-footer footer style2 white-bg">#}
            {#<div class="row">#}
                {#{% block contact %}#}
                    {#<div class="col-md-6 left-sec">#}
                        {#<div class="map style2" id="contact">#}
                            {#<div class="map-container wow fadeInDown">#}
                                {#<div id="google-map"></div>#}
                                {#<div id="cd-zoom-in"></div>#}
                                {#<div id="cd-zoom-out"></div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="contact-form-container">#}
                            {#<div class="section-title style2">#}
                                {#<h1><span>Напишите</span> нам</h1>#}
                            {#</div>#}
                            {#<form id="contact-form" method="post" action="contact.php">#}
                                {#<input type="text" id="name" name="name" placeholder="Ваше имя*" required>#}
                                {#<input type="email" id="email" name="email" placeholder="Email*" required>#}
                                {#<textarea id="message" name="message" rows="8" placeholder="Сообщение" required></textarea>#}
                                {#<button type="submit" class="custom-button button-style6">Отправить сообщение</button>#}
                            {#</form>#}
                            {#<div id="form-messages"></div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="col-md-6 right-sec">#}
                        {#<div class="contact-info-container">#}
                            {#<div class="section-title style2">#}
                                {#<h1><span>Свяжитесь</span> с нами</h1>#}
                            {#</div>#}
                            {#<div class="contact-info">#}
                                {#<figure>#}
                                    {#<img src="/img/template-assets/clock.png">#}
                                {#</figure>#}
                                {#<p>ПН - ВС 12.00 - 00.00</p>#}
                            {#</div>#}
                            {#<div class="contact-info">#}
                                {#<figure>#}
                                    {#<img src="/img/template-assets/map-pin1.png">#}
                                {#</figure>#}
                                {#<p>г. Брест, ул. Интернациональная, 5</p>#}
                            {#</div>#}
                            {#<div class="contact-info">#}
                                {#<figure>#}
                                    {#<img src="/img/template-assets/icon-phone1.png">#}
                                {#</figure>#}
                                {#<p>8 (0162) 20 33 49</p>#}
                            {#</div>#}
                            {#<div class="contact-info">#}
                                {#<figure>#}
                                    {#<img src="/img/template-assets/icon-mail.png">#}
                                {#</figure>#}
                                {#<p>kafevenezia@mail.ru</p>#}
                            {#</div>#}
                            {#<a href="#contact-form-container" class="custom-button button-style6 contact-form-trigger">Связаться</a>#}
                        {#</div>#}
                    {#</div>#}
                {#{% endblock %}#}
            {#</div>#}
            {#<div class="bottom-bar">#}
                {#<div class="container">#}
                    {#<div class="row">#}
                        {#<div class="col-md-4 align-left">#}
                            {#<p class="copyright">Улица Интернациональная, 5 <br>#}
                                {#224030 Брест - Беларусь (By)<br>#}
                                {#УНП 290310357#}
                            {#</p>#}
                        {#</div>#}
                        {#<div class="col-md-4 align-center">#}
                            {#<figure class="logo-container">#}
                                {#<a href="/"><img src="/img/logo/logo_v.png" alt="Venezia Fusion Logo"></a>#}
                            {#</figure>#}
                        {#</div>#}
                        {#<div class="col-md-4 align-right">#}
                            {#<div class="socials-container">#}
                                {#<ul>#}
                                    {#<li>#}
                                        {#<a href="https://vk.com/brestpizza" target="_blank"><i class="fa fa-vk"></i></a>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<a href="http://ok.ru/group/52605731012777" target="_blank"><i class="fa fa-odnoklassniki"></i></a>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<a href="https://www.facebook.com/brestpizza" target="_blank"><i class="fa fa-facebook"></i></a>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<a href="https://instagram.com/brestpizza/" target="_blank"><i class="fa fa-instagram"></i></a>#}
                                    {#</li>#}
                                {#</ul>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</footer>#}
    {% endblock %}
</div>


{% javascripts
"js/new/jquery.min.js"
"js/new/jquery-ui.min.js"
"js/new/jquery.scrollme.min.js"
"js/new/jquery.fs.stepper.min.js"
"js/new/cd-google-map-brown.js"
"js/new/jquery.mixitup.min.js"
"js/new/wow.min.js"
"js/new/plugins.js"
"js/new/main.js"

filter="?jsqueeze" %}

<script src="{{ asset_url }}"></script>

{% endjavascripts %}

<script src="http://maps.google.com/maps/api/js?key=AIzaSyBM6uBuCQ1JnjCO7mDCb8BV6nGWZ1ByJEY&callback=initMap"></script>
{% include '@Frontend/Common/analytics.html.twig' %}

{% block page_special_javascripts %}
{% endblock %}


</body>
</html>