{% extends "RestaurantBundle::layout.html.twig" %}

{% block container %}
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <table class="uk-table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ "Дата" | trans }}</th>
                        <th>{{ "Заведение" | trans }}</th>
                        <th>{{ "Телефон" | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for __order in orders %}
                        <tr>
                            <td><a href="{{ path("web_order_show", {"id":__order.id}) }}">{{ __order.id }}</a></td>
                            <td><a href="{{ path("web_order_show", {"id":__order.id}) }}">{{ __order.createdAt | date("Y-m-d H:i:s") }}</a></td>
                            <td>{{ __order.pickupShop.name }}</td>
                            <td><a href="{{ path("web_order_show", {"id":__order.id}) }}">{{ __order.phone }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}