{% extends "RestaurantBundle::layout.html.twig" %}

{% block title %}
    {{ order.pickupShop.name }} | {{ 'Счет' | trans }} | {{ order.localId }}
{% endblock %}

    {% block page_specific_styles %}
        <style>
            ul {
                list-style: none;
            }
        </style>
    {% endblock %}

    {% block container %}
        <div id="page_content_inner">
            <div class="uk-grid ">
                <div class="uk-width-medium-1-2" data-uk-grid-margin>
                    <div class="md-card">
                        <div class="md-card-toolbar">
                            <div class="md-card-toolbar-actions">
                                <div class="uk-float-right">
                                    <strong>
                                        {{ 'Итого' | trans }}:
                                    </strong>
                                    {#                                    <span>{{ order.sum | price }}</span>#}
                                </div>
                            </div>
                            <h3 class="md-card-toolbar-heading-text">
                                {{ 'Счет №' | trans }}{{ order.localId }} ({{ order.id }})
                            </h3>
                        </div>
                        <div class="md-card-content">
                            <div>
                                <table class="uk-table uk-table-striped">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <h3 class="">
                                                {{ 'Блюда' | trans }}
                                            </h3>
                                        </td>
                                        <td>{{ 'Количество' | trans }}</td>
                                        <td>{{ 'Цена' | trans }}</td>
                                        <td>{{ 'Скидка' | trans }}</td>
                                        <td>{{ 'Итог' | trans }}</td>
                                    </tr>
                                    {% set sum = 0 %}
                                    {% for dish in order.dishes %}
                                        <tr>
                                            <td>
                                                <a href="{{ path("dish_edit", { 'id' : dish.dish.id }) }}">
                                                    {{ dish.dish.name }}
                                                </a>
                                            </td>
                                            <td>{{ dish.quantity }}</td>
                                            <td>{{ dish.dish.price | price }}</td>
                                            <td>{{ dish.dishDiscount | price }}</td>
                                            <td>{{ dish.cashSum | price }}</td>
                                        </tr>
                                        {% set sum = sum + dish.dish.price %}
                                    {% endfor %}
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td style="float: right;font-weight: bold;">{{ 'Итого' | trans }}:</td>
                                                                                <td>{{ sum | price }}</td>
                                                                                <td></td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>{{ 'Открыт' | trans }}</td>
                                        <td colspan="3" id="createdAt" data-id="{{ order.id }}">{{ order.createdAt | date ("d.m.Y H:i") }}</td>
                                    </tr>
                                    {% if order.status == constant('OrderBundle\\Entity\\Order::STATUS_CLOSED') %}
                                        <tr>
                                            <td></td>
                                            <td>{{ 'Закрыт' | trans }}</td>
                                            <td colspan="3">
                                                {% if order.closedAt != null %}
                                                    {{ order.closedAt | date ("d.m.Y H:i") }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% if order.promo != null %}
                                        <tr>
                                            <td></td>
                                            <td>{{ 'Скидка' | trans }}</td>
                                            <td colspan="3">
                                                {{ order.promo.client.firstName }} {{ order.promo.cardDiscount }}%
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% if order.status == constant('OrderBundle\\Entity\\Order::STATUS_DELETED') %}
                                        <tr>
                                            <td></td>
                                            <td><strong style="color: #f00;">{{ 'Удален' | trans }}</strong></td>
                                            <td colspan="3">
                                                {#                                                {{ order.deletedAt | date ("d.m.Y H:i") }}#}
                                            </td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td></td>
                                        <td>
                                            {{ 'Заведение' | trans }}
                                        </td>
                                        <td colspan="3">
                                            <a href="{{ path("shop_edit", {'id' : order.pickupShop.id}) }}">
                                                {{ order.pickupShop.name }}
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            {{ 'Адрес' | trans }}
                                        </td>
                                        <td colspan="3">
                                            {{ order.address }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            {{ 'Телефон' | trans }}
                                        </td>
                                        <td colspan="3">
                                            {{ order.phone }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            {{ 'Комментарий' | trans }}
                                        </td>
                                        <td colspan="3">
                                            {{ order.comment }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td>{{ 'Оплата' | trans }}</td>
                                        <td colspan="3">
                                            {% if order.cashType == constant('OrderBundle\\Entity\\Order::CASHTYPE_CASH') %}
                                                {{ 'Наличные' | trans }}

                                            {% elseif order.cashType == constant('OrderBundle\\Entity\\Order::CASHTYPE_INVOICE') %}
                                                {{ 'Счет' | trans }}
                                            {% elseif order.cashType == constant('OrderBundle\\Entity\\Order::CASHTYPE_INTERNAL') %}
                                                {{ 'Внутренний' | trans }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block page_specific_plugins %}
        <script>


            $("#createdAt").on("dblclick", function () {
                $input = $("<input />").val($(this).text()).css({
                    'width': 'auto',
                });
                $cell = $(this);

                var data = {
                    'id': $(this).data('id'),
                };

                $input.keypress(function (e) {
                    data.newDate = $(this).val();
                    var newPrice;
                    var cell = $(this);
                    if (e.which == 13) {
                        $.ajax({
                            url: "/admin/order/updateAjax",
                            type: "POST",
                            cell: cell,
                            data: data,
                            success: function (response) {
                                if (response.status) {
                                    $cell.html($input.val());
                                }
                            }
                        });
                    }
                });
                $input.click(function (event) {
                    event.stopPropagation();
                });

                $(this).html($input);
            });
            window.addEventListener('load', function () {
                var allimages = document.getElementsByTagName('img');
                for (var i = 0; i < allimages.length; i++) {
                    if (allimages[i].getAttribute('data-src')) {
                        allimages[i].setAttribute('src', allimages[i].getAttribute('data-src'));
                    }
                }
            }, false)
        </script>
    {% endblock %}