{% extends "RestaurantBundle::layout.html.twig" %}

{% block title %}
    {{ 'Карты' | trans }}
{% endblock %}

{% if form is defined %}
    {% form_theme form '@Restaurant/Form/Fields.twig' %}
{% endif %}

{% block container %}
    <style>
        .uk-table td {
            vertical-align: middle;
        }
    </style>
    <div id="page_content_inner">
        <div class="uk-grid">
            <div class="uk-width-medium-1-1">
                <div class="md-card">
                    <div class="md-card-content">
                        <table class="uk-table uk-table-nowrap" id="client_list">
                            <thead>
                            <tr>
                                <th class="uk-width-2-10">Карта</th>
                                <th class="uk-width-2-10">Имя</th>
                                <th class="uk-width-2-10">Телефон</th>

                                <th class="uk-width-2-10">Действие</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for __card in notIssuedCards %}
                                <tr>
                                    <td>
                                        {{ __card.localId }}
                                    </td>
                                    <td class="uk-text-left">
                                        {{ __card.client.firstName | capitalize }}
                                    </td>
                                    <td>
                                        {{ __card.client.phone }}
                                    </td>

                                    <td>
                                        <button class="md-btn md-btn-success issueCard" data-id="{{ __card.id }}">Выдана</button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {#<div class="uk-form-row">
                            <a href="{{ path("promo_card_create") }}" class="md-btn md-btn-primary">Добавить</a>
                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_specific_plugins %}
    <script>
        $(document).on("click", ".issueCard", function () {
            let cardId = $(this).data('id');
            $.ajax({
                type: "POST",
                url: "{{ path('terminal_promo_card_issue') }}",
                data: {card: cardId},
                context: $(this),
                success: function () {
                    this.parents("tr").remove();
                }
            });
            return false;
        });
    </script>



{% endblock %}