{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }}
           class="md-input" {% if value is not empty %} value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple -%}

{%- block submit_widget -%}
    <button type="submit" {{ block('button_attributes') }}
            class="md-btn md-btn-primary">{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</button>
{%- endblock submit_widget -%}

{%- block form_row -%}
    {{- form_label(form) -}}
    {{- form_widget(form) -}}
    {{- form_errors(form) -}}
{%- endblock form_row -%}

{%- block button_row -%}
    {{- form_widget(form) -}}
{%- endblock button_row -%}


{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %} >
        {{- translation_domain is same as(false) ? label : label|trans({}, translation_domain) -}}
        {%- if required -%}
            <span class="req">*</span>
        {%- endif -%}
        </label>
    {%- endif -%}
{%- endblock form_label -%}

{%- block choice_widget -%}
    {% if expanded %}
        {{- block('choice_widget_expanded') -}}
    {% else %}
        {{- block('choice_widget_collapsed') -}}
    {% endif %}
{%- endblock choice_widget -%}

{%- block choice_widget_expanded -%}
    {%- for child in form %}
        <div>
            {{- form_widget(child) -}}
        </div>
    {% endfor -%}
{%- endblock choice_widget_expanded -%}

{%- block checkbox_widget -%}
    <div>
        <input data-switchery
               type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} class="switchery_input" value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        {{ block('form_label') }}
    </div>
{%- endblock checkbox_widget -%}

{%- block radio_widget -%}
    <span class="icheck-inline">
        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} data-md-icheck/>
        {{ block('form_label') }}
    </span>
{%- endblock radio_widget -%}

{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple %}multiple multiple="multiple"{% endif %} class="md-input">
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed -%}


{%- block textarea_widget -%}
    <div class="uk-form-row">
        <textarea {{ block('widget_attributes') }} rows="4" class="md-input">{{ value }}</textarea>
    </div>
{%- endblock textarea_widget -%}

{%- block time_widget -%}
    {%- if widget == 'single_text' -%}
        <div class="uk-input-group">
            <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-clock-o"></i></span>
            <input type="text"
                   class="md-input" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}
                   data-uk-timepicker/>
        </div>
    {%- else -%}
        {%- set vars = widget == 'text' ? { 'attr': { 'size': 1 }} : {} -%}
        <div {{ block('widget_container_attributes') }} class="uk-form-row">
            {{ form_widget(form.hour, vars) }}{% if with_minutes %}:{{ form_widget(form.minute, vars) }}{% endif %}{% if with_seconds %}:{{ form_widget(form.second, vars) }}{% endif %}
        </div>
    {%- endif -%}
{%- endblock time_widget -%}

{%- block tag_widget -%}
    <select name="{{ full_name }}[]" id="{{ id }}" multiple>
        {% for val in value %}
            <option value="{{ val }}" selected>{{ val }}</option>
        {% endfor %}
    </select>
{%- endblock -%}






{% block file_widget %}
    {% spaceless %}
        <input type="file" {{ block('widget_attributes') }}
               class="dropify" {% if file_url is not null %}data-default-file="{{ asset(file_url) }}" {% endif %}/>
    {% endspaceless %}
{% endblock %}

{%- block date_widget -%}
    {%- if widget == 'single_text' -%}
        <div class="uk-input-group">
            <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
            {#{{ block('form_label') }}#}
            <input class="md-input" {{ block('widget_attributes') }} {% if value is defined %} value="{{ value }}"{% endif %}
                   data-uk-datepicker="{format:'YYYY-MM-DD'}">
        </div>
    {%- else -%}
        <div {{ block('widget_container_attributes') }}>
            {{- date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
            })|raw -}}
        </div>
    {%- endif -%}
{%- endblock date_widget -%}

{%- block email_widget -%}
    {{ block('form_label') }}
    <input type="email" {{ block('widget_attributes') }}
           class="md-input" {% if value is not empty %} value="{{ value }}" {% endif %}/>
{%- endblock email_widget -%}





{# -------------------------------------------------- #}
{# ------------------specific------------------------ #}
{# -------------------------------------------------- #}
{% block dish_meta_widget %}
    {% spaceless %}
        <div class="uk-grid" {{ block('widget_container_attributes') }} data-uk-grid-margin="">
            {% for child in form %}
                <div class="uk-width-medium-1-4">
                    {{ form_widget(child) }}
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block place_widget %}
    {% spaceless %}
        {% for child in form %}
            <div class="uk-width-medium-1-3">
                {{ form_widget(child) }}
            </div>
        {% endfor %}
    {% endspaceless %}
{% endblock %}

{% block shop_time_widget %}
    {% spaceless %}
        <div>
            {% for child in form %}
                <div class="uk-width-medium-1-3">
                    {{ form_widget(child) }}
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block shop_time_row %}
    {% spaceless %}
        <div class="shop-time">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    <label for="">{{ label }}</label>
                </div>
                {% for child in form %}
                    <div class="uk-width-medium-1-3">
                        {{ form_widget(child) }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block dish_time_widget %}
    {% spaceless %}
        {% for child in form %}
            <div class="uk-width-medium-1-3">
                {{ form_widget(child) }}
            </div>
        {% endfor %}
    {% endspaceless %}
{% endblock %}

{% block printer_widget %}
    {% spaceless %}
        <div class="uk-grid" {{ block('widget_container_attributes') }} data-uk-grid-margin="">
            {% set count = (form | length) + 1 %}
            {% for child in form %}
                <div class="uk-width-medium-1-6">
                    {{ form_widget(child) }}
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block table_widget %}
    {% spaceless %}
        {% for child in form %}
            {{ form_widget(child) }}
        {% endfor %}
    {% endspaceless %}
{% endblock %}

{% block dish_ingredient_widget %}
    {% spaceless %}
        <div class="uk-grid" {{ block('widget_container_attributes') }} data-uk-grid-margin="">
            {% set count = (form | length) + 1 %}
            {% for child in form %}
                <div class="uk-width-medium-2-5">
                    {{ form_widget(child) }}
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block category_discount_widget %}
    {% spaceless %}
        <div class="uk-grid" {{ block('widget_container_attributes') }} data-uk-grid-margin="">
            {% set count = (form | length) + 1 %}
            {% for child in form %}
                <div class="uk-width-medium-1-6">
                    {{ form_widget(child) }}
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock %}



{% block category_delegate_widget %}
    {% spaceless %}
        <div class="uk-grid" {{ block('widget_container_attributes') }} data-uk-grid-margin="">
            {% set count = (form | length) + 1 %}
            {% for child in form %}
                <div class="uk-width-medium-1-3">
                    {{ form_widget(child) }}
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block ingredient_data_widget %}
    {% spaceless %}
        <div class="uk-grid" {{ block('widget_container_attributes') }} data-uk-grid-margin="">
            {% set count = (form | length) + 1 %}
            {% for child in form %}
                <div class="uk-width-medium-1-5">
                    {{ form_row(child) }}
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block report_data_widget %}
    {% spaceless %}
        <div class="uk-grid" {{ block('widget_container_attributes') }} data-uk-grid-margin="">
            {% set count = (form | length) + 1 %}
            {% for child in form %}
                <div class="uk-width-medium-1-4">
                    {{ form_row(child) }}
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block composition_ingredient_widget %}
    {% spaceless %}
        <div class="uk-grid" {{ block('widget_container_attributes') }} data-uk-grid-margin="">
            {% set count = (form | length) + 1 %}
            {% for child in form %}
                <div class="uk-width-medium-1-4">
                    {{ form_row(child) }}
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block tetranz_select2entity_widget %}
    {% set attr = attr|merge({
        'data-md-select2' : "",
        'data-ajax--url':remote_path,
        'data-ajax--cache': cache ? 'true' : 'false',
        'data-ajax--cache-timeout': cache_timeout|default(0),
        'data-ajax--delay':delay,
        'data-ajax--data-type':"json",
        'data-language':language,
        'data-minimum-input-length':minimum_input_length,
        'data-placeholder':placeholder|trans({}, translation_domain),
        'data-page-limit':page_limit,
        'data-scroll':scroll ? 'true' : 'false',
        'data-autostart':autostart ? 'true' : 'false',
        'class' : (attr.class|default('') ~ ' select2entity md-input')|trim,
        'data-name' : name|e('html_attr'),
        'data-width' : "100%",
    }) %}

    {% if allow_add.enabled %}
        {% set attr = attr|merge({
            'data-tags':'true',
            'data-tags-text':allow_add.new_tag_text|trans({}, translation_domain),
            'data-new-tag-prefix':allow_add.new_tag_prefix|trans({}, translation_domain),
            'data-token-separators':allow_add.tag_separators,
        }) %}
    {% endif %}

    {% if multiple %}
        {% set attr = attr|merge({'multiple':'multiple'}) %}
    {% endif %}

    {% if allow_clear %}
        {% set attr = attr|merge({'data-allow-clear': 'true'}) %}
    {% endif %}

    {% if width %}
        {% set attr = attr|merge({'data-width': width}) %}
    {% endif %}

    {% if class_type %}
        {% set attr = attr|merge({'data-classtype': class_type}) %}
    {% endif %}

    {% apply spaceless %}
        <select {{ block('widget_attributes') }}>
            {% if value is iterable %}
                {% if allow_clear %}
                    <option value=""></option>
                {% endif %}
                {% for id, label in value %}
                    {% block tetranz_select2entity_widget_select_option %}
                        <option value="{{ id }}" selected="selected">{{ label }}</option>
                    {% endblock %}
                {% endfor %}
            {% endif %}
        </select>
    {% endapply %}
{% endblock %}
