{% extends "RestaurantBundle::layout.html.twig" %}

{% block title %}
    {{ 'Клиенты' | trans }}
{% endblock %}

{% form_theme form '@Restaurant/Form/Fields.twig' %}

{% block container %}
    <div id="page_content_inner">
        <div class="uk-grid">
            <div class="uk-width-medium-1-2">
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_a uk-margin-bottom">{{ 'Клиенты' | trans }}</h3>

                        <div class="uk-overflow-container">
                            <table class="uk-table uk-table-nowrap" id="client_list">
                                <thead>
                                <tr>
                                    <th class="uk-width-2-10">Название</th>
                                    <th class="uk-width-2-10">УНП</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for client in clients %}
                                    <tr>
                                        <td class="uk-text-left">
                                            <a href="{{ path("client_edit", { 'id' : client.id }) }}">{{ client.name }}</a>
                                        </td>
                                        <td class="uk-text-left">
                                            {{ client.unp }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="uk-form-row">
                            <a href="{{ path("client_list") }}" class="md-btn md-btn-primary">Добавить</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-1-2">
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_a uk-margin-bottom">{{ form_title }}</h3>
                        {{ form_start(form) }}

                        {{ form_row(form.name) }}
                        {{ form_row(form.unp) }}

                        <div class="" style="padding: 15px 0;">
                            {{ form_widget(form.isExportable) }}
                        </div>

                        <div class="" style="padding: 15px 0;">
                            {{ form_widget(form.trackInDelivery) }}
                        </div>

                        <div class="" style="padding: 15px 0;">
                            {{ form_widget(form.isDeleted) }}
                        </div>

                        <div class="md-input-wrapper">
                            {{ form_row(form.submit) }}
                        </div>

                        {{ form_end(form) }}
                    </div>
                </div>

                {% if orders is defined %}
                    <div class="md-card">
                        <div class="md-card-content">
                            <h3 class="heading_a uk-margin-bottom">{{ 'Счета' | trans }}</h3>
                            <table class="uk-table uk-table-nowrap">
                                <thead>
                                <tr>
                                    <th>{{ "Номер счета" | trans }}</th>
                                    <th>{{ "Заведение" | trans }}</th>
                                    <th>{{ "Дата" | trans }}</th>
                                    <th>{{ "Официант" | trans }}</th>
                                    <th>{{ "Сумма" | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('admin_order_show', {'id' : order.id}) }}">
                                                {{ order.localId }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ path('admin_order_show', {'id' : order.id}) }}">
                                                {{ order.shop.name }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ path('admin_order_show', {'id' : order.id}) }}">
                                                {{ order.createdAt | date('d.m.Y H:i') }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ path('user_edit', {'id' : order.user.id}) }}">
                                                {{ order.user.name }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ path('admin_order_show', {'id' : order.id}) }}">
                                                {{ order.fullSum | price }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}


    {% block page_specific_plugins %}

        <!-- datatables -->
        <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
        <!-- datatables colVis-->
        <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
        <!-- datatables tableTools-->
        <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
        <!-- datatables custom integration -->
        <script src="/assets/js/custom/datatables_uikit.min.js"></script>

        <script>
            $("table").DataTable({
                iDisplayLength: -1,
            });
        </script>


    {% endblock %}
