<?xml version="1.0" encoding="UTF-8"?>
<dish>
    <place id="{{ shop.id }}" name="{{ shop.alias }}" date="{{ date | date("d-m-Y") }}" total_summ="{{ total }}" cash="{{ totalA['cash'] }}" card="{{ totalA['terminal'] }}" kitchen="{{ totalA['КУХНЯ'] }}" bar="{{ totalA['БАР'] }}">
        {% for dish in dishes %}
            {% if (dish.dish.id >= 20000) and (dish.dish.id <= 30000) and (dish.dish.category.id == 82) %}
                {% set dishId = dish.dish.id - 10000 %}
            {% else %}
                {% set dishId = dish.dish.id %}
            {% endif %}
            
            <dish id="{{ dishId }}" count="{{ dish.quantity }}" summ="{{ (dish.quantity * dish.dishPrice) }}" doze="1" price="{{ dish.dishPrice }}" zakaz_type="{{ dish.order.cashType }}" client="{{ dish.order.clientName }}" name="{{ dish.dish.name }}" fullprice="{{ (dish.fullPrice) }}"/>
        {% endfor %}
    </place>
</dish>
