{#                shop      #}
{#DATE;BIG;SMALL;TOTAL;TOTAL#}
{{- date | date('Y-m-d')  ~ ';' -}}
{% for shop, __data in data %}
    {{- (__data.ingr['Шарик большой'] + __data.ingr['Шарик малый'] / 2) ~ ';' -}}
    {{- __data.sum ~ ';' -}}
{% endfor %}