{#DATE;BIG;SMALL;TOTAL;BIG;SMALL;TOTAL;BIG;SMALL;TOTAL;BIG;SMALL;TOTAL;BAR;CUCINA;PIZZA;ICECREAM;SUSHI;P.MEDIO;DESSERT;TOTAL#}
{% for id, report in data %}
    {{- report.date | date('Y-m-d')  ~ ';' -}}
    {{- report.big.new  ~ ';' -}}
    {{- report.small.new ~ ';' -}}
    {{- (report.big.new + (report.small.new / 2)) | number_format(2, ',', '')  ~ ';' -}}

    {{- report.big.waste  ~ ';' -}}
    {{- report.small.waste  ~ ';' -}}
    {{- (report.big.waste + (report.small.waste / 2)) | number_format(2, ',', '')  ~ ';' -}}

    {{- report.big.used  ~ ';' -}}
    {{- report.small.used  ~ ';' -}}
    {{- (report.big.used + (report.small.used / 2)) | number_format(2, ',', '')  ~ ';' -}}

    {{- report.big.balance  ~ ';' -}}
    {{- report.small.balance  ~ ';' -}}
    {{- (report.big.balance + (report.small.balance / 2)) | number_format(2, ',', '')  ~ ';' -}}

    {{- report.cash.bar | number_format(2, ',', '') ~ ';' -}}
    {{- report.cash.kitchen | number_format(2, ',', '')  ~ ';' -}}
    {{- report.cash.pizza | number_format(2, ',', '')  ~ ';' -}}
    {{- report.cash.icecream | number_format(2, ',', '')  ~ ';' -}}
    {{- report.cash.sushi | number_format(2, ',', '')  ~ ';' -}}

    {% if (report.big.used + (report.small.used / 2)) > 0 %}
        {{- (report.cash.pizza / (report.big.used + (report.small.used / 2))) | number_format(2, ',', '')  ~ ';' -}}
    {% else %}
        {{- 0  ~ ';' -}}
    {% endif %}

    {{- report.cash.desert | number_format(2, ',', '')  ~ ';' -}}

    {{- report.cash.total | number_format(2, ',', '') }}
{% endfor %}