<html>
<body>
<h1>Pizza photo monthly validation stats</h1>

<h2>User stats</h2>
<table>
    <thead>
    <tr>
        <th>Waiter</th>
        <th>Photo checks</th>
    </tr>
    </thead>
    <tbody>
    {% set __sum = 0 %}
    {% for __user in userData %}
        <tr>
            <td>{{ __user.name }}</td>
            <td>{{ __user.uCount }}</td>
        </tr>
        {% set __sum = __sum + __user.uCount %}
    {% endfor %}
    <tr>
        <td><b>SUM</b></td>
        <td>{{ __sum }}</td>
    </tr>
    </tbody>
</table>

<h2>Validation stats</h2>
<table>
    <thead>
    <tr>
        <th>Validator</th>
        <th>Photo checks</th>
    </tr>
    </thead>
    <tbody>
    {% set __sum = 0 %}
    {% for __user in validationData %}
        <tr>
            <td>{{ __user.name }}</td>
            <td>{{ __user.uCount }}</td>
        </tr>
        {% set __sum = __sum + __user.uCount %}
    {% endfor %}
    <tr>
        <td><b>SUM</b></td>
        <td>{{ __sum }}</td>
    </tr>
    </tbody>
</table>


<h2>Shop stats</h2>
<table>
    <thead>
    <tr>
        <th>Shop</th>
        <th>Pizza baked</th>
        <th>Average time, min</th>
        <th>Min time, min</th>
        <th>Max time, min</th>
    </tr>
    </thead>
    <tbody>
    {% set __sum = 0 %}
    {% for __shop in photoData %}
        <tr>
            <td>{{ __shop.name }}</td>
            <td>{{ __shop.pCount }}</td>
            <td>{{ (__shop.avgTime / 60) | price }}</td>
            <td>{{ (__shop.minTime / 60) | price }}</td>
            <td>{{ (__shop.maxTime / 60) | price }}</td>
        </tr>
        {% set __sum = __sum + __shop.pCount %}
    {% endfor %}
    <tr>
        <td><b>SUM</b></td>
        <td>{{ __sum }}</td>
    </tr>
    </tbody>
</table>


<h2>AI stats</h2>
<table>
    <thead>
    <tr>
        <th>Pizza</th>
        <th>Count</th>
        <th>Valid</th>
        <th>Percent</th>
    </tr>
    </thead>
    <tbody>

    {% for __pizza, stats in aiStats %}
        <tr>
            <td>{{ __pizza }}</td>
            <td>{{ stats.count }}</td>
            <td>{{ stats.aiValid }}</td>
            <td>{{ (stats.percent) | price }}%</td>
        </tr>
    {% endfor %}
    <tr>
        <td><b>OVERALL</b></td>
        <td>{{ aiRate.count }}</td>
        <td>{{ aiRate.aiValid }}</td>
        <td>{{ aiRate.percent | price }}%</td>
    </tr>
    </tbody>
</table>


</body>
</html>