<p>Pizza photo validation</p>

<p>There are <strong>{{ toValidation | length }}</strong> photos to be validated</p>

<p>
    <a href="https://admin.venezia.by/admin/photolist">GO TO VALIDATION</a>
</p>