<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="ProgId" content="Excel.Sheet"/>
    <meta name="Generator" content="Microsoft Excel 14"/>
    <link rel="File-List" href="mail.files/filelist.xml"/>
</head>
<body>


<table style="border-collapse: collapse; border: 0;">
    <tr>
        <td>DATA:</td>
        <td colspan="7">
            {{ report.dateClosed | date('Y-m-d H:i') }}
        </td>
    </tr>
    <tr>
        <td>CAFFE':</td>
        <td colspan="7">
            {{ report.shop.name }}
        </td>
    </tr>
    <tr>
        <td>CASSIERA:</td>
        <td colspan="7">
            {{ report.user.name }}
        </td>
    </tr>

    <tr>
        <td colspan="8">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="8">
            <a href="//admin.venezia.by{{ path('report_pizza_shop', {'shop' : report.shop.id, 'dateStart': report.dateStarted | date('Y-m-d H:i:s'), 'dateEnd' : report.dateClosed | date('Y-m-d H:i:s') }) }}">
                {{ 'Detailed pizza' | trans }}
            </a>
        </td>
    </tr>
{#    {% if report.shop.revisionLockTill | date >= "now" | date %}#}
        {#<tr>#}
            {#<td colspan="8">#}
                {#<a href="//admin.venezia.by{{ path('api_shop_revision_unlock', {'id' : report.shop.id, 'token': report.shop.revisionLockToken }) }}">#}
                    {#{{ 'Разблокировать' | trans }}#}
                {#</a>#}
            {#</td>#}
        {#</tr>#}
{#    {% endif %}#}

    {% for ingr, value in data %}
        {% if value['status'] == false %}
            {% set status = "background: #ffd4d4;" %}
        {% else %}
            {% set status = "background: #e0ffe0;" %}
        {% endif %}
        <tr style="border-top: 2px solid #000;  {{ status }}">
            <td style="font-weight: bold">{{ ingr }}</td>
            <td style="border-left: 2px solid #000; border-right: 2px solid #000;text-align: center;" colspan="4">INSERITO DA PIZZAIOLO</td>
            <td colspan="3" style="text-align: center;">COMPUTED</td>
        </tr>
        <tr style="border-top: 1px #000 solid;text-align: center; {{ status }}">
            <td>GIACENZA</td>
            <td style="border-left: 2px solid #000;border-right: 1px solid #000;font-style: italic;font-weight: bold;">NEW</td>
            <td style="border-left: 2px solid #000;border-right: 1px solid #000;font-style: italic;font-weight: bold;">NEW 1C</td>
            <td style="border-right: 1px solid #000;font-style: italic;font-weight: bold;">REST</td>
            <td style="border-right: 2px solid #000;">USED</td>
            <td style="border-right: 2px solid #000;">REST</td>
            <td style="border-right: 1px solid #000;">SELL</td>
            <td>DIFF</td>
        </tr>
        <tr style="text-align: center; border-top: 1px #000 solid; border-bottom: 2px solid #000; {{ status }}">
            <td style="">{{ value['balance_previous'] }}</td>
            <td style="border-left: 2px solid #000; border-right: 1px solid #000;">{{ value['income'] }}</td>
            <td style="border-left: 2px solid #000; border-right: 1px solid #000;">{{ value['income_1c'] }}</td>
            <td style="border-right: 1px solid #000;">{{ value['balance'] }}</td>
            <td style="border-right: 2px solid #000;">{{ value['balance_previous'] + value['income'] - value['waste'] - value['balance'] }}</td>
            <td style="border-right: 2px solid #000;">{{ value['balance_previous'] + value['income'] - value['waste'] - value['used'] }}</td>
            <td style="border-right: 1px solid #000;">{{ value['used'] }}</td>
            <td style="font-weight: bold;">
                {% set diff = 0-(value['used'] - (value['balance_previous'] + value['income'] - value['waste'] - value['balance'])) %}
                {{ diff }}
            </td>
        </tr>

        {% if value['shouldBeValidated'] %}
            {% if diff > 0 %}
                <tr>
                    <td colspan="8"> SE LA DIFFERENZA E' POSITIVA (MAGGIORE DI 0) ALLORA LE CAUSE SONO LE SEGUENTI:</td>
                </tr>
                <tr>
                    <td colspan="8">1. Sono state vendute pizze senza il check !!!!!</td>
                </tr>
                <tr>
                    <td colspan="8">2. Non sono state inserite le pizze mangiate, rovinate, date alla sostanzia o rese indietro</td>
                </tr>
                <tr>
                    <td colspan="8">3. Le pizze arrivate nuove la mattina sono inesatte, inserite di piu' rispetto al nr. effettivo</td>
                </tr>
                <tr>
                    <td colspan="8">4. La rimanenza contata dal pizzaiolo la sera e' inesatta, contate meno pizze rimaste</td>
                </tr>
            {% elseif diff < 0 %}
                <tr>
                    <td colspan="8">SE LA DIFFERENZA E' NEGATIVA (MINORE DI 0) ALLORA LE CAUSE SONO LE SEGUENTI:</td>
                </tr>
                <tr>
                    <td colspan="8">1. Sono state vendute meno pizze rispetto ai check (il cliente ha pagato ma non e' stata fatta la pizza)</td>
                </tr>
                <tr>
                    <td colspan="8">2. Sono state inserite troppe pizze mangiate, rovinate, sostanzia o rese</td>
                </tr>
                <tr>
                    <td colspan="8">3. Le pizze arrivate nuove la mattina sono inesatte, inserite meno pizze rispetto al nr. effettivo</td>
                </tr>
                <tr>
                    <td colspan="8">4. La rimanenza contata dal pizzaiolo la sera e' inesatta, contate piu' pizze rimaste</td>
                </tr>
            {% endif %}
        {% endif %}
        <tr>
            <td colspan="8">&nbsp;</td>
        </tr>
    {% endfor %}

    <tr>
        <td colspan="8">&nbsp;</td>
    </tr>


</table>


</body>
</html>
