<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="ProgId" content="Excel.Sheet"/>
    <meta name="Generator" content="Microsoft Excel 14"/>
    <link rel="File-List" href="mail.files/filelist.xml"/>
</head>
<body>


<table style="border-collapse: collapse; border: 0;">
    <tr>
        <td>Дата:</td>
        <td colspan="7">
            {{ "now" | date('Y-m-d H:i') }}
        </td>
    </tr>
    <tr>
        <td>Заведение:</td>
        <td colspan="7">
            {{ app.user.shop.name }}
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="2"><b>Остаток:</b></td>
        <td colspan="2"><b>Приход:</b></td>
    </tr>
    <tr>
        <td>Ингредиент</td>
        <td>Прошлая смена</td>
        <td>Эта смена</td>
        <td>Товаровед</td>
        <td>Пиццерист</td>
    </tr>

    {% for __ingr in ingrData %}
    <tr>
        <td>{{ __ingr["name"] }}</td>
        <td>{{ __ingr["balance_prev"] }}</td>
        <td>{{ __ingr["balance_now"] }}</td>
        <td>{{ __ingr["income_1c"] }}</td>
        <td>{{ __ingr["income"] }}</td>
    </tr>
    {% endfor %}


</table>


</body>
</html>
