<meta charset="utf-8">
<script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=764a65f4-e00f-43b1-82a8-5414e24167ad&lang=ru_RU" type="text/javascript"></script>

<script type="text/javascript">
    var myMap;
    ymaps.ready(function () {
        myMap = new ymaps.Map('map', {
            center: [52.0929625, 23.7133437],
            zoom: 14,
            controls: []
        });

        myMap.events.add('click', function (e) {
            if (!myMap.balloon.isOpen()) {
                var coords = e.get('coords');
                findDistance(coords);

            } else {
                myMap.balloon.close();
            }
        });


        // 52.099066735626984,23.787571450073177
        // 52.13890728111419,23.64191010562131
        // 52.05899503982512,23.741159105956974


        var myGeoObject = new ymaps.GeoObject({
            geometry: {
                type: "Polygon",
                coordinates: [
                    [
                        [52.099066735626984, 23.787571450073177],
                        [52.05899256926491,23.768293960632235],
                        [52.05899503982512, 23.741159105956974],
                        [52.04938858534578,23.744552891381527],
                        [52.046562350291566,23.741045554705792],
                        [52.04067537668231,23.693788642852713],

                        [52.04750547404727,23.671995707696805],
                        [52.07312015703126,23.657177369630084],

                        [52.0906626951442,23.62763014059937],
                        [52.10049540660781,23.629572948046857],
                        [52.11544807159036,23.621018492254994],
                        [52.12539139081891,23.62464067700191],
                        [52.13890728111419, 23.64191010562131],
                        [52.14195332829579,23.680499693115195],
                        [52.13247147658535,23.728289821241688],
                        [52.115029470295255,23.77856715521237],

                    ],
                ],
                fillRule: "nonZero"
            },
            properties: {
                balloonContent: "Зона доставки"
            }
        }, {
            fillColor: '#00FF00',
            strokeColor: '#0000FF',
            opacity: 0.5,
            strokeWidth: 2,
            strokeStyle: 'solid'
        });

        // myGeoObject.model.events.add('click', function () {
        //     return false;
        // });

        // Adding the polygon to the map.
        myMap.geoObjects.add(myGeoObject);
    });

    function findDistance(destination) {
        var multiRoute = new ymaps.multiRouter.MultiRoute({
            // Route points.
            // Required field.
            referencePoints: [
                'брест советская 112',
                destination,
            ]
        }, {
            // Automatically set the map viewport so that
            // the entire route is visible.
            boundsAutoApply: true
        });

        // Add the route to the map.
        myMap.geoObjects.add(multiRoute);

        multiRoute.model.events.add('requestsuccess', function () {
            alert(destination + " " + multiRoute.getActiveRoute().properties._data.distance.value)
            myMap.geoObjects.remove(multiRoute);
        });
    }


    $(document).on("click", "#submit", function () {
        findDistance($("#destination").val())

    });


</script>

<input type="text" id="destination">
<button id="submit">submit</button>