{% trans_default_domain 'FOSUserBundle' %}

<div class="md-card-content large-padding" id="register_form" style="display: none">
    <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login"></button>
    <h2 class="heading_a uk-margin-medium-bottom">{{ 'Создать аккаунт' | trans }}</h2>

    <form action="{{ path("fos_user_registration_register") }}" method="post">
        <div class="uk-form-row">
            <label for="register_username">{{ 'Имя пользователя' | trans }}</label>
            <input class="md-input" type="text" id="register_username" name="fos_user_registration_form[username]"/>
        </div>
        <div class="uk-form-row">
            <label for="register_password">{{ 'Пароль' | trans }}</label>
            <input class="md-input" type="password" id="register_password" name="fos_user_registration_form[plainPassword][first]"/>
        </div>
        <div class="uk-form-row">
            <label for="register_password_repeat">{{ 'Повторите пароль' | trans }}</label>
            <input class="md-input" type="password" id="register_password_repeat" name="fos_user_registration_form[plainPassword][second]"/>
        </div>
        <div class="uk-form-row">
            <label for="register_email">E-mail</label>
            <input class="md-input" type="text" id="register_email" name="fos_user_registration_form[email]"/>
        </div>
        <div class="uk-margin-medium-top">
            <button type="submit" class="md-btn md-btn-primary md-btn-block md-btn-large">{{ 'Зарегистрироваться' | trans }}</button>
        </div>
        {{ form_widget(form._token) }}
    </form>
</div>