body{
    //background: url(/static/card_bg.jpg) no-repeat;
    //background-size: cover;
    background: #efefef;
}

.input-box {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin: 0 0 20px 0;
    padding: 10px;
}

.input-box select {
    width: 33.3333333333333%;
}
h1, h2 {
    text-align: center;
    color: #fff;
}

h1 {
    border-bottom: 2px #fff solid;
    padding-bottom: 15px;
}

p {
    text-align: center;
}

input, select {
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    width: 100%;
    text-transform: uppercase;
    font-size: 18px;
}

option {
    color: #000;
}

button {
    border: none;
    outline: none;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

#success {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 130px;
    margin: auto;
}








@mixin placeholder {
    ::-webkit-input-placeholder {@content}
    :-moz-placeholder           {@content}
    ::-moz-placeholder          {@content}
    :-ms-input-placeholder      {@content}
}

@include placeholder {
    color: #fff;
}