{% extends "RestaurantBundle::layout.html.twig" %}

{% block container %}
    <div id="page_content_inner">
        <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
            <div class="uk-width-1-2">
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_a uk-margin-bottom">{{ 'Категории' | trans }}</h3>
                        {% block category_list %}
                            <ul class="md-list" id="cat_list" data-uk-sortable>
                                {% for category in categories %}
                                    <li data-order="{{ category.order }}" data-id="{{ category.id }}">{{ category.name }}</li>
                                {% endfor %}
                            </ul>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_specific_plugins %}

    <script>
        var sortable = UIkit.sortable("#cat_list", {
            threshold: 0,
        });

        UIkit.on("change.uk.sortable", function (e, o, d, a) {
            var $list = $(o.element);
            var order_list = [];
            $("li", $list).each(function (key, item) {
                var $item = $(item)
                var data = $item.data();
                data.new_order = key + 1;

                if (data.order != data.new_order) {
                    order_list.push({
                        category: data.id,
                        order: data.new_order
                    });
                }
            });

            $.ajax({
                url: "{{ path("category_list_sort_ajax") }}",
                type: "POST",
                data: {
                    data: order_list
                },
                success: function (response) {
                    if (response.status) {
                        $("#cat_list").replaceWith(response.data);
                        sortable = UIkit.sortable("#cat_list", {
                            threshold: 0,
                        });
                    }
                }
            });
        });
    </script>


{% endblock %}
