{% extends "RestaurantBundle::layout.html.twig" %}

{% form_theme form '@Restaurant/Form/Fields.twig' %}

{% block container %}
    <style>
        .del-icon {
            height: 18px !important;
            width: 18px !important;
            line-height: 18px !important;
            font-size: 16px;
        }

        #icon-list {
            position: absolute;
            width: 200px;
            height: 200px;
            overflow-y: scroll;
            background: #eee;
            display: none;
        }

        #icon-list ul {
            list-style: none;
        }

        #icon-list ul li {
            display: block;
            width: 40px;
            height: 40px;
            background: #fff;
            float: left;
            text-align: center;
            line-height: 50px;
            border: 2px #000 solid;
            margin: 3px;
            cursor: pointer;
        }

        #icon-list ul li i {
            font-size: 26px;
        }

        .select_icon {

        }
    </style>
    <div id="page_content_inner">
        <div class="uk-grid">
            <div class="uk-width-5-5">
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_a uk-margin-bottom">{{ 'Скидки' | trans }}</h3>
                        <table class="uk-table uk-table-striped">
                            <thead>
                            <tr>
                                <th>{{ 'Категория' | trans }}</th>
                                <th>{{ 'Заведение' | trans }}</th>
                                <th>{{ 'Скидка' | trans }}</th>
                                <th>{{ 'День' | trans }}</th>
                                <th>{{ 'С' | trans }}</th>
                                <th>{{ 'По' | trans }}</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for discount in discounts %}
                                <tr>
                                    <td>
                                        <a href="{{ path("category_edit", {'id' : discount.category.id }) }}">
                                            {{ discount.category.name }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path("category_edit", {'id' : discount.category.id }) }}">
                                            {{ discount.shop.name }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path("category_edit", {'id' : discount.category.id }) }}">
                                            {{ discount.discount }}%
                                        </a>
                                    </td>
                                    <td>
                                        {{ discount.textDays }}
                                    </td>
                                    <td>
                                        <a href="{{ path("category_edit", {'id' : discount.category.id }) }}">
                                            {{ discount.timeStart | date("H:i") }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path("category_edit", {'id' : discount.category.id }) }}">
                                            {{ discount.timeEnd   | date("H:i") }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path("discount_delete", {'id' : discount.id }) }}">
                                            <i class="md-icon material-icons del-icon">&#xE872;</i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {#<div class="uk-width-2-5">
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_a uk-margin-bottom">{{ 'Акции' | trans }}</h3>
                        <table class="uk-table uk-table-striped">
                            <thead>
                            <tr>
                                <th>{{ 'Акция' | trans }}</th>
                                <th>{{ 'Заведение' | trans }}</th>
                                <th>{{ 'Скидка' | trans }}</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for promo in promos %}
                                <tr>
                                    <td>
                                        <a href="">
                                            {{ promo.name }}
                                        </a>
                                    </td>
                                    <td>{{ promo.discount }}%</td>
                                    <td>
                                        <a href="{{ path("promo_delete", {'id' : promo.id }) }}">
                                            <i class="md-icon material-icons del-icon">&#xE872;</i>
                                        </a>
                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_a uk-margin-bottom">{{ 'Добавить акцию' | trans }}</h3>
                        {{ form_start(form) }}
                        <div class="uk-form-row">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                        </div>
                        <div class="uk-form-row">
                            {{ form_label(form.shop) }}
                            {{ form_widget(form.shop) }}
                        </div>
                        <div class="uk-form-row">
                            {{ form_label(form.discount) }}
                            {{ form_widget(form.discount) }}
                        </div>
                        <div class="uk-form-row">
                            {{ form_label(form.icon) }}
                            {{ form_widget(form.icon) }}
                        </div>
                        {#<div class="uk-form-row">
                            <div class="uk-width-1-3" style="float: left;">
                                {{ form_widget(form.day) }}
                            </div>
                            <div class="uk-width-1-3" style="float: left;">
                                {{ form_widget(form.timeStart) }}
                            </div>
                            <div class="uk-width-1-3" style="float: left;">
                                {{ form_widget(form.timeEnd) }}
                            </div>
                        </div>#}
                        {#<div class="uk-form-row">
                            <div style="width: 50%;float: left;">
                                {% for category in form.categories %}
                                    {{ form_widget(category) }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="uk-form-row">
                            {{ form_widget(form._token) }}
                            {{ form_widget(form.submit) }}
                        </div>

                    </div>
                    {{ form_end(form) }}

                </div>
            </div>#}
        </div>
    </div>

    <div id="icon-list">
        <ul>
            <li class="select_icon"><i class="material-icons">shopping_cart</i></li>
            <li class="select_icon"><i class="material-icons">pregnant_woman</i></li>
            <li class="select_icon"><i class="material-icons">payment</i></li>
            <li class="select_icon"><i class="material-icons">star</i></li>
            <li class="select_icon"><i class="material-icons">school</i></li>
            <li class="select_icon"><i class="material-icons">cake</i></li>
            <li class="select_icon"><i class="material-icons">business_center</i></li>
            <li class="select_icon"><i class="material-icons">child_friendly</i></li>
        </ul>
    </div>
{% endblock %}


{% block page_specific_plugins %}

    <!-- datatables -->
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <!-- datatables colVis-->
    <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <!-- datatables tableTools-->
    <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <!-- datatables custom integration -->
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>

    <!-- datatables custom integration -->
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>

    <script>
        $("table").DataTable({
            dom: "<'dt-uikit-header'<'uk-grid'<'uk-width-medium-2-3'Bl><'uk-width-medium-1-3'f>>><'uk-overflow-container'tr><'dt-uikit-footer'<'uk-grid'<'uk-width-medium-3-10'i><'uk-width-medium-7-10'p>>>",
            buttons: [
                {
                    extend: 'excel',
                },
                {
                    extend: 'print',
                    footer: true,
                    customize: function (win) {
                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                        $(win.document.body).find('td')
                            .css('padding', '2px');
                    }
                },
            ]
        });
    </script>

    <script>
        $(document).on('click', '.select_icon', function () {
            $("#promo_icon").val($(this).html());
            $("#icon-list").hide();
        });

        $(document).on('focus', '#promo_icon', function () {
            var offset = $(this).offset();
            $("#icon-list").css({
                top: offset.top + 50,
                left: offset.left
            }).show();
        });
    </script>

{% endblock %}
