<html>
<head>
    <link rel="stylesheet" href="/bower_components/uikit/css/uikit.almost-flat.min.css" media="all">
    <link rel="stylesheet" href="/assets/css/main.min.css" media="all">

    <script src="/assets/js/common.min.js"></script>
    <script src="/assets/js/uikit_custom.min.js"></script>
    <script src="/assets/js/altair_admin_common.min.js?833803076"></script>
    <style>
        body {
            background: #ccc;
            padding: 0;
        }

        .page {
            width: 790px;
            background: #fff;
            padding: 38px;
            height: 1142px;
            box-sizing: border-box;
            margin-bottom: 50px;
        }

        li a {
            color: #000;
            text-decoration: none;
        }

        h1 {
            text-align: center;
            margin: 15px 0;
        }

        h3 {
            overflow-wrap: break-word;
            padding: 0;
            margin: 0;
        }

        p {
            margin: 0;
            padding: 0;
        }

        .dish .title {
            float: left;
        }

        .dish .meta {
            float: right;
        }

        .dish:after {
            content: " ";
            clear: both;
            display: table;
        }

        /*
        ul {
            padding: 0;
            margin: 0;
            #list-style: none;

        }
        */

        ul {
            list-style: none;
        }

        #tools {
            width: 300px;
            position: fixed;
            right: 0;
            top: 0;
            background: #fff;
            height: 100%;
        }

        .dish_root {
            width: 790px;
            margin: 0 auto;
        }

        @media print {
            .page {
                width: 100%;
                padding: 0;
                margin: 0;
            }

            a {
                text-decoration: none;
            }

            a:after {
                content: " ";
                display: none;
            }

            #tools {
                display: none;
            }

            .sf-toolbar {
                display: none !important;
            }
        }
    </style>

</head>
<body>
<div class="dish_root">
    <div class="dish_cat page" id="cat_{{ category.id }}" style="height: auto;">
        <h3>
            <a class="cat_title" href="{{ path('category_edit', {'id':category.id, '_locale' : app.request.locale}) }}" target="_blank">
                {{ category.name }}
            </a>
        </h3>
        <table style="width: 100%;">
            {%- for dish in category.dishes -%}
                <tr>
                    <td>
                        <a href="{{ path('dish_edit', {'id' : dish.id, '_locale' : app.request.locale}) }}" target="_blank">
                            {{ dish.name }}
                        </a>
                    </td>
                    <td style="width: 1%;">
                        {#{% if dish.changes[0] is defined %}
                            {{ dish.changes[0].price | price }}
                        {% else %}
                            {{ price | price }}
                        {% endif %}#}
                        {{ dish.price | price }}
                    </td>
                    <td style="width: 1%;">
                        {{ dish.id }}
                    </td>
                </tr>
            {%- endfor -%}
        </table>
    </div>

</div>

<div class="pages">
</div>
<div id="tools">

</div>
</body>
</html>
