{% extends "RestaurantBundle::layout.html.twig" %}

{% block title %}
    {{ 'Категории меню' | trans }}
{% endblock %}

{% block container %}
    <div id="page_content_inner">
        <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
            <div class="uk-width-1-2">
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_a uk-margin-bottom">
                            {{ 'Категории' | trans }}
                            <a href="{{ path("category_list_sort") }}" style="float: right">{{ 'Изменить порядок' | trans }}</a>
                        </h3>

                        <table class="uk-table uk-table-striped">
                            <thead>
                            <tr>
                                <th>{{ 'Категория' | trans }}</th>
                                <th>{{ 'Родительская категория' | trans }}</th>
                                <th>{{ 'Действия' | trans }}</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for category in categories %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <tr>
                                        <td>
                                            <a href="{{ path("category_edit", { 'id' : category.id}) }}">
                                                {{ category.name }}
                                            </a>
                                        </td>
                                        <td>
                                            {% if category.parent is not null %}
                                                <a href="{{ path("category_edit", { 'id' : category.parent.id}) }}">
                                                    {{ category.parent.name }}
                                                </a>
                                            {% else %}

                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{{ path('category_list_print', {'id' : category.id}) }}" target="_blank">Печать</a>
                                        </td>
                                    </tr>
                                {% endif %}


                            {% endfor %}
                            </tbody>
                        </table>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path("category_create") }}"
                               class="md-btn md-btn-success md-btn-wave-light waves-effect waves-button waves-light">{{ 'Добавить категорию' | trans }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_specific_plugins %}

    <!-- datatables -->
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <!-- datatables colVis-->
    <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <!-- datatables tableTools-->
    <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <!-- datatables custom integration -->
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>

    <script>
        $("table").DataTable({
            pageLength: 20,
        });
    </script>


{% endblock %}
