{% extends "RestaurantBundle::layout.html.twig" %}

{% form_theme form '@Restaurant/Form/Fields.twig' %}

{% block page_specific_styles %}
    <link rel="stylesheet" href="/assets/skins/dropify/css/dropify.css">
    <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}" media="all">
{% endblock %}

{% block title %}
    {{ 'Категория' | trans }} {{ category.name }}
{% endblock %}

{% block container %}
    <div id="page_heading" style="position: relative;">
        <h1 id="product_edit_name">{% if category is defined %}{{ category.name }}{% else %}Новая категория{% endif %}</h1>
        <span class="uk-text-muted uk-text-upper uk-text-small" id="product_edit_sn">
            {% if category.parent is not null %}
                <a href="{{ path('category_edit', {'id' : category.parent.id}) }}">{{ category.parent.name }}</a>
            {% endif %}
        </span>
    </div>
    <div id="page_content_inner">

        <div class="uk-grid">
            <div class="uk-width-1-1">
                {{ form_start(form) }}
                <div class="uk-grid">
                    <div class="uk-width-xLarge-2-10 uk-width-large-3-10">
                        <div class="md-card">
                            <div class="md-card-toolbar">
                                <h3 class="md-card-toolbar-heading-text">
                                    {{ 'Иконка' | trans }}
                                </h3>
                            </div>
                            <div class="md-card-content">
                                {{ form_widget(form.imageFile) }}
                            </div>
                        </div>
                        <div class="md-card">
                            <div class="md-card-toolbar">
                                <h3 class="md-card-toolbar-heading-text">
                                    {{ 'Дочерние' | trans }}
                                </h3>
                            </div>
                            <div class="md-card-content">
                                <ul>
                                    {% for child in category.children %}
                                        {% if child != category %}
                                            <li>
                                                <a href="{{ path('category_edit', {'id' : child.id}) }}">{{ child.name }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-xLarge-8-10  uk-width-large-7-10">
                        <div class="md-card">
                            <div class="md-card-toolbar">
                                <h3 class="md-card-toolbar-heading-text">
                                    {{ 'Описание' | trans }}
                                </h3>
                            </div>
                            <div class="md-card-content large-padding">
                                <div class="uk-grid uk-grid-divider uk-grid-medium" data-uk-grid-margin>
                                    <div class="uk-width-large-3-4">
                                        <div class="uk-form-row">
                                            {{ form_row(form.name) }}
                                        </div>
                                        <div class="uk-form-row">
                                            {{ form_widget(form.parent) }}
                                        </div>
                                        <div class="uk-form-row">
                                            {{ form_row(form.description) }}
                                        </div>
                                    </div>
                                    <div class="uk-width-large-1-4">
                                        <div class="uk-form-row">
                                            {{ form_widget(form.isTerminal) }}
                                        </div>
                                        <div class="uk-form-row">
                                            {{ form_row(form.sortOrder) }}
                                        </div>

                                        <div class="uk-form-row">
                                            {{ form_widget(form.isGroupNames) }}
                                        </div>
                                        <div class="uk-form-row">
                                            {{ form_row(form.sortGroupOrder) }}
                                        </div>

                                        <div class="uk-form-row">
                                            {{ form_row(form.ignoreDiscount) }}
                                        </div>

                                        <div class="uk-form-row">
                                            <div>
                                                {{ form_row(form.orderTypes) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md-fab-wrapper">
                        {% if is_granted('ROLE_BUHGALT') %}
                            <a href="{{ path('category_create') }}" class="md-fab md-fab-success">
                                <i class="material-icons">add</i>
                            </a>
                            <button type="submit" class="md-fab md-fab-primary" id="product_edit_submit">
                                <i class="material-icons">save</i>
                            </button>
                        {% endif %}
                    </div>

                </div>
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <div class="md-card">
                            <div class="md-card-toolbar">
                                <h3 class="md-card-toolbar-heading-text">
                                    {{ 'Скидка' | trans }}
                                </h3>
                            </div>
                            <div class="md-card-content">
                                <div id="category_discounts"
                                     data-prototype="{{ form_widget(form.discounts.vars.prototype) | e }}">
                                    {{ form_label(form.discounts) }}
                                    {% for discount in form.discounts %}
                                        <div class="item-row">
                                            {{ form_widget(discount) }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <div class="md-card">
                            <div class="md-card-toolbar">
                                <h3 class="md-card-toolbar-heading-text">
                                    {{ 'Принтеры' | trans }}
                                </h3>
                            </div>
                            <div class="md-card-content">
                                <div id="category_printers" data-prototype="{{ form_widget(form.printers.vars.prototype) | e }}">
                                    {{ form_label(form.printers) }}
                                    {% for printer in form.printers %}
                                        <div class="item-row">
                                            {{ form_widget(printer) }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{ form_widget(form._token) }}
                </form>
            </div>
        </div>

        <div class="uk-grid">

            <div class="uk-width-1-1">
                <div class="md-card">
                    <div class="md-card-toolbar">
                        <h3 class="md-card-toolbar-heading-text">
                            {% if category is defined and category.id is not null %}
                                <a href="{{ path("dish_list_sort", {'id' : category.id}) }}" style="float: right;">
                                    {{ 'Изменить порядок' | trans }}
                                </a>
                            {% endif %}
                        </h3>
                    </div>
                    <div class="md-card-content">
                        <button class="md-btn" id="reset_availability">Доступность</button>
                        <button class="md-btn" id="reset_visibility">Видимость</button>

                        {% if dishes is defined %}
                            {% include '@Dish/Dish/dishTable.html.twig' with {dishes: dishes, replication: replication} %}
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path("dish_add", {'id' : category.id }) }}" class="md-btn md-btn-success md-btn-wave-light waves-effect waves-button waves-light">{{ 'Добавить блюдо' | trans }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_specific_plugins %}
    <!--  dropify -->
    <script src="/assets/js/custom/dropify/dist/js/dropify.min.js"></script>
    <!--  form file input functions -->
    <script src="/assets/js/pages/forms_file_input.min.js"></script>

    <!-- datatables -->
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <!-- datatables colVis-->
    <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <!-- datatables tableTools-->
    <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <!-- datatables custom integration -->
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.2/js/dataTables.fixedHeader.min.js"></script>


    <script src="https://admin.venezia.by:3000/socket.io/socket.io.js"></script>

    <script src="{{ asset('assets/js/jquery_extensions.js') }}"></script>
    <script src="{{ asset('assets/js/table_edit.js') }}"></script>

    <script>
        var locale = '{{ app.request.locale }}';
        $(document).ready(function () {
            var socket = io.connect('https://admin.venezia.by:3000');
            {% if app.environment == "dev" -%}
            var event = "table_update_dev";
            {%- else %}
            var event = "table_update";
            {%- endif %}
            socket.on('connect', function () {
                socket.on(event, function (data) {
                    var row = $("#dish_" + data.id);
                    if (data.type === "replace") {
                        row.replaceWith($(data.data).fadeIn(200).fadeOut(200).fadeIn(200).fadeOut(200).fadeIn(200));
                    } else if (data.type == "delete") {
                        row.remove();
                    }
                });
            });
        });
    </script>

    <script>
        $('#category_discounts').collection({
            addButtonText: "{{ "Добавить скидку" | trans }}",
            deleteButtonText: "{{ "Удалить" | trans }}",
        });

        $('#category_printers').collection({
            addButtonText: "{{ "Добавить принтер" | trans }}",
            deleteButtonText: "{{ "Удалить" | trans }}",
        });


    </script>
{% endblock %}
