{% extends '@Wifi/wifi_layout_marco.html.twig' %}

{% block content %}

    <div autoplay muted loop id="bg" width='100%' height='100%' poster="/img/wifi_bg.png">
        {#<source src="/img/wifi_bg.mp4" type="video/mp4">
        <source src="/img/wifi_bg.webm" type="video/webm">#}
    </div>
    <div class="container">
        <div class="row languages">
            {% if app.request.locale == 'ru' %}
                <a href="#" class="active">
                    <img src="{{ asset('img/marco/lng_rus.png') }}" alt="">
                </a>
            {% else %}
                <a class="" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ru'})) }}{{ app.request.requestUri | replace({'/en/login': ''}) }}">
                    <img src="{{ asset('img/marco/lng_rus.png') }}" alt="">
                </a>
            {% endif %}

            {% if app.request.locale == 'it' %}
                <a href="#" class="active ">
                    <img src="{{ asset('img/marco/lng_ita.png') }}" alt="">
                </a>
            {% else %}
                <a class="" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'it'})) }}{{ app.request.requestUri | replace({'/login': ''}) }}">
                    <img src="{{ asset('img/marco/lng_ita.png') }}" alt="">
                </a>
            {% endif %}

            {% if app.request.locale == 'en' %}
                <a href="#" class="active">
                    <img src="{{ asset('img/marco/lng_eng.png') }}" alt="">

                </a>
            {% else %}
                <a class="" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}{{ app.request.requestUri | replace({'/login': ''}) }}">
                    <img src="{{ asset('img/marco/lng_eng.png') }}" alt="">
                </a>
            {% endif %}

            {#<a href="#">РУС</a>#}
            {#<a href="#">ENG</a>#}
            {#<a href="#">ITA</a>#}
        </div>
        <div class="row">
            <img src="{{ asset('img/marco/logo.png') }}" alt="" class="img-responsive" style="margin: 30px auto;width: 310px; padding-left: 50px;">
        </div>
        <div class="row">
            <h4 class="cafe-title">{{ wifiRouter.description }} </h4>
        </div>
        <div class="row" id="login">
            <p href="{{ path('wifi_register') }}" class="get-code-text">{{ 'Получить код' | trans }}</p>

            <div class="register">
                <a href="#">
                    <img src="{{ asset('img/marco/free-wifi.png') }}" alt="">
                </a>
            </div>

            {% if error %}
                {{ error }}
            {% endif %}

            {{ form_start(loginForm) }}
            {{ form_widget(loginForm.code) }}
            {{ form_end(loginForm) }}
            <div class="message wait" style="display: none;">
                {{ 'Вам отправлено смс с кодом досупа. Ожидайте...' | trans }}
            </div>

        </div>
        <div class="row" id="register" style="display: none;">
            {% if error %}
                {{ error }}
            {% endif %}

            <div class="message send">
                {{ 'Код будет отправлен вам по SMS' | trans }}
            </div>
            {{ form_start(phoneForm, {'attr': {'action': path('wifi_register')}}) }}
            {{ form_widget(phoneForm.phone) }}

            <div class="agreement">
                <img src="{{ asset('img/marco/checkbox.png') }}" alt="">
                {{ 'Соглашаюсь с правилами пользования' | trans }}
            </div>

            {{ form_widget(phoneForm.submit) }}
            {{ form_widget(phoneForm.mac) }}
            {{ form_widget(phoneForm._token) }}
            </form>
        </div>
        <div class="puboffer">
            <a href="#" class="terms-show">{{ 'Правила пользования' | trans }}</a>
        </div>
        <div class="terms-of-service" style="display: none;">
            <a href="#" class="terms-close">&times;</a>
            {% include '@Wifi/Default/terms.html.twig' with {'shop' : wifiRouter.shop } %}
        </div>
    </div>
    <script src="{{ asset('assets/js/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ asset('assets/js/intlTelInput.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#code_phone').keypress(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                }
            });

            $("#code_phone").intlTelInput({
                autoFormat: true,
                autoHideDialCode: false,
                allowDropdown: false,
                utilsScript: "/assets/js/utils.js",
                autoPlaceholder: 'aggressive',
                nationalMode: false,
                initialCountry: "BY",
                preferredCountries: ["BY"]

            });

            $(document).on("click", ".disabled", function () {
                return false;
            });

            $("#code_submit").on("click", function () {
                var telInput = $("#code_phone");
                if (!telInput.intlTelInput("isValidNumber"))
                    return false;
            });


            $('#code_phone').keyup(function () {

                var telInput = $("#code_phone");

                if ($.trim(telInput.val())) {
                    if (telInput.intlTelInput("isValidNumber")) {
                        $("#code_submit").removeClass("disabled").removeAttr('disabled');
                    } else {
                        $("#code_submit").addClass("disabled").attr('disabled', 'disabled');
                    }
                }

                if (!telInput.val()) {
                    $("#code_submit").addClass("disabled").attr('disabled', 'disabled');
                }

            });

            $(document).on("click", '.register', function (e) {
                e.preventDefault();
                $("#login, #register").toggle();
                return false;
            });


            $(".terms-show").click(function () {
                $(".terms-of-service").show();
            });

            $(".terms-close").click(function () {
                $(".terms-of-service").hide();
            });


            $("#register form").on("submit", function () {
                var url = $(this).attr('action');
                var that = $(this);
                $.ajax({
                    url: url,
                    method: 'POST',
                    data: that.serialize(),
                    success: function (response) {
                        return;
                    }
                });
                $("#login, #register").toggle();
                $(".register").hide();
                $(".wait").show();
                setTimeout(function () {
                    $(".register").show();
                    $(".wait").hide();
                }, 120000);
                return false;
            });
        });
    </script>
{% endblock %}