{% extends '@Wifi/wifi_layout.html.twig' %}

{% block content %}
    <div class="row">
        <h4 style="text-align: center;">{{ wifiRouter.shop.name }} </h4>
    </div>

    <div class="row">
        <h4 style="text-align: center;">Успешно</h4>
    </div>

    <script>
        let url = '{{ redirectUrl }}';
        let isBlocked = {{ isBlocked ? 'true' : 'false' }};
        setTimeout(function () {
            if (isBlocked) {
                window.close();
            } else {
                window.location = url;
            }
        }, 5000)
    </script>
{% endblock %}