<p>Положение об условиях пользования услугой доступа к сети Интернет</p>
<p>Настоящие условия оказания услуги доступа к сети Интернет и различным приложениям на базе сети Интернет (далее по тексту &mdash; Условия) являются офертой, адресованной Пользователям БСПД, и становятся соглашением между Пользователем и Исполнителем об оказании Услуги с момента согласия Пользователя с ними. Оказание услуг осуществляется на основании &laquo;Условий пользования Услугами&raquo;, накладывающих ограничения на пользователей по совершению действий, которые могут ограничить или ущемить свободы и права других пользователей сети Интернет.</p>
<p>Условия направлены на защиту прав и свобод физических лиц, персональные данные которых обрабатывает {{ shop.organisation }}.</p>
<p>Условия разработаны в соответствии с Законом Республики Беларусь &laquo;Об информации, информатизации и защите информации&raquo; от 10.11.2008 №455-З (далее &ndash; &laquo;Закон&raquo;) и иными законодательными актами Республики Беларусь.</p>
<p>Условия является общедоступным документом.</p>
<p><strong>Условия пользования Услугами </strong></p>
<p>Для целей настоящих Условий применяются следующие основные термины и определения.</p>
<p><strong>Исполнитель</strong> &mdash; Иностранное общество с ограниченной ответственностью &laquo;Итал-Сервис&raquo; (далее &ndash; {{ shop.organisation }}, зарегистрировано 14 мая 2014 года Брестским областным исполнительным комитетом в Едином государственном регистре юридических лиц и индивидуальных предпринимателей с регистрационным номером 290363434. Юридический и фактический адрес: 224030, г. Брест, ул. Интернациональная, д.5, ком. 208.</p>
<p><strong>Пользователь</strong> &mdash; любое совершеннолетнее физическое лицо, нуждающееся в Услугах и имеющее техническую возможность их получать, не являющееся плательщиком налога на добавочную стоимость.</p>
<p><strong>Абонентское устройство</strong> &mdash; находящееся в законном владении Пользователя пользовательское (оконечное) оборудование, обеспечивающее Пользователю доступ к услугам Исполнителя, посредством подключения данного оконечного оборудования к БСПД.</p>
<p><strong>Wi-Fi</strong> &mdash; один из форматов передачи цифровых данных по радиоканалам, обеспечивающий беспроводное подключение оборудования Пользователя к cети доступа к телематическим услугам связи.</p>
<p><strong>БСПД</strong> &mdash; Беспроводная сеть передачи данных, развернутая Исполнителем.</p>
<p><strong>Сеть Wi-Fi</strong> &mdash; сеть доступа к сети Интернет по технологии Wi-Fi (далее по тексту &laquo;Сеть&raquo;).</p>
<p><strong>Адаптер Wi-Fi</strong> &mdash; устройство, обеспечивающее сопряжение оборудования Пользователя с Сетью.</p>
<p><strong>Услуга</strong> &mdash; услуги по предоставлению безвозмездного беспроводного доступа в сеть Интернет по технологии Wi-Fi.</p>
<p>Иные термины, употребляемые в настоящих Условиях, применяются в значениях, указанных в действующем законодательстве Республики Беларусь.</p>
<ol>
    <li>Пользователь пользуется Услугой, предоставляемой Исполнителем на безвозмездной основе на условиях настоящих Условий.</li>
    <li>Принятие настоящих Условий является обязательным условием для всех лиц, желающих воспользоваться Услугой.</li>
    <li>Под технической возможностью понимается нахождение Пользователя в зоне уверенного приема радиосигнала точки доступа Исполнителя и использование для доступа к Услуге настроенного Оборудования Пользователя и программного обеспечения. Настройка программного обеспечения и Оборудования Пользователя осуществляется Пользователем самостоятельно.</li>
    <li>Срок действия настоящих Условий не ограничен.</li>
    <li>Исполнитель вправе в одностороннем порядке вносить любые изменения в настоящие Условия, при условии своевременного доведения до Пользователя информации о таких изменениях.</li>
    <li>Услуга может иметь ограничения по скорости доступа к сети Интернет, продолжительности сеанса доступа к сети Интернет, сроку действия сеанса доступа к сети Интернет, и ограничение по объему переданных данных.</li>
    <li>Перед началом пользования Услугой Пользователь обязан ознакомиться с настоящими Условиями.</li>
    <li>Согласие Пользователя с Условиями выражается фактом совершения Пользователем действий, предусмотренных настоящими Условиями, а именно &ndash; проставление галочки в сокращенных условиях*, означающая безоговорочное принятие настоящих Условий без каких-либо изъятий или ограничений.</li>
    <li>Пользователь, выполнивший действия, предусмотренные п.8, считается ознакомившимся и согласным с настоящими Условия в течение всего срока действия Условий вплоть до внесения в них изменений.</li>
    <li>Исполнитель оставляет за собой право &laquo;веерной&raquo; (массовой) рассылки сообщений Пользователям, связанных и не связанных с исполнением настоящих Условий. Под &laquo;веерной&raquo; (массовой) рассылкой понимается отправка одновременно в 2 (два) и более адреса сообщений, на получение которых у инициатора рассылки не имеется согласия владельцев этих адресов (настоящее ограничение никоим образом не имеет отношения к системе электронной подписки).</li>
    <li>Исполнитель вправе осуществлять идентификацию Пользователей в порядке, установленном Исполнителем, в том числе путем установления абонентского номера, назначенного оператором связи Пользователю в соответствии с договором об оказании услуг подвижной радиотелефонной связи, и осуществлять обработку и хранение идентификационных данных Пользователя, а также информации об идентификаторах оконечного Оборудования Пользователей в целях оказания Услуг.</li>
    <li>Исполнитель не будет преднамеренно просматривать или разглашать любые частные сообщения, в том числе электронной почты или иных электронных способов обмена сообщениями (за исключением случаев, предусмотренных законом). Исполнитель не обязан следить за содержанием информации, распространяемой или получаемой посредством Услуг. Однако Пользователь принимает условие, что Исполнитель имеет право периодически отслеживать проходящую через Услуги информацию и раскрывать любые сведения, если это необходимо в соответствии с законом, требованиями уполномоченных государственных органов, учреждений, либо для нормального функционирования Услуги, либо для защиты Исполнителя и других его пользователей, а равно третьих лиц, чьи законные права и интересы были нарушены.</li>
    <li>В соответствии с требованиями действующего законодательства Пользователь, принимая настоящие Условия, выражает предварительное согласие на получение рекламы (рекламной информации) в любой форме и в любом виде, в том числе путем демонстрации на Абонентском устройстве рекламных, информационных и других материалов или сообщений.</li>
    <li>В состав Услуги в соответствии с настоящими Правилами входит предоставление Пользователю доступа к сети Интернет через БСПД.</li>
    <li>Для получения Услуги Пользователю необходимо иметь оборудование со встроенным Адаптером Wi-Fi.</li>
    <li>Для установления соединения с сетью Интернет Пользователю необходимо:
        <ul>
            <li>установить связь между своим оборудованием и точкой доступа</li>
            <li>запустить интернет-браузер, предустановленный на Оборудовании Пользователя</li>
            <li>ввести в адресной строке браузера любой адрес</li>
            <li>осуществить действия по идентификации либо авторизации Исполнителя в соответствии с требованиями действующего законодательства РБ.</li>
        </ul>
    </li>
    <li>При пользовании Услугами Пользователю запрещается:
        <ul>
            <li>Ограничивать доступ других Пользователей или препятствовать другим Пользователям в использовании Услуг.</li>
            <li>Использовать Услугу в коммерческих целях путем её перепродажи.</li>
            <li>Посылать рекламные, информационные и другие материалы без согласия (или при отсутствии заявки) со стороны адресатов, а также в несоответствующие по тематике электронные издания и конференции.</li>
            <li>Производить &laquo;веерную&raquo; (массовую) рассылку рекламных, информационных и других материалов другим пользователям сети интернет, кроме случаев, когда адресаты согласны получить эти материалы, как на адрес персональной электронной почты, так и через электронные издания и конференции общего доступа, для этого не предназначенные. Под &laquo;веерной&raquo; (массовой) рассылкой понимается отправка одновременно в два и более адреса сообщений, на получение которых у Пользователя не имеется согласия владельцев этих адресов. Настоящее ограничение никоим образом не имеет отношения к системе электронной подписки.</li>
            <li>Производить самовольное (несанкционированное) проникновение в любые технологические компоненты (узлы), программы, базы данных и иные составляющие элементы сети Исполнителя, интернет, имея в виду действия, совершение или покушение на совершение которых предусматривает установленную в РБ уголовную или административную ответственность за такие деяния.</li>
            <li>Посылать или делать доступной по сети интернет любую информацию, распространение которой, так или иначе, противоречит белорусскому или международному праву.</li>
            <li>Намеренно передавать любую информацию или программное обеспечение, которое содержит в себе вирусы или другие вредные компоненты.</li>
            <li>Посылать, передавать, воспроизводить, предоставлять или в любом виде использовать в коммерческих целях информацию, программное обеспечение, или другие материалы, полностью или частично, полученные посредством Услуг (если это явно не разрешено поставщиком подобной информации, программного обеспечения или другой продукции).</li>
            <li>Посылать, передавать, воспроизводить или распространять любым способом полученные посредством Услуг программное обеспечение или другие материалы, полностью или частично, защищенные авторскими или другими правами, без разрешения владельца или законного правообладателя; посылать, передавать или распространять любым способом любую составляющую предоставляемой Услуг или созданные на их основе работы, так как сами Услуги также являются объектом авторских и других прав.</li>
            <li>Нарушать правила использования любых ресурсов сети интернет, установленные Исполнителем и/или владельцами этих ресурсов.</li>
            <li>Использовать программное обеспечение, производящее автоматическую авторизацию Пользователя в целях получения Услуги, за исключением программного обеспечения, предоставленного либо одобренного Исполнителем.</li>
            <li>Фальсифицировать IP-адрес и MAC адрес Оборудования Пользователя, адреса, используемые в других сетевых протоколах, а также прочую служебную информацию при передаче данных в Сеть.</li>
            <li>Осуществлять действия с целью изменения настроек оборудования или программного обеспечения Исполнителя или иные действия, которые могут повлечь за собой сбои в их работе.</li>
            <li>Осуществлять попытки несанкционированного доступа к ресурсам Сети, проведение или участие в сетевых атаках и сетевом взломе, за исключением случаев, когда атака на сетевой ресурс проводится с явного разрешения владельца или администратора этого ресурса.</li>
        </ul>
    </li>
    <li>В случае несогласия с настоящими Условиями Пользователь должен немедленно отказаться от использования Услуги.</li>
    <li>Исполнитель оставляет за собой право отказать в пересылке или удалять со своих серверов любую информацию или материалы полностью, или частично, если они, исключительно с точки зрения Исполнителя, являются неприемлемыми, нежелательными или нарушают настоящие Условия.</li>
    <li>Исполнитель не несет ответственности:
        <ul>
            <li>за упущенную выгоду или иные косвенные убытки, возникшие в результате оказания Услуг;</li>
            <li>за информацию, услуги, программное обеспечение, самостоятельно полученные Пользователем через сеть Интернет;</li>
            <li>за любые затраты или ущерб, прямо или косвенно возникшие в результате получения Пользователем информации и услуг через сеть Интернет;</li>
            <li>за ущерб, нанесенный Пользователю в результате действия программных продуктов, полученных Пользователем посредством Услуг;</li>
            <li>за прямой или косвенный ущерб, причиненный Пользователю в результате использования или невозможности использования Услуг;</li>
            <li>за качество оказываемой Услуги в случаях использования Пользователем несертифицированного абонентского оборудования, а также при неправильной настройке Пользователем программного и технического обеспечения доступа к Услуге;</li>
            <li>за нормальное функционирование и доступность отдельных сегментов сети Интернет.</li>
        </ul>
    </li>
    <li>Исполнитель не гарантирует:
        <ul>
            <li>возможность информационного обмена с теми узлами или серверами, которые временно или постоянно недоступны через сеть Интернет;</li>
            <li>бесперебойность доступа к Услуге;</li>
            <li>установление соединения с сетью Интернет на максимально возможной скорости.</li>
        </ul>
    </li>
    <li>Пользователи при пользовании Услугой пользуются льготами, предусмотренными действующим законодательством для отдельных категорий граждан.</li>
    <li>Настоящие Условия вступают в силу с момента их опубликования на портале Исполнителя http://wifi. venezia .by. Пользователи уведомляются об изменении или прекращении действия настоящих Условий путем публикации на Портале.</li>
</ol>

<p>
    <strong>*</strong>
    Я понимаю и соглашаюсь с тем, что {{ shop.organisation }} вправе осуществлять сбор, обработку, хранение, передачу моих персональных данных, а также пользование ими (в том числе с привлечением программно-технических комплексов третьих лиц при условии заключения с ними договоров о неразглашении конфиденциальной информации). Настоящим даю согласие на получение от {{ shop.organisation }} SMS-оповещений, IM-сообщений (в том числе рекламной информации) об услугах, предложениях и новостях {{ shop.organisation }} и (или) третьих лиц (в случае запланированных кросс-маркетинговых акций).
</p>