{% extends 'FoodBundle::base.html.twig' %}

{% block container -%} 
<section class="store-cart style2 full-height">
    <div class="container">
        <h1>Ваш заказ принят в обработку</h1>
    </div>
</section>
{% endblock %}

{% block footer %}
<footer class="main-footer footer style2 white-bg">
    <div class="row">
        {% block contact %}
        {% endblock %}
    </div>
    <div class="bottom-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-4 align-left">
                    <p class="copyright">Улица Интернациональная, 5 <br>
                        224030 Брест - Беларусь (By)<br>
                        УНП 290310357<br>
                        ОАО «Белинвестбанк» по Брестской области, код 823,<br>
                        р/с № 3012204050015</p>
                </div>
                <div class="col-md-4 align-center">
                    <figure class="logo-container">
                        <a href="/"><img src="/img/logo/logo_v.png" alt="Venezia Fusion Logo"></a>
                    </figure>
                </div>
                <div class="col-md-4 align-right">
                    <div class="socials-container">
                        <ul>
                            <li><a href="https://vk.com/veneziabrest" target="_blank"><i class="fa fa-vk"></i></a></li>
                            <li><a href="http://ok.ru/group/52605731012777" target="_blank"><i class="fa fa-odnoklassniki"></i></a></li>
                            <li><a href="https://www.facebook.com/veneziabrest" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://instagram.com/veneziabrest/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}