{% extends '@Frontend/base_v3.html.twig' %}

{#{% block topbanner %}#}
    {#<div class="top-banner-container top-banner-container-style2 coffee-bg" style="position: fixed;#}
    {#width: 100%;#}
    {#z-index: 999;">#}
        {#<div class="header-bottom-bar style2">#}
            {#<div class="container">#}
                {#<div class="row">#}
                    {#<div class="col-md-9">#}
                        {#<ul class="category-filter store-category-filter">#}
                            {#<!--<li class="filter active" data-filter="all"><span>All Products</span></li>-->#}
                            {#<li class="filter" data-filter="all"><span>Все меню</span></li>#}
                            {#{% for parent in categories %}#}
                                {#{% for category in parent.children %}#}
                                    {#<li class="">#}
                                        {#<a class="anim" href="#cat_{{ category.id }}">{{ category.name }}</a>#}
                                    {#</li>#}
                                {#{% endfor %}#}
                            {#{% endfor %}#}
                        {#</ul>#}
                    {#</div>#}
                    {#<div class="col-md-3">#}
                        {#<form action="#" class="search-form">#}
                            {#<input type="search" name="search" id="search" placeholder="Быстрый поиск">#}
                            {#<button type="submit"><i class="fa fa-search"></i></button>#}
                        {#</form>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#{% endblock %}#}

{#{% block container -%}#}

    {#<section class="store-items style2" style="    padding-top: 60px;">#}
        {#<div class="container">#}
            {#{% for parent in categories %}#}
                {#{% for category in parent.children %}#}
                    {#<div class="row" id="cat_{{ category.id }}">#}
                        {#<h1>{{ category.name }}</h1>#}
                        {#{% for dish in category.dishes %}#}
                            {#<div class="col15-md-3 col15-sm-5 col-xs-6 mix cat-{{ category.id }}" id="item_{{ dish.id }}">#}
                                {#<div class="store-item #}{#wow fadeInDown#}{#">#}
                                    {#<figure>#}
                                        {#<a href="{{ path('frontend_show_dish',{'id': dish.id}) }}">#}
                                            {#<img src="{{ dish.imagePath | imagine_filter('index') }}">#}
                                        {#</a>#}
                                    {#</figure>#}
                                    {#<h3 class="food-name">#}
                                        {#<a href="{{ path('frontend_show_dish',{'id': dish.id}) }}">{{ dish.name | length > 42 ? dish.name | slice(0, 39) ~ '...' : dish.name  }}</a>#}
                                    {#</h3>#}
                                    {#<div class="food-order">#}
                                        {#<p class="food-price">{{ dish.shopPrice(shop) | price }} р</p>#}
                                        {#<a href="#" class="add-to-cart-link" data-itemid="{{ dish.id }}">Добавить</a>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#{% endfor %}#}
                    {#</div>#}
                {#{% endfor %}#}
            {#{% endfor %}#}

            {#<div class="load-more align-center wow fadeInUp">#}
                {#<a href="#" class="custom-button button-style2 load-more-button"><i class="icon-eye"></i>Load More</a>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}
{#{% endblock %}#}




                        
							
                    
                    