{% extends '@Frontend/base.html.twig' %}

{% block title %} {{ dish.name }}  {% endblock %}


{% block container -%}
    <section class="store-items store-items-details style2 full-height ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="store-item store-item-detail row">
                        <div class="col-md-6 wow fadeInLeft">
                            <div class="item-slideshow">
                                <div class="main-image">
                                    <figure class="item-photo"><img src="{{ dish.imagePath | imagine_filter('slider') }}"></figure>
                                    {#} <figure><img src="{{ item.photoPath }}"></figure>
                                     <figure><img src="{{ item.photoPath }}"></figure>#}
                                </div><!-- /main-image -->
                                <div class="thumbnails">
                                    {#figure><img src="/img/gallery/gallery46.jpg"></figure>
                                    <figure><img src="/img/gallery/gallery47.jpg"></figure>
                                    <figure><img src="/img/gallery/gallery48.jpg"></figure>#}
                                </div><!-- /thumbnails -->
                            </div><!-- /item-slideshow -->
                        </div><!-- /col-md-6 -->
                        <div class="col-md-6 wow fadeInRight">
                            <ul class="breadcrumb">
                                <li><a href="/">{{ 'Меню' | trans }}</a></li>
                                <li><a href="{{ path('frontend_show_category', { 'id' : dish.category.id }) }}">{{ dish.category.name }}</a></li>
                            </ul>
                            <div class="food-info">
                                <h3 class="food-name"><a href="{{ path('frontend_show_dish', {'id' : dish.id }) }}">{{ dish.name }}</a></h3>
                                <p class="food-price">{{ dish.shopPrice() | price }} р.</p>
                                <p>{{ dish.description | capitalize }}</p>
                            </div><!-- /food-info -->
                            <div class="food-ingredients">
                                <h3>{{ 'Доступно в' | trans }}:</h3>
                                <ul>
                                    {% set tplshop = shop %}
                                    {% for shop in dish.shops %}
                                        {% if shop != tplshop %}
                                            <li><a href="{{ path( 'frontend_show_shop', {'id': shop.id}) }}">{{ shop.name }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div><!-- /food-ingredients -->
                            {#<div class="food-order-form">#}
                                {#<button class="minus">-</button>#}
                                {#<input type="text" name="order-count" id="order-count" value="1">#}
                                {#<button class="plus">+</button>#}
                                {#<button type="submit" id="" class="add-to-cart-link" data-page="item-page" data-itemid="{{ dish.id }}">Добавить в корзину</button>#}
                            {#</div><!-- /food-order -->#}
                        </div><!-- /col-md-6 -->
                    </div><!-- /store-item -->
                </div><!-- /col-md-12 -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section>
{% endblock %}

{% block contact %}{% endblock %}
