{% extends '@Frontend/base.html.twig' %}

{% block shopping_cart %}{% endblock %}


{% block container -%} 
<section class="store-cart style2 full-height">
    <div class="container">
        <h1>Ваш заказ принят</h1>
    </div>
</section>
{% endblock %}
