<html>
<body>
<script
        src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>

<button id="test">test</button>

<script>


    $(document).ready(function(){
       $("#test").on('click', function(){
           var data = {
               photo: '1491822189195_123.jpg',
               weight: '123',
           };

           $.ajax({
               url: "/photolistener",
               data: JSON.stringify(data),
               type: 'POST',
               contentType: "application/json; charset=utf-8",
               dataType: "json",
               success: function (response) {
                   debugger;
               }
           });

       })
    });

</script>
</body>
</html>