{% extends "RestaurantBundle::layout.html.twig" %}

{% block page_specific_styles %}

{% endblock %}


{% block title %}
    {{ 'Изменения цен' | trans }}
{% endblock %}


{% block container %}

    <div id="page_content_inner">
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <div class="md-card">
                    <div class="md-card-content">
                        <ul class="uk-tab" data-uk-tab="{connect:'#tabs_1_content'}" id="tabs_1">
                            <li class="uk-active"><a href="#">{{ 'Новые' | trans }}</a></li>
                            <li><a href="#">{{ 'Подтвержденные' | trans }}</a></li>
                            <li><a href="#">{{ 'Отклоненные' | trans }}</a></li>
                            <li><a href="#">{{ 'Обновленные' | trans }}</a></li>
                        </ul>
                        <ul id="tabs_1_content" class="uk-switcher uk-margin">
                            <li>
                                <h2>{{ 'Изменения ожидающие подтверждения' | trans }}</h2>
                                <table class="uk-table uk-table-stripped" style="width: 100%;">
                                    <thead>
                                    <tr>
                                        <th>{{ 'Дата' | trans }}</th>
                                        <th>{{ 'Блюдо' | trans }}</th>
                                        <th>{{ 'Поле' | trans }}</th>
                                        <th>{{ 'Значение' | trans }}</th>
                                        <th>{{ 'Заведение' | trans }}</th>
                                        <th>{{ 'Пользователь' | trans }}</th>
                                        {% if is_granted('ROLE_SHOP_MANAGER') %}
                                            <th>{{ 'Действие' | trans }}</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    {% for __change in new %}
                                        <tr>
                                            <td>{{ __change.date | date('d.m.Y H:i:s') }}</td>
                                            <td><a href="{{ path('dish_edit', {'id':__change.dish.id}) }}">{{ __change.dish.name }}</a></td>
                                            <td>{{ __change.field }}</td>
                                            <td>
                                                {{ __change.field == 'price' ? __change.value | price : __change.value }}
                                            </td>
                                            <td>{{ __change.shop ? __change.shop.name: '' }}</td>
                                            <td>{{ __change.user ? __change.user.name : '' }}</td>
                                            <td>
                                                {% if is_granted('ROLE_SHOP_MANAGER') %}
                                                    <a data-status="{{ constant('DishBundle\\Entity\\DishHistory::STATUS_CONFIRMED') }}" href="{{ path('dish_change_update', {'id':__change.id}) }}" class="md-btn confirm-change md-btn-small md-btn-primary">✓</a>
                                                    <a data-status="{{ constant('DishBundle\\Entity\\DishHistory::STATUS_DECLINED') }}" href="{{ path('dish_change_update', {'id':__change.id}) }}" class="md-btn confirm-change md-btn-small md-btn-danger">×</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </li>
                            <li>
                                <h2>{{ 'Подтвержденные изменения' | trans }}</h2>
                                <table class="uk-table uk-table-stripped" style="width: 100%;">
                                    <thead>
                                    <tr>
                                        <th>{{ 'Пользователь' | trans }}</th>
                                        <th>{{ 'Дата' | trans }}</th>
                                        <th>{{ 'Блюдо' | trans }}</th>
                                        <th>{{ 'Поле' | trans }}</th>
                                        <th>{{ 'Значение' | trans }}</th>
                                        <th>{{ 'Заведение' | trans }}</th>
                                        <th>{{ 'Подтверждено' | trans }}</th>
                                    </tr>
                                    </thead>
                                    {% for __change in confirmed %}
                                        <tr>
                                            <td>{{ __change.user ? __change.user.name : '' }}</td>
                                            <td>{{ __change.date | date('d.m.Y H:i:s') }}</td>
                                            <td><a href="{{ path('dish_edit', {'id':__change.dish.id}) }}">{{ __change.dish.name }}</a></td>
                                            <td>{{ __change.field }}</td>
                                            <td>{{ __change.value }}</td>
                                            <td>{{ __change.shop ? __change.shop.name: '' }}</td>
                                            <td>
                                                {% if __change.confirmedBy %}
                                                    {{ __change.confirmedBy.name }} <br>
                                                    {{ __change.confirmedAt | date('d.m.Y H:i:s') }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </li>
                            <li>
                                <h2>{{ 'Отклоненные изменения' | trans }}</h2>
                                <table class="uk-table uk-table-stripped" style="width: 100%;">
                                    <thead>
                                    <tr>
                                        <th>{{ 'Пользователь' | trans }}</th>
                                        <th>{{ 'Дата' | trans }}</th>
                                        <th>{{ 'Блюдо' | trans }}</th>
                                        <th>{{ 'Поле' | trans }}</th>
                                        <th>{{ 'Значение' | trans }}</th>
                                        <th>{{ 'Заведение' | trans }}</th>
                                        <th>{{ 'Отклонено' | trans }}</th>
                                    </tr>
                                    </thead>
                                    {% for __change in declined %}
                                        <tr>
                                            <td>{{ __change.user ? __change.user.name : '' }}</td>
                                            <td>{{ __change.date | date('d.m.Y H:i:s') }}</td>
                                            <td><a href="{{ path('dish_edit', {'id':__change.dish.id}) }}">{{ __change.dish.name }}</a></td>
                                            <td>{{ __change.field }}</td>
                                            <td>{{ __change.value }}</td>
                                            <td>{{ __change.shop ? __change.shop.name: '' }}</td>
                                            <td>
                                                {% if __change.confirmedBy %}
                                                    {{ __change.confirmedBy.name }} <br>
                                                    {{ __change.confirmedAt | date('d.m.Y H:i:s') }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </li>
                            <li>
                                <h2>{{ 'Обновленные изменения' | trans }}</h2>
                                <table class="uk-table uk-table-stripped" style="width: 100%;">
                                    <thead>
                                    <tr>
                                        <th>{{ 'Пользователь' | trans }}</th>
                                        <th>{{ 'Дата' | trans }}</th>
                                        <th>{{ 'Блюдо' | trans }}</th>
                                        <th>{{ 'Поле' | trans }}</th>
                                        <th>{{ 'Значение' | trans }}</th>
                                        <th>{{ 'Заведение' | trans }}</th>
                                        <th>{{ 'Подтверждено' | trans }}</th>
                                        <th>{{ 'Обновлено' | trans }}</th>

                                    </tr>
                                    </thead>
                                    {% for __change in updated %}
                                        <tr>
                                            <td>{{ __change.user ? __change.user.name : '' }}</td>
                                            <td>{{ __change.date | date('d.m.Y H:i:s') }}</td>
                                            <td><a href="{{ path('dish_edit', {'id':__change.dish.id}) }}">{{ __change.dish.name }}</a></td>
                                            <td>{{ __change.field }}</td>
                                            <td>{{ __change.value }}</td>
                                            <td>{{ __change.shop ? __change.shop.name: '' }}</td>
                                            <td>
                                                {% if __change.confirmedBy %}
                                                    {{ __change.confirmedBy.name }} <br>
                                                    {{ __change.confirmedAt | date('d.m.Y H:i:s') }}
                                                {% endif %}
                                            </td>
                                            <td>{{ __change.updatedAt | date('d.m.Y H:i:s') }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block page_specific_plugins %}
    <!-- datatables -->
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <!-- datatables colVis-->
    <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <!-- datatables tableTools-->
    <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <!-- datatables custom integration -->
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>

    <script src="/assets/js/custom/jquery.jeditable.js"></script>
    <script src="/assets/js/custom/jquery.dataTables.editable.js"></script>




    <script>
        var table = $("table").dataTable({
            pageLength: 100,
            "lengthMenu": [10, 25, 50, -1],
        });

        {% if is_granted('ROLE_SHOP_MANAGER') %}
        $(document).on('click', '.confirm-change', function () {
            $(this).parents('tr').remove();
            var url = $(this).attr('href');
            var status = $(this).data('status');
            $.ajax({
                url: url,
                type: "POST",
                data: {
                    status: status,
                },
                success: function (response) {
                    debugger;
                }
            });
            return false;
        })
        {% endif %}
    </script>
{% endblock %}