<table class="uk-table uk-table-striped" id="dishTable">
    <thead>
    <tr>
        <th style="width: 1%;"><input type="text" class="md-input" placeholder="{{ 'Код 1C' | trans }}"/></th>
        <th><input type="text" class="md-input" placeholder="{{ 'Блюдо' | trans }}"/></th>
        <th></th>
        <th><input type="text" class="md-input" placeholder="{{ 'Категория' | trans }}"/></th>
        <th class="rotate">
            <div><span><b> {{ 'Базовая цена' | trans }}</b></span></div>
        </th>
        {% for shop in shops %}
            <th class="rotate">
                <div>
                    {% if shop.serverId in replication.slaves %}
                        <span style="color: #689f38">{{ shop.name }}</span>
                    {% else %}
                        <span style="color: #f00">{{ shop.name }}</span>
                    {% endif %}
                </div>
            </th>
        {% endfor %}
        <th>{{ 'Действия' | trans }}</th>
    </tr>
    </thead>
    <tbody>
    {%- for dish in dishes -%}
        {% spaceless %}
            {%- if dish is not null and dish.isDeleted == false -%}
                {% if is_granted('ROLE_ADMIN') %}
                    {%- block dish_list_row -%}
                        {%- spaceless -%}
                            <tr data-id="{{ dish.id }}" id="dish_{{ dish.id }}">
                                <td class="">
                                    <a target="_blank" href="{{ path("dish_edit", { 'id' : dish.id }) }}">{{ dish.id }}</a>
                                </td>
                                <td class="editable_title">
                                    <a target="_blank" href="{{ path("dish_edit", { 'id' : dish.id }) }}">{{ dish.name }}</a>
                                </td>
                                <td>
                                    {% if dish.composition is not null %}
                                        <a href="{{ path("print_composition", {"id":dish.composition.id}) }}">ТК</a>
                                    {% endif %}
                                </td>
                                <td class="editable_select" data-cat="{{ dish.category.id }}">
                                    {%- if dish.category %}
                                        <a target="_blank"
                                           href="{{ path('category_edit', { 'id' : dish.category.id }) }}">{{ dish.category.name }}</a>
                                    {% endif -%}
                                </td>
                                <td class="editable base_price">{{ dish.price | price }}</td>
                                {%- for shop in shops %}
                                    {% if dish.hasShop(shop) %}
                                        {% set style = "enabled" %}
                                    {% else %}
                                        {% set style = "disabled" %}
                                    {% endif %}

                                    {#
                                    {% if (dish.hasShop(shop)) and (dish.getShopId1c(shop) == null) %}
                                        {% set noId1c = "background: #fff6c1" %}
                                    {% else %}
                                        {% set noId1c = "" %}
                                    {% endif %}
                                    #}

                                    <td data-shop="{{ shop.id }}" data-status="{{ style }}" class="editable special_price {{ style }}">
                                        {% if app.request.query.get("print") == 1 %}
                                            {% if style == "enabled" %}
                                                {{ (dish.getShopPrice(shop.id) | price) }}
                                            {% endif %}
                                        {% else %}
                                            {{ (dish.getShopPrice(shop.id) | price) }}
                                        {% endif %}
                                    </td>
                                {% endfor -%}
                                <td>
                                    {% if is_granted("ROLE_BUHGALT") %}
                                        <a href="{{ path("dish_delete", { 'id' : dish.id } ) }}?ajax" class="delete_dish">
                                            <i class="material-icons">delete</i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {%- endspaceless -%}
                    {%- endblock -%}
                {% else %}
                    <tr>
                        <td>
                            {{ dish.name }}
                        </td>
                        <td>{{ dish.price }}</td>
                        <td>
                            {{ dish.category.name }}
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endspaceless %}
    {%- endfor -%}
    </tbody>
    <tfoot>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        {% for shop in shops %}
            <th class="toggle">
                скрыть
            </th>
        {% endfor %}
        <th></th>
    </tr>
    </tfoot>
</table>
