{% extends "RestaurantBundle::layout.html.twig" %}

{% block page_specific_styles %}
    <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}" media="all">
{% endblock %}

{% block container %}
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <h3 class="heading_a uk-margin-bottom">
                    <a href="{{ path("dish_list") }}">
                        {{ 'Блюда' | trans }}
                    </a>
                    <a target="_blank" href="{{ path("dish_list_conflicts") }}" style="float: right;color: red;">
                        {{ 'Конфликты' | trans }}
                    </a>
                    <a target="_blank" href="{{ path("dish_list_deleted") }}" style="float: right;color: red;">
                        {{ 'Удаленные блюда' | trans }}
                    </a>
                </h3>

                <button class="md-btn" id="reset_availability">Доступность</button>
                <button class="md-btn" id="reset_visibility">Видимость</button>

                <table class="uk-table uk-table-striped">
                    <thead>
                    <tr>
                        <th><input type="text" class="md-input" placeholder="{{ 'Блюдо' | trans }}"/></th>
                        <th><input type="text" class="md-input" placeholder="{{ 'Категория' | trans }}"/></th>
                        <th><input type="text" class="md-input" placeholder="{{ 'Заведение' | trans }}"/></th>
                    </tr>
                    </thead>
                    <tbody>
                    {%- for dish in dishes -%}
                        {% spaceless %}
                            <tr data-id="{{ dish.id }}" id="dish_{{ dish.id }}">
                                <td class="">
                                    <a target="_blank" href="{{ path("dish_edit", { 'id' : dish.id }) }}">{{ dish.name }}</a>
                                </td>
                                <td class="" data-cat="{{ dish.category.id }}">
                                    {{ dish.category.name }}
                                </td>
                                <td class="">
                                    {{ dish.dishMetas[0].shop.name }}
                                </td>
                            </tr>

                        {% endspaceless %}
                    {%- endfor -%}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

{% endblock %}


{% block page_specific_plugins %}

    <!-- datatables -->
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <!-- datatables colVis-->
    <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <!-- datatables tableTools-->
    <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <!-- datatables custom integration -->
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>

    <script src="/assets/js/custom/jquery.jeditable.js"></script>
    <script src="/assets/js/custom/jquery.dataTables.editable.js"></script>


    <script>
        var table = $("table").dataTable({
            pageLength: 25,
            fixedHeader: {
                header: true,
            },
            "lengthMenu": [10, 25, 50, -1],
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                var length = api.columns()[0].length;

                for (var i = 0; i < length; i++) {
                    var $current = $(api.column(i).footer());
                    $current.data({
                        'index': i,
                    });

                    if ($current.hasClass("toggle")) {
                        $current.on("click", function () {
                            var column = api.column($(this).data("index"));
                            column.visible(!column.visible());
                        });
                    }
                }
            }
        });
    </script>

{% endblock %}