{% extends "RestaurantBundle::layout.html.twig" %}

{% block container %}
    <div id="page_content_inner">
        <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
            <div class="uk-width-1-2">
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_a uk-margin-bottom">{{ 'Блюда' | trans }}</h3>
                        {% block dish_list %}
                            <ul class="md-list" id="dish_list">
                                {% for dish in dishes %}
                                    <li data-order="{{ dish.order }}" data-id="{{ dish.id }}">
                                        <a href="{{ path('dish_edit', {'id' : dish.id}) }}">
                                            {{ dish.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_specific_plugins %}

    <script>
        var sortable = UIkit.sortable("#dish_list", {
            threshold: 0,
        });

        UIkit.on("change.uk.sortable", function (e, o, d, a) {
            var $list = $(o.element);
            var order_list = [];
            $("li", $list).each(function (key, item) {
                var $item = $(item)
                var data = $item.data();
                data.new_order = key + 1;

                if (data.order != data.new_order) {
                    order_list.push({
                        dish: data.id,
                        order: data.new_order
                    });
                }
            });

            $.ajax({
                url: "{{ path("dish_list_sort_ajax", {'id' : category.id}) }}",
                type: "POST",
                data: {
                    data: order_list
                },
                success: function (response) {
                    if (response.status) {
                        $("#dish_list").replaceWith(response.data);
                        sortable = UIkit.sortable("#dish_list", {
                            threshold: 0,
                        });
                    }
                }
            });
        });
    </script>


{% endblock %}
