{% extends "RestaurantBundle::layout.html.twig" %}

{% block title %}
    {{ 'Блюда' | trans }}
{% endblock %}

{% block page_specific_styles %}
    <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}" media="all">
{% endblock %}

{% block container %}
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <h3 class="heading_a uk-margin-bottom">
                    <a href="{{ path("dish_list") }}">
                        {{ 'Блюда' | trans }}
                    </a>
                    <a target="_blank" href="{{ path("dish_list_deleted") }}" style="float: right;color: red;">
                        {{ 'Удаленные' | trans }}
                    </a>
                </h3>
                <div class="uk-grid">
                    <div class="uk-width-1-2">
                        <button class="md-btn" id="reset_availability">Доступность</button>
                        <button class="md-btn" id="reset_visibility">Видимость</button>
                    </div>
                    <div class="uk-width-1-4">&nbsp;</div>
                    <div class="uk-width-1-4">
                        <form action="{{ path('dish_search') }}" type="POST">
                            <div class="uk-input-group">
                                <div class="md-input-wrapper">
                                    <input type="text" name="id" placeholder="{{ 'Код 1C' | trans }}" class="md-input" value="{{ app.request.get('id') }}">
                                    <span class="md-input-bar "></span>
                                </div>
                                <span class="uk-input-group-addon"><a class="md-btn submit">{{ 'Поиск' | trans }}</a></span>
                            </div>
                        </form>
                    </div>
                </div>


                {% include '@Dish/Dish/dishTable.html.twig' with {dishes: dishes} %}

                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path("dish_add") }}" class="md-btn md-btn-success md-btn-wave-light waves-effect waves-button waves-light">{{ 'Добавить блюдо' | trans }}</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}


{% block page_specific_plugins %}

    <!-- datatables -->
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <!-- datatables colVis-->
    <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <!-- datatables tableTools-->
    <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <!-- datatables custom integration -->
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>

    <script src="/assets/js/custom/jquery.jeditable.js"></script>
    <script src="/assets/js/custom/jquery.dataTables.editable.js"></script>

    <script src="http://admin.venezia.by:3000/socket.io/socket.io.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.2/js/dataTables.fixedHeader.min.js"></script>


    <script src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>


    <script src="{{ asset('assets/js/table_edit.js') }}"></script>

    <script>
        $(document).on('click', '.submit', function () {
            $(this).parents('form').submit();
        });


        var locale = '{{ app.request.locale }}';
        $(document).ready(function () {
            {% if app.environment == "dev" -%}
            var event = "table_update_dev";
            {%- else %}
            var event = "table_update";
            {%- endif %}
            var socket = io.connect('{{ node }}');
            socket.on('connect', function () {
                socket.on(event, function (data) {
                    var row = $("#dish_" + data.id);
                    if (data.type === "replace") {
                        row.replaceWith($(data.data).fadeIn(200).fadeOut(200).fadeIn(200).fadeOut(200).fadeIn(200));
                    } else if (data.type == "delete") {
                        row.remove();
                    }
                });
            });
        });
    </script>


{% endblock %}