{% extends "RestaurantBundle::layout.html.twig" %}

{% form_theme form '@Restaurant/Form/Fields.twig' %}

{% block page_specific_styles %}
    <link rel="stylesheet" href="/assets/skins/dropify/css/dropify.css">
    <style>
        .select2-container--default .select2-selection--single {
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            background: none;
            height: 43px;
        }
    </style>
{% endblock %}


{% block title %}
    {% if dish is defined and dish.name is not null %}
        {{ dish.name }} ({{ dish.id }}) | {{ 'Редактирование' | trans }}
    {% else %}
        {{ 'Новое блюдо' | trans }}
    {% endif %}
{% endblock %}




{% block container %}
    <div id="page_heading" style="position: relative;">
        <h1 id="product_edit_name">{% if dish is defined %}{{ dish.name }}  ({{ dish.id }}) {% else %}Новое блюдо{% endif %}</h1>
        <span class="uk-text-muted uk-text-upper uk-text-small" id="product_edit_sn">
            {% if dish is defined and dish.category is not null %}
                <a href="{{ path('category_edit', {'id' : dish.category.id}) }}">{{ dish.category.name }}</a>
            {% endif %}
        </span>
    </div>
    <div id="page_content_inner">
        {{ form_start(form) }}
        <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
            <div class="uk-width-xLarge-2-10 uk-width-large-3-10">
                <div class="md-card">
                    <div class="md-card-toolbar">
                        <h3 class="md-card-toolbar-heading-text">
                            Фотография
                        </h3>
                    </div>
                    <div class="md-card-content">
                        {{ form_widget(form.imageFile) }}
                    </div>
                </div>
                <div class="md-card">
                    <div class="md-card-toolbar">
                        <h3 class="md-card-toolbar-heading-text">
                            Данные
                        </h3>
                    </div>
                    <div class="md-card-content">
                        <div class="uk-form-row">
                            {{ form_row(form.price) }}
                        </div>
                        <div class="uk-form-row">
                            <div>
                                {{ form_row(form.composition) }}
                            </div>
                        </div>
                        {# <div class="uk-form-row">
                             {% if dish is defined %}
                                 {{ dish.id }}
                             {% endif %}
                             {#{{ form_row(form.id1c) }}
                         </div>#}
                        <div class="uk-form-row">
                            {{ form_widget(form.isInMenu) }}
                        </div>
                        <div class="uk-form-row">
                            {{ form_widget(form.isExportable) }}
                        </div>
                        <div class="uk-form-row">
                            {{ form_widget(form.isWeight) }}
                        </div>
                        <div class="uk-form-row">
                            {{ form_widget(form.ignoreDiscount) }}
                        </div>

                        <div class="uk-form-row">
                            <div>
                                {{ form_row(form.orderTypes) }}
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="uk-width-xLarge-8-10  uk-width-large-7-10">
                <div class="md-card">
                    <div class="md-card-toolbar">
                        <h3 class="md-card-toolbar-heading-text">
                            {{ 'Описание' | trans }}
                        </h3>
                    </div>
                    <div class="md-card-content large-padding">
                        <div class="uk-grid uk-grid-divider uk-grid-medium" data-uk-grid-margin>
                            <div class="uk-width-large-3-4">
                                <div class="uk-form-row">
                                    {{ form_row(form.name) }}
                                </div>
                                <div class="uk-form-row">
                                    {{ form_row(form.category) }}
                                </div>
                                <div class="uk-form-row">
                                    {{ form_row(form.weight) }}
                                </div>
                                <div class="uk-form-row">
                                    {{ form_row(form.description) }}
                                </div>
                                <div class="uk-form-row">
                                    <div id="dish_prices" data-prototype="{{ form_widget(form.dishMetas.vars.prototype) | e }}">
                                        {{ form_label(form.dishMetas) }}
                                        {% for dishMeta in  form.dishMetas %}
                                            <div class="price-row">
                                                {{ form_widget(dishMeta) }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="uk-form-row">
                                    <div id="dish_ingredients" data-prototype="{{ form_widget(form.ingredients.vars.prototype) | e }}">
                                        {{ form_label(form.ingredients) }}
                                        {% for ingredient in  form.ingredients %}
                                            <div class="ingredient-row">
                                                {{ form_widget(ingredient) }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-large-1-4">
                                <div class="uk-grid">
                                    {% for shop in form.shops %}
                                        <div class="uk-form-row">
                                            {{ form_widget(shop) }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="md-card">
                    <div class="md-card-content">
                        <div class="uk-form-row">
                            <div id="dish_times" data-prototype="{{ form_widget(form.times.vars.prototype) | e }}">
                                <h3 class="heading_a uk-margin-bottom">{{ "Активно в" | trans }}:</h3>
                                {% for time in form.times %}
                                    <div class="time-row">
                                        <div class="uk-grid" data-uk-grid-margin="">
                                            {{ form_widget(time) }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if lastOrders is defined %}
            <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
                <div class="uk-width-1-2">
                    <div class="md-card">
                        <div class="md-card-toolbar">
                            <h3 class="md-card-toolbar-heading-text">
                                {{ 'Последние заказы' | trans }}
                            </h3>
                            <a style="float: right;line-height: 48px;" target="_blank"
                               href="{{ path('daily_dish_sales_report', {'dish': dish.id,'shop':1}) }}">
                                {{ 'Тендеция продаж' | trans }}
                            </a>
                        </div>
                        <div class="md-card-content large-padding">

                            <table class="uk-table uk-table-striped">
                                <thead>
                                <tr>
                                    <th>{{ 'Заказ' | trans }}</th>
                                    <th>{{ 'Заведение' | trans }}</th>
                                    <th>{{ 'Дата' | trans }}</th>
                                    <th>{{ 'Цена' | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in lastOrders %}
                                    <tr>
                                        <td><a href="{{ path("admin_order_show", {'id' : order.order.id}) }}">{{ order.order.id }}</a></td>
                                        <td><a href="{{ path("shop_edit", {'id' : order.order.shop.id}) }}">{{ order.order.shop.name }}</a></td>
                                        <td>{{ order.order.createdAt | date('d.m.Y H:i') }}</td>
                                        <td>{{ order.dishPrice | price }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% if dish is defined %}
                    <div class="uk-width-1-2">
                        <div class="md-card">
                            <div class="md-card-toolbar">
                                <h3 class="md-card-toolbar-heading-text">
                                    {{ 'Изменения цен' | trans }}
                                </h3>
                            </div>
                            <div class="md-card-content large-padding">
                                <table class="uk-table uk-table-striped">
                                    <thead>
                                    <tr>
                                        <th>{{ 'Пользователь' | trans }}</th>
                                        <th>{{ 'Заведение' | trans }}</th>
                                        <th>{{ 'Дата' | trans }}</th>
                                        <th>{{ 'Поле' | trans }}</th>
                                        <th>{{ 'Значение' | trans }}</th>
                                        <th>{{ 'Статус' | trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for change in dish.changes %}
                                        <tr>
                                            <td>
                                                {% if change.user != null %}
                                                    <a href="{{ path("user_edit", {'id' : change.user.id }) }}">{{ change.user.name }}</a>
                                                {% else %}
                                                    system
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if change.shop is not null %}
                                                    <a href="{{ path("shop_edit", {'id' : change.shop.id }) }}">{{ change.shop.name }}</a>
                                                {% else %}
                                                    Базовая цена
                                                {% endif %}
                                            </td>
                                            <td>{{ change.date | date("d.m.Y H:i") }}</td>
                                            <td>{{ change.field }}</td>
                                            <td>{{ change.value }}</td>
                                            <td>{{ change.statusText }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="md-fab-wrapper">
            {% if is_granted('ROLE_BUHGALT') %}
                <button type="submit" id="dish_delete" name="dish[delete]" class="md-fab md-fab-danger">
                    <i class="material-icons">delete</i>
                </button>
                <button type="submit" class="md-fab md-fab-primary" id="product_edit_submit">
                    <i class="material-icons">save</i>
                </button>
            {% endif %}
        </div>
        {{ form_widget(form._token) }}
        </form>
    </div>


{% endblock %}

{% block page_specific_plugins %}
    <script src="/assets/js/custom/dropify/dist/js/dropify.min.js"></script>
    <script src="/assets/js/pages/forms_file_input.min.js"></script>
    <script src="{{ asset('assets/js/jquery_extensions.js') }}"></script>
    <script src="{{ asset('assets/js/select2.min.js') }}"></script>

    <script>
        $('.select2entity').select2entity();
        $("#dish_delete").on("click", function () {
            if (!confirm("Вы уверены, что нужно удалить это блюдо?")) {
                return false;
            }
        });

        // $('.switchery_input').on("change", function () {
        //     var shop_id = $(this).val();
        //     if ($(this).prop("checked")) {
        //         addPriceForm(shop_id);
        //     }
        // });

        $('#dish_times').collection({
            addButtonText: "{{ "Добавить день" | trans }}",
            deleteButtonText: "{{ "Удалить" | trans }}",
        });

        var $collectionHolder = $('#dish_prices');

        var $addTagLink = $('<a href="#" class="add_price_link md-btn md-btn-success">{{ "Добавить цену" | trans }}</a>');
        var $newLinkLi = $('<div />').append($addTagLink);

        $(document).ready(function () {

            $collectionHolder.append($newLinkLi);

            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function (e) {
                e.preventDefault();
                addPriceForm($collectionHolder, $newLinkLi);
            });

            $collectionHolder.find('div.price-row').each(function () {
                addPriceFormDeleteLink($(this));
            });

        });

        function addPriceForm(value) {
            var prototype = $collectionHolder.data('prototype');

            var index = $collectionHolder.data('index');

            var newForm = prototype.replace(/__name__/g, index);

            $collectionHolder.data('index', index + 1);

            var $newFormLi = $('<div></div>', {
                'class': 'price-row'
            }).append(newForm);
            $newLinkLi.before($newFormLi);

            //specific
            $newFormLi.find(".customPrice").val($("#dish_price").val());
            var select = $newFormLi.find("select").selectize();

            if (value !== undefined) {
                select[0].selectize.setValue(value)
            }

            addPriceFormDeleteLink($newFormLi);
        }

        function addPriceFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<div class="uk-width-medium-1-4"><a href="#" class="md-btn md-btn-danger" style="margin-top: 10px;">{{ "Удалить" | trans }}</a></div>');
            $tagFormLi.find(".uk-grid").append($removeFormA);

            $removeFormA.on('click', function (e) {
                e.preventDefault();

                $tagFormLi.remove();
            });
        }

        var $ingredientsHolder = $('#dish_ingredients');
        var $addIngrLink = $('<a href="#" class="add_ingr_link md-btn md-btn-success">{{ "Добавить ингредиент" | trans }}</a>');
        var $newIngrLi = $('<div></div>').append($addIngrLink);

        $(document).ready(function () {

            $ingredientsHolder.append($newIngrLi);

            $ingredientsHolder.data('index', $ingredientsHolder.find(':input').length);

            $addIngrLink.on('click', function (e) {
                e.preventDefault();
                addIngrForm($ingredientsHolder, $newIngrLi);
            });

            $ingredientsHolder.find('div.ingredient-row').each(function () {
                addIngrFormDeleteLink($(this));
            });

        });

        function addIngrForm() {
            var prototype = $ingredientsHolder.data('prototype');

            var index = $ingredientsHolder.data('index');

            var newForm = prototype.replace(/__name__/g, index);

            $ingredientsHolder.data('index', index + 1);

            var $newFormLi = $('<div></div>').append(newForm);
            $newIngrLi.before($newFormLi);

            //specific
            $newFormLi.find("select").selectize();

            addIngrFormDeleteLink($newFormLi);
        }

        function addIngrFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<div class="uk-width-medium-1-5"><a href="#" class="md-btn md-btn-danger" style="margin-top: 10px;">{{ "Удалить" | trans }}</a></div>');
            $tagFormLi.find(".uk-grid").append($removeFormA);

            $removeFormA.on('click', function (e) {
                e.preventDefault();

                $tagFormLi.remove();
            });
        }
    </script>
{% endblock %}
