{% extends "RestaurantBundle::layout.html.twig" %}

{% block page_specific_styles %}
    <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}" media="all">
{% endblock %}

{% block container %}
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <h3 class="heading_a uk-margin-bottom">
                    <a href="{{ path("dish_list") }}">
                        {{ 'Блюда' | trans }}
                    </a>
                    <a target="_blank" href="{{ path("dish_list_deleted") }}" style="float: right;color: red;">
                        {{ 'Удаленные блюда' | trans }}
                    </a>
                </h3>


                <table class="uk-table uk-table-striped" id="dishTable">
                    <thead>
                    <tr>
                        <th><input type="text" class="md-input" placeholder="{{ 'Код 1C' | trans }}"/></th>
                        <th><input type="text" class="md-input" placeholder="{{ 'Блюдо' | trans }}"/></th>
                        <th><input type="text" class="md-input" placeholder="{{ 'Категория' | trans }}"/></th>
                        <th class="rotate">
                            <div><span><b> {{ 'Базовая цена' | trans }}</b></span></div>
                        </th>
                        {% for shop in shops %}
                            <th class="rotate">
                                <div><span>{{ shop.name }}</span></div>
                            </th>
                        {% endfor %}
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {%- for dish in dishes -%}
                        {% spaceless %}
                            {%- if dish is not null -%}
                                {% if is_granted('ROLE_ADMIN') %}
                                    {%- block dish_list_row -%}
                                        {%- spaceless -%}
                                            <tr data-id="{{ dish.id }}">
                                                <td>
                                                    {{ dish.id }}
                                                </td>
                                                <td>
                                                    {{ dish.name }}
                                                </td>
                                                <td>
                                                    {%- if dish.category %}
                                                        {#<a target="_blank" href="{{ path('category_edit', { 'id' : dish.category.id }) }}">{{ dish.category.name }}</a>#}
                                                        <a target="_blank" href="{{ path('category_edit', { 'id' : dish.category.id }) }}">{{ dish.category.name }}</a>
                                                    {% endif -%}
                                                </td>
                                                <td class="editable base_price">{{ dish.price }}</td>
                                                {%- for shop in shops %}
                                                    {% if dish.hasShop(shop) %}
                                                        {% set style = "enabled" %}
                                                    {% else %}
                                                        {% set style = "disabled" %}
                                                    {% endif %}
                                                    <td data-shop="{{ shop.id }}" data-status="{{ style }}" class="editable special_price {{ style }}">{{ dish.getShopPrice(shop.id) }}</td>
                                                {% endfor -%}
                                                <td><a href="{{ path('dish_restore', {'id' : dish.id }) }}" class="restore_dish">{{ 'Восстановить' | trans }}</a></td>
                                            </tr>
                                        {%- endspaceless -%}
                                    {%- endblock -%}
                                {% else %}
                                    <tr>
                                        <td>
                                            {{ dish.name }}
                                        </td>
                                        <td>{{ dish.price }}</td>
                                        <td>
                                            {{ dish.category.name }}
                                        </td>
                                        <td><a href="{{ path('dish_restore', {'id' : dish.id }) }}" class="restore_dish">{{ 'Восстановить' | trans }}</a></td>

                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% endspaceless %}
                    {%- endfor -%}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        {% for shop in shops %}
                            <th class="toggle">
                                скрыть
                            </th>
                        {% endfor %}
                        <th></th>
                        <th></th>

                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

{% endblock %}


    {% block page_specific_plugins %}

        <!-- datatables -->
        <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
        <!-- datatables colVis-->
        <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
        <!-- datatables tableTools-->
        <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
        <!-- datatables custom integration -->
        <script src="/assets/js/custom/datatables_uikit.min.js"></script>

        <script src="/assets/js/custom/jquery.jeditable.js"></script>
        <script src="/assets/js/custom/jquery.dataTables.editable.js"></script>




        <script>
            var table = $("table").dataTable({
                pageLength: 25,
                "lengthMenu": [10, 25, 50, -1],
            });

            $(document).on("click", ".restore_dish", function () {
                var link = $(this);
                var row = $(this).parents("tr");
                if (!confirm("Восстановить это блюдо?")) {
                    return false;
                } else {
                    $.ajax({
                        url: link.attr("href"),
                        type: "GET",
                        success: function (response) {
                            row.remove();
                            if (response.status) {
                                if (response.command) {
                                    eval(response.command);
                                }
                            }
                        }
                    });
                    return false;
                }
            });


        </script>
    {% endblock %}
