<table class="uk-table uk-table-stripped" style="width: 100%;" id="filtered">
    <thead>
    <tr>
        <th>{{ 'Блюдо' | trans }}</th>
        <th>{{ 'Категория' | trans }}</th>
        <th>{{ 'Количество' | trans }}</th>
        <th>{{ 'Цена' | trans }}</th>
        <th>{{ 'Сумма' | trans }}</th>
        <th>{{ 'Скидок' | trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for id, dish in filteredData %}
        <tr>
            <td>
                <a href="{{ path("dish_edit", {'id' : dish.root.dish.id }) }}">{{ dish.root.dish.name }}</a>
            </td>
            <td>{{ dish.root.dish.category.name }}</td>
            <td>{{ dish.odDishQuantity }}</td>
            <td>{{ dish.odDishPrice | price }}</td>
            <td>{{ dish.odCashSum | price }}</td>
            <td>{{ dish.odDiscountSum | price }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>