{% extends "RestaurantBundle::layout.html.twig" %}

{% block title %}
    {{ 'Реализация' | trans }} {{ shop.name }}
{% endblock %}


{% block container %}
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <div class="md-card-toolbar">
                    <div class="md-card-toolbar-actions" style="width:50%;padding: 0;margin-top: -5px;">
                        <div class="uk-grid">
                            <div class="uk-width-large-1-3 uk-width-medium-1-1">
                                <div class="uk-input-group">
                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                    <label for="uk_dp_start">{{ 'С даты' | trans }}</label>
                                    <input class="md-input" type="text" id="dateStart" value="{{ dateStart| date("d.m.Y H:i") }}" data-uk-datepicker="{format:'DD.MM.YYYY'}">
                                </div>
                            </div>
                            <div class="uk-width-large-1-3 uk-width-medium-1-1">
                                <div class="uk-input-group">
                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                    <label for="uk_dp_end">{{ 'По дату' | trans }}</label>
                                    <input class="md-input" type="text" id="dateEnd" value="{{ dateEnd | date("d.m.Y H:i") }}" data-uk-datepicker="{format:'DD.MM.YYYY'}">
                                </div>
                            </div>
                            <div class="uk-width-large-1-3 uk-width-medium-1-1">
                                <button class="md-btn md-btn-primary md-btn-block md-btn-large" id="dateSearch">{{ 'Поиск' | trans }}</button>
                            </div>
                        </div>
                    </div>
                    <h3 class="heading_a uk-margin-bottom">
                        {% if shop is defined and shop is not null %}
                            <a href="{{ path('shop_edit', {'id': shop.id}) }}">{{ shop.name }}</a> |
                        {% endif %}
                        {% if category is defined %}
                            {{ 'Категория' | trans }} <a href="{{ path('category_edit', {'id': category.id}) }}">{{ category.name }}</a> |
                        {% endif %}
                        За период
                        {% if dateStart is not null %}
                            c {{ dateStart | date('d.m.Y H:i') }}
                        {% endif %}
                        {% if dateEnd is not null %}
                            по {{ dateEnd | date('d.m.Y H:i') }}
                        {% endif %}
                    </h3>
                </div>
                <div class="md-card-content">
                    <ul class="uk-tab" data-uk-tab="{connect:'#tabs_1_content'}" id="tabs_1">
                        <li class="uk-active"><a href="#">{{ 'Реализация' | trans }}</a></li>
                        <li><a href="#">{{ 'Перемещение' | trans }}</a></li>
                        <li><a href="#">{{ 'Запросы' | trans }}</a></li>
                        <li><a href="#">{{ 'Списание' | trans }}</a></li>
                        <li><a href="#">{{ 'Безнал' | trans }}</a></li>
                        <li><a href="#">{{ 'Агенты' | trans }}</a></li>
                        <li><a href="#">{{ 'Ингредиенты' | trans }}</a></li>
                        <li><a href="#">{{ 'Фильтр' | trans }}</a></li>
                    </ul>
                    <ul id="tabs_1_content" class="uk-switcher uk-margin">
                        <li>
                            <table class="uk-table uk-table-stripped" style="width: 100%;">
                                <thead>
                                <tr>
                                    <th>{{ 'Блюдо' | trans }}</th>
                                    <th>{{ 'Категория' | trans }}</th>
                                    <th>{{ 'Количество' | trans }}</th>
                                    <th>{{ 'Цена' | trans }}</th>
                                    <th>{{ 'Сумма' | trans }}</th>
                                    <th>{{ 'Скидок' | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set sum = 0 %}
                                {% set discount = 0 %}
                                {% for id, dish in dishes %}
                                    <tr>
                                        <td>
                                            <a href="{{ path("dish_edit", {'id' : dish.root.dish.id }) }}">{{ dish.root.dish.name }}</a>
                                        </td>
                                        <td>{{ dish.root.dish.category.name }}</td>
                                        {#<td>{{ dish.odDishPrice | price }}</td>#}
                                        <td>{{ dish.odDishQuantity }}</td>
                                        <td>{{ dish.odDishPrice | price }}</td>
                                        <td>{{ dish.odCashSum | price }}</td>
                                        <td>{{ dish.odDiscountSum | price }}</td>
                                    </tr>
                                    {% set sum = sum + dish.odCashSum %}
                                    {% set discount = discount + dish.odDiscountSum %}
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ sum | price }}</td>
                                    <td>{{ discount | price }}</td>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <table class="uk-table uk-table-stripped" style="width: 100%;">
                                <thead>
                                <tr>
                                    <th>{{ 'Блюдо' | trans }}</th>
                                    <th>{{ 'Категория' | trans }}</th>
                                    <th>{{ 'Куда' | trans }}</th>
                                    <th>{{ 'Количество' | trans }}</th>
                                    <th>{{ 'Цена' | trans }}</th>
                                    <th>{{ 'Сумма' | trans }}</th>
                                    <th>{{ 'Скидок' | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set sum = 0 %}
                                {% set discount = 0 %}
                                {% for dish in delegated %}
                                    <tr>
                                        <td>
                                            <a href="{{ path("dish_edit", {'id' : dish.delegate.dish.id }) }}">{{ dish.delegate.dish.name }}</a>
                                        </td>
                                        <td>{{ dish.delegate.dish.category.name }}</td>
                                        {#<td>{{ dish.odDishPrice | price }}</td>#}
                                        <td>{{ dish.odDelegate }}</td>
                                        <td>{{ dish.odDishQuantity }}</td>
                                        <td>{{ dish.odDishPrice | price }}</td>
                                        <td>{{ dish.odCashSum | price }}</td>
                                        <td>{{ dish.odDiscountSum | price }}</td>
                                    </tr>
                                    {% set sum = sum + dish.odCashSum %}
                                    {% set discount = discount + dish.odDiscountSum %}
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ sum | price }}</td>
                                    <td>{{ discount | price }}</td>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <table class="uk-table uk-table-stripped" style="width: 100%;">
                                <thead>
                                <tr>
                                    <th>{{ 'Блюдо' | trans }}</th>
                                    <th>{{ 'Категория' | trans }}</th>
                                    <th>{{ 'Откуда' | trans }}</th>
                                    <th>{{ 'Количество' | trans }}</th>
                                    <th>{{ 'Цена' | trans }}</th>
                                    <th>{{ 'Сумма' | trans }}</th>
                                    <th>{{ 'Скидок' | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set sum = 0 %}
                                {% set discount = 0 %}
                                {% for dish in requests %}
                                    <tr>
                                        <td>
                                            <a href="{{ path("dish_edit", {'id' : dish.delegate.dish.id }) }}">{{ dish.delegate.dish.name }}</a>
                                        </td>
                                        <td>{{ dish.delegate.dish.category.name }}</td>
                                        {#<td>{{ dish.odDishPrice | price }}</td>#}
                                        <td>{{ dish.odDelegate }}</td>
                                        <td>{{ dish.odDishQuantity }}</td>
                                        <td>{{ dish.odDishPrice | price }}</td>
                                        <td>{{ dish.odCashSum | price }}</td>
                                        <td>{{ dish.odDiscountSum | price }}</td>
                                    </tr>
                                    {% set sum = sum + dish.odCashSum %}
                                    {% set discount = discount + dish.odDiscountSum %}
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ sum | price }}</td>
                                    <td>{{ discount | price }}</td>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <table class="uk-table uk-table-stripped" style="width: 100%;">
                                <thead>
                                <tr>
                                    <th>{{ 'Блюдо' | trans }}</th>
                                    <th>{{ 'Категория' | trans }}</th>
                                    <th>{{ 'Куда' | trans }}</th>
                                    <th>{{ 'Цена' | trans }}</th>
                                    <th>{{ 'Количество' | trans }}</th>
                                    <th>{{ 'Сумма' | trans }}</th>
                                    <th>{{ 'Скидок' | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set sum = 0 %}
                                {% set discount = 0 %}
                                {% for dish in writeoff %}
                                    <tr>
                                        <td>
                                            <a href="{{ path("dish_edit", {'id' : dish.delegate.dish.id }) }}">{{ dish.dName }}</a>
                                        </td>
                                        <td>{{ dish.dcName }}</td>
                                        <td>{{ dish.odWriteoff }}</td>
                                        <td>{{ dish.odDishPrice | price }}</td>
                                        <td>{{ dish.odDishQuantity }}</td>
                                        <td>{{ dish.odCashSum | price }}</td>
                                        <td>{{ dish.odDiscountSum | price }}</td>
                                    </tr>
                                    {% set sum = sum + dish.odCashSum %}
                                    {% set discount = discount + dish.odDiscountSum %}
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ sum | price }}</td>
                                    <td>{{ discount | price }}</td>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <table class="uk-table uk-table-stripped" style="width: 100%;">
                                <thead>
                                <tr>
                                    <th>Счет</th>
                                    <th>Клиент</th>
                                    <th>Дата</th>
                                    <th>Сумма</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in clientOrders %}
                                <tr>
                                    <td><a target="_blank" href="{{ path("admin_order_show", {'id': order.id}) }}">{{ order.localId }}</a></td>
                                    <td>{{ order.client.name }}</td>
                                    <td>{{ order.createdAt | date("Y-m-d H:i") }}</td>
                                    <td>{{ order.dishSum | price }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </li>
                        <li>
                            {% for client, dishData in clientDishes %}
                                <h3>{{ client }}</h3>
                                <table class="uk-table uk-table-stripped" style="width: 100%;">
                                    <thead>
                                    <tr>
                                        <th>{{ 'Блюдо' | trans }}</th>
                                        <th>{{ 'Категория' | trans }}</th>
                                        <th>{{ 'Количество' | trans }}</th>
                                        <th>{{ 'Цена' | trans }}</th>
                                        <th>{{ 'Сумма' | trans }}</th>
                                        <th>{{ 'Скидок' | trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set sum = 0 %}
                                    {% set discount = 0 %}
                                    {% for id, dish in dishData %}
                                        <tr>
                                            <td>
                                                <a href="{{ path("dish_edit", {'id' : dish.root.dish.id }) }}">{{ dish.root.dish.name }}</a>
                                            </td>
                                            <td>{{ dish.root.dish.category.name }}</td>
                                            <td>{{ dish.odDishQuantity }}</td>
                                            <td>{{ dish.odDishPrice | price }}</td>
                                            <td>{{ dish.odCashSum | price }}</td>
                                            <td>{{ dish.odDiscountSum | price }}</td>
                                        </tr>
                                        {% set sum = sum + dish.odCashSum %}
                                        {% set discount = discount + dish.odDiscountSum %}
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>{{ sum | price }}</td>
                                        <td>{{ discount | price }}</td>
                                    </tr>
                                </table>
                            {% endfor %}</li>
                        <li>
                            <table class="uk-table uk-table-stripped" style="width: 100%;">
                                <thead>
                                <tr>
                                    <th>{{ 'Ингредиент' | trans }}</th>
                                    <th>{{ 'Количество' | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for ingr in ingredients %}
                                    <tr>
                                        <td>
                                            {{ ingr.diName }}
                                        </td>
                                        <td>{{ ingr.diQuantity }}</td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <div>
                                <form action="{{ path('realisation_search') }}" id="filterForm">
                                    <input type="hidden" name="dateStart" value="{{ dateStart | date('Y-m-d') }}">
                                    <input type="hidden" name="dateEnd"  value="{{ dateEnd | date('Y-m-d')}}">
                                    <input type="hidden" name="shop" value="{{ shop.id }}">
                                    <input type="time" name="periodStart">
                                    <input type="time" name="periodEnd">
                                    <button class="md-btn" type="submit">{{ 'Поиск' | trans }}</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



        {% block page_specific_plugins %}

            <!-- datatables -->
            <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
            <!-- datatables colVis-->
            <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
            <!-- datatables tableTools-->
            <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
            <!--<script src="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js"></script>-->
            <!-- datatables custom integration -->
            <script src="/assets/js/custom/datatables_uikit.min.js"></script>

            <script src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
            <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
            <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
            <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
            <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>


            <script>
                $(document).on('click', "#dateSearch", function () {
                    //http://venezia.new/admin/order/list/summary/25.04.1991/27.04.2016
                    var route = "{{ path("shop_realisation", {'shop' : shop.id}) }}";
                    var dateStart = $("#dateStart").val();
                    var dateEnd = $("#dateEnd").val();
                    if (dateStart != "") route += ("/" + dateStart);
                    if (dateEnd != "") route += ("/" + dateEnd);
                    window.location = route;
                });
            </script>

            <script>
                var tables = $("table").DataTable({
                    dom: "<'dt-uikit-header'<'uk-grid'<'uk-width-medium-2-3'Bl><'uk-width-medium-1-3'>>><'uk-overflow-container'tr><'dt-uikit-footer'<'uk-grid'<'uk-width-medium-3-10'i><'uk-width-medium-7-10'p>>>",
                    buttons: [
                        {
                            extend: 'print',
                            text: '{{ 'Печать' | trans }}',
                            title: '{{ 'Реализация' | trans }} {{ shop.name }} {{ app.request.get('dateStart') | date("d.m.Y H:i") }} - {{ app.request.get('dateEnd') | date("d.m.Y H:i") }}',
                            autoPrint: true,
                            customize: function (win) {
                                $(win.document.body).find('td:first-child').css('white-space', 'nowrap');
                            }
                        },
                        'excel',
                    ],

                    paging: false,
                });
            </script>

            <script>
                $(document).on('submit', '#filterForm', function () {
                    var path = $(this).attr('action');
                    var data = $(this).serialize();
                    $.ajax({
                        url: path,
                        data: data,
                        type: 'POST',
                        success: function (response) {
                            $("#filterForm").after(response.data);
                            $("#filtered").DataTable({
                                dom: "<'dt-uikit-header'<'uk-grid'<'uk-width-medium-2-3'Bl><'uk-width-medium-1-3'>>><'uk-overflow-container'tr><'dt-uikit-footer'<'uk-grid'<'uk-width-medium-3-10'i><'uk-width-medium-7-10'p>>>",
                                buttons: [
                                    {
                                        extend: 'print',
                                        text: '{{ 'Печать' | trans }}',
                                        title: '{{ 'Реализация' | trans }} {{ shop.name }} {{ app.request.get('dateStart') | date("d.m.Y H:i") }} - {{ app.request.get('dateEnd') | date("d.m.Y H:i") }}',
                                        autoPrint: true,
                                        customize: function (win) {
                                            $(win.document.body).find('td:first-child').css('white-space', 'nowrap');
                                        }
                                    },
                                    'excel',
                                ],

                                paging: false,
                            });
                        }
                    });

                    return false;
                });
            </script>
        {% endblock %}