{% extends '@Frontend/base_v3.html.twig' %}

{% block page_special_styles %}
    {% stylesheets
        "css/new/bootstrap.min.css"
        "css/new/bootstrap_col_15.css"
        "css/new/fontello.css"
        "css/new/owl.carousel.css"
        "css/new/magnific-popup.css"
        "css/new/custom-bg.css"

        "css/new/reset.css"
        "css/new/main.css"
        "css/new/main_new.css"

        filter="scssphp" %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"/>
    <style>
        .owl-carousel .owl-item img {
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block shopping_cart %}{% endblock %}

{% block container -%}
    <section class="store-cart style2">
        <div class="container">
            <h1>{{ 'Ваш заказ' | trans }} № {{ order.id }}</h1>
            <table class="order-table" style="max-width: 660px;">
                {% for orderDish in order.dishes %}
                    <tr>
                        <td>{{ orderDish.dish.name }}</td>
                        <td>{{ orderDish.quantity }}</td>
                        <td>{{ orderDish.cashSum | price }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2"><b>{{ 'Итого' | trans }}:</b></td>
                    <td>{{ order.dishSum | price }} р.</td>
                </tr>
                <tr>
                    <td><b>{{ 'Телефон'  | trans }}:</b></td>
                    <td>{{ order.phone }}</td>
                </tr>
                {% if orderType == constant('FrontendBundle\\Entity\\WebOrder::TYPE_PICKUP') %}
                    <tr>
                        <td><b>{{ 'Забрать в ' | trans }}:</b></td>
                        <td>{{ order.pickupShop.name }} {{ order.pickupShop.address }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td><b>{{ 'Адрес' | trans }}:</b></td>
                        <td>{{ order.address }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td><b>{{ 'Время'  | trans }}:</b></td>
                    <td>{{ order.pickupTime | date('H:i') }}</td>
                </tr>
                <tr>
                    <td><b>{{ 'Дополнительно'  | trans }}:</b></td>
                    <td>{{ order.comment }}</td>
                </tr>
            </table>


            <h2 style="color: red; padding-left: 0;">Заказ успешно
                {% if order.cashType == constant('FrontendBundle\\Entity\\WebOrder::CASHTYPE_ONLINE') %}оплачен{% else %}подтвержден{% endif %},
                {% if orderType == constant('FrontendBundle\\Entity\\WebOrder::TYPE_PICKUP') %}ожидаем вас{% else %}ожидайте курьера{% endif %}
            </h2>


            <p>{{ 'Контактный номер администратора:' }} {{ order.pickupShop.phone }}</p>


        </div>
        <div class="clearfix"></div>
    </section>
{% endblock %}

{% block page_special_javascripts %}
    {% javascripts
        "js/new/jquery.min.js"
        "js/new/jquery-ui.min.js"
        "js/new/jquery.scrollme.min.js"
        "js/new/jquery.fs.stepper.min.js"
        "js/new/cd-google-map-brown.js"
        "js/new/jquery.mixitup.min.js"
        "js/new/wow.min.js"
        "js/new/plugins.js"
        "js/new/main.js"

        filter="?jsqueeze" %}

        <script src="{{ asset_url }}"></script>

    {% endjavascripts %}
{% endblock %}