<table class="" style="width: 100%; border-collapse: collapse;">
    {% for shop, dateData in clientData %}
        {% set shopSum = 0 %}
        <tr>
            <td colspan="9"><b>{{ shop }}</b></td>
        </tr>
        {% for date, orders in dateData %}
            {% set dateSum = 0 %}
            <tr>
                <td colspan="9"><b>{{ date }}</b></td>
            </tr>
            {% for __order in orders %}
                {% set orderSum = 0 %}
                {% for dish in __order.dishes %}
                    {% set orderSum = orderSum + (dish.dishPrice * dish.quantity) %}
                    {% set dateSum = dateSum + (dish.dishPrice * dish.quantity) %}
                    {% set shopSum = shopSum + (dish.dishPrice * dish.quantity) %}
                {% endfor %}
                <tr>
                    <td>{{ __order.localId }}</td>
                    <td>{{ __order.createdAt | date('H:i') }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>{{ orderSum | price }}</b></td>
                    <td></td>
                    <td></td>
                </tr>
                {% for dish in __order.dishes %}
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>{{ dish.dish.name }}</td>
                        <td>{{ dish.quantity }}&times;</td>
                        <td>{{ dish.dishPrice | price }}</td>
                        <td>{{ (dish.dishPrice * dish.quantity) | price }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            {% endfor %}
            <tr style="border-bottom: 1px #000 solid;">
                <td colspan="7" style="text-align: right;">Итого за {{ date }}:</td>
                <td><b>{{ dateSum | price }}</b></td>
                <td></td>
            </tr>
        {% endfor %}
        <tr style="border-bottom: 2px #000 solid;">
            <td colspan="8" style="text-align: right;">Итого по {{ shop }}:</td>
            <td><b>{{ shopSum | price }}</b></td>
        </tr>
    {% endfor %}
</table>
