{% extends "RestaurantBundle::layout.html.twig" %}

{% block container %}
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <table class="" style="width: 100%; border-collapse: collapse;">
                    {% for __order in orders %}
                        <tr>
                            <td><a href="{{ path('admin_order_show', {'id' : __order.id}) }}">{{ __order.localId }}</a></td>
                            <td>{{ __order.createdAt | date("Y-m-d H:i") }}</td>
                        </tr>
                        {% for __orderDish in __order.dishes %}
                            <tr>
                                <td>{{ __orderDish.dish.name }}</td>
                                <td>{{ __orderDish.quantity }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}