{% extends "RestaurantBundle::layout.html.twig" %}

{% block title %}
    {{ shop.name }} Report | {{ 'now' | date('d-m-Y') }}
{% endblock %}

{% block container %}
    <style>
        .dt-button {
            padding: 6px 12px;
            background: #ddd;
            margin-right: 5px;
            border-radius: 5px;
            cursor: pointer;
        }

        .report_actions {
            display: block;
        }

        @media (max-width: 480px) {
            .report_actions {
                display: none;
            }

            .cleartype {
                padding: 15px 0 15px 25px !important;
            }

            #header_main {
                padding: 0 15px;
            }
        }

        .uk-input-group {
            width: 100%;
        }
    </style>
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content"  id="report-view">
                <div class="uk-grid">
                    <div class="uk-width-1-1 uk-width-small-2-5">
                        <div class="uk-grid">
                            <div class="uk-width-1-1 uk-width-small-1-5">
                                <div class="uk-input-group">
                                    <input class="md-input" type="text" id="menu_date"
                                           value="{{ date != "" ? (date | date("d.m.Y")) : (lastReport.name | date_modify("+1 day") | date("d.m.Y")) }}"
                                           data-uk-datepicker="{format:'DD.MM.YYYY'}">
                                </div>
                            </div>
                            <div class="uk-width-1-1 uk-width-small-1-5 report_actions" style="padding: 0 2px;">
                                <div class="uk-input-group">
                                    <div class="uk-input-group">
                                        <select id="order_filter_shop" name="order_filter[shop]" class="md-input">
                                            {% for sh in shops %}
                                                <option value="{{ sh.id }}" {% if shop.id == sh.id %}selected{% endif %}>{{ sh.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <span class="md-input-bar "></span>
                                    </div>
                                </div>
                            </div>

                            <div class="uk-width-1-1 uk-width-small-1-5 report_actions" style="padding: 10px 2px;">
                                <button class="uk-button uk-button-primary uk-width-1-1"
                                        onclick="$('#pizza').toggle();">{{ 'Пицца' | trans }}</button>
                            </div>
                            <div class="uk-width-1-1 uk-width-small-1-5 report_actions" style="padding: 10px 2px;">
                                <a href="{{ path('print_daily_registry', {'id' : shop.id }) }}" class="uk-button uk-button-primary uk-width-1-1"
                                   target="_blank" style="margin-right: 10px;">{{ 'Печать реестров'| trans }}</a>
                            </div>
                            <div class="uk-width-1-1 uk-width-small-1-5 cleartype" style="padding-top: 10px;">
                                <a href="{{ path("clear_daily_bugs", {'id' : shop.id}) }}" class="uk-button uk-button-danger uk-width-1-1" style=""
                                   id="clear_all">{{ 'Исправить' | trans }}</a>
                            </div>
                        </div>

                        <table class="uk-table uk-table-striped">
                            <tbody>
                            {% set sumKitchen = (money['КУХНЯ'].cash + money['КУХНЯ'].invoice + money['КУХНЯ'].guarantee) %}
                            {% set sumBar = (money['БАР'].cash + money['БАР'].invoice + money['БАР'].guarantee + moneyBar) %}
                            <tr>
                                <td>{{ 'Кухня'| trans }}</td>
                                <td>{{ sumKitchen | price }}</td>
                                <td>
                                    {% if (sumKitchen + sumBar) > 0 %}
                                        {{ (sumKitchen / (sumKitchen + sumBar) * 100) | round(2) }}%
                                    {% else %}
                                        0%
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>{{ 'Бар'| trans }}</td>
                                <td>{{ sumBar  | price }}</td>

                                <td>
                                    {% if (sumKitchen + sumBar) > 0 %}
                                        {{ (sumBar / (sumKitchen + sumBar) * 100) | round(2) }}%
                                    {% else %}
                                        0%
                                    {% endif %}
                                </td>
                            </tr>
                            <tr style="border-bottom: 2px solid #000;border-top: 2px solid #000;">
                                <td>{{ 'Итого'| trans }}</td>
                                <td>{{ (total.sum - total.minus + moneyBar ) | price }}</td>
                                <td>100%</td>
                            </tr>
                            {% set cashAdmin = money.cash %}
                            {% set cashBar = moneyBar %}
                            {% set cashTerminal = money.terminal %}
                            {% set cashInvoice = money.invoice %}
                            {% set cashSum = cashAdmin + cashBar + cashTerminal + cashInvoice %}
                            <tr style="border-top: 2px solid #000;">
                                <td>{{ 'Касса администратор' | trans }}</td>
                                <td>{{ cashAdmin | price }} </td>
                                <td>
                                    {% if cashSum > 0 %}
                                        {{ (cashAdmin / cashSum * 100) | round(2) }}%
                                    {% else %}
                                        0%
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>{{ 'Касса бар'| trans }}</td>
                                <td>{{ cashBar | price }}</td>
                                <td>
                                    {% if cashSum > 0 %}
                                        {{ (cashBar / cashSum * 100) | round(2) }}%
                                    {% else %}
                                        0%
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>{{ 'Терминал'| trans }}</td>
                                <td>{{ cashTerminal | price }}</td>
                                <td>
                                    {% if cashSum > 0 %}
                                        {{ (cashTerminal / cashSum * 100) | round(2) }}%
                                    {% else %}
                                        0%
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>{{ 'Счет'| trans }}</td>
                                <td>{{ cashInvoice | price }}</td>
                                <td>{% if cashSum > 0 %}
                                        {{ (cashInvoice / cashSum * 100) | round(2) }}%
                                    {% else %}
                                        0%
                                    {% endif %}</td>
                            </tr>

                            <tr style="border-bottom: 2px solid #000;border-top: 2px solid #000;" onclick="$('.detailed').toggle();">
                                <td>{{ 'Итого'| trans }}</td>
                                <td>{{ (total.sum - total.minus + moneyBar) | price }}</td>
                                <td>100%</td>
                            </tr>
                            <tr class="detailed">
                                <td colspan="3">{{ 'Детально'| trans }}</td>
                            </tr>
                            <tr onclick="$('#pizza').toggle();" class="detailed">
                                <td colspan="3"><strong>{{ 'Пицца' }}</strong></td>
                            </tr>
                            <tr class="detailed">
                                <td>{{ 'Всего'| trans }}</td>
                                <td>{{ pizza.quantity }}</td>
                                <td></td>
                            </tr>
                            {% if  pizza.ingr is not empty %}
                                <tr class="detailed">
                                    <td>{{ 'Шариков'| trans }}</td>
                                    <td>{{ pizza.ingr["Шарик большой"] }}</td>
                                    <td></td>
                                </tr>
                            {% endif %}
                            <tr class="detailed">
                                <td>{{ 'C собой' | trans }}</td>
                                <td>{{ pizza.takeaway.quantity }}</td>
                                <td></td>
                            </tr>
                            <tr class="detailed">
                                <td>{{ 'Доставка' | trans }}</td>
                                <td>
                                    <div>Menu.by {{ pizza.delivery.menuby }}</div>
                                    <div>just-eat.by {{ pizza.delivery.justeat }}</div>
                                    <div>scope {{ pizza.delivery.scope }}</div>
                                    <div>delivio {{ pizza.delivery.delivio }}</div>
                                </td>
                                <td></td>
                            </tr>
                            <tr class="detailed">
                                <td>{{ 'Выручка'| trans }}</td>
                                <td>{{ pizza.sum  | price }}</td>
                                <td></td>
                            </tr>
                            {% if money['КУХНЯ'].lost > 0 %}
                                <tr onclick="$('#losted').toggle();" class="detailed">
                                    <td>{{ 'Потери КУХНЯ'| trans }}</td>
                                    <td>{{ money['КУХНЯ'].lost  | price }}</td>
                                    <td></td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="uk-width-1-1 uk-width-small-3-5">
                        <div id="losted" style="display: none;">
                            <h3 class="heading_a uk-margin-bottom">{{ 'Потерянные' | trans }}</h3>
                            <table class="uk-table uk-table-striped" id="lost_dishes" style="width: 100%;">
                                <thead>
                                <tr>
                                    <th>{{ 'Блюдо' | trans }}</th>
                                    <th>{{ 'Количество' | trans }}</th>
                                    <th>{{ 'Сумма' | trans }}</th>
                                    <th>{{ 'Категория' | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set lostSum = 0 %}
                                {% for dish, data in losted %}
                                    <tr>
                                        <td>{{ dish }}</td>
                                        <td>{{ data.quantity }}</td>
                                        <td>{{ data.sum  | price }}</td>
                                        <td>{{ data.cat }}</td>
                                    </tr>
                                    {% set lostSum = lostSum + (data.sum) %}
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td></td>
                                    <td>{{ 'Итого' | trans }}</td>
                                    <td>{{ lostSum  | price }}</td>
                                    <td></td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div id="pizza" style="display: none;">
                            <h3 class="heading_a uk-margin-bottom">{{ 'Пицца' | trans }}</h3>
                            <table class="uk-table uk-table-striped" id="pizza_table" style="width: 100%;">
                                <thead>
                                <tr>
                                    <th>{{ 'Блюдо' | trans }}</th>
                                    <th>{{ 'Количество' | trans }}</th>
                                    <th>{{ 'Шариков' | trans }}</th>
                                    <th>{{ 'Сумма' | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% set pizzaSum = 0 %}
                                {% set pizzaQuantity = 0 %}
                                {% set pizzaIngr = 0 %}
                                {% for pizza, data in pizza.dishes %}
                                    <tr>
                                        <td>{{ pizza }}</td>
                                        <td>{{ data.quantity }}</td>
                                        <td>{{ data.ingr }}</td>
                                        <td>{{ data.sum | price }}</td>
                                    </tr>
                                    {% set pizzaSum = pizzaSum + (data.sum) %}
                                    {% set pizzaQuantity = pizzaQuantity + data.quantity %}
                                    {% set pizzaIngr = pizzaIngr + data.ingr %}
                                {% endfor %}
                                <tr>
                                    <td>{{ 'Итого' | trans }}</td>
                                    <td>{{ pizzaQuantity }}</td>
                                    <td>{{ pizzaIngr }}</td>
                                    <td>{{ pizzaSum | price }}</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td>{{ 'C собой' | trans }}</td>
                                    <td>{{ pizza.takeaway.quantity }}</td>
                                    <td>{{ pizza.takeaway.ingr }}</td>
                                    <td>{{ pizza.takeaway.sum | price }}</td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <h3 class="heading_a uk-margin-bottom">{{ 'Изменения' | trans }}</h3>
                        <table class="uk-table uk-table-striped">
                            <thead>
                            <tr>
                                <th>{{ 'Счет' | trans }}</th>
                                <th>{{ 'Блюдо' | trans }}</th>
                                <th>{{ 'Количество' | trans }}</th>
                                <th>{{ 'Официант' | trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for deletion in deletions %}
                                <tr>
                                    <td>{{ deletion.orderDish.parentOrder.localId }}</td>
                                    <td>{{ deletion.orderDish.dish.name }}</td>
                                    <td>{{ deletion.orderDish.quantity }}</td>
                                    <td>{{ deletion.orderDish.parentOrder.user.name }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <div id="transfers">
                            <h3 class="heading_a uk-margin-bottom">{{ 'Перемещения' | trans }}</h3>
                            <table class="uk-table uk-table-striped">
                                <thead>
                                <tr>
                                    <th style="text-align: left;">Заведение</th>
                                    <th>Отправлено (Товаровед)</th>
                                    <th>Доставлено (Водитель)</th>
                                    <th>Получено (Пиццерист)</th>
                                    <th>На утро (Пиццерист)</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for shop in shops %}
                                    <tr>
                                        <td style="text-align: left;">{{ shop.name }}</td>
                                        <td>
                                            {% if (transfer[shop.id]["send"] != 0) or  (transfer[shop.id] | length > 0) %}
                                                <strong style="border-bottom: 1px #000 solid;display:block;">{{ transfer[shop.id]["send"] }}</strong>
                                                {% for __event in transfer[shop.id]["send_log"] %}
                                                    <div>
                                                        <div style="font-weight: bold;">{{ __event["quantity"] }}</div>
                                                        <div style="font-size: 10px;">{{ __event.from }}<br>{{ __event["date"] | date("H:i") }}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% else %}&nbsp;{% endif %}
                                        </td>
                                        <td>
                                            <strong>&nbsp;</strong>
                                            {% if transfer[shop.id]["delivered_date"] %}
                                                <div style="font-size: 12px; {{ (transfer[shop.id]["delivered_date"] < transfer[shop.id]["send_date"]) ? "color: #f00" : "" }}">{{ transfer[shop.id]["delivered_date"] | date("H:i") }}</div>
                                                {% if (transfer[shop.id]["send_date"]) %}
                                                    <div style="font-size: 10px;">
                                                        diff <span
                                                                style="font-weight:bold;">{{ date(transfer[shop.id]["delivered_date"]).diff(transfer[shop.id]["send_date"]) |date("%H:%I") }}</span>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td style="border-right: 1px #000 solid;{% if (transfer[shop.id]["received"] != transfer[shop.id]["send"]) %}background: #ffbfbf;{% endif %}">
                                            <strong style="border-bottom: 1px #000 solid;display:block;">{{ transfer[shop.id]["received"] }}</strong>
                                            {% if transfer[shop.id]["received_date"] %}
                                                {% for __event in transfer[shop.id]["received_log"] %}

                                                    <div>
                                                        <div style="font-weight: bold;">{{ __event["payload"]["income"] - __event["payload"]["waste"] }}</div>
                                                        <div style="font-size: 10px;{{ __event["receive_error"] ? "color:#f00;font-size:12px;font-weight:bold;" : "" }}">
                                                            {{ __event["date"] | date("H:i") }}</div>
                                                        <div style="font-size: 10px;{{ __event["receive_error"] ? "color:#f00;font-size:12px;font-weight:bold;" : "" }}">
                                                            diff <span style="font-weight:bold;">{{ __event["diff_hrs"] }}</span>
                                                        </div>
                                                        {% if __event["receive_error"] %}

                                                            <div style="font-size: 10px;{{ __event["receive_error"] ? "color:#f00;font-size:12px;font-weight:bold;" : "" }}">
                                                                pizza <span style="font-weight:bold;">{{ __event["pizza_cnt"] }}</span>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                        <td style="{{ (transfer[shop.id]["balance_prev"] != transfer[shop.id]["balance_now"]) ? "background: #ffbfbf;" : "" }}">
                                            {{ transfer[shop.id]["balance_prev"] }} | {{ transfer[shop.id]["balance_now"] }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_specific_plugins %}

    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>
    <script src="{{ asset('assets/js/html2canvas.js') }}"></script>


    <style>
        td {
            text-align: center;
        }
    </style>

    <script>
        var date = new Date();

        $("#menu_date").on("change", function () {
            window.location = '{{ path('admin_order_daily_report', { 'id' : shop.id }) }}/' + $(this).val();
        });

        $("#order_filter_shop").on("change", function () {
            window.location = '/admin/report/shop/' + $(this).val() + '/daily';
        });

        $("#clear_all").on('click', function (event) {
            if (confirm('{{ 'Исправить?' | trans }}')) {

$('#pizza').show();
html2canvas(document.querySelector('#report-view')).then(function (canvas) {
                            var image = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");

                            var link = document.createElement('a');
                            link.download = (new Date()).toLocaleString() + '.png';
                            link.href = canvas.toDataURL();
                            link.click();
                            link.remove();

$('#pizza').hide();
                        });
return false;

            } else {
                event.preventDefault();
                event.stopPropagation();
                return false;
            }
        });

        $("#lost_dishes, #pizza_table").DataTable({
            dom: 'Bfrtip',
            "iDisplayLength": -1,
            buttons: [
                'excel',
                'pdf',
                {
                    extend: 'print',
                    footer: true,
                    customize: function (win) {
                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                        $(win.document.body).find('td')
                            .css('padding', '2px');
                    }
                },
            ]
        });
    </script>


{% endblock %}
