{% extends "RestaurantBundle::layout.html.twig" %}

{% block title %}
    {{ 'Тенденция продаж' | trans }} {{ dish.name }}
{% endblock %}

{% block container %}

    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-width-3-4">
                    &nbsp;
                </div>
                <div class="uk-width-1-4" style="padding: 0 2px;">
                    <div class="uk-input-group">
                        <div class="uk-input-group">
                            <select id="dish_trend_shop" name="dish_trend[shop]" class="md-input">
                                {% for sh in shops %}
                                    <option value="{{ sh.id }}" {% if shop.id == sh.id %}selected{% endif %}>{{ sh.name }}</option>
                                {% endfor %}
                            </select>
                            <span class="md-input-bar "></span>
                        </div>
                    </div>
                </div>

                <div id="dailySales"></div>
                <table class="uk-table uk-table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'Дата' | trans }}</th>
                        <th>{{ 'Кол-во' | trans }}</th>
                    </tr>
                    </thead>
                    {% for __data in data %}
                        <tr>
                            <td>{{ __data.x | date('d.m.Y') }}</td>
                            <td>{{ __data.y }}</td>
                        </tr>
                        {% if (loop.index % 25) == 0 %}
                            {% include '@Control/Templates/__dailyDishSalesTableSeparator.html.twig' %}
                        {% endif %}
                    {% endfor %}
                    <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_specific_styles %}
    <style>
        table {
            border-collapse: collapse;
        }

        .dt-button {
            padding: 6px 12px;
            background: #ddd;
            margin-right: 5px;
            border-radius: 5px;
            cursor: pointer;
        }

        .br {
            border-right: 1px #000 solid;
        }

        .dataTables_wrapper {
            width: 20%;
            float: left;
        }

        .md-card-content:after {
            content: " ";
            display: table;
            clear: both;
        }

        @media print {
            .sf-toolbar {
                display: none;
            }
        }
    </style>
{% endblock %}


{% block page_specific_plugins %}

    <!-- datatables -->
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <!-- datatables colVis-->
    <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <!-- datatables tableTools-->
    <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <!-- datatables custom integration -->
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>

    <script src="{{ asset('assets/js/jquery_extensions.js') }}"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>




    <script>

        $("#dish_trend_shop").on("change", function () {
            window.location = '/admin/report/' + $(this).val() + '/dish/{{ dish.id }}/daily';
        });

        $("table").DataTable({
            dom: 'Brt',
            iDisplayLength: -1,
            ordering: false,
            buttons: []
        });

        var data = {{ data | json_encode | raw }};

        var __chartData = [];
        $.each(data, function (key, __data) {
            if (__data.x == null) return;

            d = __data.x.split('-')
            console.log(d)
            __chartData.push([Date.UTC(d[0], d[1] - 1, d[2]), __data.y * 1]);
        });

        console.log(__chartData);

        var options = {
            chart: {
                type: 'spline',
                renderTo: 'dailySales',
            },
            title: {
                text: '{{ 'Тенденция продаж' | trans }} {{ dish.name }} {{ 'в' | trans }} {{ shop.name }}',
                x: -20 //center
            },
            subtitle: {
                /*text: 'Source: WorldClimate.com',
                 x: -20*/
            },
            xAxis: {
                type: 'datetime'
            },
            legend: {
                enabled: false
            },
            series: [
                {
                    name: 'Pizza count',
                    data: __chartData

                },
            ]
        };

        var chartObj = new Highcharts.Chart(options);


    </script>

{% endblock %}