<!doctype html>
<!--[if lte IE 9]>
<html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en"> <!--<![endif]-->

<head>
    <title>
        {{ 'Реестры' }} | {{ date | date('d.m.Y') }}
    </title>

    <link rel="stylesheet" href="/bower_components/uikit/css/uikit.almost-flat.min.css" media="all">
    <link rel="stylesheet" href="/assets/css/main.min.css" media="all">

    <script src="/assets/js/common.min.js"></script>
    <script src="/assets/js/uikit_custom.min.js"></script>
    <script src="/assets/js/altair_admin_common.min.js?833803076"></script>

    <style>
        body {
            background: #ccc;
            padding: 0;
        }

        .page {
            width: 790px;
            background: #fff;
            padding: 20px 38px;;
            height: 1120px;
            box-sizing: border-box;
            margin-bottom: 50px;
            page-break-after: always;
        }

        li a {
            color: #000;
            text-decoration: none;
        }

        h1 {
            text-align: center;
            margin: 15px 0;
        }

        h3 {
            overflow-wrap: break-word;
            padding: 0;
            margin: 0;
        }

        p {
            margin: 0;
            padding: 0;
        }

        /*
        ul {
            padding: 0;
            margin: 0;
            #list-style: none;

        }
        */

        ul {
            list-style: none;
        }

        #tools {
            width: 300px;
            position: fixed;
            right: 0;
            top: 0;
            background: #fff;
            height: 100%;
        }

        #print {
            width: 790px;
            margin: 0 auto;
        }

        span.title {
            width: 33%;
            display: block;
            float: left;
            text-align: center;
        }

        .header {
            border-bottom: 1px solid #000;
        }

        .footer {
            border-top: 1px solid #000;
        }

        .header:after, .tr:after {
            content: " ";
            display: table;
            clear: both;
        }

        .tr .td:first-child a {
            padding-left: 10px;
        }

        .td, .th {
            float: left;
            width: 16.66%;
        }

        #cat_terminal .td,
        #cat_terminal .th,
        #cat_invoice .td,
        #cat_invoice .th {
            float: left;
            width: 20%;
        }


        .money {
            text-align: right;
        }

        .pageheader:after {
            content: " ";
            display: table;
            clear: both;
        }

        @media print {
            .page {
                width: 100%;
                padding: 0;
                margin: 0;
            }

            a {
                text-decoration: none;
            }

            a:after {
                content: " ";
                display: none;
            }

            #tools {
                display: none;
            }

            .sf-toolbar {
                display: none !important;
            }

            tr {
                height: 12px;
                line-height: 8px;
                font-size: 10px;
            }

            td {
                padding: 0px !important;
            }

            #cat_24 {
                display: none;
            }
        }

    </style>
</head>
<body class="">
<div id="print">
    {% for id, user in userReport %}
        <div class="page" id="cat_{{ id }}">
            <h3 class="heading_a uk-margin-bottom pageheader">
                <span class="title" style="text-align: left;">{{ user.name }}</span>
                <span class="title">{{ shop.name }}</span>
                <span class="title" style="text-align: right; width: 34%;">{{ date | date('d.m.Y') }}</span>
            </h3>
            {% if user.orders | length > 100 %}
                <div class="table" style="width: 33.333%;float: left;border-right: 1px #000 solid;box-sizing: border-box;">
            {% elseif user.orders | length > 50 %}
                <div class="table" style="width: 50%;float: left;border-right: 1px #000 solid;box-sizing: border-box;">
            {% else %}
                <div class="table" style="border-right: 1px #000 solid;box-sizing: border-box;">
            {% endif %}
                <div class="header">
                    <div class="th"><span style="padding-left: 10px;">{{ 'Счет' | trans }}</span></div>
                    <div class="th" style="text-align: right;">{{ 'Кухня' | trans }}</div>
                    <div class="th" style="text-align: right;">{{ 'Бар' | trans }}</div>

                    <div class="th" style="text-align: right;">{{ 'Наличные' | trans }}</div>
                    <div class="th" style="text-align: right;">{{ 'Терминал' | trans }}</div>

                    <div class="th" style="text-align: right;">{{ 'Итого' | trans }}</div>
                </div>
                {% set sumKitchen = 0 %}
                {% set sumBar = 0 %}
                {% set sumCash = 0 %}
                {% set sumCard = 0 %}
                {% for order in user.orders %}


                    {% if loop.index == 51 or loop.index == 101 %}
            </div>
                    {% if user.orders | length > 100 %}
                    <div class="table" style="width: 33.333%;float: left;border-right: 1px #000 solid;box-sizing: border-box;">
                        {% elseif user.orders | length > 50 %}
                        <div class="table" style="width: 50%;float: left;border-right: 1px #000 solid;box-sizing: border-box;">
                            {% else %}
                            <div class="table" style="border-right: 1px #000 solid;box-sizing: border-box;">
                                {% endif %}
                <div class="header">
                    {#<th style="width: 1%;"></th>}#}
                    <div class="th"><span style="padding-left: 10px;">{{ 'Счет' | trans }}</span></div>
                    <div class="th" style="text-align: right;">{{ 'Кухня' | trans }}</div>
                    <div class="th" style="text-align: right;">{{ 'Бар' | trans }}</div>
                    <div class="th" style="text-align: right;">{{ 'Итого' | trans }}</div>
                </div>
                    {% endif %}
                    <div class="tr">
                        {#<td>{{ loop.index }}</td>#}
                        <div class="td">
                            <a href="{{ path('admin_order_show', {'id' : order.order.id}) }}" target="_blank">{{ order.order.localId }}</a>
                        </div>

                        <div class="td money">{{ (order.sum['КУХНЯ']) | price }}</div>
                        <div class="td money">{{ (order.sum['БАР']) | price }}</div>

                        <div class="td money">{{ (order.clientCashMoney) | price }}</div>
                        <div class="td money">{{ (order.clientCashMoney) | price }}</div>

                        <div class="td money">{{ (order.sum['КУХНЯ'] + order.sum['БАР']) | price }}</div>
                    </div>
                    {% set sumKitchen = sumKitchen + order.sum['КУХНЯ'] %}
                    {% set sumBar = sumBar +  order.sum['БАР'] %}
                    {% set sumCash = sumCash +  order.sum['cash'] %}
                    {% set sumCard = sumCard +  order.sum['card'] %}
                {% endfor %}
                <div class="footer">
                    <div class="td money">{{ 'Итого' | trans }}:</div>
                    <div class="td money">{{ (sumKitchen) | price }}</div>
                    <div class="td money">{{ (sumBar) | price }}</div>

                    <div class="td money">{{ sumCash | price }}</div>
                    <div class="td money">{{ sumCard | price }}</div>


                    <div class="td money">{{ (sumKitchen + sumBar) | price }}</div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if invoice | length > 0 %}
        <div class="page" id="cat_invoice">
            <h3 class="heading_a uk-margin-bottom pageheader">
                <span class="title" style="text-align: left;">
                    {{ 'Безналичный расчет' | trans }}
                </span>
                <span class="title">
                    {{ shop.name }}
                </span>
                <span class="title" style="text-align:right;">
                    {{ date | date('d.m.Y') }}
                </span>
            </h3>
            <div class="table">
                <div class="header">
                    <div class="th">{{ 'Счет' | trans }}</div>
                    <div class="th">{{ 'Официант' | trans }}</div>
                    <div class="th">{{ 'Клиент' | trans }}</div>
                    <div class="th" style="width: 13.333%;text-align:right;">{{ 'Кухня' | trans }}</div>
                    <div class="th" style="width: 13.333%;text-align:right;">{{ 'Бар' | trans }}</div>
                    <div class="th" style="width: 13.333%;text-align:right;">{{ 'Итого' | trans }}</div>
                </div>
                {% set sumKitchen = 0 %}
                {% set sumBar = 0 %}
                {% for order in invoice %}
                    <div class="tr">
                        <div class="td">
                            <a href="{{ path('admin_order_show', {'id' : order.order.id}) }}" target="_blank">{{ order.order.localId }}</a>
                        </div>
                        <div class="td">{{ order.order.user.name }}</div>
                        <div class="td">{{ order.order.client.name }}</div>
                        <div class="td money" style="width: 13.333%;">{{ order.sum['КУХНЯ'] | price }}</div>
                        <div class="td money" style="width: 13.333%;">{{ order.sum['БАР'] | price }}</div>
                        <div class="td money" style="width: 13.333%;">{{ (order.sum['КУХНЯ'] + order.sum['БАР'])  | price }}</div>
                        {% set sumKitchen = sumKitchen + order.sum['КУХНЯ'] %}
                        {% set sumBar = sumBar +  order.sum['БАР'] %}
                    </div>
                {% endfor %}
                <div class="footer">
                    <div class="td">&nbsp;</div>
                    <div class="td">&nbsp;</div>
                    <div class="td">{{ 'Итого' | trans }}</div>
                    <div class="td money" style="width: 13.333%;">{{ sumKitchen  | price }}</div>
                    <div class="td money" style="width: 13.333%;">{{ sumBar | price }}</div>
                    <div class="td money" style="width: 13.333%;">{{ (sumKitchen + sumBar)  | price }}</div>
                    {% set invoice_sum =  (sumKitchen + sumBar) %}
                </div>
            </div>
        </div>
    {% endif %}
</div>

<div id="tools">
    <h1>
        {{ shop.name }}
    </h1>

    <div class="uk-input-group">
        <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
        <label for="uk_dp_start">На дату</label>
        <input class="md-input" type="text" id="menu_date" value="{{ date | date("d.m.Y") }}" data-uk-datepicker="{format:'DD.MM.YYYY'}">
    </div>
    <div class="" style="padding: 0 15px;margin: 15px 0;">
        <button class="uk-button uk-block  uk-button-primary uk-width-1-1" id="print_btn">{{ 'Печать' | trans }}</button>
    </div>

    <div style="padding: 0 15px;">
        <table style="width: 100%;">
            {% for id, user in userReport %}
                {%- spaceless -%}
                    <tr class="">
                        <td>
                            <a class="cat_title" href="#cat_{{ id }}">{{ user.name }}</a>
                        </td>
                        <td style="width: 25%;text-align: right;">
                            {{ user.total | price }}
                        </td>
                    </tr>
                {%- endspaceless -%}
            {% endfor %}
            {% if invoice | length > 0 %}
                <tr class="">
                    <td>
                        <a class="cat_title" href="#cat_invoice">{{ 'Гарантия' | trans }}</a>
                    </td>
                    <td style="width: 25%;text-align: right;">
                        {{ invoice_sum | price }}
                    </td>
                </tr>
            {% endif %}

        </table>
    </div>
</div>
<script>
    $("#menu_date").on("change", function () {
        window.location = '{{ path('print_daily_registry', { 'id' : shop.id}) }}/' + $(this).val();
    });
    $("#print_btn").on("click", function () {
        window.print();
        return false;
    });
    /*
     $(document).ready(function(){
     $("#print_btn").trigger("click");
     });
     */
</script>
</body>
</html>

