{% extends "RestaurantBundle::layout.html.twig" %}

{% block title %}Доставка{% endblock %}

{% block container %}
    <style>

    </style>
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <div class="md-card-toolbar">
                    <div class="md-card-toolbar-actions">
                        <div class="uk-grid">
                            <div class="uk-width-large-1-3 uk-width-medium-1-1">
                                <div class="uk-input-group">
                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                    <label for="uk_dp_start">{{ 'С даты' | trans }}</label>
                                    <input class="md-input" type="text" id="dateStart" value="{{ dateStart| date("d.m.Y H:i") }}" data-uk-datepicker="{format:'DD.MM.YYYY'}">
                                </div>
                            </div>
                            <div class="uk-width-large-1-3 uk-width-medium-1-1">
                                <div class="uk-input-group">
                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                    <label for="uk_dp_end">{{ 'По дату' | trans }}</label>
                                    <input class="md-input" type="text" id="dateEnd" value="{{ dateEnd | date("d.m.Y H:i") }}" data-uk-datepicker="{format:'DD.MM.YYYY'}">
                                </div>
                            </div>
                            <div class="uk-width-large-1-3 uk-width-medium-1-1">
                                <button class="md-btn md-btn-primary md-btn-block md-btn-large" id="dateSearch">{{ 'Поиск' | trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="uk-tab" data-uk-tab="{connect:'#tabs_1_content'}" id="tabs_1">
                    <li class="uk-active"><a href="#">{{ 'Реализация' | trans }}</a></li>
                    {% for client, data in ordersData %}
                        <li><a href="#">{{ client }}</a></li>
                    {% endfor %}
                </ul>
                <ul id="tabs_1_content" class="uk-switcher uk-margin">
                    <li>
                        <div style="overflow-y: scroll">
                            <table class="uk-table">
                                <thead>
                                <tr>
                                    <th>Оператор</th>
                                    <th>Сумма</th>
                                    <th>Процент</th>
                                    {% for date in dates %}
                                        <th>{{ date }}</th>
                                    {% endfor %}
                                    <th>Сумма</th>
                                    <th>Процент</th>
                                    <th>Оператор</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for shop, data in clientTable %}
                                    <tr>
                                        <td>{{ shop }}</td>
                                        <td><strong>{{ data['sum'] | price }}</strong></td>
                                        <td><strong>{{ (data['sum'] * 100 / total['sum']) | price }}%</strong></td>
                                        {% for date in dates %}
                                            <td>{{ data['data'][date]['sum'] ? (data['data'][date]['sum'] | price) : "" }}</td>
                                        {% endfor %}
                                        <td><strong>{{ data['sum'] | price }}</strong></td>
                                        <td><strong>{{ (data['sum'] * 100 / total['sum']) | price }}%</strong></td>
                                        <td>{{ shop }}</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right">Пицца</td>
                                        <td>{{ data['pizza'] }}</td>
                                        <td>{{ (data['pizza'] * 100 / total['pizza']) | price }}%</td>
                                        {% for date in dates %}
                                        <td>{{ data['data'][date]['pizza'] ? (data['data'][date]['pizza']) : "" }}</td>
                                        {% endfor %}
                                        <td>{{ data['pizza'] }}</td>
                                        <td>{{ (data['pizza'] * 100 / total['pizza']) | price }}%</td>
                                        <td>Пицца</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="{{ (dates | length) + 3 }}"></td>
                                    <td style="width: 100px!important;"><strong>{{ total['sum'] | price }}</strong></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>
                    {% for client, data in ordersData %}
                        <li>
                            {% include "@Control/Report/__deliveryClientOrders.html.twig" with {clientData: data} %}
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
{% endblock %}

{% block page_specific_plugins %}
    <script>
        $(document).on('click', "#dateSearch", function () {
            var route = "{{ path("report_delivery") }}";
            var dateStart = $("#dateStart").val();
            var dateEnd = $("#dateEnd").val();
            if (dateStart != "") route += ("/" + dateStart);
            if (dateEnd != "") route += ("/" + dateEnd);
            window.location = route;
        });
    </script>
{% endblock %}

