<html>
<head>
    <link rel="stylesheet" href="/bower_components/uikit/css/uikit.almost-flat.min.css" media="all">
    <link rel="stylesheet" href="/assets/css/main.min.css" media="all">

    <script src="/assets/js/common.min.js"></script>
    <script src="/assets/js/uikit_custom.min.js"></script>
    <script src="/assets/js/altair_admin_common.min.js?833803076"></script>
</head>
<body class="">
<h1>{{ shop.name }}</h1>
<p>{{ current.date | date('d.m.Y H:i') }}</p>

<table class="uk-table uk-table-striped">
    <thead>
    <tr>
        <th>{{ 'Ингредиент' | trans }}</th>
        <th>{{ 'Остаток' | trans }} {{ previous.date | date('d.m.Y') }}</th>
        <th>{{ 'Новые' | trans }}</th>
        <th>{{ 'Потери' | trans }}</th>
        <th>{{ 'Продано' | trans }}</th>
        <th>{{ 'Остаток' | trans }} {{ current.date | date('d.m.Y') }}</th>
        <th>{{ 'Разница' | trans }}</th>
        <th>{{ 'Комментарий' | trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for ingr, data in ingredients %}
        <tr>
            <td>{{ ingr }}</td>
            <td>{{ data.previous }}</td>
            <td>{{ data.income }}</td>
            <td>{{ data.waste }}</td>
            <td>{{ data.dishes }}</td>
            <td>{{ data.current }}</td>
            <td>{{ data.difference }}</td>
            {% if data.difference == 0 %}
                <td>{{ 'ОК' }}</td>
            {% elseif data.difference > 0 %}
                <td style="background: #f00">
                    {{ 'Использовано больше ингредиентов' | trans }}
                </td>
            {% elseif data.difference < 0 %}
                <td style="background: #f00">
                    {{ 'По кассе больше блюд' | trans }}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>