{% extends "RestaurantBundle::layout.html.twig" %}

{% block title %}
    {{ shop.name }} Report | {{ 'now' | date('d-m-Y') }}
{% endblock %}

{% block container %}
    <style>
        td, th {
            text-align: right;
        }
    </style>
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid">
                    <div class="uk-width-1-1 uk-width-small-1-2">
                        <div class="uk-input-group">
                            <select id="order_filter_shop" name="order_filter[shop]" class="md-input">
                                {% for sh in shops %}
                                    <option value="{{ sh.id }}" {% if shop.id == sh.id %}selected{% endif %}>{{ sh.name }}</option>
                                {% endfor %}
                            </select>
                            <span class="md-input-bar "></span>
                        </div>
                        <div class="uk-input-group">
                            <a href="{{ path('ingredient_daily_report_download') }}" class="md-btn md-btn-primary" title="{{ 'Скачать' | trans }}"><i class="material-icons">file_download</i> {{ 'Save all' | trans }}</a>
                        </div>

                    </div>

                </div>
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <div>
                            <table style="width: 100%;margin-top: 20px;">
                                <thead>
                                <tr>
                                    <th rowspan="2" class="br" style="text-align: center;">DATE</th>

                                    <th colspan="3" class="br" style="text-align: center;">NEW</th>
                                    <th colspan="3" class="br" style="text-align: center;">TRASH</th>
                                    <th colspan="3" class="br" style="text-align: center;">USED</th>
                                    <th colspan="3" class="br" style="text-align: center;">BALANCE</th>

                                    <th colspan="7" class="br" style="text-align: center;">MONEY</th>

                                    <th rowspan="2" style="text-align: center;">TOTAL</th>
                                </tr>
                                <tr style="border-bottom: 1px #000 solid;">
                                    <th>BIG</th>
                                    <th>SMALL</th>
                                    <th class="br">TOTAL</th>

                                    <th>BIG</th>
                                    <th>SMALL</th>
                                    <th class="br">TOTAL</th>

                                    <th>BIG</th>
                                    <th>SMALL</th>
                                    <th class="br">TOTAL</th>

                                    <th>BIG</th>
                                    <th>SMALL</th>
                                    <th class="br">TOTAL</th>


                                    <th style="text-align: right;">BAR</th>
                                    <th style="text-align: right;">CUCINA</th>
                                    <th style="text-align: right;">PIZZA</th>
                                    <th style="text-align: right;">ICECREAM</th>
                                    <th style="text-align: right;">SUSHI</th>
                                    <th style="text-align: right;">P.MEDIO</th>
                                    <th>DESSERT</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for id, report in data %}
                                    <tr>
                                        <td class="br">{{ report.date | date('Y-m-d') }}</td>

                                        <td>{{ report.big.new }}</td>
                                        <td>{{ report.small.new }}</td>
                                        <td class="br">{{ (report.big.new + (report.small.new / 2)) | number_format(2, ',', '') }}</td>

                                        <td>{{ report.big.waste }}</td>
                                        <td>{{ report.small.waste }}</td>
                                        <td class="br">{{ (report.big.waste + (report.small.waste / 2)) | number_format(2, ',', '') }}</td>

                                        <td>{{ report.big.used }}</td>
                                        <td>{{ report.small.used }}</td>
                                        <td class="br">{{ (report.big.used + (report.small.used / 2)) | number_format(2, ',', '') }}</td>

                                        <td>{{ report.big.balance }}</td>
                                        <td>{{ report.small.balance }}</td>
                                        <td class="br">{{ (report.big.balance + (report.small.balance / 2)) | number_format(2, ',', '') }}</td>

                                        <td>{{ report.cash.bar | number_format(2, ',', '') }}</td>
                                        <td>{{ report.cash.kitchen | number_format(2, ',', '') }}</td>
                                        <td>{{ report.cash.pizza | number_format(2, ',', '') }}</td>
                                        <td>{{ report.cash.icecream | number_format(2, ',', '') }}</td>
                                        <td>{{ report.cash.sushi | number_format(2, ',', '') }}</td>
                                        <td>
                                            {% if (report.big.used + (report.small.used / 2)) > 0 %}
                                                {{ (report.cash.pizza / (report.big.used + (report.small.used / 2))) | number_format(2, ',', '') }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </td>
                                        <td class="br">{{ report.cash.desert | number_format(2, ',', '') }}</td>

                                        <td>{{ report.cash.total | number_format(2, ',', '') }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_specific_styles %}
    <style>
        table {
            border-collapse: collapse;
        }

        .dt-button {
            padding: 6px 12px;
            background: #ddd;
            margin-right: 5px;
            border-radius: 5px;
            cursor: pointer;
        }

        .br {
            border-right: 1px #000 solid;
        }
    </style>
{% endblock %}


{% block page_specific_plugins %}

    <!-- datatables -->
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <!-- datatables colVis-->
    <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <!-- datatables tableTools-->
    <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <!-- datatables custom integration -->
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>

    <script src="{{ asset('assets/js/jquery_extensions.js') }}"></script>



    <script>
        $("#order_filter_shop").on("change", function () {
            window.location = '/admin/report/shop/' + $(this).val() + '/ingredient';
        });

        $("#menu_date").on("change", function () {
            window.location = '{{ path('ingredient_daily_report', { 'id' : shop.id }) }}/' + $(this).val();
        });

        $("table").DataTable({
            dom: 'Brtip',
            "iDisplayLength": -1,
            buttons: [
                {
                    extend: 'excel',
                    filename: '{{ shop.exportAlias | lower }}'
                },
                'pdf',
                {
                    extend: 'csv',
                    filename: '{{ shop.exportAlias | lower }}',
                    fieldSeparator: ';',
                    fieldBoundary: '',
                },
                {
                    extend: 'print',
                    footer: true,
                    customize: function (win) {
                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                        $(win.document.body).find('td')
                            .css('padding', '2px');
                    }
                },
            ]
        });
    </script>

{% endblock %}