{% extends "RestaurantBundle::layout.html.twig" %}

{% block title %}
    {{ shop.name }}
{% endblock %}

{% block container %}
    <style>
        table {
            width: 100% !important;
        }

        .money {
            text-align: right;
        }
    </style>

    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid">
                    <div class="uk-width-1-1 uk-width-small-1-1">
                        <h2>{{ shop.name }} {{ dateStart | date('Y-m-d H:i:s') }} - {{ dateEnd | date('Y-m-d H:i:s') }}</h2>
                        <table style="border-collapse: collapse;width: 100%;">
                            <thead>
                            <tr>
                                <th>Счет</th>
                                <th>Пицца</th>
                                <th>Количество</th>
                                <th>Всего</th>
                                <th>Шариков</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set sum = 0 %}
                            {% set balls = 0 %}
                            {% for order, __pizzas in pizza %}
                                <tr style="border-top: 1px #000 solid;">
                                    {% set __sum = 0 %}
                                    {% set __balls = 0 %}
                                    {% for __pizza in __pizzas %}
                                        {% set __sum = __sum + __pizza.quantity %}
                                        {% for ingr in __pizza.dish.ingredients %}
                                            {% set __balls = __balls + (__pizza.quantity *ingr.quantity) %}
                                        {% endfor %}
                                    {% endfor %}
                                    <td>
                                        <a href="{{ path('admin_order_show', {'id':__pizzas[0].order.id}) }}">
                                            {{ order }} / {{ __pizzas[0].order.createdAt | date('d.m.Y H:i:s') }}
                                        </a>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>{{ __sum }}</td>
                                    <td>{{ __balls }}</td>

                                </tr>
                                {% for __pizza in __pizzas %}
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>{{ __pizza.dish.name }} ({{ __pizza.dish.price | price}})</td>
                                        <td>{{ __pizza.quantity }}</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    {% set sum = sum + __pizza.quantity %}
                                    {% for ingr in __pizza.dish.ingredients %}
                                        {% set balls = balls + (__pizza.quantity *ingr.quantity) %}
                                    {% endfor %}

                                {% endfor %}
                            {% endfor %}
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td><b>{{ sum }}</b></td>
                                <td><b>{{ balls }}</b></td>
                            </tr>
                            {% for shop, deledatedData in delegated %}
                                <tr>
                                    <td><b>{{ shop }}</b></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% set subTotalCount = 0 %}
                                {% set subTotalPizza = 0 %}
                                {% for order, __pizzas in deledatedData %}
                                    <tr style="border-top: 1px #000 solid;">
                                        {% set __sum = 0 %}
                                        {% set __balls = 0 %}
                                        {% for __pizza in __pizzas %}
                                            {% set __sum = __sum + __pizza.quantity %}
                                            {% for ingr in __pizza.dish.ingredients %}
                                                {% set __balls = __balls + (__pizza.quantity *ingr.quantity) %}
                                            {% endfor %}
                                        {% endfor %}
                                        <td>
                                            <a href="{{ path('admin_order_show', {'id':__pizzas[0].order.id}) }}">
                                                {{ order }} / {{ __pizzas[0].order.createdAt | date('d.m.Y H:i:s') }}
                                            </a>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>{{ __sum }}</td>
                                        <td>{{ __balls }}</td>

                                    </tr>
                                    {% for __pizza in __pizzas %}
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>{{ __pizza.dish.name }}</td>
                                            <td>{{ __pizza.quantity }}</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        {% set sum = sum + __pizza.quantity %}
                                        {% set subTotalCount = subTotalCount + __pizza.quantity %}
                                        {% for ingr in __pizza.dish.ingredients %}
                                            {% set balls = balls + (__pizza.quantity * ingr.quantity) %}
                                            {% set subTotalPizza = subTotalPizza + (__pizza.quantity * ingr.quantity) %}
                                        {% endfor %}

                                    {% endfor %}
                                {% endfor %}
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td style="border-bottom: 2px #000 solid"><b>{{ subTotalCount }}</b></td>
                                    <td style="border-bottom: 2px #000 solid"><b>{{ subTotalPizza }}</b></td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td><b>{{ sum }}</b></td>
                                    <td><b>{{ balls }}</b></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_specific_plugins %}
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>

    <script>
        $("table").DataTable({
            dom: 'Brt',
            title: $(this).data('title'),
            iDisplayLength: -1,
            buttons: [
                'print',
                'excel',
                'pdf',
            ],
        })
    </script>
{% endblock %}
