{% extends "RestaurantBundle::layout.html.twig" %}

{% block title %}
    {{ 'Изменения счетов' | trans }} {{ dateStart | date('d-m-Y') }} - {{ dateEnd | date('d-m-Y') }}
{% endblock %}

{% block container %}
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <div class="uk-grid">
                            <div class="uk-width-3-4">
                                <h3 class="heading_a uk-margin-bottom" style="padding-top: 10px;">{{ 'Изменения счетов' | trans }} {{ dateStart | date('d-m-Y') }} {{ dateEnd | date('d-m-Y') }}</h3>
                            </div>
                            <div class="uk-width-1-4">
                                <div class="uk-input-group">
                                    <input class="md-input" type="text" id="report_date_start" value="{{ dateStart | date('d.m.Y') }}" data-uk-datepicker="{format:'DD.MM.YYYY'}">
                                </div>
                                <div class="uk-input-group">
                                    <input class="md-input" type="text" id="report_date_end" value="{{ dateEnd | date('d.m.Y') }}" data-uk-datepicker="{format:'DD.MM.YYYY'}">
                                </div>
                            </div>
                        </div>
                        <ul class="uk-tab" data-uk-tab="{connect:'#tabs_1_content'}" id="tabs_1">
                            <li class="uk-active"><a href="#">{{ 'За период' | trans }}</a></li>
                            <li><a href="#">{{ 'По сотруднику' | trans }}</a></li>
                        </ul>
                        <ul id="tabs_1_content" class="uk-switcher uk-margin">
                            <li>
                                {% include '@Control/Templates/__changesTableTemplate.html.twig' with {'changesData':changesData} %}
                            </li>
                            <li>
                                <table class="uk-table">
                                    <thead>
                                    <tr>
                                        <th>{{ "Официант" |trans }}</th>
                                        {% for __date, __data  in (changesByUser | first) %}
                                            <td>{{ __date | date("d") }}</td>
                                        {% endfor %}
                                        <th>{{ "Сумма" | trans }}</th>
                                    </tr>

                                    </thead>
                                    <tbody>
                                    {% for user, __dataPerDate in changesByUser %}
                                        <tr>
                                            <td>{{ user }}</td>
                                            {% set sum = 0 %}
                                            {% for __date, __data  in __dataPerDate %}
                                                {% set sum = sum + (__data | length) %}
                                                <td>{{ __data | length }}</td>
                                            {% endfor %}
                                            <td>{{ sum }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_specific_plugins %}
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>
    <script>

        $("#report_date_start, #report_date_end").on("change", function () {
            window.location = '{{ path('report_daily_changes') }}/' + $("#report_date_start").val() + "/" + $("#report_date_end").val();
        });

        $("table").DataTable({
            dom: 'Brt',
            title: $(this).data('title'),
            iDisplayLength: -1,
            "ordering": false,
            buttons: [
                'excel',
                'pdf',
                {
                    extend: 'print',
                    footer: true,
                    customize: function (win) {
                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                        $(win.document.body).find('td')
                            .css('padding', '2px');
                        $(win.document.body).find('h1')
                            .css('font-size', '14px')

                    }
                }
            ]
        });
    </script>
{% endblock %}