{% extends "RestaurantBundle::layout.html.twig" %}

{% block title %}
    {{ 'Удаления счетов' | trans }} {{ dateStart | date('d-m-Y') }}
{% endblock %}

{% block container %}
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <div class="uk-grid">
                            <div class="uk-width-2-4">
                                <h3 class="heading_a uk-margin-bottom" style="padding-top: 10px;">{{ 'Удаления счетов' | trans }} {{ dateStart | date('d-m-Y') }}</h3>
                            </div>
                            <div class="uk-width-1-4">
                                <div class="uk-input-group">
                                    <input class="md-input" type="text" id="report_date_start" value="{{ dateStart | date('d.m.Y') }}" data-uk-datepicker="{format:'DD.MM.YYYY'}">
                                </div>
                            </div>
                            <div class="uk-width-1-4">
                                <div class="uk-input-group">
                                    <input class="md-input" type="text" id="report_date_end" value="{{ dateEnd | date('d.m.Y') }}" data-uk-datepicker="{format:'DD.MM.YYYY'}">
                                </div>
                            </div>
                        </div>
                        <table class="" style="width: 100%; border-collapse: collapse;">
                            <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for __shop, orderData in deleted %}
                                <tr>
                                    <td><b>{{ __shop }}</b></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% for __order in orderData %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('admin_order_show', {'id': __order.id}) }}">
                                                {{ __order.localId }}
                                            </a>
                                        </td>
                                        <td>{{ __order.createdAt | date('d.m.Y H:i') }}</td>
                                        <td>{{ __order.user.name }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    {% for __dish in __order.dishes %}
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>{{ __dish.dish.name }}</td>
                                            <td>{{ __dish.quantity }}</td>
                                            <td>{{ __dish.dishPrice | price }}</td>
                                            <td>{{ (__dish.dishPrice * __dish.quantity) | price }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_specific_plugins %}
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>
    <script>

        $("#report_date").on("change", function () {
            window.location = '{{ path('report_daily_changes') }}/' + $(this).val();
        });

        $("table").DataTable({
            dom: 'Brt',
            title: $(this).data('title'),
            iDisplayLength: -1,
            "ordering": false,
            buttons: [
                'excel',
                'pdf',
                {
                    extend: 'print',
                    footer: true,
                    customize: function (win) {
                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                        $(win.document.body).find('td')
                            .css('padding', '2px');
                        $(win.document.body).find('h1')
                            .css('font-size', '14px')

                    }
                }
            ]
        });
    </script>
{% endblock %}