{% extends "RestaurantBundle::layout.html.twig" %}

{% block title %}
    {{ 'Отчет' | trans }} {{ shop.name }}  {{ report.dateStarted | date("d.m.Y H:i") }} - {{ report.dateClosed | date("d.m.Y H:i") }}
{% endblock %}

{% block container %}
    <style>
        table {
            width: 100% !important;
        }

        .money {
            text-align: right;
        }
    </style>

    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid">
                    <div class="uk-width-1-1 uk-width-small-2-5">
                        <div class="uk-grid">
                            <div class="uk-width-1-1 uk-width-small-1-5">
                                <h3 class="heading_a uk-margin-bottom" style="padding-top: 10px;">{{ shop.name }}</h3>
                            </div>
                            <div class="uk-width-1-1 uk-width-small-1-5">
                                <div class="uk-input-group">
                                    <input class="md-input" type="text" id="export_date" value="{{ name }}" data-uk-datepicker="{format:'DD.MM.YYYY'}">
                                </div>
                            </div>
                            <div class="uk-width-1-1 uk-width-small-1-5 report_actions" style="padding: 10px 2px;">
                                <button class="uk-button uk-button-success uk-width-1-1 export" href="{{ path('manual_export_command', {'id':shop.id, 'report' : report.id}) }}">{{ 'Экспорт' | trans }}</button>
                            </div>
                            <div class="uk-width-1-1 uk-width-small-1-5 report_actions" style="padding: 10px 2px;">
                                <button class="uk-button uk-button-primary uk-width-1-1" id="refresh" onclick="location.reload();">{{ 'Обновить' | trans }}</button>
                            </div>
                            <div class="uk-width-1-1 uk-width-small-1-5 report_actions" style="padding: 10px 2px;">
                                {% if previousReport is not null %}
                                    <a class="uk-button uk-button-primary uk-width-1-2" style="width: 49%;" href="{{ path('report_shop', { id : previousReport.shop.id,  date: previousReport.dateStarted | date('d.m.Y H:i') }) }}">
                                        <i class="material-icons" style="color: #fff;">arrow_back</i>
                                    </a>
                                {% endif %}
                                <a class="uk-button uk-button-primary uk-width-1-2" style="width: 49%; float: right;" href="{{ path('report_shop', { id : report.shop.id, date: report.dateClosed | date('d.m.Y H:i') }) }}">
                                    <i class="material-icons" style="color: #fff;">arrow_forward</i>
                                </a>
                            </div>
                        </div>
                        <div class="uk-grid">
                            <div class="uk-width-1-1">
                                <p><strong>{{ 'Администратор' | trans }}:</strong>
                                    <a href="{{ path('user_edit', {'id' : report.user.id}) }}">{{ report.user.name }}</a>
                                </p>
                                <p><strong>{{ 'Начало' | trans }}:</strong> {{ report.dateStarted | date('d.m.Y H:i') }}</p>
                                <p><strong>{{ 'Окончание' | trans }}:</strong> {{ report.dateClosed | date('d.m.Y H:i') }}</p>

                            </div>
                        </div>

                        <h3 class="heading_a uk-margin-bottom toggle_table" style="padding-top: 10px;" data-table="#prevreports">{{ 'Предыдущие отчеты' | trans }} ({{ reports | length }})</h3>
                        <div id="prevreports">
                            <table class="uk-table uk-table-striped ">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>{{ 'Начало смены' | trans }}</th>
                                    <th>{{ 'Адм.' | trans }}</th>
                                    <th class="money">{{ 'Выручка' | trans }}</th>
                                    <th>{{ 'Действия' | trans }}</th>
                                    <th>{{ 'Изм' | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for repo in reportsData %}
                                    {% set rep = repo.report %}
                                    <tr {% if rep == report %}style="background: #dbffdb;"{% endif %}>
                                        <td>
                                            <a href="{{ path('report_shop', {'id' : shop.id, 'name' : rep.name }) }}">
                                                {{ rep.id }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ path('report_shop', {'id' : shop.id, 'name' : rep.name }) }}">
                                                {{ rep.name }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ path('user_edit', {'id' : rep.user.id}) }}" target="_blank">
                                                {{ rep.user.name }}
                                            </a>
                                        </td>
                                        <td class="money">{{ repo.sum | price }}</td>
                                        <td>
                                            <a href="{{ path('report_pizza_shop', {'shop':shop.id, 'dateStart' : rep.dateStarted | date('Y-m-d H:i:s'), 'dateEnd': rep.dateClosed | date('Y-m-d H:i:s')}) }}">
                                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                                    <path fill="#000000" d="M12,15A2,2 0 0,1 10,13C10,11.89 10.9,11 12,11A2,2 0 0,1 14,13A2,2 0 0,1 12,15M7,7C7,5.89 7.89,5 9,5A2,2 0 0,1 11,7A2,2 0 0,1 9,9C7.89,9 7,8.1 7,7M12,2C8.43,2 5.23,3.54 3,6L12,22L21,6C18.78,3.54 15.57,2 12,2Z"/>
                                                </svg>
                                            </a>
                                            <a href="{{ path('manual_export_command', {'id':shop.id, 'report' : rep.id}) }}" class="export"><i class="material-icons">play_for_work</i></a>
                                            <a href="{{ path('report_delete', {id: rep.id}) }}"><i class="material-icons">&#xE872;</i></a>
                                        </td>
                                        <td class="changes">{{ repo.changes }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="uk-width-1-1 uk-width-small-3-5">
                        <h3 class="heading_a uk-margin-bottom toggle_table" data-table="#money" style="padding-top: 10px;">{{ 'Выручка' | trans }}</h3>
                        <div id="money">
                            <table class="uk-table uk-table-striped">
                                <thead>
                                <tr>
                                    <th>{{ 'Группа' | trans }}</th>
                                    <th>{{ 'Сумма' | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ 'Наличные' | trans }}</td>
                                    <td>{{ summary['cash'] | price }}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'Терминал' | trans }}</td>
                                    <td>{{ summary['terminal'] | price }}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'Итого' | trans }}</td>
                                    <td>{{ (summary['cash'] + summary['terminal']) | price }}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'Б/Н' | trans }}</td>
                                    <td>{{ summary['invoice'] | price }}</td>
                                </tr>

                                <tr>
                                    <td>{{ 'Кухня' | trans }}</td>
                                    <td>{{ summary['КУХНЯ'] | price }}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'Бар' | trans }}</td>
                                    <td>{{ summary['БАР'] | price }}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'Итого' | trans }}</td>
                                    <td>{{ (summary['КУХНЯ'] + summary['БАР']) | price }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Фискально</strong></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>{{  'Наличные' | trans }} Z</td>
                                    <td>{{ report.fiscalCashSum  | price }}</td>
                                </tr>
                                <tr>
                                    <td>{{  'Карта' | trans }} Z</td>
                                    <td>{{ report.fiscalCardSum  | price }}</td>
                                </tr>
                                <tr>
                                    <td>{{  'Терминал' | trans }} Z</td>
                                    <td>{{ report.cardSum  | price }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                        <h3 class="heading_a uk-margin-bottom toggle_table" style="padding-top: 10px;" data-table="#ingredients">{{ 'Ингредиенты' | trans }}</h3>
                        <div id="ingredients">
                            <table class="uk-table uk-table-striped ">
                                <thead>
                                <tr>
                                    <th>{{ 'Ингредиент' | trans }}</th>
                                    <th>{{ 'Баланс пред.' | trans }}</th>
                                    <th>{{ 'Новые' | trans }}</th>
                                    <th>{{ 'Отдали' | trans }}</th>
                                    <th>{{ 'Остаток' | trans }}</th>
                                    <th>{{ 'Исп. за смену, кг' | trans }}</th>
                                </tr>
                                </thead>
                                {% if report.ingredients is not empty %}
                                    {% block ingredient_table %}
                                        <tbody>
                                        {% for ingredient in report.ingredients %}
                                            <tr>
                                                <td>{{ ingredient.ingredient.name }}</td>
                                                <td>{{ previousReportIngres[ingredient.ingredient.id] is defined ?  previousReportIngres[ingredient.ingredient.id].balance : 0 }}</td>
                                                <td data-field="income" data-ingr="{{ ingredient.id }}" class="editIngr">{{ ingredient.income }}</td>
                                                <td data-field="waste" data-ingr="{{ ingredient.id }}" class="editIngr">{{ ingredient.waste }}</td>
                                                <td data-field="balance" data-ingr="{{ ingredient.id }}" class="editIngr">{{ ingredient.balance }}</td>
                                                <td>{{ (previousReportIngres[ingredient.ingredient.id] is defined ?  previousReportIngres[ingredient.ingredient.id].balance : 0) + ingredient.income - ingredient.waste - ingredient.balance }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    {% endblock %}
                                {% endif %}
                            </table>
                        </div>

                        <h3 class="heading_a uk-margin-bottom toggle_table" data-table="#dishes" style="padding-top: 10px;">{{ 'Реализация' | trans }} ({{ dishes | length }})</h3>
                        <div id="dishes" style="display: none;">
                            <table class="uk-table uk-table-striped">
                                <thead>
                                <tr>
                                    <th>{{ 'Блюдо' | trans }}</th>
                                    <th>{{ 'Категория' | trans }}</th>
                                    <th>{{ 'Цена' | trans }}</th>
                                    <th>{{ 'Количество' | trans }}</th>
                                    <th>{{ 'Сумма' | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for id, dish in dishes %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('dish_edit', {'id' : id }) }}" target="_blank">
                                                {{ dish.name }}
                                            </a>
                                        </td>
                                        <td>{{ dish.category }}</td>
                                        <td>{{ dish.price | price }}</td>
                                        <td>{{ dish.quantity | round(3) }}</td>
                                        <td>{{ dish.sum | price }}</td>
                                    </tr>
                                {% endfor %}
                                {#{% if delegatedDishes %}
                                    {% for delegatedDish in delegatedDishes %}
                                        {% set dish = delegatedDish[0].dish %}
                                        <tr>
                                            <td>
                                                {{ dish.dish.name }}
                                            </td>
                                            <td>{{ dish.dish.category.name }}</td>
                                            <td>{{ delegatedDish['odDishPrice'] | price }}</td>
                                            <td>{{ delegatedDish['odDishQuantity'] }}</td>
                                            <td>{{ delegatedDish['odDishSum'] | price }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}#}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>

                        <h3 class="heading_a uk-margin-bottom toggle_table" data-table="#changes" style="padding-top: 10px;">{{ 'Изменения' | trans }} ({{ changes | length }})</h3>
                        <div id="changes" style="display: none">
                            <table class="uk-table uk-table-striped">
                                <thead>
                                <tr>
                                    <th>{{ 'Счет' | trans }}</th>
                                    <th>{{ 'Официант' | trans }}</th>
                                    <th>{{ 'Блюдо' | trans }}</th>
                                    <th>{{ 'Разница' | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for change in changes %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('admin_order_show', {'id' : change.orderDish.parentOrder.id}) }}" target="_blank">
                                                {{ change.orderDish.parentOrder.localId }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ path('user_edit', {'id' : change.orderDish.parentOrder.user.id}) }}" target="_blank">
                                                {{ change.orderDish.parentOrder.user.name }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ path('dish_edit', {'id' : change.orderDish.dish.id}) }}" target="_blank">
                                                {{ change.orderDish.dish.name }}
                                            </a>
                                        </td>
                                        <td>
                                            {{ change.difference }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>

                        <h3 class="heading_a uk-margin-bottom toggle_table" data-table="#orders" style="padding-top: 10px;">
                            <span>{{ 'Счета' | trans }} ({{ orders | length }})</span>
                            <a href="{{ path('print_report_registry', {'id': report.id }) }}" target="_blank" style="float: right;">Печать реестров</a>
                        </h3>

                        <div id="orders" style="display: none">
                            <table class="uk-table uk-table-striped">
                                <thead>
                                <tr>
                                    <th>{{ 'Счет' | trans }}</th>
                                    <th>{{ 'Открыт' | trans }}</th>
                                    <th>{{ 'Закрыт' | trans }}</th>
                                    <th>{{ 'Официант' | trans }}</th>
                                    <th>{{ 'Оплата' | trans }}</th>
                                    <th>{{ 'Нал' | trans }}</th>
                                    <th>{{ 'Карта' | trans }}</th>
                                    <th>{{ 'Скидка' | trans }}</th>
                                    <th>{{ 'Время' | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in orders %}
                                    <tr {% if order.status == 5 %}style="background: #ff9393"{% endif %}>
                                        <td>
                                            <a href="{{ path('admin_order_show', {'id' : order.id}) }}" target="_blank">
                                                {{ order.localId }}
                                            </a>
                                        </td>
                                        <td>{{ order.createdAt | date('d.m.Y H:i') }}</td>
                                        <td>{{ order.closedAt | date('d.m.Y H:i') }}</td>
                                        <td>
                                            <a href="{{ path('user_edit', {'id' : order.user.id}) }}" target="_blank">
                                                {{ order.user.name }}
                                            </a>
                                        </td>
                                        <td>
                                            {% if order.cashType == 0 %}
                                                {{ 'Нал/Карта' | trans }}
                                            {% else %}
                                                {{ 'Другое' | trans }}
                                            {% endif %}
                                        </td>
                                        <td>{{ order.clientMoneyCash | price }}</td>
                                        <td>{{ order.clientMoneyCard | price }}</td>
                                        <td>{{ order.sumDiscount | price }}</td>
                                        <td>
                                            {{ order.closedAt.diff(order.createdAt) | date("%H:%I:%S") }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_specific_plugins %}
    <style>
        .dt-button {
            padding: 6px 12px;
            background: #ddd;
            margin-right: 5px;
            border-radius: 5px;
            cursor: pointer;
        }

        .report_actions {
            display: block;
        }

        @media (max-width: 480px) {
            .report_actions {
                display: none;
            }

            .cleartype {
                padding: 15px 0 15px 25px !important;
            }

            #header_main {
                padding: 0 15px;
            }
        }

        .uk-input-group {
            width: 100%;
        }
    </style>

    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>

    <script>
        $(".export").on("click", function () {
            var url = $(this).attr('href');
            $.ajax({
                url: url,
                type: 'POST',
                success: function (response) {
                    alert('Успешно');
                }
            });
            return false;
        });


        $("#refresh").on("click", function () {

        });

        $("#orders table, #dishes table, #changes table").DataTable({
            dom: 'Brt',
            title: $(this).data('title'),
            iDisplayLength: -1,
            buttons: [
                'excel',
                'pdf',
                {
                    extend: 'print',
                    footer: true,
                    customize: function (win) {
                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                        $(win.document.body).find('td')
                            .css('padding', '2px');
                        $(win.document.body).find('h1')
                            .css('font-size', '14px')

                    }
                }
            ]
        });

        // $("#money table").DataTable({
        //     dom: 'rt',
        // });

        $("#export_date").on("change", function () {
            window.location = '{{ path('report_shop', {'id' : shop.id}) }}/' + $(this).val();
        });

        $(".toggle_table").on('click', function () {
            var target = $(this).data('table');
            $(target).toggle();
        });

        var $cell;
        var $tbody;
        var inputs = [];

        $(document).on("dblclick", ".editIngr", function () {
            $cell = $(this);
            $tbody = $(this).parents('tbody');
            var content = $(this).text();
            var data = {
                field: $(this).data('field'),
                ingr: $(this).data('ingr'),
            };

            var $input = $("<input />").val(content).css({
                'width': "100%",
                'font-weight': "bold",
            });
            $input.data({
                baseVal: content,
                parent: $cell,
            });
            $input.keypress(function (e) {
                data.newVal = $(this).val();
                if (e.which == 13) {
                    $.ajax({
                        url: "{{ path('ingredient_update_ajax') }}",
                        type: "POST",
                        tbody: $tbody,
                        data: data,
                        success: function (response) {
                            $tbody.replaceWith(response.row);
                            //this.row.replaceWith(response.data);
                            //table.api().row(this.row).draw()
                        }
                    });
                }
            });
            $input.click(function (event) {
                event.stopPropagation();
            });


            $cell.html($input);
            $input.focus().select();
            inputs.push($input);
        });

        function removeEditable() {
            inputs.forEach(function (input, index, context) {
                var data = input.data();
                if (data.parent !== undefined) {
                    data.parent.html(data.baseVal);
                }
                context.splice(index, 1);
            })
        }

        $(document).keyup(function (e) {
            if (e.keyCode == 27) {
                removeEditable();
            }
        });
        $("body").click(function (e) {
            removeEditable();
        });

    </script>
{% endblock %}