{% extends "RestaurantBundle::layout.html.twig" %}

{% block title %}{{ 'Поставка продуктов' }} {{ "now" | date("Y-m-d H:i:s") }}{% endblock %}

{% block container %}
    <style>
        #warehouse td, #warehouse th {
            text-align: center;
            vertical-align: middle;

min-height: 83px;
    box-sizing: border-box;
        }

        .fixed {
            position: absolute;
            width: 250px;
            left: 15px;
            line-height: 27px;
        }

        .dish {
            position: relative;
            display: block;
            padding: 2px;
            box-sizing: border-box;
            border: 1px solid transparent;
            min-height: 66px;
        }

        .dish .usertip {
            visibility: hidden;
            width: 250px;
            background-color: #555;
            color: #fff;
            text-align: left;
            padding: 5px;
            border-radius: 6px;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -60px;

            opacity: 0;
            transition: opacity 0.3s;
        }

        .dish .usertip::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

        .dish:hover {
            border: 1px #000 solid;
        }

        .dish:hover .usertip {
            visibility: visible;
            opacity: 1;
        }

        .consumption {
            display: table;
        }

        .consumption-row {
            display: table-row;
        }

        .consumption-row div {
            display: table-cell;
            text-align: right;
        }

        .consumption-row-val {
            font-weight: bold;
            padding-left: 4px;
            text-align: left !important;
        }
    </style>

    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content" style="overflow-x: scroll">
                <div>
                    <h2>{{ 'Заявка продуктов' }} {{ "now" | date("Y-m-d H:i:s") }}</h2>
                    <table class="uk-table uk-table-striped" id="request">
                        <thead>
                        <tr>
                            <th>{{ "Продукт" }}</th>
                            <th>{{ "Количество" }}</th>
                        </tr>
                        </thead>
                        {% for __shop, __requestCategories in request %}
                            <tr style="border-top: 3px #000 solid;">
                                <td data-search="{{ __requestCategories | keys | join(',') }}">
                                    <strong>{{ shops[__shop] is defined ? shops[__shop].name : __shop }}</strong>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            {% for __ingrCategory, __ingrData in __requestCategories %}
                                {% for ingr, data in __ingrData %}
                                    {% if data > 0 %}
                                        <tr>
                                            <td data-search="{{ __ingrCategory }}">{{ ingredients[ingr].name | capitalize }}</td>
                                            <td>{{ data }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        {% if data is defined %}
            {% set firstData = data | first %}
            <div class="md-card">
                <div class="md-card-content" style="overflow-x: scroll">
                    <h2>{{ 'Потребность продуктов' }} {{ "now" | date("Y-m-d H:i:s") }}</h2>
                    <div style="overflow-y: scroll;margin-left: 265px;">
                        <table class="uk-table" id="warehouse">
                            <thead>
                            <tr>
                                <th class="fixed" style="border-right: 2px #000 solid;" rowspan="2">{{ 'Ингредиент' }}</th>
                                <th style="border-right: 2px #000 solid;" colspan="3">{{ 'Склад' }}</th>
                                {% for __shopId, tmp in firstData %}
                                    {% if __shopId != '__warehouse' %}
                                        <th colspan="{{ is_granted("ROLE_SHOP_MANAGER") ? 6 : 5 }}"
                                            style="border-right: 2px #000 solid;">{{ shops[__shopId].name }} {{ tmp["balance_date"] | date("Y-m-d H:i:s") }}</th>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                <th></th>
                                <th style="">{{ 'Остаток, кг' }}</th>
                                <th style="">{{ 'Остаток, шт' }}</th>
                                <th style="border-right: 2px #000 solid;">{{ 'Потребность, шт' }}</th>
                                {% for __shopName, tmp in firstData %}
                                    {% if __shopName != '__warehouse' %}
                                        <th>{{ 'Остаток конец смены, кг' }}</th>
                                        <th>{{ 'Баланс сейчас, кг' }}</th>
                                        <th>{{ 'Расход,&nbsp;кг' }}</th>
                                        <th>{{ 'Запас, дн' }}</th>

                                        {% if is_granted("ROLE_SHOP_MANAGER") %}
                                            <th>{{ 'Потребн.' }}</th>
                                        {% endif %}

                                        <th style="border-right: 2px #000 solid">{{ "Заявка, шт" | trans }}</th>

                                    {% endif %}
                                {% endfor %}
                                <th>Отстаток</th>
                                <th>Расход&nbsp;средний</th>
                                <th>%</th>
                                <th>Расход&nbsp;вчера</th>
                                <th>%</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for ingr, __ingrInShops in data %}
                                {#                                {% if (consumptionSum["all"][ingr] != 0) or (__ingrInShops['__warehouse']['balance'] != 0) %}#}
                                <tr data-category="">
                                    {% set wareClass = ( __ingrInShops['__warehouse']['requirement'] == 0 ? "" : (__ingrInShops['__warehouse']['requirement'] > 0 ? "disabled" : "enabled")) %}
                                    <td class="fixed" style="border-right: 2px #000 solid">{{ ingredients[ingr].name | capitalize }}</td>

                                    <td style="" class="{{ wareClass }} editIngr"
                                        data-type="balance"
                                        data-shop="__warehouse"
                                        data-shop-id="{{ __ingrInShops['__warehouse']['warehouseId'] }}"
                                        data-ingr="{{ ingr }}">{{ __ingrInShops['__warehouse']['balance'] |  round(3) }}</td>

                                    <td style="" class="{{ wareClass }}">{{ __ingrInShops['__warehouse']['balanceItem'] | round(3) }}</td>
                                    <td style="border-right: 2px #000 solid"
                                        class="{{ wareClass }}">{{ __ingrInShops['__warehouse']['requirement'] }}</td>

                                    {% set ingrSum = 0 %}
                                    {% set consSum = 0 %}
                                    {% for shop, __data in __ingrInShops %}
                                        {% if shop != '__warehouse' %}
                                            {% set class = ( __data['consumption'] == 0 ? "" : (__data['restInDays'] < 2 ? "disabled" : "enabled")) %}
                                            <td class="{{ class }}">{{ (__data['balance']) | round(3) }}</td>
                                            <td class="{{ class }}">{{ __data['balance_now'] | round(3) }} {{ (__data["income_live"] is defined and __data["income_live"] > 0) ? ("(+"~__data["income_live"]~")") : "" }}</td>
                                            <td class="{{ class }}">
                                                <div class="dish">
                                                    {% if  __data['consumption'] != 0 %}
                                                        <div class="consumption">
                                                            <div class="consumption-row">
                                                                <div>средний</div>
                                                                <div class="consumption-row-val">{{ __data['consumption'] | round(3) }} </div>
                                                            </div>
                                                            <div class="consumption-row">
                                                                <div>вчера</div>
                                                                <div class="consumption-row-val">{{ __data['consumption_last'] | round(3) }}</div>
                                                            </div>
                                                            {% if practicalConsumption[shop][ingr] is defined %}
                                                                <div class="consumption-row">
                                                                    <div>нормат</div>
                                                                    <div class="consumption-row-val">{{ (practicalConsumption[shop][ingr]["quantity"] / 1000)| round(3) }}</div>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                        <span class="usertip"> {{ __data['log'] | raw }}</span>
                                                    {% endif %}
                                                </div>
                                            </td>
                                            <td class="{{ class }}">{{ __data['restInDays'] | round(0, 'floor') }}</td>
                                            {% if is_granted("ROLE_SHOP_MANAGER") %}
                                                <td class="{{ class }}">{{ __data['requirement'] }}</td>
                                            {% endif %}
                                            <td class="{{ class }} editIngr" style="border-right: 2px #000 solid"
                                                data-type="request"
                                                data-ingr="{{ ingr }}"
                                                data-shop="{{ shop }}">{{ requestCorrection[ingr][shop] is defined ? requestCorrection[ingr][shop] : __data['requirement'] }}
                                            </td>

                                        {% endif %}
                                        {% set ingrSum = ingrSum +  __data['balance'] %}
                                        {% set consSum = consSum +  (__data['consumption'] is defined ? __data['consumption'] : 0) %}
                                    {% endfor %}
                                    <td>{{ ingrSum | round(3) }}</td>
                                    <td>
                                        {% if consumptionSum["all"][ingr] != 0 %}
                                            {{ consumptionSum["all"][ingr] | round(3) }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ (consumptionSum["all"][ingr] | percent((consumptionSum["all"] | unset("Шарик большой, шт")))) | price(2) }}
                                        %
                                    </td>
                                    <td>
                                        {% if consumptionSum["last"][ingr] != 0 %}
                                            {{ consumptionSum["last"][ingr] | round(3) }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ (consumptionSum["last"][ingr] | percent((consumptionSum["last"] | unset("Шарик большой, шт")))) | price(2) }}
                                        %
                                    </td>
                                </tr>
                                {#                                {% endif %}#}
                            {% endfor %}
                            <tr>
                                <td class="fixed"><b>Сумма</b></td>

                                {% set totalSum = 0 %}
                                {% set totalConsSum = 0 %}
                                {% for __shopName, tmp in firstData %}
                                    {% if sum[__shopName] is defined %}
                                        {% set totalSum = totalSum + sum[__shopName] %}
                                        <td style="text-align: left"
                                            colspan="{{ __shopName == "__warehouse" ? 3 : (is_granted("ROLE_SHOP_MANAGER") ? 6 : 5) }}">
                                            <b>{{ sum[__shopName] }}</b></td>
                                    {% else %}
                                        <td style="text-align: left"
                                            colspan="{{ __shopName == "__warehouse" ? 3 : (is_granted("ROLE_SHOP_MANAGER") ? 6 : 5) }}"><b>0</b></td>
                                    {% endif %}
                                {% endfor %}

                                <td>{{ totalSum }}</td>
                                <td>{{ ((consumptionSum["all"] | unset("Шарик большой, шт")) | array_sum) | price(3) }}</td>
                                <td></td>
                                <td>{{ ((consumptionSum["last"] | unset("Шарик большой, шт")) | array_sum) | price(3) }}</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% if is_granted("ROLE_ADMIN") %}
                <div class="md-card">
                    <div class="md-card-content" style="overflow-x: scroll">
                        <h2>{{ 'История перемещений' }}</h2>
                        <table class="uk-table" id="transfers">
                            <thead>
                            <tr>
                                <th>{{ 'Код' | trans }}</th>
                                <th>{{ 'Продукт' | trans }}</th>
                                <th>{{ 'Количество' | trans }}</th>
                                <th>{{ 'Откуда' | trans }}</th>
                                <th>{{ 'Куда' | trans }}</th>
                                <th>{{ 'Дата' | trans }}</th>
                                <th>{{ 'Получено' | trans }}</th>
                            </tr>
                            </thead>
                            {% for __transfer in transferLog %}
                                <tr>
                                    <td>{{ __transfer.transferId }}</td>
                                    <td>{{ __transfer.ingredient.name }}</td>
                                    <td>{{ __transfer.quantity | number_format(3) }}</td>
                                    <td>{{ (__transfer.from == null) ? 'Производство' : __transfer.from.name }}</td>
                                    <td>{{ __transfer.to.name }}</td>
                                    <td>{{ __transfer.date | date("Y-m-d H:i") }}</td>
                                    <td>{{ (__transfer.dateRecieved == null) ? "—" : (__transfer.dateRecieved  | date("Y-m-d H:i")) }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block page_specific_styles %}
    <style>
        table {
            border-collapse: collapse;
        }

        .dt-button {
            padding: 6px 12px;
            background: #ddd;
            margin-right: 5px;
            border-radius: 5px;
            cursor: pointer;
        }

        .br {
            border-right: 1px #000 solid;
        }
    </style>
{% endblock %}


{% block page_specific_plugins %}

    <!-- datatables -->
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <!-- datatables colVis-->
    <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <!-- datatables tableTools-->
    <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <!-- datatables custom integration -->
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>

    <script src="{{ asset('assets/js/jquery_extensions.js') }}"></script>



    <script>


        var $cell;
        var $tbody;
        var inputs = [];

/*
$("#transfers").DataTable({
            "iDisplayLength": -1,
});
*/
        $("#request").DataTable({
            dom: 'B',
            "iDisplayLength": -1,
            buttons: [
                {
                    text: "Вся заявка",
                    action: function (e, dt, node, config) {
                        dt.column(0).search("").draw();
                    }
                },
                {% for __ingr in (requestCategories) %}
                {
                    text: "{{ requestCategoriesNames[__ingr] }}",
                    action: function (e, dt, node, config) {
                        dt.column(0).search("{{ __ingr }}").draw();
                    }
                },
                {% endfor %}
                {
                    extend: 'print',
                    text: "Печать",
                    title: "Заявка продуктов {{ "now" | date("Y-m-d H:i:s") }}",
                    footer: true,
                    autoPrint: true,
                    customize: function (win) {

                        $(win.document.body).css({
                            "padding": 0,
                        });
                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');

                        $(win.document.body).find('h1')
                            .css({
                                "margin": "15px 0 0",
                                "font-size": "18px"
                            });


                        $(win.document.body).find('td')
                            .css('padding', '2px');
                    },
                    exportOptions: {
                        // columns: ':visible',
                        stripHtml: false
                    }
                },
            ]
        });


        $(document).on("dblclick", ".editIngr", function () {
            $cell = $(this);
            $tbody = $(this).parents('tbody');
            var content = $(this).text().trim();
            var data = $(this).data();

            var $input = $("<input />").val(content).css({
                'width': "100%",
                'font-weight': "bold",
            });
            $input.data({
                baseVal: content,
                parent: $cell,
            });
            $input.keypress(function (e) {
                data.newVal = $(this).val();
                if (e.which == 13) {
                    $.ajax({
                        url: "{{ path('shop_warehouse_update') }}",
                        type: "POST",
                        tbody: $tbody,
                        data: data,
                        success: function (response) {
                            $.ajax({
                                url: "{{ path('shop_warehouse_summary') }}",
                                type: "GET",
                                success: function (response) {
                                    $("#warehouse").replaceWith($(response).find("#warehouse"));
                                }
                            });
                        }
                    });
                }
            });
            $input.click(function (event) {
                event.stopPropagation();
            });


            $cell.html($input);
            $input.focus().select();
            inputs.push($input);
        });

        function removeEditable() {
            inputs.forEach(function (input, index, context) {
                var data = input.data();
                if (data.parent !== undefined) {
                    data.parent.html(data.baseVal);
                }
                context.splice(index, 1);
            })
        }

        $(document).keyup(function (e) {
            if (e.keyCode == 27) {
                removeEditable();
            }
        });
        $("body").click(function (e) {
            removeEditable();
        });


    </script>

{% endblock %}
