{% extends "RestaurantBundle::layout.html.twig" %}

{% block title %}{% endblock %}

{% block page_specific_styles %}
    <style>
        ul {
            list-style: none;
        }
    </style>
{% endblock %}

{% block container %}

    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-toolbar">
            </div>
            <div class="md-card-content">
                <table>
                    <thead>
                    {% set dateData = personData | first %}
                    <tr>
                        <th rowspan="2">{{ 'Сотрудник' }}</th>
                        {% set prevMonth = dateData | keys | first | date('m.Y') %}
                        {% set prevMonthCount = 0 %}
                        {% for __date, stat in dateData %}

                            {% if prevMonth ==  __date | date('m.Y') %}
                                {% set prevMonthCount =  prevMonthCount + 1 %}
                            {% else %}
                                <th colspan="{{ prevMonthCount }}">{{ prevMonth }}</th>
                                {% set prevMonthCount = 1 %}
                                {% set prevMonth = __date | date('m.Y') %}
                            {% endif %}

                            {% if loop.last %}
                                <th colspan="{{ prevMonthCount }}">{{ prevMonth }}</th>

                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for __date, stat in dateData %}
                            <th>{{ __date | date('d') }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for person, dates in personData %}
                        <tr>
                            <td>{{ person }}</td>
                            {% for __date, stat in dates %}
                                <td style="background: {{ stat ? "#0f0" : "#fff" }}">&nbsp;</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}