{% extends "RestaurantBundle::layout.html.twig" %}

{% block title %}Табель{% endblock %}

{% block page_specific_styles %}
    <style>
        ul {
            list-style: none;
        }
    </style>
{% endblock %}

{% block container %}

    <style>
        [data-photo] {
            cursor: pointer;
            position: relative;

            --size: 280px;
            --ratio: calc(1920 / 1080);
        }

        [data-photo]:hover:before {
            display: block;
            transform: translate(-50%, +100%) scale(1);
        }

        [data-photo]::before {
            background-color: #fff;
            color: #222;
            font-size: 14px;
            padding: 8px 12px;
            height: calc(var(--size) / var(--ratio));
            width: var(--size);
            border-radius: 6px;
            position: absolute;
            text-align: center;
            box-sizing: border-box;
            bottom: 0px;
            z-index: 10;
            left: 50%;
            content: "";
            display: block;
            transform: translate(-50%, 110%) scale(0);
            transform-origin: top;
            transition: 0.14s;
            box-shadow: 0 4px 14px 0 rgba(0, 0, 0, .2), 0 0 0 1px rgba(0, 0, 0, .05);
        }

        [data-photo].photo1::before {
            height: calc(var(--size) / var(--ratio));
            width: var(--size);
            background-image: var(--startPhoto);
            background-size: cover;
        }

        [data-photo].photo2::before {
            height: calc(var(--size) / var(--ratio));
            width: calc(var(--size) * 2);
            background-image: var(--startPhoto), var(--endPhoto);
            background-position: left top, right top;
            background-size: var(--size) calc(var(--size) / var(--ratio));
            background-repeat: no-repeat;
        }


        [data-tooltip] {
            cursor: pointer;
            position: relative;
        }

        [data-tooltip]:hover:after {
            display: block;
            transform: translate(-50%, -105%) scale(1);
        }

        [data-tooltip]::after {
            background-color: #fff;
            color: #222;
            font-size: 14px;
            padding: 8px 12px;
            height: fit-content;
            width: fit-content;
            border-radius: 6px;
            position: absolute;
            text-align: center;
            top: 0px;
            left: 50%;
            content: attr(data-tooltip);
            transform: translate(-50%, 110%) scale(0);
            transform-origin: top;
            transition: 0.14s;
            box-shadow: 0 4px 14px 0 rgba(0, 0, 0, .2), 0 0 0 1px rgba(0, 0, 0, .05);
        }

        .uk-table th, .uk-table td {
            text-align: center;
        }

        th.name, td.name {
            text-align: left;
        }

        .missing {
            background: #ff000080;
        }

        tr.t-row:hover {
            border: 2px solid #000;
        }

        @media print {
            #page_content_inner, .md-card-content {
                padding: 0 !important;
            }

            .md-card-toolbar label {
                display: none !important;;
            }

            .uk-input-group-addon {
                display: none !important;;
            }

            h3 {
                margin: 0 !important;
            }

            .md-input {
                border-bottom: none !important;
                padding: 0 !important;
            }

            button {
                display: none !important;
            }

            a {
                text-decoration: none;
            }

            a[href]:after {
                display: none;
            }

            .late {
                background: #eee !important;
            }

            thead th {
                font-size: 10px !important;
            }

            tbody td {
                font-size: 12px !important;
                padding: 4px 4px !important;
            }
        }

    </style>

    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-toolbar">
                <div class="md-card-toolbar-actions" style="padding: 0;margin-top: -5px;">
                    <div class="uk-grid">
                        <div class="uk-width-large-1-4 uk-width-medium-1-1">
                            <div class="uk-input-group">
                                <label for="uk_dp_start">{{ 'Место' | trans }}</label>
                                <select id="workplace_picker" class="md-input">
                                    <option value="0">Все</option>
                                    {% for place in workplaces %}
                                        <option value="{{ place.id }}">{{ place.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="uk-width-large-1-4 uk-width-medium-1-1">
                            <div class="uk-input-group">
                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                <label for="uk_dp_start">{{ 'С даты' | trans }}</label>
                                <input class="md-input" type="text" id="dateStart"
                                       value="{{ dateStart| date("d.m.Y") }}"
                                       data-uk-datepicker="{format:'DD.MM.YYYY'}">
                            </div>
                        </div>
                        <div class="uk-width-large-1-4 uk-width-medium-1-1">
                            <div class="uk-input-group">
                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                <label for="uk_dp_end">{{ 'По дату' | trans }}</label>
                                <input class="md-input" type="text" id="dateEnd"
                                       value="{{ dateEnd | date("d.m.Y") }}"
                                       data-uk-datepicker="{format:'DD.MM.YYYY'}">
                            </div>
                        </div>
                        <div class="uk-width-large-1-4 uk-width-medium-1-1">
                            <button class="md-btn md-btn-primary md-btn-block md-btn-large"
                                    id="dateSearch">{{ 'Поиск' | trans }}</button>
                        </div>
                    </div>
                </div>
                <h3 class="heading_a uk-margin-bottom">
                    Табель
                </h3>
            </div>
            <div class="md-card-content">
                <div style="display:flex; flex-direction: row; gap: 30px;">

                    <div style="padding: 15px; border: 1px #000 solid; ">Время за день</div>
                    <div style="padding: 15px; border: 1px #000 solid; background: #f0cd9f;">Опоздание</div>
                    <div style="padding: 15px; border: 1px #000 solid; background: #deb5ff;">На другом объекте</div>
                    <div style="padding: 15px; border: 1px #000 solid; background: #ff000080">Не отметился</div>

                </div>
                <table class="uk-table">
                    <thead>
                    <tr>
                        <th class="name">Сотрудник</th>
                        {% for day in days %}
                            <th>{{ day | date("d") }}</th>
                        {% endfor %}
                        <th>Сум</th>
                        <th>Дн</th>
                        <th>Оп</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for user, data in personData %}
                        {% set sum = 0 %}
                        {% set lates = 0 %}
                        <tr class="t-row">
                            {% set workingDays = 0 %}
                            <td class="name" data-tooltip="{{ data["user"].position }}">
                                <a href="{{ path("personal_timesheet", {"id": data["user"].id, "dateStart": dateStart | date("Y-m-d"), "dateEnd": dateEnd | date("Y-m-d")}) }}">
                                    {{ data["user"].name ?: data["user"].phone }}
                                </a>
                            </td>
                            {% for day in days %}
                                {% set date = day | date("Y-m-d") %}
                                {% set __data = (date in data['sheet'] | keys) ? data['sheet'][date] : null %}
                                {% set missing = __data and (__data["start"] is null or __data["end"] is null) %}
                                {% if __data %}
                                    <td style="
                                            background: {{ missing ? "#ff000080" :(__data["isLate"]) ? "#f0cd9f" : "#fff" }};
                                    {{ __data["startPhoto"] ? ('--startPhoto: url(https://venezia.by/uploads/events/' ~ __data["startPhoto"] ~ ');') | raw : '' }}
                                    {{ __data["endPhoto"] ? ('--endPhoto: url(https://venezia.by/uploads/events/' ~ __data["endPhoto"] ~ ');') | raw : '' }}
                                            "
                                        class="{{ __data["isLate"]  ? "late" : "" }} {{ __data["startPhoto"] and __data["endPhoto"] ? "photo2" : (__data["startPhoto"] or __data["endPhoto"] ? "photo1" : "") }}"
                                        data-isLate="{{ __data["isLate"] }}"
                                        data-missing="{{ missing }}"
                                        data-workplace="{{ __data["workplace"].id }}"
                                        data-tooltip="{{ __data["workplace"].name | replace({' ': '&nbsp;'}) | raw }} {{ __data["start"] ? __data["start"].date | date("H:i") : "" }}&nbsp;{{ __data["end"] ? __data["end"].date | date("H:i") : "" }}"
                                            {{ __data["startPhoto"] ? "data-photo" : "" }}
                                    >
                                        {% if __data is not null %}
                                            {{ __data['hours'] }}
                                            {% set workingDays  = workingDays + 1 %}
                                            {% set sum  = sum + __data['hours'] %}
                                            {% set lates  = lates + (__data['isLate'] ? 1 : 0) %}
                                        {% endif %}
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endfor %}
                            <td>{{ sum }}</td>
                            <td>{{ workingDays }}</td>
                            <td>{{ lates }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

 {% block page_specific_plugins %}
     <script>
         $(document).on("change", "#workplace_picker", function () {
             var val = $("#workplace_picker").val();

             $(".t-row").show();
             $(".t-row td").css({
                 background: "#fff",
             })
             $(".t-row td[data-islate=1]").css({
                 background: "#f0cd9f",
             })
             $(".t-row td[data-missing=1]").css({
                 background: "#ff000080",
             })

             if (val != 0) {
                 $(".t-row").each(function (row) {
                     var cnt = 0;

                     $(this).find(`td`).each(function (cell) {

                         var isLate = $(this).data("islate");
                         var missing = $(this).data("missing");
                         var workplace = $(this).data("workplace");
                         cnt += workplace == val ? 1 : 0;
                         if ("workplace" in ($(this).data())) {
                             $(this).css({
                                 background: missing ? "#ff000080" : (isLate ? "#E8D7A7" : (workplace == val ? "#fff" : "#deb5ff")),
                             })
                         }
                     });
                     if (cnt === 0) {
                         $(this).hide();
                     }
                 });
             }

         });

         $(document).on('click', "#dateSearch", function () {
             //http://venezia.new/admin/order/list/summary/25.04.1991/27.04.2016
             var route = "{{ path("common_timesheet") }}";
             var dateStart = $("#dateStart").val();
             var dateEnd = $("#dateEnd").val();
             if (dateStart != "") route += ("/" + dateStart);
             if (dateEnd != "") route += ("/" + dateEnd);
             window.location = route;
         });
     </script>
 {% endblock %}
