{% extends "RestaurantBundle::layout.html.twig" %}

{% block title %}События{% endblock %}

{% block page_specific_styles %}
    <style>
        ul {
            list-style: none;
        }
    </style>
{% endblock %}

{% block container %}

    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-toolbar">
            </div>
            <div class="md-card-content">
                <table class="uk-table" id="user_events">
                    <thead>
                    <tr>
                        <th>{{ 'Сотрудник' | trans }}</th>
                        <th>{{ 'Время' | trans }}</th>
                        <th>{{ 'Заведение' | trans }}</th>
                        <th>{{ 'Событие' | trans }}</th>
                        <th>{{ 'Действия' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in userEvents %}
                        <tr data-id="{{ event.id }}" data-user="{{ event.user.id }}">
                            <td><a href="{{ path("user_edit", {'id':event.user.id}) }}">{{ event.user.name }}</a></td>
                            <td>{{ event.date | date("Y-m-d H:i") }}</td>
                            <td>{{ event.shop.name }}</td>
                            <td><a href="{{ path('person_event_update', {'id':event.id}) }}">{{ event.eventTypeString }}</a></td>
                            <td><a href="{{ path('person_event_delete', {'id':event.id}) }}">{{ 'Удалить' | trans }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="md-card">
            <div class="md-card-toolbar">
            </div>
            <div class="md-card-content">

                <table class="uk-table" id="user_events">
                    {#<thead>#}
                    {#<tr>#}
                    {#<th rowspan="2">{{ 'Сотрудник' | trans }}</th>#}
                    {#<th colspan="{{ userData | first | length }}">2019-01</th>#}
                    {#</tr>#}
                    {#<tr>#}
                    {#{% for day, data in userData | first %}#}
                    {#<th>{{ day | date("d") }}</th>#}
                    {#{% endfor %}#}
                    {#</tr>#}
                    {#</thead>#}

                    <thead>
                    {% set dateData = userData | first %}
                    <tr>
                        <th rowspan="2" style="vertical-align: middle;text-align: center;">{{ 'Сотрудник' }}</th>
                        {% set prevMonth = dateData | keys | first | date('m.Y') %}
                        {% set prevMonthCount = 0 %}
                        {% for __date, stat in dateData %}

                            {% if prevMonth ==  __date | date('m.Y') %}
                                {% set prevMonthCount =  prevMonthCount + 1 %}
                            {% else %}
                                <th colspan="{{ prevMonthCount }}" style="border-right: 2px #000 solid;">{{ prevMonth }}</th>
                                {% set prevMonthCount = 1 %}
                                {% set prevMonth = __date | date('m.Y') %}
                            {% endif %}

                            {% if loop.last %}
                                <th colspan="{{ prevMonthCount }}">{{ prevMonth }}</th>

                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for __date, stat in dateData %}
                            <th>{{ __date | date('d') }}</th>
                        {% endfor %}
                    </tr>
                    </thead>

                    <tbody>
                    {% for user, uData in userData %}
                        <tr>
                            <td>{{ user }}</td>
                            {% for day, __data in uData %}
                                <td>{{ __data.time is defined ? (__data['time'] | date("%H:%I")) : "" }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}


{% block page_specific_plugins %}
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>

    <script src="{{ asset('assets/js/html2canvas.js') }}"></script>

    <script>
        $("#user_events").DataTable({
            iDisplayLength: -1,
        });
    </script>
{% endblock %}