{% extends "RestaurantBundle::layout.html.twig" %}

{% block title %}События{% endblock %}

{% block page_specific_styles %}
    <style>
        ul {
            list-style: none;
        }
    </style>
{% endblock %}

{% block container %}

    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-toolbar">
            </div>
            <div class="md-card-content">
                <table class="uk-table" id="user_events">
                    <thead>
                    <tr>
                        <th>{{ 'Сотрудник' | trans }}</th>
                        <th>{{ 'Время' | trans }}</th>
                        <th>{{ 'Заведение' | trans }}</th>
                        <th>{{ 'Событие' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in userEvents %}
                        <tr data-id="{{ event.id }}" data-user="{{ event.user.id }}">
                            <td><a href="{{ path("user_edit", {'id':event.user.id}) }}">{{ event.user.name }}</a></td>
                            <td>{{ event.date | date("Y-m-d H:i") }}</td>
                            <td>{{ event.shop.name }}</td>
                            <td>{{ dump(event.eventTypeString) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}


{% block page_specific_plugins %}
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>

    <script src="{{ asset('assets/js/html2canvas.js') }}"></script>

    <script>
        $("table").DataTable({
            iDisplayLength: -1,
        });
    </script>
{% endblock %}