html, body {
    max-width: 100%;
    overflow-x: hidden;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.2;
    object-fit: fill;
    background: url("/img/wifi_bg.png") repeat-y;
    background-size: cover;
}

#bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    width: 100%;
    z-index: -1;
    #opacity: 0.2;
    object-fit: fill;
    background: url("/img/marco/wifi_bg.png") repeat-y;
    background-size: cover;

}

.puboffer {
    text-align: center;
    margin: 15px 0 25px 0;
    font-size: 17px;
}

.message {
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
}

/*.code_agreement*/


.languages {
    padding: 15px 0;
}

.languages a {
    display: inline-block;
    padding: 0 10px;
    text-decoration: underline;
    font-size: 16px;
    width: 32%;
    text-align: center;
}

.languages a.active {
    text-decoration: none;

}

h4, a, p {
    font-family: 'Comic Sans MS', 'Marker Felt', sans-serif;
    #text-transform: uppercase;
    font-weight: 100;
    #font-size: 18px;
    color: #000;
}

.register {
    #display: block;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    #width: 175px;
}

.register a {
    display: block;
    background: url(/img/marco/fck-arrow.png);
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: 14px 41px;
}

.register a img {
    width: 170px;
    margin-top: -15px;
}

.get-code-text {
    #border-bottom: 2px solid #000; /* Or whatever color you want */
    width: 200px;
    display: block;
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
}

a:hover {
    color: #000;

}

button, input {
    background: none;
    #border: 2px #000 solid;
    border:none;
    border-radius: 0;
    width: 100%;
    padding: 8px;
    margin: 15px 0 0 0;

    font-family: Open-sans, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

form {
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
}

.disabled {
    opacity: 0.5;
}


.agreement {
    display: block;
    text-shadow: none !important;
    color: #000;
    width: 145px;
    margin: 15px auto 0;
    font-size: 12px;
}
.agreement img {
    display: block;
    width: 35px;
    margin: 0 auto;
}

.code_agreement {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 0;
    cursor: pointer;
    line-height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 13px;
}

/* Hide the browser's default checkbox */
.code_agreement input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    #background-color: #fff;
    border: 2px solid #000;
}

/* On mouse-over, add a grey background color */
.code_agreement:hover input ~ .checkmark {
    #background-color: #fff;
}

.code_agreement input:checked ~ .checkmark {
    #background-color: #fff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.code_agreement input:checked ~ .checkmark:after {
    display: block;
}

.code_agreement .checkmark:after {
    left: 7px;
    top: 1px;
    width: 12px;
    height: 19px;
    border: solid black;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.terms-of-service {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 15px;
    overflow-y: scroll;
    background-color: #fff;
    z-index: 99;
}

.terms-of-service p {
    margin: 0 0 15px 0;
}

.terms-of-service ol,
.terms-of-service ul {
    padding: 0 15px;
}

.terms-of-service .terms-close {
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 40px;
    background-color: #fff;
    position: fixed;
    font-size: 28px;
    right: 0;
    top: 0;
    margin: 5px;
    z-index: 99;
    border: 2px #000 solid;
}

.languages img {
    width: 53px;
}

@font-face {
    font-family: LucidaCalligraphy; /* Имя шрифта */
    src: url(/img/marco/fonts/Lucida-Calligraphy.ttf); /* Путь к файлу со шрифтом */
}

.cafe-title {
    text-align: center;
    font-family: LucidaCalligraphy;
    font-size: 30px;
    margin: 12px 0 38px;
}

#wifi_code {
    border: 1px #000 solid;
    background: #fff;
    width: 170px;
    border-radius: 7px;
    height: 47px;
    margin-top: 0;
    text-transform: none;
    font-size: 22px;
    font-family: 'Comic Sans MS', 'Marker Felt', sans-serif;
}

#wifi_submit, #code_submit {
    border: none;
    text-transform: none;
    font-size: 17px;
    background: url(/img/marco/button.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Comic Sans MS', 'Marker Felt', sans-serif;
    width: 90px;
    margin-top: 5px;
    height: 46px;
}

body {
    font-family: 'Comic Sans MS', 'Marker Felt', sans-serif;
    font-size: 14px;
}