<html>
<head>
    <title>Venezia Wi-Fi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="{{ asset('css/new/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/wifi_marco.css') }}">
</head>
<body>


{% block content %}
{% endblock %}

</body>
</html>