<html>
<head>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <link rel="stylesheet" href="{{ asset('bower_components/uikit/css/uikit.almost-flat.min.css') }}"
          media="all">
    <link rel="stylesheet" href="{{ asset('assets/css/main.min.css') }}" media="all">
    <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}" media="all">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/3.2.0/sha.min.js"
            integrity="sha512-/yIGjYJZIXZx10ig0yhbK41OiwcqBUxIj0xQJe+NwkMIdS/u07b6Mwo0nvXB4o7A6WiKnKOf92JwE5Ezo27u9Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="{{ asset('assets/js/common.min.js') }}"></script>

</head>

<body>


<div class="twofa-container">
    <div class="twofa">
        <form action="" method="post">
            <h1>Введите код из приложения</h1>

            <div class="md-input-wrapper md-input-filled">
                <input type="text" class="md-input" value="" name="code" id="code" required>
            </div>

            <button class="md-btn md-btn-block md-btn-primary disabled" id="submit" type="submit">подтвердить</button>
        </form>
    </div>
</div>

<script>
    var CONFIG = {
        digits: 5,
        period: 100,
    }
    $(document).ready(function () {
        $("#code").on("keyup", function () {
            var val = $(this).val();
            if (val == getToken("{{ userKey }}", CONFIG)) {
                $("#submit").removeClass("disabled");
            } else {
                $("#submit").addClass("disabled");
            }
        });

        $(window).keydown(function(event) {
            if(event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });


        function getToken(key, options = {}) {
            let epoch, time, shaObj, hmac, offset, otp
            options.period = options.period || 30
            options.algorithm = options.algorithm || "SHA-1"
            options.digits = options.digits || 6
            options.timestamp = options.timestamp || Date.now()
            key = base32tohex(key)
            epoch = Math.round(options.timestamp / 1000.0)
            time = leftpad(dec2hex(Math.floor(epoch / options.period)), 16, "0")
            shaObj = new jsSHA(options.algorithm, "HEX")
            shaObj.setHMACKey(key, "HEX")
            shaObj.update(time)
            hmac = shaObj.getHMAC("HEX")
            offset = hex2dec(hmac.substring(hmac.length - 1))
            otp = (hex2dec(hmac.substr(offset * 2, 8)) & hex2dec("7fffffff")) + ""
            otp = otp.substr(Math.max(otp.length - options.digits, 0), options.digits)
            return otp
        }


        function hex2dec(s) {
            return parseInt(s, 16)
        }

        function dec2hex(s) {
            return (s < 15.5 ? "0" : "") + Math.round(s).toString(16)
        }

        function base32tohex(base32) {
            let base32chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ234567",
                bits = "",
                hex = ""

            base32 = base32.replace(/=+$/, "")

            for (let i = 0; i < base32.length; i++) {
                let val = base32chars.indexOf(base32.charAt(i).toUpperCase())
                if (val === -1) throw new Error("Invalid base32 character in key")
                bits += leftpad(val.toString(2), 5, "0")
            }

            for (let i = 0; i + 8 <= bits.length; i += 8) {
                let chunk = bits.substr(i, 8)
                hex = hex + leftpad(parseInt(chunk, 2).toString(16), 2, "0")
            }
            return hex
        }

        function leftpad(str, len, pad) {
            if (len + 1 >= str.length) {
                str = Array(len + 1 - str.length).join(pad) + str
            }
            return str
        }
    });
</script>
</body>
</html>