{% extends "RestaurantBundle::layout.html.twig" %}

    {% block title %}
        {{ 'Пользователи' | trans }}
    {% endblock %}


{% block container %}
    <div id="page_content_inner">

        <div class="md-card">
            <div class="md-card-content">
                <h3 class="heading_a uk-margin-bottom">{{ 'Пользователи' | trans }}</h3>

                <a href="{{ path("user_create") }}" class="md-btn md-btn-success">{{ 'Создать пользователя' | trans }}</a>

                <table class="uk-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{{ 'Имя' | trans }}</th>
                        <th>{{ 'Заведение' | trans }}</th>
                        <th>{{ 'Телефон' | trans }}</th>
                        <th>{{ 'Статус' | trans }}</th>
                        <th style="width: 1%;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>
                                <a href="{{ path("user_edit", { 'id' : user.id}) }}">
                                    {{ user.username }}
                                </a>
                            </td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.shop ? user.shop.name : "" }}</td>
                            <td>{{ user.phone }}</td>
                            <td>
                                {% if user.enabled == 1 %}
                                    <span class="uk-badge uk-badge-success">{{ 'Активен' | trans }}</span>
                                {% else %}
                                    <span class="uk-badge uk-badge-danger">{{ 'Отключен' | trans }}</span>
                                {% endif %}
                            </td>
                            <td>
                                <a title="{{ 'Редактировать' | trans }}" href="#"><i class="material-icons">&#xE8F4;</i></a>
                                {% if user.enabled == 1 %}
                                    <a title="{{ 'Отключить' | trans }}" href="{{ path('user_disable', {id : user.id}) }}"><i class="material-icons">delete</i></a>
                                {% else %}
                                    <a title="{{ 'Включить' | trans }}" href="{{ path('user_enable', {id : user.id}) }}"><i class="material-icons">check circle</i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{{ path("user_create") }}" class="md-btn md-btn-success">{{ 'Создать пользователя' | trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_specific_plugins %}

    <!-- datatables -->
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <!-- datatables colVis-->
    <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <!-- datatables tableTools-->
    <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <!-- datatables custom integration -->
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>

    <style>
        td {
            text-align: left;
        }
    </style>

    <script>
        $("table").DataTable({
            iDisplayLength: -1,
        });
    </script>


{% endblock %}