<!doctype html>
<!--[if lte IE 9]>
<html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no"/>

    <link rel="icon" type="image/png" href="assets/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="assets/img/favicon-32x32.png" sizes="32x32">

    <title>Venezia ERP</title>

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>

    <!-- uikit -->
    <link rel="stylesheet" href="bower_components/uikit/css/uikit.almost-flat.min.css"/>

    <!-- altair admin login page -->
    <link rel="stylesheet" href="assets/css/login_page.min.css"/>
    <style>
        body {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        #user_list {
            list-style: none;
        }

        #user_list li {
            background: #fff;
            padding: 0 5px;
            margin-bottom: 10px;
            line-height: 48px;
        }

        #touch_login .input {
            line-height: 60px;
            background: #ccc;
            font-size: 36px;
            display: block;
            margin: 2px;
            padding: 0 15px;
            height: 60px;
            /* word-wrap: break-word; */
            overflow: hidden;
            position: relative;
        }

        #touch_login {
            background: #fff;
            width: 312px;
            height: 542px;
            padding: 10px;
            margin: auto auto;
        }

        #touch_login .buttons {
            width: 312px;
        }

        #touch_login .buttons:after,
        #touch_login .buttons:before {
            content: " ";
            display: table;
            clear: both;
        }

        #username div {
            position: absolute;
            width: 200%;
        }

        #touch_login .buttons div {
            float: left;
            width: 100px;
            height: 100px;
            line-height: 100px;
            text-align: center;
            margin: 2px;
            background: #ccc;
            font-size: 36px;
        }

        #error {
            display: block;
            text-align: center;
            padding: 10px;
            background: #ffc8c8;
            width: 312px;
            margin: 10px auto;
            font-size: 22px;
        }
    </style>
</head>
<body class="login_page">
<div class="uk-grid">

    <div class="uk-width-medium-1-2">
        <ul id="user_list">
            {% for __user in users %}
                <li class="user" data-username="{{ __user.username }}">{{ __user.name }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="uk-width-medium-1-2">
        <div id="error"></div>
        <div id="touch_login">
            <div class="input" id="username">
                <div></div>
            </div>
            <div class="input password" id="password"></div>
            <div class="buttons">
                <div class="button">1</div>
                <div class="button">2</div>
                <div class="button">3</div>
                <div class="button">4</div>
                <div class="button">5</div>
                <div class="button">6</div>
                <div class="button">7</div>
                <div class="button">8</div>
                <div class="button">9</div>
                <div id="submit">enter</div>
                <div class="button">0</div>
                <div id="reset">cls</div>
            </div>
        </div>
    </div>
    <div style="display: none;">
        {{ render(controller('UserBundle:Security:login')) }}
    </div>
</div>


<!-- common functions -->
<script src="assets/js/common.min.js"></script>
<!-- uikit functions -->
<script src="assets/js/uikit_custom.min.js"></script>
<!-- altair core functions -->
<script src="assets/js/altair_admin_common.min.js"></script>

<!-- altair login page functions -->
<script src="assets/js/pages/login.min.js"></script>

<script>
    var password = '';
    var password_mask = '';
    $(document).ready(function () {
        $('#error').hide();
    });
    $(".user").on("click", function () {
        $("#login_username").val($(this).data("username"));
        $("#username div").text($(this).text());
        $(".user").css({
            'background': '#FFF',
        });
        $(this).css({
            'background': "#ffffbc"
        });

        clearPassword();
    });

    $(".button").on("click", function () {
        password += $(this).text();
        password_mask += '*';
        $("#login_password").val(password);
        $("#password").text(password_mask);
    });

    $("#submit").on("click", function (e) {
        e.preventDefault();
        $('form').append($("<input />").attr({
            type: 'hidden',
            id: 'ajax',
            name: 'ajax',
            value: 1,
        }));
        $.ajax({
            type: $('form').attr('method'),
            url: $('form').attr('action'),
            data: $('form').serialize(),
            dataType: "json",
            success: function (data, status, object) {
                if (data.success == false) {
                    $('#error').show().html(data.message);
                    clearPassword();
                } else {
                    window.location.href = data.target;
                }
            },
            error: function (data, status, object) {
                console.log(data.message);
            }
        });
        //$("form").submit();
    });

    function clearPassword() {
        $("#login_password").val();
        $("#password").text('');
        password = '';
        password_mask = '';
    }

    $("#reset").on("click", function () {
        clearPassword();
    });

</script>

</body>
</html>