<table class="uk-table uk-table-striped" id="pizza_stat">
    <thead>
    <tr>
        <th></th>
        {% for __mon, __monDays in month %}
            <th><a href="#" class="update-month" data-month="{{ loop.index }}">{{ __mon }}</a></th>
        {% endfor %}
        <th>SUM</th>
    </tr>
    </thead>
    <tbody>
    {% set __totalSum = 0 %}
    {% for __shop, __shopName in shops %}
        {% set prev = 0 %}
        {% set prevAvg = 0 %}
        <tr>
            <td>{{ __shopName }}</td>
            {% set __rowSum = 0 %}
            {% for __mon, __monDays in month %}
                {% set __rowSum = __rowSum + pizza[__shop][__mon] %}
                <td
                        data-absolute="{{ pizza[__shop][__mon] }}"
                        data-average-absolute="{{ (pizza[__shop][__mon] / __monDays) | price }}"

                        data-percent="{{ prev != 0 ? ((pizza[__shop][__mon] * 100 / prev) | price) : (pizza[__shop][__mon] != 0 ? "100.00" : 0) }}"
                        data-average-percent="{{ prevAvg != 0 ? (((pizza[__shop][__mon] / __monDays) * 100 / prevAvg) | price) : (pizza[__shop][__mon] != 0 ? "100.00" : 0) }}"
                >
                    {{ pizza[__shop][__mon] }}</td>
                {% set prev = pizza[__shop][__mon] %}
                {% set prevAvg = pizza[__shop][__mon] / __monDays %}
            {% endfor %}
            <td><strong>{{ __rowSum }}</strong></td>
        </tr>
        {% set __totalSum = __totalSum + __rowSum %}
    {% endfor %}
    <tr>
        <td>SUM</td>
        {% set prev = 0 %}
        {% set prevAvg = 0 %}
        {% for __mon, __monDays in month %}
            {% set __shopSum = 0 %}
            {% for __shop, __shopName in shops %}
                {% set __shopSum = __shopSum + pizza[__shop][__mon] %}
            {% endfor %}
            <td style="font-weight: bold;"
                data-absolute="{{ __shopSum }}"
                data-average-absolute="{{ (__shopSum / __monDays) | price }}"
                data-percent="{{ prev != 0 ? ((__shopSum * 100 / prev) | price) : (__shopSum != 0 ? 100 : 0) }}"
                data-average-percent="{{ prevAvg != 0 ? (((__shopSum / __monDays) * 100 / prevAvg) | price) : (__shopSum != 0 ? 100 : 0) }}"

            >{{ __shopSum }}</td>
            {% set prev = __shopSum %}
            {% set prevAvg = __shopSum / __monDays %}
        {% endfor %}
        <td><strong>{{ __totalSum }}</strong></td>
    </tr>
    </tbody>
</table>
