{% extends "RestaurantBundle::layout.html.twig" %}


{% block title %}
    Статистика средний счет
{% endblock %}

{% block page_specific_styles %}

{% endblock %}

{% block container %}
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <h2>Средние значения</h2>
                <table class="uk-table uk-table-stripped">
                    <thead>
                    <tr>
                        <th>Заведение</th>
                        <th>Год</th>
                        <th>Месяц</th>
                        <th>Средний счет</th>
                        <th>Кол-во счетов</th>
                        <th>Среднее время</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for __shop, __shopData in data %}
                        {% for __year, __yearData in __shopData %}
                            {% for __month, __monthData in __yearData %}
                                <tr>
                                    <td>{{ shopData[__shop] }}</td>
                                    <td>{{ __year }}</td>
                                    <td>{{ __month }}</td>
                                    <td>{{ (__monthData['sum'] / __monthData['count']) | price }}</td>
                                    <td>{{ (__monthData['avgDay']) | price }}</td>
                                    <td>{{ (__monthData['avgTime']) | price }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_specific_plugins %}

    <!-- datatables -->
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <!-- datatables colVis-->
    <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <!-- datatables tableTools-->
    <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <!-- datatables custom integration -->
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>
    <script src="{{ asset('js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('js/jszip.min.js') }}"></script>
    <script src="{{ asset('js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('js/buttons.print.min.js') }}"></script>

    <script>
        $("table").dataTable({
            dom: 'Bfrt',
            paging: false,
            "bSort": false,
            "searching": false,
            buttons: [
                'excel',
                {
                    extend: 'print',
                    customize: function (win) {
                        $(win.document.body).find('thead')
                            .css({
                                'text-align': 'right',
                            });
                        $(win.document.body).find('table')
                            .css({
                                'width': '100%',
                                'border-collapse': 'collapse',
                            });
                    }
                }

            ]
        });
    </script>
{% endblock %}