{% extends "RestaurantBundle::layout.html.twig" %}


{% block title %}
    Статистика MoM
{% endblock %}

{% block page_specific_styles %}

{% endblock %}

{% block container %}
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <table class="" style="width: 100%;border-collapse: collapse;">
                    <thead>
                    <tr>
                        <th>{{ 'Заведение' | trans }}</th>
                        <th>{{ 'Месяц' | trans }}</th>

                        {% for __year in years %}
                            <th>{{ __year }}</th>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <th>{{ '%' | trans }}</th>
                            {% endif %}
                            <th>{{ 'Доля Скидок' | trans }}</th>
                        {% endfor %}

                        <th>{{ 'YoY %' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for id, __data in data %}
                        {% for i in 1..12 %}
                            <tr {% if i == 1 %}style="border-top: 2px #000 solid;"{% endif %}>

                                {% if i == 1 %}
                                    <td>
                                        {{ data[id].name }}
                                        <br>
                                        {% if sum[currentYear] != 0 %}
                                            {{ (data[id].sum[currentYear].sum * 100 / sum[currentYear]) | price }}%
                                        {% endif %}
                                    </td>
                                    <td>{{ i }}</td>

                                    {% for __year in years %}
                                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                                            <td>{{ data[id]['sum'][__year][i]    | price }}</td>
                                        {% endif %}
                                        <td>100</td>

                                        <td>
                                            {% if (data[id]['sum'][__year][i] + data[id]['discountSum'][__year][i]) != 0 %}
                                                {{ ( data[id]['discountSum'][__year][i]  * 100 / (data[id]['sum'][__year][i] + data[id]['discountSum'][__year][i])) | price }}
                                            {% else %}
                                                {{ 0 | price }}
                                            {% endif %}
                                        </td>


                                    {% endfor %}

                                    <td>
                                        {% if data[id]['sum'][startYear][i] != 0 and data[id]['sum'][currentYear] is defined %}
                                            {{ ((data[id]['sum'][currentYear][i] / data[id]['sum'][startYear][i])  * 100) | price }}
                                        {% endif %}
                                    </td>
                                {% else %}
                                    <td></td>
                                    <td>{{ i }}</td>

                                    {% for __year in years %}
                                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                                            <td>{{ data[id]['sum'][__year][i] | price }}</td>
                                        {% endif %}
                                        <td>
                                            {% if data[id]['sum'][__year][i-1] != 0 %}
                                                {{ ((data[id]['sum'][__year][i] / data[id]['sum'][__year][i-1]) * 100) | price }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if (data[id]['sum'][__year][i] + data[id]['discountSum'][__year][i]) != 0 %}
                                                {{ ( data[id]['discountSum'][__year][i] * 100 / (data[id]['sum'][__year][i] + data[id]['discountSum'][__year][i])) | price }}
                                            {% else %}
                                                {{ 0 | price }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}

                                    <td>
                                        {% if data[id]['sum'][startYear][i] != 0 %}
                                            {{ ((data[id]['sum'][currentYear][i] / data[id]['sum'][startYear][i]) * 100) | price }}
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td>{{ '' | trans }}</td>

                            {% for __year in  years %}
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <td>{{ data[id]['sum'][__year]['sum'] | price }}</td>
                                {% endif %}
                                <td></td>
                                <td></td>
                            {% endfor %}

                            <td>
                                {% if data[id]['sum'][startYear]['sum'] != 0 %}
                                    {{ ((data[id]['sum'][currentYear]['sum'] / data[id]['sum'][startYear]['sum'])  * 100) | price }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_specific_plugins %}

    <!-- datatables -->
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <!-- datatables colVis-->
    <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <!-- datatables tableTools-->
    <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <!-- datatables custom integration -->
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>
    <script src="{{ asset('js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('js/jszip.min.js') }}"></script>
    <script src="{{ asset('js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('js/buttons.print.min.js') }}"></script>

    <script>
        $("table").dataTable({
            dom: 'Bfrt',
            paging: false,
            "bSort": false,
            "searching": false,
            buttons: [
                'excel',
                {
                    extend: 'print',
                    customize: function (win) {
                        $(win.document.body).find('thead')
                            .css({
                                'text-align': 'right',
                            });
                        $(win.document.body).find('table')
                            .css({
                                'width': '100%',
                                'border-collapse': 'collapse',
                            });
                        var i = 0;
                        $(win.document.body).find('tr').each(function () {
                            $(this).css({
                                'text-align': 'right',
                            });
                            if (i == 0) {
                                $(this).css({
                                    'border-bottom': '2px #000 solid'
                                });
                            }
                            if (i == 14) {
                                $(this).css({
                                    'border-top': '2px #000 solid'
                                });
                                i = 1;
                            }
                            i += 1;
                        })
                    }
                }

            ]
        });
    </script>

{% endblock %}
