{% extends "RestaurantBundle::layout.html.twig" %}

{% block container %}
    <style>
        td {
            text-align: right;
        }
    </style>
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <h1>Пицца</h1>

                <div style="display: flex; flex-direction: row;justify-content: space-between;">
                    <div>
                        <button class="md-btn md-btn-success switch" data-param="absolute">Общее</button>
                        <button class="md-btn md-btn-primary switch" data-param="average-absolute">Среднее в день</button>

                        <button class="md-btn md-btn-primary switch" data-param="percent">Прирост общ %</button>
                        <button class="md-btn md-btn-primary switch" data-param="average-percent">Прирост ср %</button>
                    </div>
                    <div style="display: flex; gap: 15px">
                        <select class="md-input" id="year">
                            {% for __year in range(2020, ("now" | date("Y"))) %}
                            <option value="{{ __year }}" {{ (app.request.get("year") == __year)  ? "selected" : (("now" | date("Y")) == __year and app.request.get("year") is null  ? "selected" :"") }}>{{ __year }}</option>
                            {% endfor %}
                        </select>
                        <button class="md-btn md-btn-warning update-stat" style="width: 200px;" data-param="absolute">Обновить</button>
                    </div>
                </div>
                {% include "@Restaurant/Stat/__statPizzaMonthTable.html.twig" with {'month': month, 'pizza': pizza, 'shops': shops} %}
            </div>
        </div>
    </div>

{% endblock %}

{% block page_specific_styles %}

{% endblock %}

{% block page_specific_plugins %}
    <script>
        $(document).on('change', "#year", function () {
            var route = "{{ path("stat_pizza_month") }}";
            route += ("?year=" + $(this).val());
            window.location = route;
        });

        $(document).on("click", ".update-month", function (e) {
            $(this).addClass('disabled').text("UPDATING...");
            var month = $(this).data("month");
            $.ajax({
                type: "GET",
                url: "{{ path('stat_pizza_month_update') }}" + "?year=" + $("#year").val() + "&month=" + month,
                context: $(this),
                success: function (response) {
                    this.removeClass("disabled").text("ОБНОВИТЬ");
                    $("#pizza_stat").replaceWith(response);
                }
            });
            return false;
        });

        $(document).on("click", ".update-stat", function () {
            $(this).addClass('disabled').text("UPDATING...");
            $.ajax({
                type: "GET",
                url: "{{ path('stat_pizza_month_update') }}" + "?year=" + $("#year").val(),
                context: $(this),
                success: function (response) {
                    this.removeClass("disabled").text("ОБНОВИТЬ");
                    $("#pizza_stat").replaceWith(response);
                }
            });
        });

        $(document).on("click", ".switch", function () {
            var param = $(this).data("param");
            var val = 0;
            $(".switch").removeClass("md-btn-success").addClass("md-btn-primary");
            $(this).removeClass("md-btn-primary").addClass("md-btn-success");

            $("td").each(function (item) {
                if ($(this).data(param) != undefined) {
                    if (parseFloat($(this).data(param)) > 0) {
                        val = $(this).data(param);
                        $(this).html(val);
                        if (param.indexOf("percent") >= 0) {
                            $(this).css({background: val >= 100 ? "#e0ffe0" : "#ffebeb"})
                        }
                    } else {
                        $(this).html("");
                    }
                }
            })
        });
    </script>
{% endblock %}
