{% extends "RestaurantBundle::layout.html.twig" %}


{% block container %}
<style>
td {
text-align: right;
}
</style>
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <div class="md-card-toolbar">
                    <div class="md-card-toolbar-actions" style="width:33%;padding: 0;margin-top: -5px;">
                        <div class="uk-grid">
                            <div class="uk-width-large-1-3 uk-width-medium-1-1">
                                <div class="uk-input-group">
                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                    <label for="uk_dp_start">С даты</label>
                                    <input class="md-input" type="text" id="dateStart" value="{{ app.request.get('dateStart')| date("d.m.Y") }}" data-uk-datepicker="{format:'DD.MM.YYYY'}">
                                </div>
                            </div>
                            <div class="uk-width-large-1-3 uk-width-medium-1-1">
                                <div class="uk-input-group">
                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                    <label for="uk_dp_end">По дату</label>
                                    <input class="md-input" type="text" id="dateEnd" value="{{ app.request.get('dateEnd') | date("d.m.Y") }}" data-uk-datepicker="{format:'DD.MM.YYYY'}">
                                </div>
                            </div>
                            <div class="uk-width-large-1-3 uk-width-medium-1-1">
                                <button class="md-btn md-btn-primary md-btn-block md-btn-large" id="dateSearch">Поиск</button>
                            </div>
                        </div>
                    </div>
                    <h3 class="heading_a uk-margin-bottom">
                        {{ 'Пицца' |trans }}
                        {% if app.request.get('dateStart') is not null %}
                            c {{ app.request.get('dateStart') | date("d.m.Y") }}
                        {% endif %}
                        {% if app.request.get('dateEnd') is not null %}
                            по {{ app.request.get('dateEnd')| date("d.m.Y") }}
                        {% endif %}
                    </h3>
                </div>
                <div class="md-card-content">
                    <table class="uk-table">
                        <thead>

                        <tr>
                            <th>{{ "Заведение" | trans }}</th>
                            {% for date, dateSum in dates %}
                                <th colspan="2"  style="border-right: 1px #000 solid;">{{ date }}</th>
                            {% endfor %}
			    <th colspan="2">Итого</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for shop, data in pizza %}
                            <tr>
                                <td style="border-right: 1px #000 solid;">{{ shop }}</td>

				{% set shopSum = 0 %}
                                {% set shopSumFree = 0 %}

                                {% for __data in data %}
				    {% set shopSum = shopSum + __data['sell'] %}
                                    {% set shopSumFree = shopSumFree + __data['sell_free'] %}

                                    <td>{{ __data['sell'] }}</td>
                                    <td style="border-right: 1px #000 solid;">{{ __data['sell_free'] }}</td>
                                {% endfor %}

				<td>{{ shopSum }}</td>
                                <td>{{ shopSumFree }}</td>

                            </tr>
                        {% endfor %}
			<tr>
			    <td>Итого</td>
			    {% for date, dateSum in dates %}
                                <td>{{ dateSum["sell"] }}</td>
                                <td  style="border-right: 1px #000 solid;">{{ dateSum["sell_free"] }}</td>
                            {% endfor %}
			    <td></td>
			    <td></td>
			</tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block page_specific_styles %}


{% endblock %}

{% block page_specific_plugins %}

    <!-- datatables -->
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <!-- datatables colVis-->
    <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <!-- datatables tableTools-->
    <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <!--<script src="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js"></script>-->
    <!-- datatables custom integration -->
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>

    <script>
        $(document).on('click', "#dateSearch", function () {
            //http://venezia.new/admin/order/list/summary/25.04.1991/27.04.2016
            var route = "{{ path("stat_pizza") }}";
            var dateStart = $("#dateStart").val();
            var dateEnd = $("#dateEnd").val();
            if (dateStart != "") route += ("/" + dateStart);
            if (dateEnd != "") route += ("/" + dateEnd);
            window.location = route;
        });

        $("table").DataTable({
            dom: "<'dt-uikit-header'<'uk-grid'<'uk-width-medium-2-3'Bl><'uk-width-medium-1-3'>>><'uk-overflow-container'tr><'dt-uikit-footer'<'uk-grid'<'uk-width-medium-3-10'i><'uk-width-medium-7-10'p>>>",
            buttons: [
                {
                    extend: 'print',
                    text: 'Печать',
                    title: 'Реализация Caffe Venezia Fusion 14.08.2019 00:00 - 15.08.2019 00:00',
                    autoPrint: true,
                    customize: function (win) {
                        $(win.document.body).find('td:first-child').css('white-space', 'nowrap');
                    }
                },
                'excel',
            ],

            paging: false,
        });

    </script>
{% endblock %}
