{% trans_default_domain 'FOSUserBundle' %}

<div class="md-card-content large-padding" id="login_form">
    <div class="login_heading">
        <div class="user_avatar"></div>
    </div>
    <form action="{{ path("fos_user_security_check") }}" method="post">
        <div class="uk-form-row">
            <label for="login_username">{{ 'security.login.username'|trans }}</label>
            <input class="md-input" type="text" id="login_username" name="_username" value="{{ last_username }}"/>
        </div>
        <div class="uk-form-row">
            <label for="login_password">{{ 'security.login.password'|trans }}</label>
            <input class="md-input" type="password" id="login_password" name="_password" required="required"/>
        </div>
        {% if error %}
            <div class="uk-margin-medium-top">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <div class="uk-margin-medium-top">
            <button type="submit" class="md-btn md-btn-primary md-btn-block md-btn-large" name="_submit">{{ 'security.login.submit'|trans }}</button>
        </div>
        <div class="uk-margin-top">
            <a href="#" id="login_help_show" class="uk-float-right">{{ 'Нужна помощь?' | trans }}</a>
            <span class="icheck-inline">
                <input type="checkbox" name="_remember_me" value="on" id="login_page_stay_signed" data-md-icheck/>
                <label for="login_page_stay_signed" class="inline-label">{{ 'security.login.remember_me'|trans }}</label>
            </span>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    </form>
</div>

<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(83995822, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
    });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/83995822" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
