{% extends "RestaurantBundle::layout.html.twig" %}

{% form_theme form '@Restaurant/Form/Fields.twig' %}

{% block title %}
    {{ 'Технологические карты' | trans }}
{% endblock %}

{% block page_specific_styles %}
    <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}" media="all">
    {#    <link rel="stylesheet" href="{{ asset('bower_components/select2/select2.min.css') }}">#}
    <style>
        .select2-container--default .select2-selection--single {
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            background: none;
            height: 43px;
        }

        .item-row {
            margin-bottom: 15px;
        }
    </style>
{% endblock %}

{% block container %}
    <div id="page_content_inner">
        <div class="uk-grid">
            <div class="uk-width-3-4">
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_a uk-margin-bottom">
                            {% if composition is defined and composition.id is not null %}

                                <a target="_blank" href="{{ path("print_composition", {"id":composition.id}) }}" style="">
                                    {{ 'Печать' | trans }}
                                </a>
                                <a href="{{ path("delete_composition",{"id":composition.id} ) }}" style="float: right;">Удалить</a>
                            {% endif %}
                        </h3>

                        <div class="uk-grid">
                            <div class="uk-width-1-1">
                                {{ form_start(form) }}

                                <div>
                                    {{ form_row(form.name) }}
                                </div>

                                <div>
                                    <div id="composition_ingredients" data-prototype="{{ form_widget(form.ingredients.vars.prototype) | e }}">
                                        <h3 class="heading_a uk-margin-bottom">{{ "Ингредиенты" | trans }}</h3>
                                        {% for ingredient in form.ingredients %}
                                            <div class="item-row">
                                                {{ form_widget(ingredient) }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div>
                                    {{ form_row(form.technologyDescription) }}
                                </div>
                                <div>
                                    {{ form_row(form.time) }}
                                </div>

                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-4">
                <div class="md-card">
                    <div class="md-card-content">
                        <h3>Используется в</h3>
                        <ul>
                            {% for __composition in usedIn %}
                                <li><a href="{{ path("edit_composition", {"id":__composition.id}) }}">{{ __composition.name | capitalize }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_specific_plugins %}
    <script src="{{ asset('assets/js/select2.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery_extensions.js') }}"></script>
    <script>
        $('#composition_ingredients').collection({
            addButtonText: "{{ "Добавить ингредиент" | trans }}",
            deleteButtonText: "{{ "Удалить" | trans }}",
            addItemCallback: function (item) {
                $(item).find('.select2entity').select2entity();
            }
        });
        $('#composition_descriptions').collection({
            addButtonText: "{{ "Добавить desc" | trans }}",
            deleteButtonText: "{{ "Удалить" | trans }}",
        });
        $(document).ready(function () {
            $('.select2entity').select2entity();
        });
    </script>
{% endblock %}