{% extends "RestaurantBundle::layout.html.twig" %}

{% block title %}
    {{ 'Технологические карты' | trans }}
{% endblock %}

{% block page_specific_styles %}
    <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}" media="all">
{% endblock %}

{% block container %}
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <h3 class="heading_a uk-margin-bottom">
                    <a target="_blank" href="#" style="float: right;color: red;">
                        {{ 'Удаленные' | trans }}
                    </a>
                </h3>
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <a href="{{ path("create_composition") }}" class="md-btn md-btn-primary">Создать</a>
                        <table class="uk-table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Название</th>
                                <th>Выход</th>
                                <th>Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for __composition in compositions %}
                                <tr>
                                    <td>{{ __composition.id }}</td>
                                    <td>
                                        {% if is_granted("ROLE_EDIT_COMPOSITION") %}
                                            <a href="{{ path("edit_composition", {"id":__composition.id}) }}">{{ __composition.name | capitalize }}</a>
                                        {% else %}
                                            {{ __composition.name | capitalize }}
                                        {% endif %}
                                    </td>
                                    <td>{{ __composition.outputFinishedMass }}</td>
                                    <td>
                                        <a target="_blank" href="{{ path("print_composition", {"id":__composition.id}) }}">Печать</a>
                                        {% if is_granted("ROLE_EDIT_COMPOSITION") %}
                                            <a href="{{ path("delete_composition", {"id":__composition.id}) }}" class="ajaxlink">Удалить</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_specific_plugins %}
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>
    <script>
        $("table").dataTable({
            pageLength: -1,
            fixedHeader: true,
            dom: "ftrip",
        });
        $(document).on("click", ".ajaxlink", function() {
            if (confirm("Вы уверены что хотите удалить?")) {
                var path = $(this).attr("href");
                $.get(path);
                $(this).parents("tr").remove();
            }
            return false;
        });
    </script>
{% endblock %}