<html lang="ru">
<head>
    <title>{{ composition.name | capitalize }}</title>
    <style>
        .qr-svg {
            width: 100px !important;
            position: absolute;
            top: 0;
            left: 0;
        }

        table {
            page-break-inside: avoid;
        }

        table a:visited,
        table a {
            color: #000;
            text-decoration: none;
        }

        body {
            background: #ccc;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            z-index: 2;
        }

        .page {
            width: 790px;
            background: #fff;
            padding: 38px;
            height: 1121px;
            box-sizing: border-box;
            margin-bottom: 50px;
            position: relative;
            padding-top: 50px;


        }

        li a {
            color: #000;
            text-decoration: none;
        }

        h1 {
            text-align: center;
            margin: 15px 0;
        }

        h3 {
            overflow-wrap: break-word;
            padding: 0;
            margin: 0;
        }

        p {
            margin: 0;
            padding: 0;
        }

        .dish .title {
            float: left;
        }

        .dish .meta {
            float: right;
        }

        .dish:after {
            content: " ";
            clear: both;
            display: table;
        }

        /*
        ul {
            padding: 0;
            margin: 0;
            #list-style: none;

        }
        */

        ul {
            list-style: none;
        }

        #tools {
            width: 300px;
            position: fixed;
            right: 0;
            top: 0;
            background: #fff;
            height: 100%;
        }

        .dish_root {
            width: 790px;
            margin: 0 auto;
        }

        .page:after {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: url(https://venezia.by/uploads/images/shop/common_sq.jpg) no-repeat;
            z-index: 1;
            background-position: center;
            background-size: 100%;
            opacity: 0.04;
        }

        td {
            text-align: justify;
        }

        @media print {
            body {
                background: #fff;
            }

            .page:after {
                content: "";
            }
            .page {
                width: 100%;
                padding: 0;
                margin: 0;
            }

            .page:after {
                position: fixed;
            }

            a {
                text-decoration: none;
            }

            a:after {
                content: " ";
                display: none;
            }

            #tools {
                display: none;
            }

            .sf-toolbar {
                display: none !important;
            }
        }
    </style>
</head>
<body>
<div class="page">
    <table style="">
        <tr>
            <td style="position: relative">
                {{ render(controller('DishBundle:Composition:printCompositionCode', {"id":composition.id})) }}
            </td>
            <td>&nbsp;</td>
            <td colspan="1" style="text-align: right;">
                СТБ 1210-2010
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center; font-weight: bold;text-transform: uppercase;">
                {{ "Технологическая карта" }} №{{ composition.id }}
            </td>
        </tr>
    </table>
    <table style="">
        <tr>
            <td colspan="2" style="text-align: right;">
                Утверждено приказом №
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right;">
                {{ "Дата" }}: {{ composition.createdAt | date("d.m.Y") }}
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right;">
                Директор: Бруно Дэ Санта
            </td>
        </tr>
    </table>
    <table style="margin-top: 0px;">
        <tr>
            <td colspan="2" style="text-align: center; font-weight: bold;text-transform: uppercase;padding-top: 10px;">
                {{ composition.name | upper }}
            </td>
        </tr>
    </table>
    <table style="margin-top: 10px;">
        <thead>
        <tr>
            <th colspan="2" style="vertical-align: top;text-align: left;">Рецептура</th>
            <th colspan="2">Расход сырья на 1 порцию готовой продукции, гр</th>
        </tr>
        <tr style="background: #eee;">
            <th colspan="2">Наименование сырья</th>
            <th style="width: 80px;">Брутто</th>
            <th style="width: 80px;">Нетто</th>
        </tr>
        </thead>
        <tbody>
        {% for __ingr in composition.ingredients %}
            <tr style="{{ loop.index is even ? "background:#eee" : "" }};">
                <td style="width: 15px;text-align: right;color:#777;font-size: 12px;padding-right: 5px">{{ loop.index }}</td>
                <td>
                    {% if __ingr.ingredient.outputFinishedMass is not null %}
                        <a href="{{ path('print_composition', {"id":__ingr.ingredient.id}) }}">{{ __ingr.ingredient.name | capitalize }} (ТК {{ __ingr.ingredient.id }})</a>
                    {% else %}
                        {{ __ingr.ingredient.name | capitalize }}
                    {% endif %}
                </td>
                <td style="text-align: right">{{ __ingr.grossMass }}</td>
                <td style="text-align: right">{{ __ingr.netMass }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2" style="text-align: right;font-weight: bold;padding-top: 10px;">Выход полуфабриката:</td>
            <td colspan="2" style="text-align: right;">{{ composition.outputSemifinishedMass }}</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right;font-weight: bold;">Выход готовой продукции:</td>
            <td colspan="2" style="text-align: right;">{{ composition.outputFinishedMass }}</td>
        </tr>
        </tbody>
    </table>
    {% if composition.descriptions.technology != "" %}
        <table style="margin-top: 10px;">
            <tr>
                <td style="font-weight: bold;">Описание технологии приготовления кулинарной продукции:</td>
            </tr>
            <tr>
                <td>{{ composition.descriptions.technology | capitalize }}</td>
            </tr>
        </table>
    {% endif %}
    {% if composition.descriptions.serve != "" %}
        <table style="margin-top: 10px;">
            <tr>
                <td style="font-weight: bold;">Правила оформления, подачи блюд, кулинарных изделий:</td>
            </tr>
            <tr>
                <td>{{ composition.descriptions.serve | capitalize }}</td>
            </tr>
        </table>
    {% endif %}
    <table style="margin-top: 10px;">
        <tr>
            <td colspan="2" style="font-weight: bold;">Характеристика изделий по органолептическим показателям:</td>
        </tr>
        {% if composition.descriptions.visual != "" %}
            <tr>
                <td style="font-weight: bold;border: 1px #777 solid;padding: 3px 5px;">Внешний вид</td>
                <td style="border: 1px #777 solid;padding: 3px 5px;">{{ composition.descriptions.visual | capitalize }}</td>
            </tr>
        {% endif %}
        {% if composition.descriptions.color != "" %}
            <tr>
                <td style="font-weight: bold;border: 1px #777 solid;padding: 3px 5px">Цвет</td>
                <td style="border: 1px #777 solid;padding: 3px 5px">{{ composition.descriptions.color | capitalize }}</td>
            </tr>
        {% endif %}
        {% if composition.descriptions.taste != "" %}
            <tr>
                <td style="font-weight: bold;border: 1px #777 solid;padding: 3px 5px">Вкус</td>
                <td style="border: 1px #777 solid;padding: 3px 5px">{{ composition.descriptions.taste | capitalize }}</td>
            </tr>
        {% endif %}
        {% if composition.descriptions.flavour != "" %}
            <tr>
                <td style="font-weight: bold;border: 1px #777 solid;padding: 3px 5px">Запах</td>
                <td style="border: 1px #777 solid;padding: 3px 5px">{{ composition.descriptions.flavour | capitalize }}</td>
            </tr>
        {% endif %}
        {% if composition.descriptions.body != "" %}
            <tr style="margin-bottom: 15px;">
                <td style="font-weight: bold;border: 1px #777 solid;padding: 3px 5px">Консистенция</td>
                <td style="border: 1px #777 solid;padding: 3px 5px">{{ composition.descriptions.body | capitalize }}</td>
            </tr>
        {% endif %}
    </table>
    {% if composition.descriptions.time != "" %}
        <table style="margin-top: 10px;">
            <tr>
                <td colspan="2" style="font-weight: bold;">Срок годности и условия хранения:</td>
            </tr>
            <tr>
                <td colspan="2">
                    {{ composition.descriptions.time | capitalize }}
                </td>
            </tr>
        </table>
    {% endif %}

    <table style="margin-top: 10px;">
        <tr>
            <td colspan="5" style="font-weight: bold;">Сведения о пищевой и энергетической ценности</td>
        </tr>
        <tr>
            <td style="border: 1px #777 solid; font-weight: bold;text-align: center;">Белки, г</td>
            <td style="border: 1px #777 solid; font-weight: bold;text-align: center;">Жиры, г</td>
            <td style="border: 1px #777 solid; font-weight: bold;text-align: center;">Углеводы, г</td>
            <td style="border: 1px #777 solid; font-weight: bold;text-align: center;">Энергетическая ценность, дж</td>
            <td style="border: 1px #777 solid; font-weight: bold;text-align: center;">Энергетическая ценность, ккал</td>
        </tr>
        <tr>
            <td style="width: 20% ;border: 1px #777 solid;text-align: center;">{{ composition.massProteins }}</td>
            <td style="width: 20% ;border: 1px #777 solid;text-align: center;">{{ composition.massFats }}</td>
            <td style="width: 20% ;border: 1px #777 solid;text-align: center;">{{ composition.massCarbohydrates }}</td>
            <td style="width: 20% ;border: 1px #777 solid;text-align: center;">{{ composition.energyValueDJ }}</td>
            <td style="width: 20% ;border: 1px #777 solid;text-align: center;">{{ composition.energyValueKK }}</td>
        </tr>
    </table>

    <table style="margin-top: 10px;">
        <tr>
            <td>
                Зав. производством
            </td>
            <td>
                Бура О.Л.
            </td>
        </tr>
    </table>

    {% if dish is defined and dish is not null and dish.image != "" %}
        <img src="/{{ dish.imagePath }}" alt="" style="width: 100%;margin-top: 30px;">
    {% endif %}
</div>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        // window.print();
    })
</script>
</body>
</html>