{% extends "RestaurantBundle::layout.html.twig" %}

{% form_theme form '@Restaurant/Form/Fields.twig' %}

{% block custom_header_right_menu %}
    {#<li><a href="{{ path("fos_user_profile_edit") }}" class="user_action_icon uk-visible-large" style="font-size: 36px;">{{ app.user.shop.name }}</a></li>#}
    <li><a href="#" class="user_action_icon uk-visible-large" style="font-size: 16px;margin-right: 15px;">{{ app.user.name }}</a></li>
    {% if is_granted("ROLE_ADMIN") %}
        <li>
            <select id="change_shop" class="md-input">
                {% for sh in shops %}
                    <option value="{{ sh.id }}" {% if app.user.shop.id == sh.id %}selected{% endif %}>{{ sh.name }}</option>
                {% endfor %}
            </select>
        </li>
    {% else %}
        <li><a href="#" class="user_action_icon uk-visible-large" style="font-size: 18px;">{{ app.user.shop.name }}</a></li>
    {% endif %}    {#    <li><a href="{{ path("fos_user_security_logout") }}" class="termianl_exit"><i class="material-icons">close</i></a></li>#}
    <li><a href="{{ path("login_tablet") }}" class="termianl_exit"><i class="material-icons">close</i></a></li>
{% endblock %}

{% block language_switcher %}{% endblock %}

{% block custom_header_left_buttons %}
    <div id="menu_top_dropdown" class="uk-float-left uk-hidden-small">
        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
            <a href="{{ path('terminal_index') }}" class="table_menu_toggle header_button">Зал</a>
        </div>
        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
            <a href="{{ path('terminal_index') }}" class="order_menu_toggle header_button">Счета</a>
        </div>
    </div>
{% endblock %}


{% block container %}
    <style>
        .uk-table th, .uk-table td {
            padding: 0;
        }

        td span.ingr-title {
            height: 48px;
            display: block;
            white-space: nowrap;
            overflow: hidden;
        }

        td .md-btn {
            width: 45px;
            min-width: 45px;

        }
    </style>
    <div id="page_content_inner">
        <form method="POST">
            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-form-row">
                        <div class="uk-grid">
                            <div class="uk-width-3-4" style="padding-right: 15px;">

                                <h3>{{ 'Начало смены' | trans }} {{ lastReport.dateClosed | date('d.m.Y H:i') }} </h3>

                                <table class="uk-table" id="ingredient-data">
                                    <thead>
                                    <tr>
                                        <th>{{ 'Ингредиент' | trans }}</th>
                                        <th style="position: relative;">
                                            <span style="transform: rotate(315deg);display: block;line-height: 13px;position: absolute;top: -17px;">
                                                {{ 'Остаток с прошлой смены' | trans }}
                                            </span>
                                        </th>
                                        <th>{{ 'Приход' }}</th>
                                        <th>{{ 'Отдали' }}</th>
                                        <th style="position: relative">
                                            <span style="transform: rotate(315deg);display: block;line-height: 13px;position: absolute; top: -17px;">
                                            {{ 'Остаток этой смены' }}
                                            </span>
                                        </th>
                                        <th>{{ 'Заявка' }}</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for ingredient in lastReport.ingredients %}
                                        {% set index = loop.index - 1 %}
                                        <tr data-id="{{ ingredient.ingredient.id }}" class="ingr_{{ ingredient.ingredient.id }}">
                                            <td>
                                                <input type="hidden" name="daily_report[ingredients][{{ index }}][ingredient]"
                                                       value="{{ ingredient.ingredient.id }}">
                                                <span class="ingr-title">{{ ingredient.ingredient.name }}, {{ ingredient.ingredient.unit }}</span>
                                            </td>
                                            <td style="{{ index % 2 ? "" : "background: #eee" }}">
                                                <input type="text" class="md-input income" name="daily_report[ingredients][{{ index }}][balance_prev]"
                                                       value="0">
                                            </td>
                                            <td style="{{ index % 2 ? "background: #eee" : "" }}">
                                                <input type="text" class="md-input income" name="daily_report[ingredients][{{ index }}][income]"
                                                       value="{{ ingredientIncome[ingredient.ingredient.id] is defined
                                                       ? ingredientIncome[ingredient.ingredient.id]
                                                       : 0 }}">
                                            </td>
                                            <td style="{{ index % 2 ? "" : "background: #eee" }}">
                                                <input type="text" class="md-input income" name="daily_report[ingredients][{{ index }}][waste]"
                                                       value="0">
                                            </td>
                                            <td  style="{{ index % 2 ? "background: #eee" : "" }}">
                                                <input type="text" class="md-input" name="daily_report[ingredients][{{ index }}][balance]" value="0">
                                            </td>
                                            <td style="{{ index % 2 ? "" : "background: #eee" }}">
                                                <input type="text" class="md-input" name="daily_report[ingredients][{{ index }}][request]"
                                                       value="{{ requestData[ingredient.ingredient.id][app.user.shop.id] is defined ?
                                                       requestData[ingredient.ingredient.id][app.user.shop.id] : 0 }}">
                                            </td>
                                            <td>
                                                <button class="delete_ingr-row md-btn md-btn-danger">✕</button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <button id="add-ingredient" class="md-btn md-btn-success">{{ 'Добавить' | trans }}</button>
                                <button id="confirm-ingredient" class="md-btn md-btn-primary">{{ 'Подтвердить остатки' | trans }}</button>
                                <button id="confirm-request" class="md-btn md-btn-primary">{{ 'Сохранить заявку' | trans }}</button>
                            </div>
                            <div class="uk-width-1-4">
                                <div>
                                    <p><b>Наличные:</b> {{ money.cash | price }} </p>
                                    <p><b>Терминал:</b> {{ money.terminal | price }}</p>
                                    <p><b>Сайт:</b> {{ money.site | price }}</p>
                                    <p><b>ОПЛАТИ:</b> {{ money.oplati | price }}</p>
                                    <p><b>Итого:</b> {{ (money.cash + money.terminal) | price }}</p>
                                    <hr/>
                                </div>
                                <div>
                                    {% for user, money in moneySeparated %}
                                        <p><b>{{ user }}</b></p>
                                        <p><b>Наличные:</b> {{ money.cash | price }} </p>
                                        <p><b>Терминал:</b> {{ money.terminal | price }}</p>
                                        <hr/>
                                    {% endfor %}
                                </div>

                                <div>
                                    <p>{{ 'Фискально' | trans }}</p>
                                    <p><b>Наличные:</b> {{ fiscal.cash | price }} </p>
                                    <p><b>Терминал:</b> {{ fiscal.card | price }}</p>
                                </div>
                                <div>
                                    <p><b>Итого:</b> {{ (money.cash + money.terminal) | price }}</p>
                                    <p><b>Фискально:</b> {{ (fiscal.cash + fiscal.card) | price }}</p>
                                    <p><b>Товаров:</b> <span id="money-total">{{ (dishSum) | price }}</span></p>
                                </div>
                                <hr/>
                                <div style="margin-bottom: 15px;">
                                    <h3 style="display: none;color: #f00;">
                                        Сдать в банк <span id="money-bank"></span>
                                    </h3>
                                    <div class="md-input-wrapper md-input-focus">
                                        <label for="daily_report_cardSum">Снято по карте<span class="req">*</span></label>
                                        <input value="0" type="text" id="daily_report_cardSum" name="daily_report[cardSum]" required="required"
                                               class="md-input"><span class="md-input-bar "></span>
                                    </div>
                                </div>

                                <button id="report_x" data-report="x" class="md-btn md-btn-block md-btn-primary report">Отчет X</button>
                                <button class="md-btn md-btn-block md-btn-primary" id="report_modal"
                                        data-uk-modal="{target:'#modal_header_footer'}">{{ 'Закрыть смену' | trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="quantityBlock" id="touch_keyboard" style="width: 144px;display: none;">
        <button class="md-btn trm-btn" data-number="1">1</button>
        <button class="md-btn trm-btn" data-number="2">2</button>
        <button class="md-btn trm-btn" data-number="3">3</button>
        <button class="md-btn trm-btn" data-number="4">4</button>
        <button class="md-btn trm-btn" data-number="5">5</button>
        <button class="md-btn trm-btn" data-number="6">6</button>
        <button class="md-btn trm-btn" data-number="7">7</button>
        <button class="md-btn trm-btn" data-number="8">8</button>
        <button class="md-btn trm-btn" data-number="9">9</button>
        <button class="md-btn trm-btn" data-number="dot">.</button>
        <button class="md-btn trm-btn" data-number="0">0</button>
        <button class="md-btn trm-btn" data-number="backspace">←</button>
        <button class="md-btn trm-btn trm-btn-fullwidth" data-number="ok">OK</button>
    </div>
    <div class="uk-modal" id="modal_header_footer">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">{{ 'Закрытие смены' | trans }} {#<i class="material-icons" data-uk-tooltip="{pos:'top'}" title="headline tooltip">&#xE8FD;</i>#}</h3>
            </div>
            <p style="color: red;" class="report-error">{% if opened.orders != 0 %}{{ 'Имеются не закрытые счета' | trans }}{% endif %}</p>

            <p>{{ 'Закрыть смену и напечатать Z-отчет?' | trans }}</p>
            <div class="uk-modal-footer ">
                {% if opened.orders != 0 %}
                    <div class="uk-text-left" style="float: left;">
                        <button type="button" class="md-btn md-btn-primary md-btn-large disabled" disabled="disabled"
                                id="report_pizza">{{ 'Подтвердить' | trans }}</button>
                    </div>
                {% else %}
                    <div class="uk-text-left" style="float: left;">
                        <button type="button" class="md-btn md-btn-primary md-btn-large" id="report_pizza">{{ 'Подтвердить' | trans }}</button>
                    </div>
                {% endif %}
                <div class="uk-text-right">
                    <button type="button" class="md-btn uk-modal-close md-btn-large">{{ 'Отмена' | trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar_status %}{% endblock %}

{% block page_specific_styles %}
    <link rel="stylesheet" href="{{ asset('assets/css/terminal.css') }}?{{ 'now'|date('U') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/jquery.mCustomScrollbar.min.css') }}">
{% endblock %}

{% block page_specific_plugins %}
    <script src="{{ asset('assets/js/jquery_extensions.js') }}"></script>

    <script>
        var ingredients = {{ ingredients | raw }};


        $(document).on("click", ".delete_ingr-row", function () {
            $(this).parents("tr").remove();
            return false;
        });

        $(document).on("click", "#confirm-request", function () {
            var data = $("form").serialize();
            $.ajax({
                url: "{{ path("terminal_close_request_ingredient") }}",
                type: "POST",
                data: data,
                success: function (response) {

                }
            });
            var button = $(this);
            button.prop("disabled", true);
            button.addClass('disabled');

            return false;
        });


        $(document).on("click", "#confirm-ingredient", function () {
            var data = $("form").serialize();
            $.ajax({
                url: "{{ path("terminal_close_confirm_ingredient") }}",
                type: "POST",
                data: data,
                success: function (response) {

                }
            });
            var button = $(this);
            button.prop("disabled", true);
            button.addClass('disabled');

            return false;
        });

        var rowCnt = $("#ingredient-data tbody tr").length;

        function addIngredient(data = null) {
            var $row = $("<tr />"),
                $select = $("<select />", {"class": "md-input"}).attr("name", 'daily_report[ingredients][' + rowCnt + '][ingredient]');

            if (data) {
                $row.addClass("ingr_" + data.ingredient);
            }

            for (var ingrId in ingredients) {
                $select.append(`<option value="${ingrId}">${ingredients[ingrId]}</option>`)
            }

            $row.append($("<td />").append($select.css("height", "46px")));
            // $row.append($("<td />").text((data != null && "balance_prev" in data) ? data["balance_prev"] : 0));
            $row.append($("<td />").append($("<input />", {"class": "md-input"}).prop("readonly", (data != null)).attr('name', 'daily_report[ingredients][' + rowCnt + '][balance_prev]').val((data != null && "balance_prev" in data) ? data["balance_prev"] : "")));
            $row.append($("<td />").append($("<input />", {"class": "md-input"}).prop("readonly", (data != null)).attr('name', 'daily_report[ingredients][' + rowCnt + '][income]').val((data != null && "income" in data) ? data["income"] : 0)));
            $row.append($("<td />").append($("<input />", {"class": "md-input"}).prop("readonly", (data != null)).attr('name', 'daily_report[ingredients][' + rowCnt + '][waste]').val((data != null && "waste" in data) ? data["waste"] : 0)));
            $row.append($("<td />").append($("<input />", {"class": "md-input"}).prop("readonly", (data != null)).attr('name', 'daily_report[ingredients][' + rowCnt + '][balance]').val(0)));
            $row.append($("<td />").append($("<input />", {"class": "md-input"}).prop("readonly", (data != null)).attr('name', 'daily_report[ingredients][' + rowCnt + '][request]').val((data != null && "request" in data) ? data["request"] : 0)));
            rowCnt++;
            return $row;
        }

        let userData = {{ userIngrData2 | raw }};


        var delInitial = [];
        for (var i in userData) {

            if (delInitial.indexOf(userData[i].ingredient) < 0 && userData[i].ingredient == 1) {
                delInitial.push(userData[i].ingredient);

                $(".ingr_" + userData[i].ingredient + ":last").after(addIngredient(userData[i]));
            }
        }
        delInitial.forEach(function (item) {
            $(".ingr_" + item + ":first").remove();
        });


        $(document).on("click", "#add-ingredient", function () {
            if ($(".ingr_1").length > 0) {
                $("#ingredient-data tbody tr.ingr_1:last").after(addIngredient());
            } else {
                $("#ingredient-data tbody").append(addIngredient());
            }
            return false;
        });

        $("#report_modal").on("click", function () {
            UIkit.modal("#modal_header_footer").show();
            return false;
        });
        $(".report").on('click', function (event) {
            event.preventDefault();
            var type = $(this).data('report');
            $.ajax({
                url: '{{ path('terminal_fiscal_report') }}',
                type: 'POST',
                data: {
                    type: type,
                },
                success: function (response) {

                }
            });
            return false;
        });

        $(document).on('focus', 'input', function () {
            if ($(this).hasClass("ignoreTouch")) return false;
            if ($(this).prop("readonly")) return;

            var inputbar = $(this);
            var offset = inputbar.offset();
            $("#touch_keyboard").show();
            $("#touch_keyboard").css({
                'top': offset.top + inputbar.height() + 50,
                'left': offset.left,
                'right': 'initial',
            });

            $("#touch_keyboard").data('target', inputbar);
        });

        $(document).on("change", "#daily_report_cardSum", function () {
            if ($(this).val() != '') {
                let moneyCard = parseFloat($(this).val());
                let moneyTotal = parseFloat($("#money-total").text().replace(/\s/, ""));
                $("#money-bank").text((moneyTotal - moneyCard).toFixed(2));
                $("#money-bank").parents('h3').show();
                $("#report_pizza").removeAttr('disabled').removeClass('disabled');
                $(".report-error").text("");
            } else {
                $("#money-bank").parents('h3').hide();
                $("#report_pizza").addClass('disabled').attr('disabled', 'disabled');
            }
        });

        $(document).ready(function () {
            if ($("#daily_report_cardSum").val() == '') {
                $(".report-error").text('Не заполнена сумма по терминалу');
                $("#report_pizza").addClass('disabled').attr('disabled', 'disabled');
            }
        });

        $('.trm-btn').on('click', function () {
            var target = $("#touch_keyboard").data('target');

            var digit = $(this).data('number');

            if (digit == 'ok') {
                $("#touch_keyboard").hide().data('target', null);
            } else if (digit == 'backspace') {
                target.val(function (index, text) {
                    if (text.slice(0, -1)) {
                        return 0
                    } else {
                        return text.slice(0, -1);
                    }
                });
            } else if (digit == 'dot') {
                target.val(function (index, text) {
                    return text + '.';
                });
            } else {
                if (target.val() == '0') target.val('');

                target.val(function (index, text) {
                    return text + digit;
                });
            }
            target.trigger('change');
        });

        $("#report_pizza").on("click", function () {
            $(this).addClass('disabled').attr('disabled', 'disabled');
            $("form").submit();
        });


    </script>

{% endblock %}
