{% extends "RestaurantBundle::layout.html.twig" %}

{% form_theme form '@Restaurant/Form/Fields.twig' %}

{% block custom_header_right_menu %}
    {#<li><a href="{{ path("fos_user_profile_edit") }}" class="user_action_icon uk-visible-large" style="font-size: 36px;">{{ app.user.shop.name }}</a></li>#}
    <li><a href="#" class="user_action_icon uk-visible-large toggle-fullscreen"
           style="font-size: 18px;margin-right: 5px;">{{ app.user.name }}</a>
    </li>
    {% if is_granted("ROLE_ADMIN") %}
        <li>
            <select id="change_shop" class="md-input">
                {% for sh in shops %}
                    <option value="{{ sh.id }}"
                            {% if app.user.shop.id == sh.id %}selected{% endif %}>{{ sh.name }}</option>
                {% endfor %}
            </select>
        </li>
    {% else %}
        <li><a href="#" class="user_action_icon uk-visible-large " style="font-size: 18px;">{{ app.user.shop.name }}</a>
        </li>
    {% endif %}
    {#    <li><a href="{{ path("fos_user_security_logout") }}" class="termianl_exit"><i class="material-icons">close</i></a></li>#}
    <li><a href="{{ path("login_tablet") }}" class="termianl_exit"><i class="material-icons">close</i></a></li>
{% endblock %}

{% block language_switcher %}{% endblock %}

{% block custom_header_left_buttons %}
    <div id="menu_top_dropdown" class="uk-float-left uk-hidden-small">
        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
            <a href="#" class="table_menu_toggle header_button">Зал</a>
        </div>
        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
            <a href="#" class="order_menu_toggle header_button">Счета</a>
        </div>
    </div>
{% endblock %}

{% block container %}
    <div id="page_content_inner">
        <div class="md-card workspace" id="order_list" style="display: none;">
            <div class="md-card-content">
                <ul class="uk-tab uk-tab-grid" data-uk-tab="{connect:'#orders_list'}">
                    <li class="uk-width-1-2"><a href="#">{{ 'Открытые' | trans }}</a></li>
                    <li class="uk-width-1-2"><a href="#">{{ 'Закрытые' | trans }}</a></li>
                </ul>
                {% include '@Terminal/Default/terminalOrders.twig' with {'orders' : orders, 'closed' : closed} %}
            </div>
        </div>
        <div id="table_control" class="workspace">
            <ul class="uk-tab uk-tab-grid" data-uk-tab="{connect:'#places_list'}">
                {% set split = shop.places | length %}
                {% for place in shop.places %}
                    <li class="uk-width-1-{{ split }}"><a href="#">{{ place.name }}</a></li>
                {% endfor %}
            </ul>
            <ul id="places_list" class="uk-switcher uk-margin">
                {% for place in shop.places %}
                    <li>
                        <svg id="place_{{ place.id }}" xmlns="http://www.w3.org/2000/svg"
                             data-id="{{ place.id }}"></svg>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="order_control" style="display: none;" class="workspace">
            <div class="uk-grid">
                <div class="uk-width-medium-3-10">
                    <div class="md-card" id="category_list">
                        <div class="md-card-content" style="padding: 0;">
                            {% include '@Terminal/Default/terminalDishes.html.twig' with {'shop' : shop, 'categories' : categories} %}
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-3-10">
                    <div class="md-card" id="dish_list">
                        <div class="md-card-content" style="padding: 0;">
                            <ul></ul>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-3-10" id="order_edit_area">
                    <div class="md-card" id="custom_order" style="display: none; margin-bottom: 15px;" data-status="0">
                        <div class="md-card-content">
                        </div>
                    </div>
                    {%- block new_order_form -%}
                        {%- spaceless -%}
                            {% include '@Terminal/Order/orderCreate.html.twig' with { 'form' : form, 'shop' : shop } %}
                        {%- endspaceless -%}
                    {% endblock %}
                </div>
            </div>
        </div>
        <img src="{{ asset('static/images/bg.png') }}" alt="" class="bg">
    </div>

    <div id="moneyBack">
        <div id="orderSum">
            Итого: <span>4.5</span>
        </div>
        <div id="cashSum">
            Наличные: <span></span>
        </div>
        <div id="moneyBackSum">
            Сдача: <span></span>
        </div>
        <button class="md-btn trm-btn close"><i class="material-icons">close</i></button>
        <div id="buttons">
            <button class="md-btn trm-btn" data-number="1">1</button>
            <button class="md-btn trm-btn" data-number="2">2</button>
            <button class="md-btn trm-btn" data-number="3">3</button>
            <button class="md-btn trm-btn" data-number="4">4</button>
            <button class="md-btn trm-btn" data-number="5">5</button>
            <button class="md-btn trm-btn" data-number="6">6</button>
            <button class="md-btn trm-btn" data-number="7">7</button>
            <button class="md-btn trm-btn" data-number="8">8</button>
            <button class="md-btn trm-btn" data-number="9">9</button>
            <button class="md-btn trm-btn" data-number="dot">.</button>
            <button class="md-btn trm-btn" data-number="0">0</button>
            <button class="md-btn trm-btn" data-number="backspace">←</button>
        </div>
    </div>
    <div id="termOverlay"></div>


    <div id="metaForm">
        <div class="meta-form">
            <div id="metaTime">
                <a href="#" class="time">Время:</a> <span></span>
            </div>
            <div id="metaPhone">
                <a href="#" class="phone">Телефон:</a> <span></span>
            </div>
            <div id="metaComment">
                <a href="#" class="comment">Комментарий:</a> <span></span>
            </div>
            <input type="hidden" name="time" id="meta-time">
            <input type="hidden" name="phone" id="meta-phone">
            <input type="hidden" name="comment" id="meta-comment">
        </div>
        <div class="order-meta-form">
            <div class="buttons">
                <button class="md-btn trm-btn" data-number="1">1</button>
                <button class="md-btn trm-btn" data-number="2">2</button>
                <button class="md-btn trm-btn" data-number="3">3</button>
                <button class="md-btn trm-btn" data-number="4">4</button>
                <button class="md-btn trm-btn" data-number="5">5</button>
                <button class="md-btn trm-btn" data-number="6">6</button>
                <button class="md-btn trm-btn" data-number="7">7</button>
                <button class="md-btn trm-btn" data-number="8">8</button>
                <button class="md-btn trm-btn" data-number="9">9</button>
                <button class="md-btn trm-btn" data-number=":">:</button>
                <button class="md-btn trm-btn" data-number="0">0</button>
                <button class="md-btn trm-btn" data-number="backspace">←</button>
            </div>
            <div class="buttons">
                <button class="md-btn trm-btn" style="flex: 0 33%;font-size: 14px!important;" data-number="Сейчас ">
                    Сейчас
                </button>
                <button class="md-btn trm-btn" style="flex: 0 33%;font-size: 14px!important;" data-number="Позже ">
                    Позже
                </button>
                <button class="md-btn trm-btn" style="flex: 0 33%;font-size: 14px!important;"
                        data-number="Без опозданий ">Без опозданий
                </button>

                <button class="md-btn trm-btn" style="flex: 0 33%;font-size: 14px!important;"
                        data-number="Без помид.смеси ">Без помид.смеси
                </button>
                <button class="md-btn trm-btn" style="flex: 0 33%;font-size: 14px!important;"
                        data-number="Без орегано ">Без орегано
                </button>
                <button class="md-btn trm-btn" style="flex: 0 33%;font-size: 14px!important;" data-number="Без яйца ">
                    Без яйца
                </button>

                <button class="md-btn trm-btn" style="flex: 0 33%;font-size: 14px!important;"
                        data-number="Без острого перца ">Без острого перца
                </button>
                <button class="md-btn trm-btn" style="flex: 0 33%;font-size: 14px!important;" data-number="Острая ">
                    Острая
                </button>
                <button class="md-btn trm-btn" style="flex: 0 33%;font-size: 14px!important;" data-number=" "></button>

                <button class="md-btn trm-btn" style="flex: 0 33%;font-size: 14px!important;"
                        data-number="Не зажаривать ">Не зажаривать
                </button>
                <button class="md-btn trm-btn" style="flex: 0 33%;font-size: 14px!important;" data-number="Зажаривать ">
                    Зажарить
                </button>
                <button class="md-btn trm-btn" style="flex: 0 33%;font-size: 14px!important;" data-number="Доставка ">
                    Доставка
                </button>

                <button class="md-btn trm-btn" style="flex: 0 33%;font-size: 14px!important;" data-number="Горячий ">
                    Горячий
                </button>
                <button class="md-btn trm-btn" style="flex: 0 33%;font-size: 14px!important;" data-number="Теплый ">
                    Теплый
                </button>
                <button class="md-btn trm-btn" style="flex: 0 33%;font-size: 14px!important;"
                        data-number="С панкейками ">С панкейками
                </button>


            </div>

        </div>
        <button class="md-btn trm-btn close"><i class="material-icons">close</i></button>

    </div>

    <div id="requestEditForm">
        <div class="buttons">
            <button class="md-btn trm-btn" data-value="клиент">клиент</button>
            <button class="md-btn trm-btn" data-value="официант">официант</button>
            <button class="md-btn trm-btn" data-value="администратор">администратор</button>

            <button class="md-btn trm-btn cancel" style="background: #ffa000">отмена</button>
        </div>
    </div>


    <div id="moneyForm">
        <div id="buttons">
            <button class="md-btn trm-btn" data-number="1">1</button>
            <button class="md-btn trm-btn" data-number="2">2</button>
            <button class="md-btn trm-btn" data-number="3">3</button>
            <button class="md-btn trm-btn" data-number="4">4</button>
            <button class="md-btn trm-btn" data-number="5">5</button>
            <button class="md-btn trm-btn" data-number="6">6</button>
            <button class="md-btn trm-btn" data-number="7">7</button>
            <button class="md-btn trm-btn" data-number="8">8</button>
            <button class="md-btn trm-btn" data-number="9">9</button>
            <button class="md-btn trm-btn" data-number="clear">C</button>
            <button class="md-btn trm-btn" data-number="0">0</button>
            <button class="md-btn trm-btn" data-number="backspace">←</button>
        </div>
        <form id="orderInfo">
            <div id="orderPlace">
                Стол: <span></span>
            </div>
            <div id="orderName">
                Официант: <span></span>
            </div>
            <div id="orderSum">
                Итого: <span></span>
            </div>
            <div id="cashSum">
                <a href="#" class="cash">Наличные:</a> <span>0.00</span>
                <input type="hidden" name="close[clientMoneyCash]" value="0">
            </div>
            <div id="cardSum">
                <a href="#" class="card">Терминал:</a> <span>0.00</span>
                <input type="hidden" name="close[clientMoneyCard]" value="0">
            </div>
            <div id="client">
                <a href="#" class="client">Клиент:</a>
                <select name="close[client]">
                    <option value="">Организация</option>
                    {% for __client in clients %}
                        <option value="{{ __client.id }}">{{ __client.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="oplati">
                <a href="#" class="oplati">Оплати:</a>
                <div class="oplati-type">
                    <button id="oplati_pin">PIN</button>
                    <button id="oplati_qr">QR</button>
                </div>
                <div id="oplati_pin_res"></div>
                <div id="oplati_qr_res">

                </div>
            </div>
            <button class="md-btn md-btn-danger md-btn-block" id="closeOrder">{{ 'Закрыть счет' | trans }}</button>
        </form>
        <button class="md-btn trm-btn close"><i class="material-icons">close</i></button>
    </div>


    <div id="confirmForm">
        <h1>{{ 'Принять заказ' | trans }}</h1>
        <div style="display: flex">
            <div id="confirmOrderInfo">
                <div id="confirmUser"></div>
                <div id="confrimType"></div>
                <div id="confirmOrderId">
                    Номер: <span></span>
                </div>
                <div id="confirmOrderCreatedAt">
                    Создан: <span></span>
                </div>
                <div id="confirmOrderPhone">
                    Телефон: <span></span>
                </div>
                <div id="confirmOrderAddress">
                    Адрес: <span></span>
                </div>
                <div id="confirmOrderTime">
                    Время к которому доставить: <span></span>
                </div>
                <div id="confirmOrderComment">
                    Комментарий: <br>
                    <span></span>
                </div>
                <div id="confirmOrderCashtype">
                    Оплата: <span></span>
                </div>
                <hr>
                <div id="confirmOrderDishes">
                    Блюда:
                    <ul id="confirmOrderDishes"></ul>
                </div>
            </div>
            <div id="confirmActions">
                <select name="courierTime" id="confirmCourierTime" class="form-control "
                        style="width: 426px;margin-bottom: 15px; height: 50px;">
                    <option value="0">Курьер сразу</option>
                    <option value="-1">Ко времени заказа -15 минут</option>
                    <option value="10">Через 10</option>
                    <option value="20">Через 20</option>
                    <option value="30">Через 30</option>
                    <option value="40">Через 40</option>
                    <option value="50">Через 50</option>
                    <option value="60">Через 60</option>
                </select>
                <button id="confirmActionConfirm" class="md-btn md-btn-success md-btn-block" style="height: 80px;">
                    Принять
                </button>


                <hr>
                <div id="redirect">
                    <h2>Перенаправить</h2>
                    <select name="" id="confirmRedirectTo" class="form-control "
                            style="width: 426px;margin-bottom: 15px;height: 50px;">
                        {% for __shop in shops %}
                            <option value="{{ __shop.id }}">{{ __shop.name }}</option>
                        {% endfor %}
                    </select>
                    <button id="confirmActionRedirect" class="md-btn md-btn-warning md-btn-block" style="height: 80px;">
                        Передать
                    </button>
                    <br><br><br>
                    <button id="confirmActionReject" class="md-btn md-btn-danger md-btn-block" style="height: 80px;">
                        Отказаться
                    </button>

                </div>
            </div>
        </div>

        <button class="md-btn trm-btn close"><i class="material-icons">close</i></button>
    </div>

{% endblock %}

    {% block page_specific_styles %}
        <link rel="stylesheet" href="{{ asset('assets/css/terminal.css') }}?{{ 'now'|date('U') }}">
    {% endblock %}

    {% block page_specific_plugins %}
        {% if globalshop.queue %}
            <script src="{{ asset('assets/js/terminal.js') }}?{{ 'now'|date('U') }}"></script>
        {% else %}
            <script src="{{ asset('assets/js/terminal_old.js') }}?{{ 'now'|date('U') }}"></script>
        {% endif %}

        <script src="{{ asset('assets/js/html2canvas.js') }}"></script>
        {#        <script src="{{ asset('assets/js/t.js') }}?{{ "now" | date("u") }}"></script>#}

        <style>
            div.clickEffect {
                position: fixed;
                box-sizing: border-box;
                border-style: solid;
                border-color: #000;
                border-radius: 50%;
                animation: clickEffect 0.4s ease-out;
                z-index: 99999;
            }

            @keyframes clickEffect {
                0% {
                    opacity: 1;
                    width: 0.5em;
                    height: 0.5em;
                    margin: -0.25em;
                    border-width: 0.5em;
                }
                100% {
                    opacity: 0.2;
                    width: 15em;
                    height: 15em;
                    margin: -7.5em;
                    border-width: 0.03em;
                }
            }
        </style>
        <script src="{{ asset('assets/js/play.js') }}"></script>
        <script src="{{ asset('assets/js/tables.js') }}?{{ 'now'|date('U') }}"></script>

        {% if isTablet == false %}
            <link rel="stylesheet" href="{{ asset('assets/css/jquery.mCustomScrollbar.min.css') }}">
            <script src="{{ asset('assets/js/jquery.mCustomScrollbar.min.js') }}"></script>
            <script>
                $(document).ready(function () {
                    $("#dish_list").mCustomScrollbar({
                        scrollInertia: 0,
                        alwaysShowScrollbar: 2,
                        contentTouchScroll: true,
                    });
                });
            </script>
        {% else %}
            <script>
                $("#dish_list").css("overflow-y", "scroll");
            </script>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <script>
                $("#change_shop").on("change", function () {
                    var shop = $(this).val();
                    $.ajax({
                        url: '{{ path('change_user_shop_ajax') }}',
                        type: 'POST',
                        data: {
                            shop: shop
                        },
                        success: function (response) {
                            if (response.status) {
                                location.reload();
                            }
                        }
                    });

                    return false;
                });
            </script>
        {% endif %}


        <script>
            var confirmOpened = false;
            window.shopId = {{ shop.id }};

            window.nforn = JSON.parse('{{ nForNPromos | raw }}');


            $(document).on("click", "#confirmActionConfirm", function () {
                $.ajax({
                    url: "/terminal/order/" + confirmOpened + "/confirm",
                    type: "POST",
                    data: {
                        time: $("#confirmCourierTime").val(),
                    },
                    success: function (response) {

                    }
                });
                confirmOpened = false;
                $("#confirmForm, #termOverlay").hide();
                return false;
            });

            $(document).on("click", "#confirmActionRedirect", function () {
                $.ajax({
                    url: "/terminal/order/" + confirmOpened + "/redirect",
                    type: "POST",
                    data: {
                        target: $("#confirmRedirectTo").val(),
                    },
                    success: function (response) {

                    }
                });
                confirmOpened = false;
                $("#confirmForm, #termOverlay").hide();
                return false;
            });

            $(document).on("click", "#confirmActionReject", function () {
                $.ajax({
                    url: "/terminal/order/" + confirmOpened + "/reject",
                    type: "POST",
                    data: {},
                    success: function (response) {

                    }
                });
                confirmOpened = false;
                $("#confirmForm, #termOverlay").hide();
                return false;
            });

            function confirmOrder(orderId) {
                if (confirmOpened === false) {
                    confirmOpened = orderId;
                    getOrderJson(orderId).then(function (order) {
                        $("#termOverlay, #confirmForm").show();

                        $("#confirmUser span").text(order.user);
                        $("#confirmOrderId span").text(order.id);
                        $("#confirmOrderCreatedAt span").text(order.createdAt);
                        $("#confirmOrderPhone span").text(order.meta.phone);
                        $("#confirmOrderComment span").text(order.meta.comment);
                        $("#confirmOrderCashtype span").text(order.cashtype == {{ constant('OrderBundle\\Entity\\Order::CASHTYPE_ONLINE') }} ? 'Онлайн' : 'Наличными');

                        $("#confirmUser").text(order.meta.type == 0 ? "НАВЫНОС" : "ДОСТАВКА").css({color: "red"});

                        if (order.meta.type == 0) {
                            $("#confirmCourierTime, #redirect").hide();
                            $("#confirmType").text("НАВЫНОС");
                            $("#confirmOrderTime").text("Время к которому готовить: " + order.meta.time);

                        } else if (order.meta.type == 1) {
                            $("#confirmCourierTime, #redirect").show();
                            $("#confirmType").text("ДОСТАВКА");
                            $("#confirmOrderTime").text("Время к которому доставить: " + order.meta.time);
                        } else {
                            $("#confirmCourierTime, #redirect").show();
                            $("#confirmType").text("");
                        }

                        $("#confirmOrderDishes").empty();
                        order.dishes.forEach(function (__dish) {
                            $dish = $("<li />").text(
                                __dish.name + " " + __dish.quantity
                            );
                            $("#confirmOrderDishes").append($dish);
                        });
                    });
                }
            }

            function getOrderJson(order) {

                return new Promise((resolve, reject) => {
                    $.ajax({
                        url: "/terminal/order/" + order,
                        type: "GET",
                        success: (response) => {
                            resolve(response);
                        }
                    });
                });
            }

            function getOrder() {
                var currentOrder;
                if ($("#custom_order").data("status") == 0) {
                    currentOrder = order;
                } else {
                    currentOrder = orderEdit;
                }

                return currentOrder;
            }

            $("#confirmForm .close").on('click', function () {
                $("#confirmForm, #termOverlay").hide();
                confirmOpened = false;
                return false;
            });


            var metaTarget = false;

            $(document).on("click", "#edit_meta", function () {
                $("#termOverlay, #metaForm").show();

                var currentOrder = getOrder();
                $("#metaForm #metaTime span").text(currentOrder.meta.time);
                $("#metaForm #metaPhone span").text(currentOrder.meta.phone);
                $("#metaForm #metaComment span").text(currentOrder.meta.comment);

                $("#metaForm #meta-time").val(currentOrder.meta.time);
                $("#metaForm #meta-phone").val(currentOrder.meta.phone);
                $("#metaForm #meta-comment").val(currentOrder.meta.comment);

            });
            $(document).on("click", '#metaForm #metaTime span', function () {

                $("#metaForm  span").css({'border-color': '#000'});
                $("#metaForm #metaTime span").css({'border-color': '#f00'});
                metaTarget = 'time';
            });
            $(document).on("click", '#metaForm #metaPhone span', function () {

                $("#metaForm  span").css({'border-color': '#000'});
                $("#metaForm #metaPhone span").css({'border-color': '#f00'});
                metaTarget = 'phone';
            });

            $(document).on("click", '#metaForm #metaComment span', function () {

                $("#metaForm  span").css({'border-color': '#000'});
                $("#metaForm #metaComment span").css({'border-color': '#f00'});
                metaTarget = 'comment';
            });

            $(document).on('click', "#metaForm .buttons .trm-btn", function () {
                var $targetBlock, $targetInput;

                if (metaTarget == 'time') {
                    $targetBlock = $("#metaTime span");
                    $targetInput = $("#meta-time");
                } else if (metaTarget == 'phone') {
                    $targetBlock = $("#metaPhone span");
                    $targetInput = $("#meta-phone");
                } else if (metaTarget == 'comment') {
                    $targetBlock = $("#metaComment span");
                    $targetInput = $("#meta-comment");
                }


                var digit = $(this).data('number');
                if (digit == 'ok') {
                    $("#moneyBack").hide();
                    $("#moneyBack span").text('0');
                } else if (digit == 'backspace') {
                    $targetBlock.text(function (index, text) {
                        if (text.slice(0, -1)) {
                            return "";
                        } else {
                            return text.slice(0, -1);
                        }
                    });
                } else if (digit == 'dot') {
                    $targetBlock.text(function (index, text) {
                        return text + '.';
                    });

                } else {
                    // if (target.text() == '0') target.text('');

                    $targetBlock.text(function (index, text) {
                        return text + digit;
                    });

                }

                $targetInput.val($targetBlock.text());
                var currentOrder = getOrder();

                currentOrder.meta[metaTarget] = $targetBlock.text();

            });

            window.callbackcnt = 0;

            function openFullscreen() {
                var elem = document.documentElement;
                if (elem.requestFullscreen) {
                    elem.requestFullscreen();
                } else if (elem.mozRequestFullScreen) { /* Firefox */
                    elem.mozRequestFullScreen();
                } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
                    elem.webkitRequestFullscreen();
                } else if (elem.msRequestFullscreen) { /* IE/Edge */
                    elem.msRequestFullscreen();
                }
            }

            /* Close fullscreen */
            function closeFullscreen() {
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                } else if (document.mozCancelFullScreen) { /* Firefox */
                    document.mozCancelFullScreen();
                } else if (document.webkitExitFullscreen) { /* Chrome, Safari and Opera */
                    document.webkitExitFullscreen();
                } else if (document.msExitFullscreen) { /* IE/Edge */
                    document.msExitFullscreen();
                }
            }

            $(".toggle-fullscreen").on("click", function () {
                if ((window.fullScreen) || (window.innerWidth == screen.width && window.innerHeight == screen.height)) {
                    closeFullscreen();
                } else {
                    openFullscreen();
                }
            });

            $("#menu_top_dropdown a").on("dragstart", function (e) {
                e.preventDefault();
                return false;
            });
            $(document).keydown(function (e) {
                return;
                if (e.keyCode == 73) {
                    loadPromoCard('78925380');
                }
            });

            function loadPromoCard(code) {
                $.ajax({
                    url: "{{ path("terminal_promo_card_load") }}",
                    data: {
                        code
                    },
                    type: "POST",
                    success: function (response) {
                        orderEdit.setPromo(new Promo({
                            id: response.cardId,
                            title: response.name,
                            discount: response.discount,
                        }));
                    }
                })
            }

            function loadOrder(code) {

            }


            var pressed = false;
            var chars = [];

            $(window).keypress(function (e) {
                var keycode = (e.which) ? e.which : e.keyCode;
                if ((keycode >= 65 && keycode <= 90) ||
                    (keycode >= 97 && keycode <= 122) ||
                    (keycode >= 48 && keycode <= 57)
                ) {
                    chars.push(String.fromCharCode(e.which));
                }
                // console.log(e.which + ":" + chars.join("|"));
                if (pressed == false) {
                    setTimeout(function () {
                        if (chars.length >= 8) {
                            var barcode = chars.join('');
                            if (barcode.length === 8) {
                                loadPromoCard(barcode);
                            } else {
                                loadOrder(barcode);
                            }
                        }
                        chars = [];
                        pressed = false;
                    }, 100);
                }
                pressed = true;
            });

            $(document).on("click", "#oplati_qr", function () {
                var url = $(this).parents("form").data("url");
                var orderId = /(\d+)/.exec(url)[0];
                $.ajax({
                    url: "//" + location.host + ":3003/qr?id=" + orderId + "&shop={{ app.user.shop.id }}",
                    type: "GET",
                    success: function (response) {
                        $("#oplati_qr_res, #oplati_pin_res").empty().hide();
                        $("#oplati_qr_res").append(
                            $("<img />").attr("src", response)
                        ).show();
                    }
                });

                var checker = setInterval(() => {
                    $.ajax({
                        url: "//" + location.host + ":3003/status?id=" + orderId,
                        type: "GET",
                        success: function (response) {
                            if (response.status == 4) {
                                clearInterval(checker);
                                $(".workspace, #termOverlay, #moneyForm").hide();
                                $("#order_list").show();
                            }
                        }
                    });
                }, 5000);

                setTimeout(() => {
                    clearInterval(checker);
                }, 100000);

                return false;
            });

            $(document).on("click", "#oplati_pin", function () {
                var url = $(this).parents("form").data("url");
                var orderId = /(\d+)/.exec(url)[0];
                $.ajax({
                    url: "//" + location.host + ":3003/pin?id=" + orderId + "&shop={{ app.user.shop.id }}",
                    type: "GET",
                    success: function (response) {
                        $("#oplati_qr_res, #oplati_pin_res").empty().hide();
                        $("#oplati_pin_res").append(
                            $("<div />").text(response)
                        ).show();
                    }
                });

                var checker = setInterval(() => {
                    $.ajax({
                        url: "//" + location.host + ":3003/status?id=" + orderId,
                        type: "GET",
                        success: function (response) {
                            if (response.status == 4) {
                                clearInterval(checker);
                                $(".workspace, #termOverlay, #moneyForm").hide();
                                $("#order_list").show();
                            }
                        }
                    });
                }, 5000);

                setTimeout(() => {
                    clearInterval(checker);
                }, 100000);

                return false;
            });

            function calcMoneyBack(orderSum) {
                $("#moneyBack").show();
                $("#orderSum span").text(number_format(orderSum, 2, '.'));
                $("#moneyBack #cashSum span, #moneyBackSum span").text('0');
            }

            $("#metaForm .close").on('click', function () {
                $(" #metaForm, #termOverlay").hide();
                return false;
            });

            $("#moneyForm .close").on('click', function () {
                $(" #moneyForm, #termOverlay").hide();
                return false;
            });
            $("#moneyBack .close").on('click', function () {
                $("#moneyBack").hide();
                return false;
            });

            $(document).on('click', "#moneyBack #buttons .trm-btn", function () {
                var orderSum = parseFloat($("#moneyBack  #orderSum span").text());

                var target = $("#moneyBack #cashSum span");

                var digit = $(this).data('number');
                if (digit == 'ok') {
                    $("#moneyBack").hide();
                    $("#moneyBack span").text('0');
                } else if (digit == 'backspace') {
                    target.text(function (index, text) {
                        if (text.slice(0, -1)) {
                            return 0
                        } else {
                            return text.slice(0, -1);
                        }
                    });
                } else if (digit == 'dot') {
                    target.text(function (index, text) {
                        return text + '.';
                    });
                } else {
                    if (target.text() == '0') target.text('');

                    target.text(function (index, text) {
                        return text + digit;
                    });
                }

                var cashSum = parseFloat($("#moneyBack  #cashSum span").text());

                var moneyBackSum = cashSum - orderSum;

                $("#moneyBack #moneyBackSum span").text(number_format(moneyBackSum, 2, '.'));

            });

            function getNextRefreshTimeout() {
                var now = new Date();
                var nextRefresh = new Date();
                nextRefresh.setSeconds(0);

                var minutes = now.getMinutes();
                if (minutes >= 30) {
                    nextRefresh.setHours(now.getHours() + 1);
                    nextRefresh.setMinutes(0);

                } else {
                    nextRefresh.setHours(now.getHours());
                    nextRefresh.setMinutes(30);
                }

                return (nextRefresh - (new Date()));
            }

            var refreshDishes = function () {
                clearInterval(dishRefresh);

                $.ajax({
                    url: "{{ path('terminal_load_dishes') }}",
                    type: "POST",
                    success: function (response) {
                        resetDishListContainers();
                        $("#dishes").replaceWith(response);
                    }
                });

                dishRefresh = setInterval(refreshDishes, getNextRefreshTimeout());
            };

            var dishRefresh = setInterval(refreshDishes, getNextRefreshTimeout());


            $(".table_menu_toggle").on("click", function (event) {
                event.stopPropagation();
                $(".workspace").hide();
                $("#table_control").show();
                $("#new_order").show();
                return false;
            });

            $(document).on('click', '#repair_order', function () {
                var form = $(this).parents('form');
                var url = form.attr("action").replace("edit", "return");
                $.ajax({
                    type: "POST",
                    url: url,
                    success: function (response) {
                        if (response.status) {
                            if (response.command !== undefined) {
                                eval(response.command);
                            }
                        }
                    }
                });
                return false;
            });

            $(document).on('change', '#client select', function () {
                $("#closeOrder").removeClass('disabled');
            });

            $(document).on('click', '#order_delete', function () {
                var form = $(this).parents('form');
                var url = form.attr("action").replace("edit", "delete");
                $.ajax({
                    type: "POST",
                    url: url,
                    success: function (response) {
                        if (response.status) {
                            if (response.command !== undefined) {
                                eval(response.command);
                            }
                        }
                    }
                });
                return false;
            });

            $(document).on("click", '.order_menu_toggle', function () {
                $(".workspace").hide();
                $("#order_list").toggle();
                return false;
            });

            $(document).on("click", '#show_dishes', function () {
                $(".dish").toggle();
                return false;
            });

            function showCashForm(url) {
                $("#moneyForm, #termOverlay").show();
                $("#moneyForm #orderSum span").text(orderEdit.sum.toFixed(2));

                $("#moneyForm #cashSum span").text((orderEdit.clientMoneyCash).toFixed(2));
                $("#moneyForm #cardSum span").text((orderEdit.clientMoneyCard).toFixed(2));


                $("#closeOrder")
                    .addClass('disabled')
                    .data("url", url);


                $("#oplati_qr_res, #oplati_pin_res").empty().hide();

                $("#orderInfo").data("url", url).trigger("reset");

                //$("#moneyForm #orderNumber span").text(orderEdit.sum.toFixed(2))
                $("#moneyForm #orderPlace").html($("#order_place").html());
                $("#moneyForm #orderName").html($("#order_user").html())
            }

            var moneyFormTmp = 0;
            $(document).on('click', "#moneyForm #buttons .trm-btn", function () {
                var digit = $(this).data('number');

                if (digit == 'backspace') {
                    moneyFormTmp = parseInt(moneyFormTmp / 10);

                } else if (digit == 'clear') {
                    moneyFormTmp = 0;
                } else {
                    var newVal = moneyFormTmp * 10 + digit;
                    if ((newVal / 100) <= orderEdit.sum) {
                        moneyFormTmp = newVal;
                    }
                }

                if (orderEdit.selectedMoneyType == 0) {
                    orderEdit.clientMoneyCash = parseFloat(moneyFormTmp / 100);
                    orderEdit.clientMoneyCard = (orderEdit.sum - orderEdit.clientMoneyCash);

                    $("#moneyForm #cashSum span").text((orderEdit.clientMoneyCash).toFixed(2));
                    $("#moneyForm #cardSum span").text((orderEdit.sum - orderEdit.clientMoneyCash).toFixed(2));
                } else {
                    orderEdit.clientMoneyCard = parseFloat(moneyFormTmp / 100);
                    orderEdit.clientMoneyCash = (orderEdit.sum - orderEdit.clientMoneyCard);

                    $("#moneyForm #cashSum span").text((orderEdit.sum - orderEdit.clientMoneyCard).toFixed(2));
                    $("#moneyForm #cardSum span").text(orderEdit.clientMoneyCard.toFixed(2));
                }

                $("#moneyForm #cashSum input").val((orderEdit.sum - orderEdit.clientMoneyCard).toFixed(2));
                $("#moneyForm #cardSum input").val(orderEdit.clientMoneyCard.toFixed(2));

                // orderEdit.renderOrder();

                $("#closeOrder").removeClass('disabled');

            });


            $(document).on("click", '#moneyForm #cashSum span', function () {
                $("#moneyForm #cashSum span").css({'border-color': '#f00'});
                $("#moneyForm #cardSum span").css({'border-color': '#000'});
                orderEdit.selectedMoneyType = 0;
                moneyFormTmp = 0;
            });


            $(document).on("click", '#moneyForm #cardSum span', function () {
                $("#moneyForm #cashSum span").css({'border-color': '#000'});
                $("#moneyForm #cardSum span").css({'border-color': '#f00'});
                orderEdit.selectedMoneyType = 1;
                moneyFormTmp = 0;
                // orderEdit.renderOrder();

            });

            $(document).on("submit", "#orderInfo", function (e) {
                e.stopPropagation();
                return false;
            });


            $(document).on("click", '#moneyForm #cashSum a', function () {
                $("#moneyForm #cashSum span").text(orderEdit.sum.toFixed(2));
                $("#moneyForm #cardSum span").text((0).toFixed(2));
                orderEdit.clientMoneyCash = orderEdit.sum;
                orderEdit.clientMoneyCard = (orderEdit.sum - orderEdit.clientMoneyCash);
                moneyFormTmp = 0;

                $("#moneyForm #cashSum input").val((orderEdit.sum - orderEdit.clientMoneyCard).toFixed(2));
                $("#moneyForm #cardSum input").val(orderEdit.clientMoneyCard.toFixed(2));

                // orderEdit.renderOrder();

                $("#closeOrder").removeClass('disabled');

                return false;
            });

            $(document).on("click", '#moneyForm #cardSum a', function () {
                $("#moneyForm #cashSum span").text((0).toFixed(2));
                $("#moneyForm #cardSum span").text(orderEdit.sum.toFixed(2));
                orderEdit.clientMoneyCard = orderEdit.sum;
                orderEdit.clientMoneyCash = (orderEdit.sum - orderEdit.clientMoneyCard);
                moneyFormTmp = 0;

                $("#moneyForm #cashSum input").val((orderEdit.sum - orderEdit.clientMoneyCard).toFixed(2));
                $("#moneyForm #cardSum input").val(orderEdit.clientMoneyCard.toFixed(2));

                // orderEdit.renderOrder();

                $("#closeOrder").removeClass('disabled');

                return false;
            });

            $(document).on("click", '#closeOrder', function () {
                var url = $(this).data("url");
                var $form = $("#orderInfo").serialize();

                $.ajax({
                    url: url,
                    data: $form,
                    type: 'POST',
                    success: function (response) {
                        if (response.status) {
                            eval(response.command);
                        }
                    }
                });
                closeOrder();
                $(".workspace, #termOverlay, #moneyForm").hide();
                $("#order_list").show();
                return false;
            });

            $(document).on("click", "#requestEditForm .cancel", function () {
                $("#requestEditForm").hide();
            });

            $(document).on("click", "#requestEditForm .trm-btn", function () {
                var rowId = /order\/(\d+)\/edit/.exec($("#order_form").attr('action'))[1];
                $("#order_" + rowId).remove();

                $("#requestEditForm").hide();

                $(".workspace").hide();
                $("#table_control").show();
                var url = $("#order_form").attr('action').replace('edit', 'double-close');
                var data = $(this).data();

                if (data.value) {

                    $.ajax({
                        url: url,
                        type: "POST",
                        json: true,
                        data: {
                            comment: data.value,
                        },
                        success: function (response) {

                            if (response.status) {
                                eval(response.command);
                            }
                        }
                    });
                    closeOrder();
                }
                return false;
            });

            $(document).on("click", '#double_close_order', function () {

                $("#requestEditForm").show();

                /*



                 */

                return false;
            });

            $(document).on("click", '#order_close', function () {
                //$(this).prop("disabled", true);
                var url = $(this).parents('form').attr('action').replace('edit', 'close');
                var form = $(this).parents('form');
                var cashtype = 0;
                var data = {};
                var formObj = form.serializeArray();
                var isCashType = false;

                showCashForm(url);
                return false;

                // for (var obj in formObj) {
                //     var field = formObj[obj];
                //     if (field.name == 'order[cashType]') {
                //         data.cashtype = field.value;
                //         if (data.cashtype == 0) {
                //
                //             return false;
                //         }
                //         if (data.cashtype == 2) {
                //             data.client = $("#order_client").val();
                //             $.ajax({
                //                 url: url,
                //                 data: data,
                //                 type: 'POST',
                //                 success: function (response) {
                //                     if (response.status) {
                //                         eval(response.command);
                //
                //                     }
                //                 }
                //             });
                //             closeOrder();
                //             $(".workspace").hide();
                //             $("#order_list").show();
                //             return false;
                //         }
                //         isCashType = true;
                //     }
                // }
                // if (!isCashType) {
                //     showCashForm();
                //     return false;
                // }
            });


            {% if is_granted('ROLE_ADMINISTRATOR') %}
            $(document).ready(function () {
                $(".workspace").hide();
                $("#order_list").show();
            });
            {% endif %}


            var promos = [
                {% for promo in promos %}
                new Promo({
                    id: {{ promo.id }},
                    title: '{{ promo.cardId }}',
                    discount: '{{ promo.cardDiscount }}',
                    icon: '{{ promo.client.firstName }}',
                }),
                {% endfor %}
            ];


            $(document).on("click", "#order_place", function () {
                var currentPlace;

                var $placeSelect = $("<select />", {
                    'class': 'md-input',
                }).attr("id", "place_select");
                places.forEach(function (place) {
                    var $option = $("<option />").attr("value", place.id).text(place.name);
                    if (orderEdit.placeId == place.id) {
                        $option.attr('selected', 'selected');
                        currentPlace = place.id;
                    }
                    $placeSelect.append($option);
                });

                var $tableSelect = $("<select />", {
                    'class': 'md-input',
                }).attr("id", "table_select");

                function reloadTableOptions(placeId, $tableSelect) {
                    $tableSelect.empty();
                    for (var tableId in tables) {
                        var table = tables[tableId];

                        if (table.place.id == placeId) {
                            var $option = $("<option />").attr("value", table.id).text(table.name);
                            if (orderEdit.tableId == table.id) $option.attr('selected', 'selected');
                            $tableSelect.append($option);
                        }
                    }

                    return $tableSelect;
                }

                $placeSelect.on('change', function () {
                    reloadTableOptions($(this).val(), $tableSelect);
                    $("#place_name").val($placeSelect.val());
                    $("#table_name").val($tableSelect.val());
                });

                $tableSelect.on('change', function () {
                    $("#place_name").val($placeSelect.val());
                    $("#table_name").val($tableSelect.val());
                });

                reloadTableOptions($placeSelect.val(), $tableSelect);

                $("#place_edit").toggle().empty().append($placeSelect).append($tableSelect);
            });

            $(document).on("click", "#order_user", function () {
                var currentUser;

                var $userSelect = $("<select />", {
                    'class': 'md-input',
                }).attr("id", "user_select");
                for (var userId in users) {
                    var $option = $("<option />").attr("value", userId).text(users[userId]);
                    if (orderEdit.userId == userId) {
                        $option.attr('selected', 'selected');
                        currentUser = place.id;
                    }
                    $userSelect.append($option);
                }

                $userSelect.on('change', function () {
                    $("#user_name").val($userSelect.val());
                });

                $("#place_edit").toggle().empty().append($userSelect);
            });


            var places_tpl = {{ places | json_encode | raw }};
            var places = [];
            var tables = {};
            var users = {{ users | json_encode | raw }};
            var current_table_id;

            for (var place_id in places_tpl) {
                var place_tpl = places_tpl[place_id];
                var place = new Place();
                place.id = place_id;
                place.name = place_tpl.name;
                place.container = document.getElementById("place_" + place.id);

                for (var table_id in place_tpl.tables) {
                    var table_tpl = place_tpl.tables[table_id];

                    var table = new Table();
                    table.id = table_tpl.id;
                    table.name = table_tpl.name;
                    table.coords = table_tpl.coordinates;
                    table.place = place;
                    table.isToGo = table_tpl.isToGo;
                    place.addTable(table);

                    if (table_tpl.status === 0) {
                        table.status = table_tpl.status;
                        table.waiter = table_tpl.waiter;
                        table.orderId = table_tpl.orderId;
                        table.orderIdLocal = table_tpl.orderIdLocal;
                    }

                    tables[table.id] = table;

                    table.drawTable();
                }

                places.push(place);
            }
        </script>



        <script>
            var order = new Order();
            order.container = $("#new_order_dishes");
            order.waiter = '{{ app.user.name }}';

            $(document).on("click", ".collapse_all", function () {
                $("li ul").hide();
            });

            $(document).on('ifChanged', '#order_cashType_1', function () {
                if ($(this).prop("checked")) {
                    $("#client-row").show();
                } else {
                    $("#client-row").hide();
                }
            });

            $(document).on("click", ".add_to_order", function (event) {
                var currentOrder = getOrder();

                currentOrder.userId = '{{ app.user.id }}';
                currentOrder.createDishObject($(this).data(), true);
                currentOrder.renderOrder();

                event.stopPropagation();
            });

            $(document).on("click", ".dish_cat_parent", function (event) {
                //$(".selected").removeClass("selected");
                //$(".dish_cat_parent ul").hide();
                if ($(this).children("div").hasClass("selected")) {
                    $(this).children("div").removeClass("selected");
                    $(".dish_cat_parent ul").hide();
                } else {
                    $(".selected").removeClass("selected");
                    $(".dish_cat_parent ul").hide();
                    $(this).children("div").addClass('selected');
                    $(this).children("ul").show();
                }
            });


            var dishGroupedArray = {};
            var dishCatArray = [];

            function resetDishListContainers() {
                $("#dish_list ul").empty();
                dishCatArray = [];
                dishGroupedArray = {};
                dishUnGroupedArray = [];
                $("#dishes li").removeClass("selected");
            }


            $(document).on("click", ".dish_cat", function (event) {
                event.stopPropagation();
                resetDishListContainers();
                $(this).addClass("selected");
                var dishes = $(this).find("ul li").clone();
                dishCatArray = [];
                dishes.each(function (index) {
                    var groupName;
                    if ($(this).data("name").indexOf(" ") != -1) {
                        groupName = $(this).data("name").substr(0, $(this).data("name").indexOf(" "));
                    } else {
                        groupName = $(this).data("name");
                    }

                    var dish = {
                        name: $(this).data("name"),
                        sort: $(this).data("sort"),
                        groupByName: $(this).data("groupByName") === 1,
                        groupByNameSort: $(this).data("groupByNameSort") === 1,
                        groupName: groupName,
                        price: $(this).data("price"),
                        container: $(this),
                    };
                    dishCatArray.push(dish);
                });

                dishCatArray.forEach(function (dish, index) {
                    if (dish.groupByName) {
                        if (!dishGroupedArray.hasOwnProperty(dish.groupName)) {
                            dishGroupedArray[dish.groupName] = {
                                dishes: []
                            }
                        }
                        dishGroupedArray[dish.groupName].dishes.push(dish);
                    } else {
                        dishUnGroupedArray.push(dish);
                    }
                });

                function sortAsc(a, b) {
                    var aPrice = a.price;
                    var bPrice = b.price;
                    var aName = a.name;
                    var bName = b.name;

                    if (aPrice == bPrice) {
                        return (aName < bName) ? -1 : (aName > bName) ? 1 : 0;
                    } else {
                        return (aPrice < bPrice) ? -1 : 1;
                    }
                }

                function sortDesc(a, b) {
                    var aPrice = a.price;
                    var bPrice = b.price;
                    var aName = a.name;
                    var bName = b.name;

                    if (aPrice == bPrice) {
                        return (aName < bName) ? -1 : (aName > bName) ? 1 : 0;
                    } else {
                        return (aPrice > bPrice) ? -1 : 1;
                    }
                }


                var $dishList = $("<ul />");

                if (dishUnGroupedArray.length > 0) {
                    dishUnGroupedArray.sort(dishUnGroupedArray[0].sort ? sortAsc : sortDesc);
                    dishUnGroupedArray.forEach(function (dish) {
                        $dishList.append(dish.container);
                    });
                } else {

                    for (var groupName in dishGroupedArray) {
                        var group = dishGroupedArray[groupName];
                        if (group.dishes.length !== 1) {
                            var sortType = group.dishes[0].groupByNameSort;
                            if (group.dishes[0].groupByName) {
                                var $subGroup = $("<li />", {
                                    'class': 'sub_group_title'
                                }).html($("<span />").text(groupName).css({'padding': '0 10px',}));
                                var $subGroupList = $("<ul />", {
                                    'class': 'sub_group_list'
                                });

                                group.dishes.sort(sortType ? sortAsc : sortDesc);

                                group.dishes.forEach(function (dish) {
                                    $subGroupList.append(dish.container);
                                });


                                $subGroup.on("click", {
                                    initiator: $subGroup,
                                    container: $subGroupList,
                                }, function (event) {
                                    if ($(event.target).is(event.data.initiator)) {
                                        event.data.container.toggle();
                                    }
                                });
                                $dishList.append($subGroup.append($subGroupList.hide()));
                            } else {

                            }
                        } else {
                            $dishList.append(group.dishes[0].container);
                        }
                    }
                }

                $("#dish_list ul").replaceWith($dishList);
            });

            function printOrder(form, type, event, id) {
                var url = form.attr("action").replace("edit", "print");
                if (type == 3) {
                    event.preventDefault();
                    event.stopPropagation();
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    data: {type: type},
                    success: function (response) {
                        if (response.status) {
                            if (response.command !== undefined) {
                                eval(response.command);
                            }
                        }
                    }
                });
            }

            function printOrderBar(id, type, event) {
                var url = '/order/' + id + '/print';

                $.ajax({
                    type: "POST",
                    url: url,
                    data: {type: 3},
                    success: function (response) {
                        if (response.status) {
                            if (response.command !== undefined) {
                                eval(response.command);
                            }
                        }
                    }
                });
            }

            $(document).on('click', '#print_bar', function (event) {
                event.preventDefault();
                event.stopPropagation();
                printOrder($(this).parents('form'), 3, event);

                return false;
            });

            $(document).on('click', '#order_print_order', function (event) {
                event.preventDefault();
                event.stopPropagation();
                printOrder($(this).parents('form'), 1, event);

                return false;
            });

            {% if is_granted('ROLE_EXTRA') %}
            var holdInterval;
            $(document).on('mousedown touchstart', '#order_print_order', function (event) {
                holdInterval = setTimeout(printOrder, 3000, $(this).parents('form'), 3, event);
            });
            $(document).on('mouseup mouseleave touchend', '#order_print_order', function (event) {
                event.stopPropagation();
                event.preventDefault();
                clearTimeout(holdInterval);
                return false;
            });
            {% endif %}

            $(document).on('click', '#order_print_order_kitchen', function (event) {
                event.preventDefault();
                event.stopPropagation();
                printOrder($(this).parents('form'), 2, event);

                return false;
            });


            $(document).on("click", '.split_order', function () {
                $("#custom_order").detach().prependTo('#dish_list');
                orderEdit.splitOrder(order);

            });

            $(document).on("click", '.edit_order', function () {
                var url = $(this).attr('href');
                var $dropdown = $(this).parents(".uk-dropdown");
                $.ajax({
                    url: url,
                    method: "GET",
                    success: function (response) {
                        $("#custom_order").replaceWith(response)
                            .show()
                            .data("status", 1);

                        $(".workspace").hide();
                        $("#order_control").show();

                        $dropdown.removeClass("uk-dropdown-shown");
                        $("#new_order").hide();
                    }
                });
                return false;
            });


            $(document).on("click", '.close_order', function (event) {
                $("#custom_order").detach().prependTo('#new_order');
                closeOrder();
                return false;
            });

            $(document).on("click", "#fiscal_order", function () {
                event.preventDefault();
                event.stopPropagation();
                $(this).prop('disabled', true);
                var $form = $(this).parents("form");
                var url = $form.attr("action").replace("edit", "fiscal");

                $.ajax({
                    url: url,
                });
            });


            /*async function report() {
                html2canvas(document.querySelector("body")).then(canvas => {
                    var formData = new FormData();
                    var req = new XMLHttpRequest();
                    formData.append("screenshot", canvas.toDataURL());
                    req.open("POST", '/tracker');
                    req.send(formData);
                });
            }

            function makeScreenshot(selector = "body") {
                return new Promise((resolve, reject) => {
                    var node = document.querySelector(selector);

                    html2canvas(node, {
                        onrendered: (canvas) => {
                            var pngUrl = canvas.toDataURL();
                            resolve(pngUrl);
                        }
                    });
                });
            }*/

            $(document).on('click', '[type=submit]', function () {
                var form = $(this).prop('form') || $(this).closest('form')[0];
                $(form.elements).filter('[type=submit]').removeAttr('clicked')
                $(this).attr('clicked', true);
            });

            $(document).on('submit', "form", function (event) {
                event.preventDefault();
                event.stopPropagation();


                setTimeout(() => {
                    //report();
                }, 100);

                var button = $(event.delegateTarget.activeElement);

                var currentOrder;
                if ($("#custom_order").data("status") == 0) {
                    currentOrder = order;
                    currentOrder.jsonData["place"] = $("#place_name").val();
                    currentOrder.jsonData["table"] = $("#table_name").val();
                    currentOrder.jsonData["user"] = $("#user_name").val();
                } else {
                    currentOrder = orderEdit;
                    currentOrder.jsonData["place"] = $("#place_select").val();
                    currentOrder.jsonData["table"] = $("#table_select").val();
                    currentOrder.jsonData["user"] = $("#user_select").val();
                }

                button.prop("disabled", true);
                button.addClass('disabled');
                setTimeout(function () {
                    button.prop("disabled", false);
                    button.removeClass('disabled');
                }, 5000);

//                if (currentOrder.sum == 0) {
//                    return false;
//                }

                var $input = $("<input>").attr("type", "hidden").attr("name", button.attr("name")).val("");

                var $form = $(this);
                $form.append($input);

                var btn = $(this.elements).filter('[clicked]').attr("id").replace("order_", "");
                currentOrder.jsonData[btn] = "";


                $.ajax({
                    url: $form.attr('action') + '?ajax',
                    type: $form.attr('method'),

                    data: JSON.stringify(currentOrder.jsonData),
                    dataType: 'json',

                    // data: $form.serialize(),

                    success: function (response) {
                        //$("#dish_list").html(response);

                        if (response.status) {
                            if (response.command !== undefined) {
                                eval(response.command);
                                $("#dish_list ul").empty();
                            }
                            if (response.table) {
                                var tableData = response.table;
                                var table = tables[response.table.tableId];

                                if (tableData.orderId !== undefined) {
                                    if (tableData.status == 0) {
                                        table.setOrder(tableData);
                                    } else {
                                        table.removeOrder();
                                    }
                                } else {
                                    table.removeOrder();
                                }
                            }
                        }

                    }
                });

                return false;
            });

            function newOrder(data) {
                $("#new_order").replaceWith(data);
                //reloadTableData($("#order_place"));
                altair_md.checkbox_radio();

                order = new Order();
                order.container = $("#new_order_dishes");
            }

            function closeOrder() {
                $("#custom_order").data("status", 0);
                $("#custom_order").hide();
                $("#custom_order form").remove();
            }


            $(document).ready(function () {
                resizeDiv();
            });

            window.onresize = function (event) {
                resizeDiv();
            };

            function resizeDiv() {
                vpw = $(window).width();
                vph = $(window).height() - 78;
                $("#category_list, #dish_list, #order_edit_area").css({height: vph + 'px'});
            }

            function resetAllTables() {
                for (var table_id in tables) {
                    tables[table_id].removeOrder();
                }
            }

            function reloadOrderList() {
                $.ajax({
                    url: "/terminal/orders" + location.search,
                    method: "GET",
                    success: function (response) {
                        resetAllTables();
                        $("#active_orders").replaceWith($(response).find("#active_orders"));
                        $("#closed_orders").replaceWith($(response).find("#closed_orders"));
                        $("#internal_orders").replaceWith($(response).find("#internal_orders"));

                        if (localStorage["orders"] != undefined) {
                            var orders = JSON.parse(localStorage["orders"]);
                            orders.orders.forEach(function (order_id) {
                                $("#order_" + order_id).css("background", "#ccc");
                            });
                        }
                    }
                });
            }

            /*
             socket.on('scanner_data', function (data) {
             $.ajax({
             url: '/terminal/card',
             data: data,
             type: 'POST',
             success: function (response) {
             if (!response.error) {
             orderEdit.promo = response.id;
             orderEdit.promoId = response.id;
             orderEdit.promoDiscount = response.cardDiscount;
             orderEdit.promoName = 'Карта ' + response.cardDiscount + '% ' + response.cardId;
             } else {
             orderEdit.promo = false;
             }
             orderEdit.renderOrder();
             }
             });
             });
             */
            setInterval(reloadOrderList, 10000); //INTERVAL
        </script>
    {% endblock %}

    {% block sidebar_status %}{% endblock %}
