<!doctype html>
<!--[if lte IE 9]>
<html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no"/>
    <link rel="icon" type="image/png" href="assets/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="assets/img/favicon-32x32.png" sizes="32x32">
    <title>Venezia ERP</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="bower_components/uikit/css/uikit.almost-flat.min.css"/>
    <link rel="stylesheet" href="assets/css/login_page.min.css"/>
    <style>
        body {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        html {
            background: #ececec;
        }
    </style>
</head>
<body class="login_page">
<div class="" style="width: 500px;margin: 100px auto; font-weight: bold;font-family: Arial;font-size: 36px; text-transform: uppercase;text-align: center;">
    <div>Заблокировано до </div>
    <div>{{ (till) | date("Y-m-d H:i:s") }}</div>
    <a href="{{ path('terminal_close_shift') }}" class="md-btn md-btn-success" id="refresh">Обновить</a>
</div>


<script src="assets/js/common.min.js"></script>
<script src="assets/js/uikit_custom.min.js"></script>
<script src="assets/js/altair_admin_common.min.js"></script>
<script src="assets/js/pages/login.min.js"></script>

</body>
</html>