{% extends "RestaurantBundle::layout.html.twig" %}

{% form_theme form '@Restaurant/Form/Fields.twig' %}

{% block custom_header_right_menu %}
    {#<li><a href="{{ path("fos_user_profile_edit") }}" class="user_action_icon uk-visible-large" style="font-size: 36px;">{{ app.user.shop.name }}</a></li>#}
    <li><a href="#" class="user_action_icon uk-visible-large toggle-fullscreen" style="font-size: 18px;margin-right: 5px;">{{ app.user.name }}</a>
    </li>
    {#    <li><a href="{{ path("fos_user_security_logout") }}" class="termianl_exit"><i class="material-icons">close</i></a></li>#}
    <li><a href="{{ path("login_tablet") }}" class="termianl_exit"><i class="material-icons">close</i></a></li>
{% endblock %}

{% block language_switcher %}{% endblock %}
{% block sidebar_status %}{% endblock %}

{% block custom_header_left_buttons %}
    <div id="menu_top_dropdown" class="uk-float-left uk-hidden-small">
        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
            <a href="#" class="table_menu_toggle header_button">Зал</a>
        </div>
        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
            <a href="#" class="order_menu_toggle header_button">Счета</a>
        </div>
    </div>
{% endblock %}

    {% block page_specific_styles %}
        <link rel="stylesheet" href="{{ asset('assets/css/terminal.css') }}?{{ 'now'|date('U') }}">
        <style>
            .trm-btn, .trm-btn-ok, .trm-btn-backspace {
                width: 60px;
                height: 60px;
            }
        </style>
    {% endblock %}

    {% block page_specific_plugins %}
        {% if globalshop.queue %}
            <script src="{{ asset('assets/js/terminal.js') }}?{{ 'now'|date('U') }}"></script>
        {% else %}
            <script src="{{ asset('assets/js/terminal_old.js') }}?{{ 'now'|date('U') }}"></script>
        {% endif %}


        <script>

            $(document).on('focus', 'input', function () {
                if ($(this).hasClass("ignoreTouch")) return false;
                var inputbar = $(this);
                var offset = inputbar.offset();
                $("#touch_keyboard").show();
                $("#touch_keyboard").css({
                    'top': offset.top + inputbar.height() + 50,
                    'left': offset.left+125,
                    'right': 'initial',
                });

                $("#touch_keyboard").data('target', inputbar);
            });


            $('.trm-btn').on('click', function () {
                var target = $("#touch_keyboard").data('target');

                var digit = $(this).data('number');

                if (digit == 'ok') {
                    $("#touch_keyboard").hide().data('target', null);
                } else if (digit == 'backspace') {
                    target.val(function (index, text) {
                        if (text.slice(0, -1) == '') {
                            return 0
                        } else {
                            return text.slice(0, -1);
                        }
                    });
                } else if (digit == 'dot') {
                    target.val(function (index, text) {
                        return text + '.';
                    });
                } else {
                    if (target.val() == '0') target.val('');

                    target.val(function (index, text) {
                        return text + digit;
                    });
                }
                target.trigger('change');
            });
        </script>
    {% endblock %}

{% block container %}
    <div id="page_content_inner">
        <div class="uk-grid">
            <div class="uk-width-medium-1-1">
                <div class="md-card">
                    <div class="md-card-content">
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="quantityBlock" id="touch_keyboard" style="width: 220px;display: none;">
        <button class="md-btn trm-btn" data-number="1">1</button>
        <button class="md-btn trm-btn" data-number="2">2</button>
        <button class="md-btn trm-btn" data-number="3">3</button>
        <button class="md-btn trm-btn" data-number="4">4</button>
        <button class="md-btn trm-btn" data-number="5">5</button>
        <button class="md-btn trm-btn" data-number="6">6</button>
        <button class="md-btn trm-btn" data-number="7">7</button>
        <button class="md-btn trm-btn" data-number="8">8</button>
        <button class="md-btn trm-btn" data-number="9">9</button>
        <button class="md-btn trm-btn trm-btn-fullwidth" data-number="ok">OK</button>
        <button class="md-btn trm-btn" data-number="0">0</button>
        <button class="md-btn trm-btn" data-number="backspace">←</button>
    </div>
{% endblock %}