{% extends "RestaurantBundle::layout.html.twig" %}

{% block sidebar_status %}{% endblock %}

{% block container %}
    <style>
        .clickEffect {
            position: fixed;
            box-sizing: border-box;
            border-style: solid;
            border-color: #000;
            border-radius: 50%;
            animation: clickEffect 0.4s ease-out;
            z-index: 99999;
        }

        @keyframes clickEffect {
            0% {
                opacity: 1;
                width: 0.5em;
                height: 0.5em;
                margin: -0.25em;
                border-width: 0.5em;
            }
            100% {
                opacity: 0.2;
                width: 15em;
                height: 15em;
                margin: -7.5em;
                border-width: 0.03em;
            }
        }

        iframe {
            width: 1366px;
            height: 800px;
            transform: scale(0.7);
            transform-origin: top;
            position: absolute;
            top: 0;
            border: 2px #f00 solid;
            margin-top: 50px;
        }
    </style>

    <iframe id="player" src="{{ path("terminal_index") }}">

    </iframe>

    <button id="play">PLAY</button>

{% endblock %}
{% block page_specific_plugins %}
    <script src="{{ asset('assets/js/play.js') }}"></script>
    <script>
        function formatTime(date) {

            return date.getUTCFullYear() + "-" + (date.getUTCMonth() + 1) + "-" + date.getUTCDate() + " " + date.getHours() + ":" + date.getMinutes();
        }

        var log = {{ log | raw }};
        var init = {{ init | raw }};

        $(document).ready(function () {
            playback.init($("#player"), init);
            playback.load(log);

            $("#play").click(() => {
                playback.play();
            })
        });

    </script>
{% endblock %}

