<ul id="dishes">
    {% for parent in categories %}
        <li class="dish_cat_parent">
            <div class="cat_title" style="font-weight: bold;">{{ parent.name }}</div>
            <ul style="display: none;">
                {%- for category in parent.children -%}
                    {%- spaceless -%}
                        <li class="dish_cat" id="dcat_{{ category.id }}">
                            <span class="cat_title">{{ category.name }}</span>
                            {% if category.shopDiscount(shop) != 0 %}
                                <span>(Скидка {{ category.shopDiscount(shop) }}%)</span>
                            {% endif %}
                            <ul class="cat_dishes">
                                {%- for dish in category.dishes -%}
                                    {#{% set price = dish.menuPrice() %}#}
                                    {% set price = dish.shopPrice(shop.id) %}
                                    <li class="add_to_order" data-id="{{ dish.id }}" {{ category.getDelegateTo() |raw }} data-category-id="{{ category.id }}" data-category-discount="{{ category.shopDiscount(shop) }}" data-category-group="{{ category.parent.id }}" data-category-group-name="{{ category.parent.name }}" data-group-by-name="{{ dish.category.isGroupNames ? 1 : 0 }}" data-sort="{{ dish.category.sortOrder }}" data-is-weight="{{ dish.isWeight }}" data-group-by-name-sort="{{ dish.category.sortGroupOrder }}" data-is-container="{{ dish.isContainer }}" data-price="{{ dish.shopPrice(shop.id) }}" data-name="{{ dish.name }}">
                                        <p>{{ dish.name }}</p>
                                        <p class="meta">
                                            <span> Цена: {{ price | price }} р. </span>
                                        </p>
                                    </li>
                                {%- endfor -%}
                            </ul>
                        </li>
                    {%- endspaceless -%}
                {%- endfor -%}
            </ul>
        </li>
    {%- endfor -%}
</ul>
