<ul id="orders_list" class="uk-switcher">
    <li>
        <table class="uk-table" id="active_orders">
            <thead>
            <tr>
                <th>{{ '№' | trans }}</th>
                <th style="width: 120px;">{{ 'Площадка' | trans }}</th>
                <th style="width: 120px;">{{ 'Стол' | trans }}</th>
                {% if is_granted('ROLE_ADMINISTRATOR') %}
                    <th style="width: 120px;">{{ 'Официант' | trans }}</th>
                {% endif %}
                <th style="width: 100px;">{{ 'Создан' | trans }}</th>
                <th>{{ 'Сумма' | trans }}</th>
                <th style="width: 1%;">{{ 'Статус' | trans }}</th>
            </tr>
            </thead>
            {% for order in orders %}
                {% if is_granted('ROLE_ADMINISTRATOR') %}
                    {% set style = "" %}
                {% else %}
                    {% if order.user != app.user %}
                        {% set style = "display: none;" %}
                    {% else %}
                        {% set style = "" %}
                    {% endif %}
                {% endif %}
                <tr id="order_{{ order.id }}" href="{{ path("order_edit", { 'id' : order.id }) }}" data-id="{{ order.id }}"
                    data-status="{{ order.status }}" data-table="{{ order.table.id }}" data-createdAt="{{ order.createdAt | date("Y-m-d H:i:s") }}"
                    style="{{ style }}" class="edit_order">
                    <td style="width: 1%;">
                        <a href="{{ path("order_edit", { 'id' : order.id }) }}" class="">
                            {{ order.localId }}
                        </a>
                    </td>
                    <td style="width: 150px;">
                        <a href="{{ path("order_edit", { 'id' : order.id }) }}" class="">
                            {{ order.table.place.name }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path("order_edit", { 'id' : order.id }) }}" class="">
                            {{ order.table.name }}
                        </a>
                    </td>
                    {% if is_granted('ROLE_ADMINISTRATOR') %}
                        <td style="width: 150px;">{{ order.user.name }}</td>
                    {% endif %}
                    <td>{{ order.createdAt | date("H:i") }}</td>
                    <td>{{ order.dishSum | price }}</td>
                    <td>
                        {% if order.status == constant('OrderBundle\\Entity\\Order::STATUS_WAIT_FOR_CONFIRM') %}
                            <span class="uk-badge uk-badge-primary">Ожидание</span>
                        {% elseif order.status == constant('OrderBundle\\Entity\\Order::STATUS_OPENED') %}
                            <span class="uk-badge uk-badge-warning">Не рассчитан</span>
                        {% elseif order.status == constant('OrderBundle\\Entity\\Order::STATUS_WAIT_FOR_KITCHEB') %}
                            <span class="uk-badge uk-badge-primary">На кухне</span>
                        {% elseif order.status == constant('OrderBundle\\Entity\\Order::STATUS_WAIT_FOR_MONEY') %}
                            <span class="uk-badge">Рассчитан</span>
                        {% elseif order.status == constant('OrderBundle\\Entity\\Order::STATUS_CLOSED') %}
                            <span class="uk-badge uk-badge-danger">Закрыт</span>
                        {% endif %}
                    </td>
                </tr>
                <script>
                    var table = tables[{{ order.table.id }}];
                    if (table != undefined) {
                        table.status = {{ order.status }};
                        table.waiter = '{{ order.user.name }}';
                        table.orderId = {{ order.id }};
                        table.orderIdLocal = {{ order.LocalId }};

                        {% if order.status == 0 %}
                        table.drawTable();
                        {% else %}
                        table.removeOrder();
                        {% endif %}
                    }
                    {% if order.status == constant('OrderBundle\\Entity\\Order::STATUS_WAIT_FOR_CONFIRM') %}
                        confirmOrder({{ order.id }});
                    {% endif %}
                </script>
            {% endfor %}
        </table>
    </li>
    <li>
        <table class="uk-table" id="closed_orders">
            <thead>
            <tr>
                <th>{{ '№' | trans }}</th>
                <th style="width: 120px;">{{ 'Площадка' | trans }}</th>
                <th style="width: 120px;">{{ 'Стол' | trans }}</th>
                {% if is_granted('ROLE_ADMINISTRATOR') %}
                    <th style="width: 120px;">{{ 'Официант' | trans }}</th>
                {% endif %}
                <th style="width: 100px;">{{ 'Создан' | trans }}</th>
                <th>{{ 'Наличные' | trans }}</th>
                <th>{{ 'Терминал' | trans }}</th>
                <th>{{ 'Оплата' | trans }}</th>
                <th style="width: 1%;">{{ 'Статус' | trans }}</th>
            </tr>
            </thead>
            {% for order in closed %}
                {% if is_granted('ROLE_ADMINISTRATOR') %}
                    {% set style = "" %}
                {% else %}
                    {% if order.user != app.user %}
                        {% set style = "display: none;" %}
                    {% else %}
                        {% set style = "" %}
                    {% endif %}
                {% endif %}
                <tr href="{{ path("order_edit", { 'id' : order.id }) }}" data-status="{{ order.status }}" data-table="{{ order.table.id }}"
                    data-createdAt="{{ order.createdAt | date("Y-m-d H:i:s") }}" style="{{ style }}" class="edit_order">
                    <td style="width: 1%;">
                        <a href="{{ path("order_edit", { 'id' : order.id }) }}" class="">
                            {{ order.localId }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path("order_edit", { 'id' : order.id }) }}" class="">
                            {{ order.table.place.name }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path("order_edit", { 'id' : order.id }) }}" class="">
                            {{ order.table.name }}
                        </a>
                    </td>
                    {% if is_granted('ROLE_ADMINISTRATOR') %}
                        <td style="width: 60px;">{{ order.user.name }}</td>
                    {% endif %}
                    <td>{{ order.createdAt | date("H:i") }}</td>
                    <td>{{ order.clientMoneyCash | price }}</td>
                    <td>{{ order.clientMoneyCard | price }}</td>
                    <td>
                        {% if order.cashType == constant('OrderBundle\\Entity\\Order::CASHTYPE_CASH') %}
                            {{ 'Нал/Карта' | trans }}
                        {% elseif  order.cashType == constant('OrderBundle\\Entity\\Order::CASHTYPE_INVOICE') %}
                            {{ 'Счет' | trans }}
                        {% elseif order.cashType == constant('OrderBundle\\Entity\\Order::CASHTYPE_OPLATI') %}
                            {{ 'ОПЛАТИ' | trans }}
                        {% endif %}
                    </td>
                    <td>
                        {% if order.status == constant('OrderBundle\\Entity\\Order::STATUS_OPENED') %}
                            <span class="uk-badge uk-badge-warning">Не рассчитан</span>
                        {% elseif order.status == constant('OrderBundle\\Entity\\Order::STATUS_WAIT_FOR_KITCHEB') %}
                            <span class="uk-badge uk-badge-primary">На кухне</span>
                        {% elseif order.status == constant('OrderBundle\\Entity\\Order::STATUS_WAIT_FOR_MONEY') %}
                            <span class="uk-badge">Рассчитан</span>
                        {% elseif order.status == constant('OrderBundle\\Entity\\Order::STATUS_CLOSED') %}
                            <span class="uk-badge uk-badge-danger">Закрыт</span>
                        {% elseif order.status == constant('OrderBundle\\Entity\\Order::STATUS_DELETED') %}
                            <span class="uk-badge">Удален</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </li>
</ul>
