{% extends '@Restaurant/layout.html.twig' %}

{% form_theme form '@Restaurant/Form/Fields.twig' %}
{% if commentForm is defined %}
    {% form_theme commentForm '@Restaurant/Form/Fields.twig' %}
{% endif %}

{% block page_specific_styles %}
    <style>
        .comment {
            background: #eee;
            margin-bottom: 30px;
            border-radius: 10px;
            padding: 10px;
        }
        .select2-container {
            margin-bottom: 15px;
        }

        #task_dueAt {
            width: 50%;
            margin-bottom: 15px;
        }

        #task_dueAt .uk-input-group {
            width: 50%;
            float: left;
        }

        #task_dueAt:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
{% endblock %}

{% block container %}

    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">

                {% if is_granted("ROLE_TASK_MANAGER") %}
                    {{ form(form) }}
                {% else %}
                    <table class="uk-table">
                        <tr>
                            <td><b>{{ 'Задача'| trans }}</b></td>
                            <td>{{ task.title }}</td>
                        </tr>
                        <tr>
                            <td><b>{{ 'Описание' | trans }}</b></td>
                            <td>{{ task.text }}</td>
                        </tr>
                        <tr>
                            <td><b>{{ 'Постановщик' | trans }}</b></td>
                            <td>{{ task.createdBy.name }}</td>
                        </tr>
                        <tr>
                            <td><b>{{ 'Создана' | trans }}</b></td>
                            <td>{{ task.dueAt | date("Y-m-d H:i") }}</td>
                        </tr>
                        <tr>
                            <td><b>{{ 'Выполнить до' | trans }}</b></td>
                            <td>{{ task.dueAt | date("Y-m-d H:i") }}</td>
                        </tr>
                        <tr>
                            <td><b>{{ 'Исполнители'| trans }}</b></td>
                            <td>
                                {% for user in task.assignedTo %}
                                    {{ user.name }},
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                {% endif %}

                {% if commentForm is defined %}
                    <div class="comments">
                        <h6>{{ 'Комментарии'| trans }}</h6>
                        {% for comment in task.comments %}
                            <div class="comment">
                                <div>
                                    <b>{{ comment.user.name }}</b> {{ comment.createdAt | date("Y-m-d H:i") }}
                                </div>
                                <div>
                                    {{ comment.text }}
                                </div>
                            </div>
                        {% endfor %}
                        <div>
                            {{ form(commentForm) }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block page_specific_plugins %}
    <script src="/bower_components/select2/select2.min.js"></script>

    <script>
        $("#task_assignedTo").select2();
    </script>
{% endblock %}