{% extends '@Restaurant/layout.html.twig' %}

{% block container %}
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <h1>{{ 'Задачи' | trans }}</h1>
                <table class="uk-table">
                    <thead>
                    <tr>
                        <th>{{ 'Статус' | trans  }}</th>
                        <th>{{ 'Название' | trans  }}</th>
                        <th>{{ 'Крайний срок' | trans  }}</th>
                        <th>{{ 'Постановщик' | trans  }}</th>
                        <th>{{ 'Ответственный' | trans  }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td></td>
                            <td>
                                <a href="{{ path('task_view', {"id": task.id}) }}">{{ task.title }}</a>
                            </td>
                            <td>{{ task.dueAt | date('Y-m-d H:i') }}</td>
                            <td>{{ task.createdBy.name }}</td>
                            <td>
                                {% for user in task.assignedTo %}
                                    {{ user.name }},
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a class="md-btn md-btn-success" href="{{ path('task_add') }}">{{ "Создать задачу" | trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_specific_plugins %}
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>
{% endblock %}