{% extends "@Restaurant/layout.html.twig" %}
{% form_theme form '@Restaurant/Form/Fields.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block container %}
    <div id="page_content_inner">
        {{ form_start(form, { 'attr': { 'class': 'uk-form-stacked' } }) }}
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-large-7-10">
                <div class="md-card">
                    <div class="user_heading" data-uk-sticky="{ top: 48, media: 960 }">
                        <div class="user_heading_avatar fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-new thumbnail">
                                <img src="/assets/img/avatars/user.png" alt="user avatar"/>
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail"></div>
                            <div class="user_avatar_controls">
                                        <span class="btn-file">
                                            <span class="fileinput-new"><i class="material-icons">&#xE2C6;</i></span>
                                            <span class="fileinput-exists"><i class="material-icons">&#xE86A;</i></span>
                                            <input type="file" name="user_edit_avatar_control" id="user_edit_avatar_control">
                                        </span>
                                <a href="#" class="btn-file fileinput-exists" data-dismiss="fileinput"><i class="material-icons">&#xE5CD;</i></a>
                            </div>
                        </div>
                        <div class="user_heading_content">
                            <h2 class="heading_b">
                                <span class="uk-text-truncate" id="user_edit_uname">{{ user.name }}</span>
                            </h2>
                        </div>
                        <div class="md-fab-wrapper">
                            <div class="md-fab md-fab-toolbar md-fab-small md-fab-accent">
                                <i class="material-icons">&#xE8BE;</i>

                                <div class="md-fab-toolbar-actions">
                                    <button type="submit" id="user_edit_save" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Save"><i class="material-icons md-color-white">&#xE161;</i></button>
                                    <button type="submit" id="user_edit_print" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Print"><i class="material-icons md-color-white">&#xE555;</i></button>
                                    <button type="submit" id="user_edit_delete" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Delete"><i class="material-icons md-color-white">&#xE872;</i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user_content">
                        <ul id="user_edit_tabs" class="uk-tab" data-uk-tab="{connect:'#user_edit_tabs_content'}">
                            <li class="uk-active"><a href="#">Basic</a></li>
                        </ul>
                        <ul id="user_edit_tabs_content" class="uk-switcher uk-margin">
                            <li>
                                <div class="uk-margin-top">
                                    <h3 class="full_width_in_card heading_c">
                                        {{ 'Общая информация' | trans }}
                                    </h3>

                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            {{ form_row(form.name) }}
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            {{ form_widget(form.defaultLocale) }}
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            {{ form_widget(form.shop) }}
                                        </div>

                                        <div class="uk-width-medium-1-2">
                                            {{ form_label(form.plainPassword) }}
                                            {{ form_widget(form.plainPassword) }}
                                        </div>
                                    </div>

{#                                    <div class="uk-grid">#}
{#                                        <div class="uk-width-1-1">#}
{#                                            <label for="user_edit_personal_info_control">About</label>#}
{#                                            <textarea class="md-input" name="user_edit_personal_info_control" id="user_edit_personal_info_control" cols="30" rows="4">Perspiciatis alias error culpa dolorem iste qui consequatur itaque quia ipsum amet voluptatem neque architecto velit iure laborum reprehenderit ea qui enim corporis quia consequatur veritatis sit sunt cum distinctio occaecati sint ut quasi ad nihil quibusdam eligendi ut eveniet enim qui asperiores ut nam incidunt nemo dolor et ipsum maiores voluptatibus assumenda labore.</textarea>#}
{#                                        </div>#}
{#                                    </div>#}

                                    <h3 class="full_width_in_card heading_c">
                                        {{ 'Контактная информация' | trans }}
                                    </h3>

                                    <div class="uk-grid">
                                        <div class="uk-width-1-1">
                                            <div class="uk-grid uk-grid-width-1-1 uk-grid-width-large-1-2" data-uk-grid-margin>
                                                <div>
                                                    <div class="uk-input-group">
                                                        <span class="uk-input-group-addon">
                                                            <i class="md-list-addon-icon material-icons">&#xE0CD;</i>
                                                        </span>
                                                        {{ form_widget(form.phone) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="uk-width-large-3-10">
                    <div class="md-card">
                        <div class="md-card-content">
                            <h3 class="heading_c uk-margin-medium-bottom">{{ 'Прочие настройки' | trans }}</h3>
                            {{ form_widget(form.enabled) }}
                            <hr class="md-hr">
                            {{ form_widget(form.isFiscalGranted) }}
                            <hr class="md-hr">
                        </div>
                    </div>
                    <div class="md-card">
                        <div class="md-card-content">
                            {% for shop in form.adminShops %}
                                <div class="uk-form-row">
                                    {{ form_widget(shop) }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

