{% extends "@Restaurant/layout.html.twig" %}

{% form_theme form '@Restaurant/Form/Fields.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block container %}
    <div id="page_content_inner">
        {{ form_start(form, { 'attr': { 'class': 'uk-form-stacked' } }) }}
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-large-7-10">
                <div class="md-card">
                    <div class="user_heading" data-uk-sticky="{ top: 48, media: 960 }">
                        <div class="user_heading_avatar fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-new thumbnail">
                                <img src="/assets/img/avatars/user.png" alt="user avatar"/>
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail"></div>
                            <div class="user_avatar_controls">
                                        <span class="btn-file">
                                            <span class="fileinput-new"><i class="material-icons">&#xE2C6;</i></span>
                                            <span class="fileinput-exists"><i class="material-icons">&#xE86A;</i></span>
                                            <input type="file" name="user_edit_avatar_control"
                                                   id="user_edit_avatar_control">
                                        </span>
                                <a href="#" class="btn-file fileinput-exists" data-dismiss="fileinput"><i
                                            class="material-icons">&#xE5CD;</i></a>
                            </div>
                        </div>
                        <div class="user_heading_content">
                            <h2 class="heading_b">
                                <span class="uk-text-truncate" id="user_edit_uname">{{ user.name }}</span>
                            </h2>
                        </div>
                        <div class="md-fab-wrapper">
                            <div class="md-fab md-fab-toolbar md-fab-small md-fab-accent">
                                <i class="material-icons">&#xE8BE;</i>

                                <div class="md-fab-toolbar-actions">
                                    <button type="submit" id="user_edit_save"
                                            data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Save"><i
                                                class="material-icons md-color-white">&#xE161;</i></button>
                                    <button type="submit" id="user_edit_print"
                                            data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Print"><i
                                                class="material-icons md-color-white">&#xE555;</i></button>
                                    <button type="submit" id="user_edit_delete"
                                            data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Delete"><i
                                                class="material-icons md-color-white">&#xE872;</i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user_content">
                        <ul id="user_edit_tabs" class="uk-tab" data-uk-tab="{connect:'#user_edit_tabs_content'}">
                            <li class="uk-active"><a href="#">Basic</a></li>
                        </ul>
                        <ul id="user_edit_tabs_content" class="uk-switcher uk-margin">
                            <li>
                                <div class="uk-margin-top">
                                    <h3 class="full_width_in_card heading_c">
                                        {{ 'Общая информация' | trans }}
                                    </h3>

                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-2">
                                            {{ form_row(form.name) }}
                                        </div>

                                        <div class="uk-width-medium-1-2">
                                            {{ form_widget(form.defaultLocale) }}
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            {{ form_widget(form.shop) }}
                                        </div>

                                        <div class="uk-width-medium-1-2">
                                            {{ form_label(form.plainPassword) }}
                                            {{ form_widget(form.plainPassword) }}
                                        </div>
                                    </div>

                                    <h3 class="full_width_in_card heading_c">
                                        {{ 'Контактная информация' | trans }}
                                    </h3>

                                    <div class="uk-grid">
                                        <div class="uk-width-1-1">
                                            <div class="uk-grid uk-grid-width-1-1 uk-grid-width-large-1-2"
                                                 data-uk-grid-margin>
                                                <div>
                                                    <div class="uk-input-group">
                                                        <span class="uk-input-group-addon">
                                                            <i class="md-list-addon-icon material-icons">&#xE0CD;</i>
                                                        </span>
                                                        {{ form_widget(form.phone) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="uk-width-large-3-10">
                    <div class="md-card">
                        <div class="md-card-content">
                            <h3 class="heading_c uk-margin-medium-bottom">{{ 'Прочие настройки' | trans }}</h3>
                            {{ form_widget(form.enabled) }}
                            <hr class="md-hr">
                            {{ form_widget(form.isFiscalGranted) }}
                            {{ form_widget(form.isOrdersValidated) }}
                            <hr class="md-hr">
                            {{ form_widget(form.roles) }}
                        </div>
                    </div>
                    <div class="md-card" style="display: {{ is_granted('ROLE_SUPER_ADMIN') ? "block" : "block" }}">
                        <div class="md-card-content">
                            {% for shop in form.adminShops %}
                                <div class="uk-form-row">
                                    {{ form_widget(shop) }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if app.user.id == user.id or is_granted("ROLE_ADMIN") %}
                        <div class="md-card" style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
">
                            <img src="https://api.qrserver.com/v1/create-qr-code/?size=350x350&data={{ qr }}" alt="">
                            <div id="code-preview" style="margin-top: 15px; text-align: center; font-size: 26px;"></div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block page_specific_plugins %}

    <script>
        var CONFIG = {
            digits: 5,
            period: 100,
        }
        $(document).ready(function () {
            setInterval(() => {
                $("#code-preview").text(getToken("{{ userKey }}", {
                    digits: 5,
                    period: 100,
                    timestamp: Date.now(),
                }));
            }, 1000);

            function getToken(key, options = {}) {
                let epoch, time, shaObj, hmac, offset, otp
                options.period = options.period || 30
                options.algorithm = options.algorithm || "SHA-1"
                options.digits = options.digits || 6
                options.timestamp = options.timestamp || Date.now()
                key = base32tohex(key)
                epoch = Math.round(options.timestamp / 1000.0)
                time = leftpad(dec2hex(Math.floor(epoch / options.period)), 16, "0")
                shaObj = new jsSHA(options.algorithm, "HEX")
                shaObj.setHMACKey(key, "HEX")
                shaObj.update(time)
                hmac = shaObj.getHMAC("HEX")
                offset = hex2dec(hmac.substring(hmac.length - 1))
                otp = (hex2dec(hmac.substr(offset * 2, 8)) & hex2dec("7fffffff")) + ""
                otp = otp.substr(Math.max(otp.length - options.digits, 0), options.digits)
                return otp
            }


            function hex2dec(s) {
                return parseInt(s, 16)
            }

            function dec2hex(s) {
                return (s < 15.5 ? "0" : "") + Math.round(s).toString(16)
            }

            function base32tohex(base32) {
                let base32chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ234567",
                    bits = "",
                    hex = ""

                base32 = base32.replace(/=+$/, "")

                for (let i = 0; i < base32.length; i++) {
                    let val = base32chars.indexOf(base32.charAt(i).toUpperCase())
                    if (val === -1) throw new Error("Invalid base32 character in key")
                    bits += leftpad(val.toString(2), 5, "0")
                }

                for (let i = 0; i + 8 <= bits.length; i += 8) {
                    let chunk = bits.substr(i, 8)
                    hex = hex + leftpad(parseInt(chunk, 2).toString(16), 2, "0")
                }
                return hex
            }

            function leftpad(str, len, pad) {
                if (len + 1 >= str.length) {
                    str = Array(len + 1 - str.length).join(pad) + str
                }
                return str
            }
        });
    </script>
{% endblock %}
