<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


<body>

<table class="table table-striped table-hover">
{% for __rec in records %}
  <tr>
    <td>{{ __rec.user.name }}</td>
    <td>{{ __rec.date }}</td>
    <td><a href="/admin/records/view/{{ __rec.session }}?app={{ app ? 1 : 0 }}">{{ __rec.url }}</a></td>
  </tr>
{% endfor %}
</table>

</body>
