<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/rrweb-player@latest/dist/style.css"
/>
<script src="https://cdn.jsdelivr.net/npm/rrweb-player@latest/dist/index.js"></script>

<body>

<div id="player" style="width:1000px; height: 1000px;"></div>


<script>

const events = {{ events | raw }};

const player = new rrwebPlayer({
  target: document.getElementById('player'),
  props: {
    events: events,
  },
});

player.play();

</script>

</body>
