<table class="uk-table">
    <tr>
        <td colspan="2">
            {% if photo.isValidated == false %}
                <a href="{{ path('photo_validate', {'id': photo.id }) }}" class="valid-btn">{{ 'Подтвердить' | trans }}</a>
            {% endif %}
            <h3 class="dishName" data-id="{{ photo.orderDish.dish.id }}">
                {{ photo.orderDish.dish.name }}
            </h3>
        </td>

    </tr>
    <tr>
        <td>
            <a target="_blank" href="{{ path('admin_order_show', {id: photo.orderDish.order.id}) }}">
                Счет №{{ photo.orderDish.order.localId }}
            </a>
        </td>
        <td>
            {{ photo.orderDish.order.user.name }}
        </td>
    </tr>
    <tr>
        <td>
            {{ 'Пиццерист' | trans }}
        </td>
        <td>
            <a target="_blank" href="#">
                {{ photo.user.name }}
            </a>
        </td>
    </tr>
    <tr>
        <td>
            {{ 'Заведение' | trans }}
        </td>
        <td>
            {{ photo.user.shop.name }}
        </td>
    </tr>
    <tr>
        <td>Создан: {{ photo.orderDish.order.createdAt | date("d.m.Y H:i") }}</td>
        <td>Фото: {{ photo.date | date("d.m.Y H:i") }}</td>
    </tr>
    <tr>
        <td>
            Скорость: {{ photo.date.diff(photo.orderDish.order.createdAt) | date("%H:%I:%S") }}
        </td>
        <td>Оценка: {{ (photo.averageRate * 100 / 5) | price }}%</td>
    </tr>
    <tr>
        <td>
            Вес: {{ photo.weight }} гр.
        </td>
        <td>Нормативный: {{ photo.orderDish.dish.weight }} гр.</td>
    </tr>

    <tr>
        <td colspan="2" style="color:red">
            {% for __problem in photo.problems %}
                <div>{{ __problem }}</div>
            {% endfor %}
        </td>
    </tr>
</table>

<h3> Проверки:</h3>
<div>
    <table class="uk-table" id="checks">
        {% for __check in photo.checks %}
            {% if (__check.dish != null) and (photo.orderDish.dish.name == __check.dish.name) %}
                {% set class = 'valid' %}
            {% else %}
                {% set class = 'nonvalid' %}

            {% endif %}
            <tr class="{{ class }}">
                <td>
                    {% if __check.dish %}
                        {{ __check.dish.name }}
                    {% else %}
                        {{ "Неизвестно" | trans }}
                    {% endif %}
                </td>
                <td class="checker">{{ __check.user.name }}</td>
                <td> {{ __check.date | date("d.m.Y H:i") }}</td>
                <td> {{ __check.rate }}</td>
                <td> {{ __check.review | pizza_photo_status | join('<br>') | raw }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
