{% extends '@Restaurant/layout.html.twig' %}

{% block container %}
    <style>
        .dish {
            position: relative;
            display: block;
            padding: 2px;
            box-sizing: border-box;
            border: 1px solid transparent;
        }

        li.dish {
            font-weight: bold;
            font-size: 16px;
        }

        .nav {
            position: absolute;
            top: 75px;
            width: 90px;
            height: 300px;
            cursor: pointer;
            background: url(/static/next.png);
            background-position-x: -73px;
        }

        .nav:hover {
            filter: brightness(200%);
        }

        .nav.prev {
            transform: scaleX(-1);
            left: -100px;
        }

        .nav.next {
            right: -100px;
        }

        .overlay {
            background: rgba(0, 0, 0, 0.8);
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 1300;
        }

        #photoPreview {
            background: white;
            width: 1000px;
            height: auto;
            position: fixed;
            top: 100px;
            left: 50%;
            margin-left: -500px;
            vertical-align: center;
            z-index: 1310;
        }

        .download {
            position: absolute;
            top: 5px;
            right: 10px;
            display: block;
            background: #1e88e5;
            color: #fff;
            padding: 7px;
            border-radius: 5px;
            cursor: pointer;
        }

        #photoPreview #photo {
            padding: 10px;
            width: 400px;
            height: 400px;
            background-size: 100%;
            float: left;
        }

        #photoPreview .info {
            padding: 10px;
            float: right;
            width: 560px;
        }

        .valid {
            background-color: #d4f5c6;
            border: 1px #d4f5c6 solid;
        }

        .nonvalid {
            background-color: #f3d0d0;
            border: 1px #f3d0d0 solid;
        }

        .valid-btn {
            background: #7cb342;
            color: #fff;
            padding: 7px;
            border-radius: 5px;
            float: left;
        }

        .dishName {
            margin: 6px;
            float: left;
        }

        .nonvalid-btn {
            background: #1e88e5;
            color: #fff;
            padding: 7px;
            border-radius: 5px;
        }

        .dish .usertip {
            visibility: hidden;
            width: 250px;
            background-color: #555;
            color: #fff;
            text-align: left;
            padding: 5px;
            border-radius: 6px;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -60px;

            opacity: 0;
            transition: opacity 0.3s;
        }

        .dish .usertip::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

        .dish:hover {
            border: 1px #000 solid;
        }

        .dish:hover .usertip {
            visibility: visible;
            opacity: 1;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        table {
            width: 100%;
        }

        .actions a {
            display: block;
        }

        .td-image img {
            max-width: 150px;
        }

        .td-image {
            text-align: center;
        }

        .td-image a, .td-image span {
            display: block;
        }

        table {
            width: 100% !important;
        }

        .problems {
            margin-top: 15px;
            color: red;
        }

        .problems h6 {
            margin: 0;
            text-decoration: underline;
            color: red;
        }
    </style>
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid">
                    <div class="uk-width-3-4">
                        <h3 class="heading_a uk-margin-bottom"
                            style="padding-top: 10px;">{{ 'Фото' | trans }} {{ dateStart | date('d-m-Y') }} {{ dateEnd | date('d-m-Y') }}</h3>
                    </div>
                    <div class="uk-width-1-4">
                        <div class="uk-input-group">
                            <input class="md-input" type="text" id="report_date_start" value="{{ dateStart | date('d.m.Y') }}"
                                   data-uk-datepicker="{format:'DD.MM.YYYY'}">
                        </div>
                        <div class="uk-input-group">
                            <input class="md-input" type="text" id="report_date_end" value="{{ dateEnd | date('d.m.Y') }}"
                                   data-uk-datepicker="{format:'DD.MM.YYYY'}">
                        </div>
                    </div>
                </div>
                <ul class="uk-tab" data-uk-tab="{connect:'#tabs_1_content'}" id="tabs_1">
                    <li class="uk-active"><a href="#">{{ 'На проверке' | trans }} ({{ invalid | length }})</a></li>
                    <li class=""><a href="#">{{ 'Статистика' | trans }}</a></li>
                </ul>
                <ul id="tabs_1_content" class="uk-switcher uk-margin">
                    <li>
                        <table class="uk-table uk-table-striped">
                            <thead>
                            <tr>
                                <th>{{ 'Фото' | trans }}</th>
                                <th>{{ 'Пицца' | trans }}</th>
                                <th>{{ 'Проверка' | trans }}</th>
                                <th>{{ 'Вес' | trans }}</th>
                                <th>{{ 'Оценка' | trans }}</th>
                                <th>{{ 'Время' | trans }}</th>
                                <th>{{ 'Валидность' | trans }}</th>
                                {#<th>{{ 'Действие' | trans }}</th>#}
                            </tr>
                            </thead>
                            <tbody>
                            {% set validByAi = 0 %}
                            {% for photo in invalid %}
                                {% set valid = 0 %}
                                <tr>
                                    <td class="td-image">
                                        <a href="/uploads/photos/{{ photo.photoPath }}" data-id="{{ photo.id }}" class="zoomin">
                                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+A8AAQUBAScY42YAAAAASUVORK5CYII="
                                                    {% if photo.predict | length > 0 %}
                                                        data-src="{{ ("uploads/cropped/" ~ photo.photoPath)  | imagine_filter('index') }}"
                                                    {% else %}
                                                        data-src="{{ ("uploads/photos/" ~ photo.photoPath)  | imagine_filter('index') }}"
                                                    {% endif %}
                                                 alt="">
                                        </a>
                                        <span>{{ photo.date | date('d.m.Y H:i') }}</span>
                                    </td>
                                    <td>
                                        <div class="dish">
                                            Пиццерист: {{ photo.orderDish.dish.name }}
                                            <span class="usertip"> {{ photo.user != null ? photo.user.name : photo.id }} {{ photo.orderDish.order.shop.name }}</span>
                                        </div>
                                        <div class="problems">
                                            {% for __problem in photo.problems %}
                                                <div>{{ __problem }}</div>
                                            {% endfor %}
                                        </div>
                                        <div class="dish">
                                            {% set success = '' %}
                                            {% if ((photo.topPredicts is not empty) and (((photo.topPredicts[0:1] | keys)[0]) == photo.orderDish.dish.name)) %}
                                                {% set success = 'class="valid"' %}
                                                {% set validByAi = validByAi + 1 %}
                                            {% endif %}
                                            {% if (photo.topPredicts is not empty) %}
                                                AI: <span>{{ (photo.topPredicts[0:1] | keys)[0] }}</span>
                                            {% endif %}
                                            <ul class="usertip">
                                                {% for __pizza, __predict in photo.topPredicts %}
                                                    <li>{{ __pizza ~ " " ~ ((__predict * 100) | price) }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </td>
                                    <td>
                                        {% for __check in photo.checks %}
                                            {% if __check.dish %}
                                                {% if photo.orderDish.dish.name == __check.dish.name %}
                                                    {% set valid = valid + 1 %}
                                                {% endif %}
                                                {% set class = (photo.orderDish.dish.name == __check.dish.name ? 'valid' : 'nonvalid') %}
                                                <div class="dish {{ class }}">{{ __check.dish.name }}
                                                    <span class="usertip">{{ __check.user.name }}</span>
                                                </div>
                                            {% else %}
                                                <div class="dish nonvalid">{{ "Ни одна" | trans }}
                                                    <span class="usertip">{{ __check.user.name }}</span>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>{{ photo.weight }}</td>
                                    <td>{{ (photo.averageRate * 100 / 5) | price }}</td>
                                    <td>
                                        {{ photo.date.diff(photo.orderDish.parentOrder.createdAt) | date("%H:%I:%S") }}
                                    </td>
                                    <td>
                                        {% if (photo.checks | length) > 0 %}
                                            {{ (valid * 100 / photo.checks | length) | price }}
                                        {% endif %}
                                    </td>
                                    {#<td class="actions">#}
                                    {#<a href="{{ path('photo_validate', {'id': photo.id }) }}">{{ 'Утвердить' | trans }}</a>#}
                                    {#</td>#}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div>{{ validByAi }} / {{ photos | length }} = {{ (validByAi / ((photos | length) > 0 ? (photos | length) : 1)) | price }}</div>
                    </li>
                    <li>
                        <h1>{{ 'Пользователи' | trans }}</h1>
                        <table class="uk-table uk-table-striped" style="width: 50%;float: left;">
                            <thead>
                            <tr>
                                <th>{{ 'Пользователь' | trans }}</th>
                                <th>{{ 'Количество' | trans }}</th>
                                <th>{{ 'Средняя оценка' | trans }}</th>
                                <th>{{ 'Качество' | trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for __stat in statByUser %}
                                <tr>
                                    <td>{{ __stat.name }}</td>
                                    <td>{{ __stat.all }}</td>
                                    <td>{{ __stat.avg }}</td>
                                    <td>{{ ((__stat.positive_all /__stat.all)*100) | price }}%</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <h1>{{ 'Повара' | trans }}</h1>
                        <table class="uk-table uk-table-striped" style="width: 50%;float: left;">
                            <thead>
                            <tr>
                                <th>{{ 'Пользователь' | trans }}</th>
                                <th>{{ 'Количество блюд' | trans }}</th>
                                <th>{{ 'Количество оценок' | trans }}</th>
                                <th>{{ 'Средняя оценка' | trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for __stat in statByCook %}
                                <tr>
                                    <td>{{ __stat.uName }}</td>
                                    <td>{{ __stat.photoCount }}</td>
                                    <td>{{ __stat.rateCount }}</td>
                                    <td>{{ __stat.avgRate | price }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <h1>{{ 'Фото' | trans }}</h1>
                        <table class="uk-table uk-table-striped" style="width: 50%;float: left;">
                            <thead>
                            <tr>
                                <th>{{ 'Блюдо' | trans }}</th>
                                <th>{{ 'Количество' | trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set sum = 0 %}
                            {% for __stat in statByDish %}
                                <tr>
                                    <td>{{ __stat.dName }}</td>
                                    <td>{{ __stat.dCount }}</td>
                                </tr>
                                {% set sum = sum + __stat.dCount %}
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Итого</th>
                                <th>{{ sum }}</th>
                            </tr>
                            </tfoot>
                        </table>
                        <h1>{{ 'Количество' | trans }}</h1>
                        <table class="uk-table uk-table-striped" style="width: 50%;float: left;">
                            <thead>
                            <tr>
                                <th>{{ 'Заведение' | trans }}</th>
                                <th>{{ 'Фото' | trans }}</th>
                                <th>{{ 'Блюд' | trans }}</th>
                                <th>{{ 'Процент' | trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for __shop, data in statByShop %}
                                <tr>
                                    <td>{{ __shop }}</td>
                                    <td>{{ data["photos"] }}</td>
                                    <td>{{ data["dishes"] }}</td>
                                    <td>{{ data["dishes"] != 0 ? ((data["photos"] * 100/ data["dishes"])  | price) : 0 }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_specific_plugins %}
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>

    <script src="{{ asset('assets/js/html2canvas.js') }}"></script>

    <script>

        $("#report_date_start, #report_date_end").on("change", function () {
            window.location = '{{ path('photo_list') }}/' + $("#report_date_start").val() + "/" + $("#report_date_end").val();
        });

        var pizzaList = {{ pizzaList | json_encode | raw }};

        window.addEventListener('load', function () {
            var allimages = document.getElementsByTagName('img');
            for (var i = 0; i < allimages.length; i++) {
                if (allimages[i].getAttribute('data-src')) {
                    allimages[i].setAttribute('src', allimages[i].getAttribute('data-src'));
                }
            }
        }, false)

        $("table").DataTable({
            iDisplayLength: -1,
        });

        $(document).on("click", ".valid-btn", function (event) {
            let url = $(this).attr('href'),
                dishId = $(this).parents("table").find('h3.dishName').data('id');
            $.ajax({
                url,
                type: "POST",
                data: {dishId},
                success: function (response) {

                }
            });
            $(".next").trigger("click");

            return false;
        });

        $(document).on("click", ".dishName", function (event) {
            $(this).hide();
            let $dishSelect = $("<select />");
            let currentId = $(this).data('id');
            for (let dishId in pizzaList) {
                let $option = $("<option />").text(pizzaList[dishId]).attr('value', dishId);
                $dishSelect.append($option);
            }

            $dishSelect.val(currentId);
            $dishSelect.on("change", {context: $(this)}, function (event) {
                $(this).remove();
                event.data.context.text(pizzaList[this.value]).data('id', this.value).show();
            });

            $(this).after($dishSelect);
        });

        $(document).on("click", ".actions a", function (event) {
            event.preventDefault();

            var url = $(this).attr('href');

            $.ajax({
                url: url,
                type: 'GET',
                success: function () {

                }
            });
            $(this).parents('tr').remove();

            return false;
        });
        $(document).on("click", ".zoomin", function (event) {
            event.preventDefault();

            $this = $(this);
            $overlay = $("<div />", {
                "class": "overlay",
            });

            var next = function () {
                $overlay.trigger('click');
                $this.parents('tr').next('tr').find(".zoomin").trigger('click');
            };

            $imageDiv = $("<div />", {
                "id": "photoPreview"
            });
            //background-image: url("http://admin.venezia.by/media/cache/resolve/index/uploads/cropped/1540768320.jpg");
            let fullSizePhotoUrl = $(this).find("img").attr("src").replace("@2x", "").replace(/resolve\/index\//, "resolve/slider/")

            $photo = $("<div />", {
                "id": "photo",
            }).css({
                "background-image": "url(" + fullSizePhotoUrl + ")"
            }).click(next);


            $info = $("<div />", {
                'class': 'info'
            });

            $next = $imageDiv.append($photo);
            $imageDiv.append($info);


            $imageDiv.append($("<div />", {
                'class': 'nav',
            }).addClass('next').click(next));

            $imageDiv.append($("<div />", {
                'class': 'nav',
            }).addClass('prev').click(function () {
                $overlay.trigger('click');
                $this.parents('tr').prev('tr').find(".zoomin").trigger('click');
            }));

            $download = $("<a />", {
                'class': 'download',
            }).data('id', $this.data('id')).text('{{ 'Скачать' | trans }}').click(function () {
                var $this = $(this);
                var $photo = $this.parents('#photoPreview').find("#photo");
                var photoUrl = $photo.css('background-image').replace('url(', '').replace(')', '').replace(/\"/gi, "");

                toDataURL(
                    photoUrl,
                    function (dataUrl) {
                        $photo.css('background-image', dataUrl);
                        $(".checker").hide();
                        html2canvas(document.querySelector('#photoPreview')).then(function (canvas) {
                            var image = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");

                            var link = document.createElement('a');
                            link.download = $this.data('id') + '.png';
                            link.href = canvas.toDataURL();
                            link.click();
                            link.remove();
                            $(".checker").show();
                        });
                    }
                );


                return false;
            });

            $.ajax({
                url: "{{ path('photo_info') }}",
                type: "POST",
                data: {
                    id: $(this).data('id')
                },
                success: function (response) {
                    $(".info").html(response).find("a").click(function () {
                        return true;
                    });
                    $(".info").append($download);
                }
            });

            function toDataURL(src, callback, outputFormat) {
                var img = new Image();
                img.crossOrigin = 'Anonymous';
                img.onload = function () {
                    var canvas = document.createElement('CANVAS');
                    var ctx = canvas.getContext('2d');
                    var dataURL;
                    canvas.height = this.naturalHeight;
                    canvas.width = this.naturalWidth;
                    ctx.drawImage(this, 0, 0);
                    dataURL = canvas.toDataURL(outputFormat);
                    callback(dataURL);
                };
                img.src = src;
                if (img.complete || img.complete === undefined) {
                    img.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==";
                    img.src = src;
                }
            }

            $("body").append($overlay).append($imageDiv);

            $overlay.click(function () {
                $overlay.remove();
                $imageDiv.remove();
            });
            return false;
        })

    </script>
{% endblock %}
