.custom-bg1{
	background-image: url(/img/custom-bg/custom-bg1.jpg);
}
.custom-bg2{
	background-image: url(/img/custom-bg/custom-bg2.jpg);
}
.custom-bg3{
	background-image: url(/img/custom-bg/custom-bg4.jpg);
}
.custom-bg4{
	background-image: url(/img/custom-bg/custom-bg5.jpg);
}
.custom-bg5{
	background-image: url(/img/custom-bg/custom-bg7.jpg);
}
.custom-bg6{
	background-image: url(/img/custom-bg/custom-bg8.jpg);
}
.custom-bg7{
	background-image: url(/img/custom-bg/custom-bg9.jpg);
}
.custom-bg8{
	background-image: url(/img/custom-bg/custom-bg10.jpg);
}
.custom-bg9{
	background-image: url(/img/custom-bg/custom-bg11.jpg);
}
.custom-bg10{
	background-image: url(/img/custom-bg/custom-bg12.jpg);
}
.custom-bg11{
	background-image: url(/img/custom-bg/custom-bg13.jpg);
}
.custom-bg12{
	background-image: url(/img/custom-bg/custom-bg14.jpg);
}
.custom-bg13{
	background-image: url(/img/custom-bg/custom-bg15.jpg);
}
.custom-bg14{
	background-image: url(/img/custom-bg/custom-bg16.jpg);
}
.custom-bg15{
	background-image: url(/img/custom-bg/custom-bg17.jpg);
}
.custom-bg16{
	background-image: url(/img/custom-bg/custom-bg18.jpg);
}
.custom-bg17{
	background-image: url(/img/custom-bg/custom-bg20.jpg);
}
.custom-bg18{
	background-image: url(/img/custom-bg/custom-bg21.jpg);
}
.custom-bg19{
	background-image: url(/img/custom-bg/custom-bg23.jpg);
}
.custom-bg20{
	background-image: url(/img/custom-bg/custom-bg25.jpg);
}
.custom-bg21{
	background-image: url(/img/custom-bg/custom-bg26.jpg);
}
.custom-bg22{
	background-image: url(/img/custom-bg/custom-bg27.jpg);
}
.custom-bg23{
	background-image: url(/img/custom-bg/custom-bg28.jpg);
}
.custom-bg24{
	background-image: url(/img/custom-bg/custom-bg29.jpg);
}
.custom-bg25{
	background-image: url(/img/custom-bg/custom-bg31.jpg);
}
.custom-bg26{
	background-image: url(/img/custom-bg/custom-bg32.jpg);
}
.custom-bg27{
	background-image: url(/img/custom-bg/custom-bg36.jpg);
}
.custom-bg28{
	background-image: url(/img/custom-bg/custom-bg38.jpg);
}
.custom-bg29{
	background-image: url(/img/custom-bg/custom-bg39.jpg);
}
.custom-bg30{
	background-image: url(/img/custom-bg/custom-bg40.jpg);
}
.custom-bg31{
	background-image: url(/img/landing/header-bg.jpg);
}
