body {
    font-family: Arial, sans-serif !important;
}

.shop {

}

.shop img {
    width: 100%;
}

.shop h2 {
    text-align: center;
}

.shop p {
    text-align: center;
    font-family: Arial, sans-serif;
}

.shop-link {
    display: block;
}

.front-text {
    text-align: center;
    margin: 30px 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #000;
}

.contact, .review {
    width: 800px;
    margin: 0 auto;
}

.contact span {
    font-weight: bold;
}

.review {
    margin-top: 30px;
}

.review h1 {
    text-align: center;
}

.review .row {
    margin-bottom: 15px;
}

.review input, .review textarea {
    width: 100%;
}

.review .rev {
    border: 1px solid #000;
    position: relative;
    padding: 15px;
    margin: 15px 0;
}

.review .rev span {
    font-weight: bold;
}

.review .rev .text {
    text-align: justify;
}

.review .rev .date {
    position: absolute;
    right: 15px;
    top: 15px;
}

.menu {
    width: 300px;
    float: left;
    margin-top: 100px;
    position: fixed;
}

.menu-item a {
    font-size: 24px;
}

.menu-item {
    text-transform: uppercase;
    margin: 20px;
}


.shop-block {
    text-align: center;
    padding: 0 15px 60px;
    max-width: 1680px;
    margin: 0 auto;
}

.shop-block p {
    text-align: justify;
}

.food-name {
    font-size: 18px;
    /*min-height: 42px;*/
    /*margin: 0 !important;*/
}
.food-info {
    font-size: 14px;
    /*min-height: 42px;*/
    margin-bottom: 0;
    max-height: 28px;
    height: 28px;
    overflow: hidden;
    word-break: break-all;}

.food-order {
    text-align: center;
}

.store-item .food-price {
    text-align: center;
}

.store-item-detail .food-price {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, serif;
}
.store-item .food-order .food-price, .store-item .food-order .add-to-cart-link {
    line-height:32px;
}

.store-item:hover .add-to-cart-link {
    visibility: visible;
    opacity: 1;
}
.store-item:hover .food-price {
    visibility: hidden;
    opacity: 0;
}

.cart-confirmation {
    display: flex;
    flex-direction: row;
}
.cart-confirmation input {
    max-width:118px;
}
.cart-confirmation input,
.cart-confirmation button {
    flex: 1;
    text-align: center;
    margin: 0 10px 8px 0;
    height: 44px;
}

@media (max-width: 520px) {
    .item-desc .description {
        display: none;
    }
    .estimate-shopping .info {
         padding-left: 0;
    }
    .store-item .food-order .food-price {
        margin-top: 0.5em;
        margin-bottom: 0;
    }
    .cart-confirmation {
        flex-direction: column;
    }
    .cart-confirmation input,
    .cart-confirmation button {
        height: 40px;
    }
    .cart-confirmation button {
        margin: 0;
    }
    .food-info {
        max-height: 42px;
    }
}



.shop-select-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
}
.shop-select-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
}

.shop-select-holder {
    background: #fff;
    padding: 15px;
    top: 100px;
    position: absolute;
    width: 100%;

    max-width: 550px;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 101;
}

.shop-select li {
    font-family: "Palatino Linotype", Palatino, "Book Antiqua", "URW Palladio L", serif;
    display: block;
    padding: 6px 0;
    margin: 12px 0 0 0;
}

.shop-select li a {
    color: #bd8c60;
}

.shop-select li a.active {
    font-weight: bold;
    font-size: 20px;
}

.shop-select-holder h2 {
    padding: 0;
    margin-bottom: 20px;
}

.change-shop {
    font-weight: bold;
    font-size: 20px;
    color: #bd8c60;
}
@media (max-width: 560px) {
    .current-shop {
        display: block;
    }
}

.store-item .food-name {
    white-space: nowrap;
}

.store-item img {
    width: 100%;
    aspect-ratio: 1;
}
