.item{
	width: 352px;
	height: 150px;
	border: 1px #000 solid;
	margin: 5px;
	float: left;
}
.item .image{
	width: 150px;
	height: 100px;
	float: left;
	padding: 5px;
}
.item .info{
	width: 200px;
	height: 100px;
	float: left;
}
.info .title{
	font-weight: bold;
	font-size: 16px;
	text-transform: capitalize;
}
.info .price{
	color: red;
	font-size: 16px;
	font-weight: bold;
}
.info .consist{
	font-size: 12px;
	line-height: 14px;
	font-style: italic;
	padding-bottom: 15px;
}
.info input {
	width: 30px;
}