<html lang="ru">
<head>
    <title>Вход</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">

    <script src="{{ asset('assets/js/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ asset('assets/js/intlTelInput.min.js') }}"></script>

    {% stylesheets
        "css/new/bootstrap.min.css"
        "css/new/main.css"
        "css/new/main_new.css"
        "css/intlTelInput.css" %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <style>
        .iti-flag {
            height: 15px;
            box-shadow: 0 0 1px 0 #888;
            background-image: url(/static/flags.png);
            background-repeat: no-repeat;
            background-color: #DBDBDB;
            background-position: 20px 0
        }

        .flag-dropdown {
            display: none;
        }

        form {
            padding: 0 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            height: 90vh;
        }

        .intl-tel-input input, .intl-tel-input input[type=tel], .intl-tel-input input[type=text] {
            font-size: 28px;
            color: #000;
            padding: 15px;
            height: auto;
        }
    </style>
</head>
<body>

<form action="{{ path("frontend_workplace_auth", {"uuid" : uuid}) }}" method="POST">
    <label for="phone">Номер телефона</label>
    <input type="tel" name="phone" id="phone"
           title="Введите номер телефона в формате +375 (XX) XXX-XX-XX" required>

    <button type="submit">Войти</button>
</form>

<script>

    document.addEventListener("DOMContentLoaded", (event) => {
        $("#phone").intlTelInput({
            autoFormat: true,
            autoHideDialCode: false,
            allowDropdown: false,
            utilsScript: "/assets/js/utils.js",
            autoPlaceholder: 'aggressive',
            nationalMode: false,
            initialCountry: "BY",
            preferredCountries: ["BY"]

        });
    });

</script>
</body>
</html>