<style>
    * {
        font-family: Verdana, Sans-Serif;
    }

</style>

<div style="display: flex;height: 100vh;flex-direction: column;justify-content: space-around; align-items: center">
    <img style="align-self: stretch;margin: 0 10vw"
         src="https://api.qrserver.com/v1/create-qr-code/?size=350x350&data=https://venezia.by/w/{{ uuid }}" alt="">

    <h1 style="text-align: center; font-size: 48px">НЕ ЗАБУДЬ ОТМЕТИТЬСЯ НА ВХОДЕ И ВЫХОДЕ</h1>
</div>