<html lang="ru">
<head>
    <title>Добро пожаловать</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">

    {% stylesheets
        "css/new/bootstrap.min.css"
        "css/new/main.css"
        "css/new/main_new.css"
        "css/intlTelInput.css" %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <style>
        .iti-flag {
            height: 15px;
            box-shadow: 0 0 1px 0 #888;
            background-image: url(/static/flags.png);
            background-repeat: no-repeat;
            background-color: #DBDBDB;
            background-position: 20px 0
        }

        .flag-dropdown {
            display: none;
        }

        form {
            padding: 0 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            height: 50vh;
        }

        .intl-tel-input input, .intl-tel-input input[type=tel], .intl-tel-input input[type=text] {
            font-size: 28px;
            color: #000;
            padding: 15px;
            height: auto;
        }

        button {
            display: block;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            border: 2px solid #4e5457;
            background: white;
            padding: 20px 40px;
            margin-top: 30px;
            width: auto;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
    </style>
</head>
<body>

{% if user.name and user.position %}

    <h1>Здравствуйте {{ user.name }}</h1>
    {% if lastEvent.workplace %}
        <h2>
            Вы {{ (lastEvent and lastEvent.eventType == constant('UserBundle\\Entity\\UserEvent::EVENT_USER_ENTER')) ? "вошли в" : "ушли из" }} {{ lastEvent.workplace.name }} {{ lastEvent ? "в " ~ lastEvent.date | date("Y-m-d H:i") : "" }}</h2>
    {% endif %}

    {% if user.telegramChatId is null %}
        <p style="padding: 0 15px">
            Если хотите получать уведомления и подтверждения входов и выходов напишите <strong
                    style="font-size: 26px">{{ user.id }}</strong> телеграм боту
            <a href="https://t.me/CaffeVeneziaBot?start={{ user.id }}" style="font-weight: bold; color: #0d47a1" target="_blank">@CaffeVeneziaBot</a>
        </p>
    {% endif %}


        <div style="padding: 0 15px">
            <button type="submit" id="update">Обновить данные</button>
        </div>
        <div id="data" style="display: none">
            <form action="{{ path("frontend_user_workplace") }}" method="POST">
                <div>
                    <label for="phone">Фамилия Имя</label>
                    <input type="text" name="name" value="{{ user.name }}">
                </div>

                <div>
                    <label for="phone">Должность</label>
                    <select name="position" id="">
                        <option value="">Выберите из списка</option>
                        {% for pos, label in positions %}
                            <option {{ pos == user.position ? "selected" : "" }} value="{{ pos }}">{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <label for="password">Новый пароль (только цифры)</label>
                    <input type="text" name="password">
                </div>

                <button type="submit">Сохранить</button>
            </form>
        </div>

{% else %}
    <h1>Обновите ваши данные</h1>
    <form action="{{ path("frontend_user_workplace") }}" method="POST">
        <div>
            <label for="phone">Фамилия Имя</label>
            <input type="text" name="name" value="{{ user.name }}">
        </div>

        <div>
            <label for="phone">Должность</label>
            <select name="position" id="">
                <option value="">Выберите из списка</option>
                {% for pos, label in positions %}
                    <option {{ pos == user.position ? "selected" : "" }} value="{{ pos }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit">Сохранить</button>
    </form>

{% endif %}

<script>
    document.getElementById("update").addEventListener("click", () => {
        document.getElementById("update").style.display = "none";
        document.getElementById("data").style.display = "block";
    });
</script>
</body>
</html>
