{% extends "RestaurantBundle::layout.html.twig" %}



{% block title %}
    {{ 'WiFi промо' | trans }}
{% endblock %}

{% block container %}
    <div id="page_content_inner">

    </div>
    <style>

    </style>
{% endblock %}