{% extends "RestaurantBundle::layout.html.twig" %}

{% form_theme promoForm '@Restaurant/Form/Fields.twig' %}


{% block title %}
    {{ 'Клиенты Wi-Fi' | trans }}
{% endblock %}

{% block container %}
    <div id="page_content_inner">
        <div class="md-card print-hide">
            <div class="md-card-toolbar">
                <div class="md-card-toolbar-actions" style="width:50%;padding: 0;margin-top: -5px;">
                    <div class="uk-grid">
                        <div class="uk-width-large-1-3 uk-width-medium-1-1">
                            &nbsp;
                        </div>
                        <div class="uk-width-large-1-3 uk-width-medium-1-1">
                            <div class="uk-input-group">
                                <input class="md-input" type="text" id="phone">
                            </div>
                        </div>
                        <div class="uk-width-large-1-3 uk-width-medium-1-1">
                            <button class="md-btn md-btn-primary md-btn-block md-btn-large" id="phoneSearch">Поиск</button>
                        </div>
                    </div>
                </div>
                <h3 class="heading_a  uk-margin-bottom uk-margin-top">
                    {{ 'Поиск по номеру' | trans }}
                </h3>
            </div>
            <div class="md-card-content">
                <table class="uk-table" id="phones">
                    <thead>
                    <tr>
                        <th>Номер</th>
                        <th>История</th>
                        <th>Отписать от рассылки</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>


        <div class="md-card">
            <div class="md-card-toolbar">
                <div class="md-card-toolbar-actions" style="width:50%;padding: 0;margin-top: -5px;">
                    <div class="uk-grid">
                        <div class="uk-width-large-1-3 uk-width-medium-1-1">
                            <div class="uk-input-group">
                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                <label for="uk_dp_start">С даты</label>
                                <input class="md-input" type="text" id="dateStart" value="{{ dateStart | date('d.m.Y H:i') }}" data-uk-datepicker="{format:'DD.MM.YYYY'}">
                            </div>
                        </div>
                        <div class="uk-width-large-1-3 uk-width-medium-1-1">
                            <div class="uk-input-group">
                                <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                <label for="uk_dp_end">По дату</label>
                                <input class="md-input" type="text" id="dateEnd" value="{{ dateEnd | date('d.m.Y H:i') }}" data-uk-datepicker="{format:'DD.MM.YYYY'}">
                            </div>
                        </div>
                        <div class="uk-width-large-1-3 uk-width-medium-1-1">
                            <button class="md-btn md-btn-primary md-btn-block md-btn-large" id="dateSearch">Поиск</button>
                        </div>
                    </div>
                </div>
                <h3 class="heading_a  uk-margin-bottom uk-margin-top">
                    {{ 'Клиенты Wi-Fi' | trans }}
                    c {{ dateStart | date('d.m.Y H:i') }}
                    по {{ dateEnd | date('d.m.Y H:i') }}
                </h3>
            </div>
            <div class="md-card-content">
                <table class="uk-table">
                    <thead>
                    <tr>
                        <th>{{ 'Заведение' | trans }}</th>
                        <th>{{ 'Клиентов' | trans }}</th>
                        <th>{{ 'Белорусских' | trans }}</th>
                        <th>{{ 'Иностранных' | trans }}</th>
                        <th>{{ 'Промо' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set __count = 0 %}
                    {% set __countBel = 0 %}
                    {% set __countForeign = 0 %}
                    {% set __countPromo = 0 %}
                    {% for __shop, __data in data %}
                        <tr>
                            <td>{{ __shop }}</td>
                            <td>
                                <a href="{{ path('wifi_client_shop_list', {'shop': __data['osId'], 'dateStart': dateStart, 'dateEnd': dateEnd}) }}">
                                    {{ __data['count'] }}
                                </a>
                            </td>
                            <td>{{ __data['countBel'] }}</td>
                            <td>{{ __data['count'] - __data['countBel'] }}</td>
                            <td>{{ __data['promoCount'] ?: 0 }}</td>
                        </tr>
                        {% set __count = __count + __data['count'] %}
                        {% set __countBel = __countBel + __data['countBel'] %}
                        {% set __countPromo = __countPromo + __data['promoCount'] %}
                        {% set __countForeign = __countForeign + (__data['count'] - __data['countBel']) %}
                    {% endfor %}
                    <tr>
                        <td><strong>{{ 'Всего' | trans }}</strong></td>
                        <td>
                            <a href="{{ path('wifi_client_overall_list',{'dateStart': dateStart, 'dateEnd': dateEnd}) }}">
                                {{ __count }}
                            </a>
                        </td>
                        <td>{{ __countBel }}</td>
                        <td>{{ __countForeign }}</td>
                        <td>{{ __countPromo }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="heading_a  uk-margin-bottom uk-margin-top">
                    {{ 'Wi-Fi промо сообщения' | trans }}
                    {# c {{ dateStart | date('d.m.Y H:i') }}
                     по {{ dateEnd | date('d.m.Y H:i') }}#}
                </h3>
            </div>
            <div class="md-card-content">
                <table class="uk-table">
                    <thead>
                    <tr>
                        <th>{{ 'Заведение' | trans }}</th>
                        <th>{{ 'Сообщение' | trans }}</th>
                        <th>{{ 'С' | trans }}</th>
                        <th>{{ 'По' | trans }}</th>
                        <th>{{ 'Отправлено' | trans }}</th>
                        <th class="print-hide">{{ 'Действия' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for __promo in promos %}
                        <tr>
                            <td>{{ __promo.router.shop.name }}</td>
                            <td>{{ __promo.message }}</td>
                            <td>{{ __promo.timeStart | date("H:i") }}</td>
                            <td>{{ __promo.timeEnd | date("H:i") }}</td>
                            <td>{{ wifiPromosCount[__promo.id] is defined ? wifiPromosCount[__promo.id] : 0 }}</td>
                            <td class="print-hide"><a href="{{ path('wifi_client_promo_delete', {'id':__promo.id}) }}" class="md-btn md-btn-danger">{{ 'Удалить' | trans }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="md-card" id="form">
            <div class="md-card-toolbar">
                <h3 class="heading_a  uk-margin-bottom uk-margin-top">
                    {{ 'Добавить сообщение' | trans }}
                    {# c {{ dateStart | date('d.m.Y H:i') }}
                     по {{ dateEnd | date('d.m.Y H:i') }}#}
                </h3>
            </div>
            <div class="md-card-content">
                {{ form(promoForm) }}
            </div>
        </div>

    </div>
    <style>
        @media print {
            a, #form, .md-card-toolbar-actions, .print-hide {
                display: none !important;
            }
        }

    </style>
{% endblock %}

{% block page_specific_plugins %}

    <!-- datatables -->
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <!-- datatables colVis-->
    <script src="/bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <!-- datatables tableTools-->
    <script src="/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <!--<script src="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js"></script>-->
    <!-- datatables custom integration -->
    <script src="/assets/js/custom/datatables_uikit.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>


    <script>
        $(document).on('click', ".unsub", function (e) {
            e.preventDefault();

            var url = $(this).attr('href');
            $.ajax({
                url: url,
                type: 'GET',
            });

            $(this).parents('tr').remove();

            return false;
        });

        $(document).on('click', "#phoneSearch", function () {
            $.ajax({
                url: '{{ path('wifi_client_search') }}',
                type: 'POST',
                data: {
                    phone: $("#phone").val(),
                },
                success: function (response) {
                    $("#phones").empty();
                    response.forEach(function (client) {

                        var row = "<tr>" +
                            "<td>" + client.phone + "</td>" +
                            "<td><a class='md-btn' href='/admin/wifi-client/" + client.id + "/history'>Просмотреть</a></td>" +
                            "<td>" + ( client.isSubscribed ? "<a class='md-btn md-btn-danger unsub' href='/admin/wifi-client/" + client.id + "/unsubscribe'>Отписать</a>" : "" ) + "</td>" +
                            "</tr>";
                        $("#phones").append(row);

                    })
                }
            });
            return false;
        });


    </script>

    <script>
        $(document).on('click', "#dateSearch", function () {
            //http://venezia.new/admin/order/list/summary/25.04.1991/27.04.2016
            var route = "{{ path("wifi_client_list") }}";
            var dateStart = $("#dateStart").val();
            var dateEnd = $("#dateEnd").val();
            if (dateStart != "") route += ("/" + dateStart);
            if (dateEnd != "") route += ("/" + dateEnd);
            window.location = route;
        });
    </script>

    <script>
        var tables = $("table").DataTable({
            dom: "<'dt-uikit-header'<'uk-grid'<'uk-width-medium-2-3'Bl><'uk-width-medium-1-3'>>><'uk-overflow-container'tr><'dt-uikit-footer'<'uk-grid'<'uk-width-medium-3-10'i><'uk-width-medium-7-10'p>>>",
            buttons: [
                {
                    extend: 'print',
                    text: '{{ 'Печать' | trans }}',
                    title: '{{ 'Клиенты Wi-Fi' | trans }} {{ app.request.get('dateStart') | date("d.m.Y H:i") }} - {{ app.request.get('dateEnd') | date("d.m.Y H:i") }}',
                    autoPrint: true,
                    customize: function (win) {
                        $(win.document.body).find('td:first-child').css('white-space', 'nowrap');
                    }
                },
                'excel',
            ],

            paging: false,
        });
    </script>

    <script>
        $(document).on('submit', '#filterForm', function () {
            var path = $(this).attr('action');
            var data = $(this).serialize();
            $.ajax({
                url: path,
                data: data,
                type: 'POST',
                success: function (response) {
                    $("#filterForm").after(response.data);
                    $("#filtered").DataTable({
                        dom: "<'dt-uikit-header'<'uk-grid'<'uk-width-medium-2-3'Bl><'uk-width-medium-1-3'>>><'uk-overflow-container'tr><'dt-uikit-footer'<'uk-grid'<'uk-width-medium-3-10'i><'uk-width-medium-7-10'p>>>",
                        buttons: [
                            {
                                extend: 'print',
                                text: '{{ 'Печать' | trans }}',
                                title: '{{ 'Клиенты Wi-Fi' | trans }} {{ app.request.get('dateStart') | date("d.m.Y H:i") }} - {{ app.request.get('dateEnd') | date("d.m.Y H:i") }}',
                                autoPrint: true,
                                customize: function (win) {
                                    $(win.document.body).find('td:first-child').css('white-space', 'nowrap');
                                }
                            },
                            'excel',
                        ],

                        paging: false,
                    });
                }
            });

            return false;
        });
    </script>
{% endblock %}