<v8msg:Message xmlns:v8msg="http://v8.1c.ru/messages">
    <v8msg:Header>
        <v8msg:ExchangePlan>ОбменХМЛ</v8msg:ExchangePlan>
        <v8msg:To>Б7</v8msg:To>
        <v8msg:From>ХМЛ</v8msg:From>
        <v8msg:MessageNo>0</v8msg:MessageNo>
        <v8msg:ReceivedNo>{{ documentNumber }}</v8msg:ReceivedNo>
    </v8msg:Header>
    <v8msg:Body/>
</v8msg:Message>