<div class="md-card" id="order_card">
    <div class="md-card-content">

        <h3 class="heading_a uk-margin-bottom">Cчет #{{ order.id }}</h3>

        {#<a href="#" class="close_order">Х</a>#}

        <div id="order_form_container">
            <div class="uk-form-row">
                <span class="table"> {{ order.table.name }}</span>
                <span class="opened"> Открыт в {{ order.createdAt | date('H:i') }}</span>
            </div>
            <div id="dishes">
                {% for dish in order.dishes %}
                    <div class="dish">
                        <span class="name">
                            {{ dish.dish.name }}
                        </span>
                        <span class="price">
                            {{ dish.dishPrice }}
                        </span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>