{% form_theme form '@Restaurant/Form/Fields.twig' %}

<script>
    var orderEdit = new Order();
    orderEdit.userId = {{ order.user.id }};
    orderEdit.placeId = {{ order.place.id }};
    orderEdit.tableId = {{ order.table.id }};
    orderEdit.table = tables[orderEdit.tableId];

    {% if order.promo %}
    orderEdit.promo = {{ order.promo.id }};
    orderEdit.promoName = '{{ order.promo.cardId }}';
    orderEdit.promoDiscount = {{ order.promo.cardDiscount }};
    {% endif %}

    {% if order.meta is not null %}
    orderEdit.meta = {
        time: "{{ order.meta.time }}",
        phone: "{{ order.meta.phone }}",
        comment: "{{ order.meta.comment }}",
    };
    {% endif %}
</script>

<div class="md-card" id="custom_order" style="margin-bottom: 15px;">
    <div class="md-card-content">
        {% if order is defined %}
            <h3 class="heading_a uk-margin-bottom" style="line-height: 40px;margin: 0!important;">
                {{ 'Счет №' | trans }}{{ order.localId }}
                {% if is_granted('ROLE_ADMINISTRATOR') %}
                    <span style="font-size: 12px;float: right;margin-right: 90px;text-align: right;">({{ order.id }})</span>
                {% endif %}
            </h3>
        {% else %}
            <h3 class="heading_a uk-margin-bottom">{{ 'Новый счет' | trans }}</h3>
        {% endif %}

        <div class="order-actions">
            <div class="promos" style="float: left;margin-right: 20px;"></div>
        </div>
        {{ form_start(form) }}
        <div id="custom_order_container">
            {% if order is defined %}
                <div class="uk-form-row">
                    <p style="margin: 0;" id="order_user">Официант: <b>{{ order.user.name }}</b></p>
                    {% if order.status == constant('OrderBundle\\Entity\\Order::STATUS_OPENED') %}
                        <p style="margin: 0;">Счет: <b>не рассчитан</b></p>
                    {% elseif order.status == constant('OrderBundle\\Entity\\Order::STATUS_WAIT_FOR_MONEY') %}
                        <p style="margin: 0;">Счет: <b>рассчитан</b></p>
                    {% elseif order.status == constant('OrderBundle\\Entity\\Order::STATUS_CLOSED') %}
                        <p style="margin: 0;">Счет: <b>закрыт</b></p>
                    {% endif %}

                    <p style="margin: 0;" id="order_place">Стол: <b>{{ order.table.name }} ({{ order.place.name }})</b>
                    </p>
                    <div id="edit_meta">{{ 'Комментарий' | trans }}: <strong></strong>
                        {% if order.meta is not null %}
                            {% if order.meta.time != "" %}
                                <p style="margin: 0;">Время: <strong>{{ order.meta.time }}</strong></p>
                            {% endif %}
                            {% if order.meta.phone != "" %}
                                <p style="margin: 0;">Телефон: <strong>{{ order.meta.phone }}</strong></p>
                            {% endif %}
                            {% if order.meta.comment != "" %}
                                <p style="margin: 0;">Комментарий: <strong>{{ order.meta.comment }}</strong></p>
                            {% endif %}
                        {% endif %}
                    </div>

                    <p style="margin: 0;" id="discount_info"></p>

                    <input type="hidden" name="order[place]" id="place_name" value="{{ order.place.id }}">
                    <input type="hidden" name="order[table]" id="table_name" value="{{ order.table.id }}">
                    <input type="hidden" name="order[user]" id="user_name" value="{{ order.user.id }}">
                </div>
            {% endif %}
            <div class="uk-form-row" id="user_edit" style="display: none;"></div>
            <div class="uk-form-row" id="place_edit" style="display: none;"></div>
            {% if is_granted('ROLE_ADMINISTRATOR') %}
                <div class="uk-form-row" style="margin: 15px 0;">
                    <button class="md-btn md-btn-block" id="show_dishes">Показать блюда</button>
                </div>
            {% endif %}
            <div class="uk-form-row" style="margin-top: 0;">
                <div id="custom_order_dishes">
                    {% if order is defined %}
                        {% for dish in order.dishes %}
                            <div class="dish">
                                <script>
                                    orderEdit.createDishObject({
                                        id: {{ dish.dish.id }},
                                        orderDishId: {{ dish.id }},
                                        name: "{{ dish.dish.name }}",
                                        price: {{ dish.dishPrice }},
                                        quantity: {{ dish.quantity }},
                                        time: {{ dish.time }},
                                        discount: {{ dish.dishDiscount }},
                                        load: true,
                                        ignoreDiscount: "{{ dish.dish.ignoreDiscount }}",

                                        //categoryDiscount: {{ dish.dish.category.shopDiscount(order.shop) }},
                                        categoryGroup: {{ dish.dish.category.parent.id }},
                                        categoryGroupName: "{{ dish.dish.category.parent.name }}",
                                        categoryId: "{{ dish.dish.category.id }}",

                                        isEditable: {{ order.isEditable ? "true" : "false" }},

                                        {% if dish.parentOrder is not null %}
                                        parentOrder: {{ dish.parentOrder.id }},
                                        {% endif %}

                                        {% if dish.parentDish is not null %}
                                        parentDish: {{ dish.parentDish.id }},
                                        {% endif %}

                                        {% if dish.delegate is not null %}
                                        categoryDelegateTo: {{ dish.delegate.id }},
                                        {% endif %}
                                    });
                                </script>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div id="button-block">
                <div class="uk-form-row">
                    {% if order.status < constant('OrderBundle\\Entity\\Order::STATUS_CLOSED') %}
                        {{ form_widget(form.update_order) }}
                        {{ form_widget(form.pay_order, {'attr' : {'type': 'test'}}) }}


                        {% if is_granted("ROLE_ADMINISTRATOR") %}
                            <button id="order_close" class="md-btn md-btn-block md-btn-danger">Закрыть счет</button>
                        {% endif %}
                    {% endif %}
                </div>
                <hr>
                <div class="uk-form-row">
                    <label for="">{{ 'Изменения' | trans }}</label>
                    {% if is_granted('ROLE_EDIT_ORDERS') %}
                        {% if order.status < constant('OrderBundle\\Entity\\Order::STATUS_CLOSED') %}
                            <div class="uk-width-medium-1-1" style="margin-bottom: 15px;">
                                {{ form_widget(form.allow_edit_order) }}
                            </div>
                        {% else %}
                            <div class="uk-width-medium-1-1" style="margin-bottom: 15px;">
                                {{ form_widget(form.return_order) }}
                            </div>
                        {% endif %}
                    {% elseif is_granted("ROLE_ADMINISTRATOR") %}
                        <button id="double_close_order" class="md-btn md-btn-block md-btn-warning"
                                style="margin-bottom: 15px;">Изменить
                        </button>
                    {% endif %}

                    {% if (order.isEditable or is_granted('ROLE_EDIT_ORDERS')) and (order.status != constant('OrderBundle\\Entity\\Order::STATUS_DELETED') ) %}
                        <div class="uk-width-medium-1-1" style="margin-bottom: 15px;">
                            {{ form_widget(form.delete_order) }}
                        </div>
                    {% endif %}
                </div>

                <div class="uk-form-row">
                    <label for="">{{ 'Печать' | trans }}</label>
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-2">
                            {{ form_widget(form.print_order) }}
                        </div>
                        <div class="uk-width-medium-1-2">
                            {{ form_widget(form.print_order_kitchen) }}
                        </div>

                    </div>
                    {% if is_granted('ROLE_EXTRA') %}
                        <div class="uk-grid">
                            <div class="uk-width-medium-1-1">
                                <button id="print_bar" class="md-btn md-btn-block">Печать счет 2</button>
                            </div>
                        </div>
                    {% endif %}
                </div>


            </div>
            {{ form_widget(form._token) }}
        </div>
        </form>
        <script>
            altair_md.checkbox_radio();
        </script>
    </div>
</div>

<script>
    orderEdit.container = $("#custom_order_dishes");
    orderEdit.renderOrder();
    {% if is_granted('ROLE_ADMINISTRATOR') %}
    $(".dish").hide();
    {% endif %}
</script>


