{% form_theme form '@Restaurant/Form/Fields.twig' %}

{%- block new_order_form -%}
    {%- spaceless -%}
        <div class="md-card" id="new_order" style="margin-top: 0;">
            <div class="md-card-content">
                <h3 class="heading_a uk-margin-bottom">{{ 'Новый счет' | trans }}</h3>
                <div class="order-actions"></div>
                {{ form_start(form) }}
                <div id="order">
                    <div class="uk-form-row order_meta">
                        <p>{{ 'Официант' | trans }}: <strong>{{ app.user.name }}</strong></p>
                        <p>{{ 'Площадка' | trans }}: <strong id="place_name_label"></strong></p>
                        <p>{{ 'Стол' | trans }}: <strong id="table_name_label"></strong></p>
                        <p id="edit_meta">{{ 'Комментарий' | trans }}: <strong>Добавить</strong></p>
                        <input type="hidden" name="order[place]" id="place_name">
                        <input type="hidden" name="order[table]" id="table_name">
                        <input type="hidden" name="order[user]" id="user_name" value="{{ app.user.id }}">
                    </div>

                    <div class="uk-form-row">
                        {#{{ form_label(form.dishes) }}#}
                        <div id="new_order_dishes"></div>
                    </div>
{#                    <div class="uk-form-row">#}
{#                        {% if is_granted('ROLE_ADMINISTRATOR') %}#}
{#                            {% if order is defined and order.status >= constant('OrderBundle\\Entity\\Order::STATUS_WAIT_FOR_MONEY') %}#}
{#                                {{ form_widget(form.cashType) }}#}
{#                            {% endif %}#}
{#                        {% endif %}#}
{#                    </div>#}
{#                    <div class="uk-form-row" id="client" style="display: none;">#}
{#                        {% if is_granted('ROLE_ADMINISTRATOR') %}#}
{#                            {{ form_widget(form.client) }}#}
{#                        {% endif %}#}
{#                    </div>#}
                    {{ form_widget(form.save_order) }}
                    {{ form_widget(form._token) }}
                </div>
                </form>
            </div>
        </div>
    {%- endspaceless -%}
{% endblock %}