<!doctype html>
<!--[if lte IE 9]>
<html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en"> <!--<![endif]-->

<head>
    <title> {% block title %}{{ 'Главная' | trans }}{% endblock %} | {{ brand }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no"/>
    <link rel="icon" type="image/png" href="/assets/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/img/favicon-32x32.png" sizes="32x32">
    <!-- uikit -->
    <script>
        window.addEventListener("error", function (e, url) {
            var eleArray = ["LINK"];
            var ele = e.target;

            if (eleArray.indexOf(ele.tagName) !== -1) {
                ele.href = ele.href.replace("https://venezia.by", "");
                return true;// dont show in console
            }
        }, true);
    </script>
    <link rel="stylesheet" href="https://venezia.by{{ asset('bower_components/uikit/css/uikit.almost-flat.min.css') }}"
          media="all">
    <link rel="stylesheet" href="https://venezia.by{{ asset('assets/css/main.min.css') }}" media="all">
    <link rel="stylesheet" href="https://venezia.by{{ asset('assets/css/custom.css') }}" media="all">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/3.2.0/sha.min.js"
            integrity="sha512-/yIGjYJZIXZx10ig0yhbK41OiwcqBUxIj0xQJe+NwkMIdS/u07b6Mwo0nvXB4o7A6WiKnKOf92JwE5Ezo27u9Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="/js/rrweb.min.js"></script>

    {% block page_specific_styles %}{% endblock %}
</head>
<body class="{% block sidebar_status %}sidebar_main_open{% endblock %} sidebar_main_swipe header_full">
<!-- main header -->
<header id="header_main">
    <div class="header_main_content">
        <nav class="uk-navbar">
            <!-- main sidebar switch -->
            <a href="#" id="sidebar_main_toggle" class="sSwitch sSwitch_left">
                <i class="material-icons" style="color: #fff;font-size: 28px;line-height: 48px;">menu</i>
            </a>

            <div class="main_logo_top">
                <a href="/">
                    <img src="/assets/img/logo_main_white.png" alt="" height="15" width="71"/>
                </a>
            </div>

            {% block custom_header_left_buttons %}
                <span id="pin" style="color: #fff; font-size: 24px;padding-left: 15px;line-height: 48px;"></span>
                <span class="shop_name">{{ globalshop.name }}</span>
            {% endblock %}


            <div class="uk-navbar-flip" style="display: flex;">

                {% block language_switcher %}
                    <div class="languages">
                        {% if app.request.locale == 'ru' %}
                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ru'})) }}"
                               class="md-btn md-btn-success">RU</a>
                        {% else %}
                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ru'})) }}"
                               class="md-btn md-btn-warning">RU</a>
                        {% endif %}

                        {% if app.request.locale == 'en' %}
                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"
                               class="md-btn md-btn-success">EN</a>
                        {% else %}
                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"
                               class="md-btn md-btn-warning">EN</a>
                        {% endif %}

                        {% if app.request.locale == 'it' %}
                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'it'})) }}"
                               class="md-btn md-btn-success">IT</a>
                        {% else %}
                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'it'})) }}"
                               class="md-btn md-btn-warning">IT</a>
                        {% endif %}
                    </div>
                {% endblock %}

                <ul class="uk-navbar-nav user_actions">
                    {% block custom_header_right_menu %}
                        <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                            <a href="#" class="user_action_image"
                               style="line-height: 20px!important;width: 150px;padding-top: 5px; text-align: center">
                                {{ app.user.name }}<br/>
                                {{ "now" | date("Y-m-d H:i") }}
                            </a>

                            <div class="uk-dropdown uk-dropdown-small">
                                <ul class="uk-nav js-uk-prevent">
                                    <li><a href="{{ path("fos_user_profile_edit") }}">{{ 'Мой профиль' | trans }}</a>
                                    </li>
                                    {#<li><a href="/altair/page_settings.html">Settings</a></li>#}
                                    <li><a href="{{ path("fos_user_security_logout") }}">{{ 'Выход' | trans }}</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="/logout" class="termianl_exit" style="padding: 0;">
                                <i class="material-icons">close</i>
                            </a>
                        </li>
                    {% endblock %}
                </ul>
            </div>
        </nav>
    </div>
    <div class="header_main_search_form">
        <i class="md-icon header_main_search_close material-icons">&#xE5CD;</i>
        <form class="uk-form">
            <input type="text" class="header_main_search_input"/>
            <button class="header_main_search_btn uk-button-link"><i class="md-icon material-icons">&#xE8B6;</i>
            </button>
        </form>
    </div>
</header><!-- main header end -->
<!-- main sidebar -->
<aside id="sidebar_main">

    <div class="menu_section">
        <ul>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li title="{{ 'Дневной отчет' | trans }}"
                    {% if app.request.get('_route') == 'admin_order_daily_report' %}class="current_section"{% endif %}>
                    <a href="{{ path("admin_order_daily_report", {'id' : globalshop.id, 'date' : '' }) }}">
                        <span class="menu_icon"><i class="material-icons">restaurant</i></span>
                        <span class="menu_title">{{ 'Дневной отчет' | trans }}</span>
                    </a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMINISTRATOR') %}
                <li title="{{ 'Отчеты' | trans }}"
                    class="submenu_trigger {% if app.request.get('_route') == 'report_list' %}current_section{% endif %}">
                    <a href="{{ path('report_list') }}">
                        <span class="menu_icon"><i class="material-icons">assignment</i></span>
                        <span class="menu_title">{{ 'Отчеты' | trans }}</span>
                    </a>
                    <ul style="display: none;" class="">
                        <li>
                            <a href="{{ path('report_list') }}">
                                {{ 'Отчеты' | trans }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('table_list') }}">
                                {{ 'Таблицы' | trans }}
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li title="{{ 'Задачи' | trans }}"
                    {% if app.request.get('_route') == 'task_list' %}class="current_section"{% endif %}>
                    <a href="{{ path('task_list') }}">
                        <span class="menu_icon"><i class="material-icons">assignment</i></span>
                        <span class="menu_title">{{ 'Задачи' | trans }}</span>
                    </a>
                </li>
                <li title="{{ 'Фото' | trans }}"
                    {% if app.request.get('_route') == 'photo_list' %}class="current_section"{% endif %}>
                    <a href="{{ path('photo_list') }}">
                        <span class="menu_icon"><i class="material-icons">photo_camera</i></span>
                        <span class="menu_title">{{ 'Фото' | trans }}</span>
                    </a>
                </li>
                <li title="{{ 'Изменения' | trans }}"
                    {% if app.request.get('_route') == 'report_daily_changes' %}class="current_section"{% endif %}>
                    <a href="{{ path("report_daily_changes") }}">
                        <span class="menu_icon"><i class="material-icons">track_changes</i></span>
                        <span class="menu_title">{{ 'Изменения' | trans }}</span>
                    </a>
                </li>
                <li title="{{ 'Изменения счетов' | trans }}"
                    {% if app.request.get('_route') == 'order_fix_list' %}class="current_section"{% endif %}>
                    <a href="{{ path("order_fix_list") }}">
                        <span class="menu_icon"><i class="material-icons">track_changes</i></span>
                        <span class="menu_title">{{ 'Изменения счетов' | trans }}</span>
                    </a>
                </li>
            {% endif %}

            {% if is_granted("ROLE_USER") %}
                <li title="{{ 'Поставка продуктов' | trans }}"
                    {% if app.request.get('_route') == 'shop_warehouse_summary' %}class="current_section"{% endif %}>
                    <a href="{{ path("shop_warehouse_summary") }}">
                        <span class="menu_icon"><i class="material-icons">local_shipping</i></span>
                        <span class="menu_title">{{ 'Поставка продуктов' | trans }}</span>
                    </a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li title="{{ 'Заведения' | trans }}"
                    {% if app.request.get('_route') == 'shop_list' %}class="current_section"{% endif %}>
                    <a href="{{ path("shop_list") }}">
                        <span class="menu_icon"><i class="material-icons">store</i></span>
                        <span class="menu_title">{{ 'Заведения' | trans }}</span>
                    </a>
                </li>


            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}


                <li title="{{ 'Блюда' | trans }}"
                    class="submenu_trigger {% if app.request.get('_route') == 'dish_list' %}current_section{% endif %}"
                    style="position: relative;">
                    <a href="#">
                        <span class="menu_icon"><i class="material-icons">restaurant</i></span>
                        <span class="menu_title">{{ 'Блюда' | trans }}</span>
                    </a>
                    <ul style="display: none;" class="">
                        <li style="position: relative">
                            <a href="{{ path("dish_list") }}">{{ 'Блюда' | trans }}</a>

                            <a href="{{ path('dish_add') }}" class="menu-btn"
                               style="position: absolute; top: 7px; right: 11px; height: 24px; line-height: 24px;">+</a>
                        </li>
                        <li>
                            <a href="{{ path("category_list") }}">{{ 'Категории меню' | trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path("admin_ingredient_list") }}">{{ 'Ингредиенты' | trans }} </a>
                        </li>
                        {% if is_granted("ROLE_ADMIN") %}
                            <li>
                                <a href="{{ path("composition_index") }}">{{ 'Тех. карты' | trans }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>

                <li title="{{ 'Изменения цен' | trans }}"
                    {% if app.request.get('_route') == 'dish_changes' %}class="current_section"{% endif %}>
                    <a href="{{ path("dish_changes") }}">
                        <span class="menu_icon"><i class="material-icons">&#xE53E;</i></span>
                        <span class="menu_title">{{ 'Изменения цен' | trans }}</span>
                    </a>
                </li>
                <li title="{{ 'Скидки' | trans }}"
                    {% if app.request.get('_route') == 'category_discount_list' %}class="current_section"{% endif %}>
                    <a href="{{ path("category_discount_list") }}">
                        <span class="menu_icon"><i class="material-icons">trending_down</i></span>
                        <span class="menu_title">{{ 'Скидки и акции' | trans }}</span>
                    </a>
                </li>
                <li title="{{ 'Клиенты' | trans }}"
                    {% if app.request.get('_route') == 'client_list' %}class="current_section"{% endif %}>
                    <a href="{{ path("client_list") }}">
                        <span class="menu_icon"><i class="material-icons">&#xE87C;</i></span>
                        <span class="menu_title">{{ 'Клиенты' | trans }}</span>
                    </a>
                </li>
                <li title="{{ 'Онлайн заказы' | trans }}"
                    {% if app.request.get('_route') == 'web_order_list' %}class="current_section"{% endif %}>
                    <a href="{{ path("web_order_list",{"id":1}) }}">
                        <span class="menu_icon"><i class="material-icons">&#xE53E;</i></span>
                        <span class="menu_title">{{ 'Онлайн заказы' | trans }}</span>
                    </a>
                </li>
                <li title="{{ 'Wi-Fi' | trans }}"
                    {% if app.request.get('_route') == 'wifi_client_list' %}class="current_section"{% endif %}>
                    <a href="{{ path("wifi_client_list") }}">
                        <span class="menu_icon"><i class="material-icons">&#xE63E;</i></span>
                        <span class="menu_title">{{ 'Wi-Fi' | trans }}</span>
                    </a>
                </li>

                <li title="{{ 'Доставка' | trans }}"
                    {% if app.request.get('_route') == 'order_list' %}class="current_section"{% endif %}>
                    <a href="{{ path("report_delivery") }}">
                        <span class="menu_icon"><i class="material-icons">search</i></span>
                        <span class="menu_title">{{ 'Доставка' | trans }}</span>
                    </a>
                </li>
                <li title="{{ 'Поиск счета' | trans }}"
                    {% if app.request.get('_route') == 'order_list' %}class="current_section"{% endif %}>
                    <a href="{{ path("order_list") }}">
                        <span class="menu_icon"><i class="material-icons">search</i></span>
                        <span class="menu_title">{{ 'Поиск счета' | trans }}</span>
                    </a>
                </li>
            {% endif %}

            {% if is_granted("ROLE_DELIVERY_MAN") %}
                <li title="{{ 'Поиск счета' | trans }}"
                    {% if app.request.get('_route') == 'order_list' %}class="current_section"{% endif %}>
                    <a href="{{ path("order_list") }}">
                        <span class="menu_icon"><i class="material-icons">search</i></span>
                        <span class="menu_title">{{ 'Поиск счета' | trans }}</span>
                    </a>
                </li>
            {% endif %}

            {% if is_granted("ROLE_DELIVERY_MANAGER") %}
            {% endif %}

            {% if is_granted('ROLE_SEO') %}
                <li title="{{ 'Сайт' | trans }}"
                    class="submenu_trigger {% if app.request.get('_route') == 'user_list' %}current_section{% endif %}">
                    <a href="#">
                        <span class="menu_icon"><i class="material-icons">&#xE87C;</i></span>
                        <span class="menu_title">{{ 'Сайт' | trans }}</span>
                    </a>
                    <ul style="display: none;" class="">
                        <li><a href="{{ path("site_shop_list") }}">{{ 'Заведения' | trans }}</a></li>
                        <li><a href="{{ path("site_gallery_list") }}">{{ 'Галерея' | trans }}</a></li>
                        <li><a href="{{ path("site_article_list") }}">{{ 'Статьи' | trans }}</a></li>
                        {#<li><a href="#">{{ 'Отзывы' | trans }}</a></li>#}
                    </ul>
                </li>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <li title="{{ 'Клиентские карты' | trans }}"
                    {% if app.request.get('_route') == 'admin_client_card_list' %}class="current_section"{% endif %}
                    style="position: relative;">
                    <a href="{{ path('admin_promo_card_list') }}">
                        <span class="menu_icon"><i class="material-icons">card_membership</i></span>
                        <span class="menu_title">{{ 'Клиентские карты' | trans }}</span>
                    </a>
                    {% if (newClientsCounter is defined) and (newClientsCounter > 0) %}
                        <a href="{{ path('admin_promo_card_list') }}" class="menu-btn"
                           style="opacity: 1;position: absolute;right: 5px;top: 4px;"
                           title="Создать карты">{{ newClientsCounter }}</a>
                    {% endif %}
                </li>
            {% else %}
                <li title="{{ 'Клиентские карты' | trans }}"
                    {% if app.request.get('_route') == 'terminal_promo_card_list' %}class="current_section"{% endif %}
                    style="position: relative;">
                    <a href="{{ path('terminal_promo_card_list') }}">
                        <span class="menu_icon"><i class="material-icons">card_membership</i></span>
                        <span class="menu_title">{{ 'Клиентские карты' | trans }}</span>
                    </a>
                </li>
            {% endif %}

            {% if is_granted('ROLE_MARKETMAN') %}
                <li title="{{ 'Статистика' | trans }}"
                    {% if app.request.get('_route') == 'stat_summary' %}class="current_section"{% endif %}>
                    <a href="{{ path("stat_summary") }}">
                        <span class="menu_icon"><i class="material-icons">show_chart</i></span>
                        <span class="menu_title">{{ 'Статистика' | trans }}</span>
                    </a>
                    <ul style="display: none;" class="">
                        <li><a href="{{ path("stat_summary") }}">{{ 'Статистика' | trans }}</a></li>
                        <li><a href="{{ path("stat_mom_by_shop") }}">{{ 'Статистика MoM' | trans }}</a></li>
                        <li><a href="{{ path("stat_average") }}">{{ 'Статистика cр. счет' | trans }}</a></li>
                        <li><a href="{{ path("stat_pizza") }}">{{ 'Пицца' | trans }}</a></li>
                        <li><a href="{{ path("stat_pizza_month") }}">{{ 'Пиццы за месяц' | trans }}</a></li>

                    </ul>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li title="{{ 'Пользователи' | trans }}"
                    {% if app.request.get('_route') == 'user_list' %}class="current_section"{% endif %}>
                    <a href="{{ path("user_list") }}">
                        <span class="menu_icon"><i class="material-icons">&#xE87C;</i></span>
                        <span class="menu_title">{{ 'Пользователи' | trans }}</span>
                    </a>
                    <ul style="display: none;" class="">
                        <li><a href="{{ path("user_list") }}">{{ 'Пользователи' | trans }}</a></li>
                        <li><a href="{{ path("common_timesheet") }}">{{ 'Табель' | trans }}</a></li>
                        <li><a href="{{ path("person_calendar") }}">{{ 'График' | trans }}</a></li>
                        <li><a href="{{ path("person_timing") }}">{{ 'Входы' | trans }}</a></li>
                    </ul>
                </li>
                <li title="{{ 'Перевод' | trans }}"
                    {% if app.request.get('_route') == 'jms_translation_index' %}class="current_section"{% endif %}>
                    <a href="{{ path("jms_translation_index") }}">
                        <span class="menu_icon"><i class="material-icons">translate</i></span>
                        <span class="menu_title">{{ 'Перевод' | trans }}</span>
                    </a>
                </li>
            {% endif %}
            {% if is_granted("ROLE_ADMINISTRATOR") %}
                <li title="{{ 'Контроль' | trans }}"
                    {% if app.request.get('_route') == 'pizza_terminal_check' %}class="current_section"{% endif %}>
                    <a href="{{ path("pizza_terminal_check") }}">
                        <span class="menu_icon"><i class="material-icons">&#xE53E;</i></span>
                        <span class="menu_title">{{ 'Контроль' | trans }}</span>
                    </a>
                </li>
                <li title="{{ 'Терминал' | trans }}"
                    {% if app.request.get('_route') == 'terminal_index' %}class="current_section"{% endif %}>
                    <a href="{{ path("terminal_index") }}">
                        <span class="menu_icon"><i class="material-icons">&#xE53E;</i></span>
                        <span class="menu_title">{{ 'Терминал' | trans }}</span>
                    </a>
                </li>
                <li title="{{ 'Закрыть смену' | trans }}"
                    {% if app.request.get('_route') == 'terminal_close_shift' %}class="current_section"{% endif %}>
                    <a href="{{ path("terminal_close_shift") }}">
                        <span class="menu_icon"><i class="material-icons">&#xE53E;</i></span>
                        <span class="menu_title">{{ 'Закрыть смену' | trans }}</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</aside><!-- main sidebar end -->

<div id="page_content">
    {% block container %}

    {% endblock %}
</div>
<!-- google web fonts -->
<script>
    WebFontConfig = {
        google: {
            families: [
                'Source+Code+Pro:400,700:latin',
                'Roboto:400,300,500,700,400italic:latin'
            ]
        }
    };
    (function () {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();
</script>

<!-- common functions -->
<script src="{{ asset('assets/js/common.min.js') }}"></script>
<!-- uikit functions -->
<script src="{{ asset('assets/js/uikit_custom.min.js') }}"></script>
<!-- altair common functions/helpers -->
<script src="{{ asset('assets/js/altair_admin_common.min.js') }}"></script>
{#<script src="//{{ app.request.host }}:3000/socket.io/socket.io.js"></script>

<script>
    var socket = io.connect('{{ app.request.host }}:3000');
</script>#}
{% block page_specific_plugins %}
{% endblock %}

<script>
    $(document).ready(function () {

        setInterval(() => {
            $("#pin").text(getToken("JBSWY3DPEHPK3PXP", {
                digits: 4,
                period: 300,
            }))
        }, 1000)


        function getToken(key, options = {}) {
            var epoch, time, shaObj, hmac, offset, otp
            options.period = options.period || 30
            options.algorithm = options.algorithm || "SHA-1"
            options.digits = options.digits || 6
            options.timestamp = options.timestamp || Date.now()
            key = base32tohex(key)
            epoch = Math.round(options.timestamp / 1000.0)
            time = leftpad(dec2hex(Math.floor(epoch / options.period)), 16, "0")
            shaObj = new jsSHA(options.algorithm, "HEX")
            shaObj.setHMACKey(key, "HEX")
            shaObj.update(time)
            hmac = shaObj.getHMAC("HEX")
            offset = hex2dec(hmac.substring(hmac.length - 1))
            otp = (hex2dec(hmac.substr(offset * 2, 8)) & hex2dec("7fffffff")) + ""
            otp = otp.substr(Math.max(otp.length - options.digits, 0), options.digits)
            return otp
        }


        function hex2dec(s) {
            return parseInt(s, 16)
        }

        function dec2hex(s) {
            return (s < 15.5 ? "0" : "") + Math.round(s).toString(16)
        }

        function base32tohex(base32) {
            var base32chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ234567",
                bits = "",
                hex = ""

            base32 = base32.replace(/=+$/, "")

            for (var i = 0; i < base32.length; i++) {
                var val = base32chars.indexOf(base32.charAt(i).toUpperCase())
                if (val === -1) throw new Error("Invalid base32 character in key")
                bits += leftpad(val.toString(2), 5, "0")
            }

            for (var i = 0; i + 8 <= bits.length; i += 8) {
                var chunk = bits.substr(i, 8)
                hex = hex + leftpad(parseInt(chunk, 2).toString(16), 2, "0")
            }
            return hex
        }

        function leftpad(str, len, pad) {
            if (len + 1 >= str.length) {
                str = Array(len + 1 - str.length).join(pad) + str
            }
            return str
        }
    });
</script>

{% if app.user.id != 2 %}
<script>

    const session = Math.random().toString(32);
    let events = [];

    rrweb.record({
        emit(event) {
            // push event into the events array
            events.push(event);
        },
    });

    function save() {
        const body = {
            events: JSON.stringify({events}),
            user: {{ app.user.id }},
            url: location.href,
            session,
        };

        fetch('https://admin.venezia.by/api/recorder', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(body),
        });
        events = [];

    }

    window.onbeforeunload = () => {
        save();
    }

    // save events every 10 seconds
    setInterval(save, 10 * 1000);

</script>
{% endif %}

<script>

    $(function () {
        // enable hires images
        altair_helpers.retina_images();
        // fastClick (touch devices)
        if (Modernizr.touch) {
            FastClick.attach(document.body);
        }
    });
</script>
</body>
</html>
