<table class="uk-table" style="width: 100%;">
    <thead>
    <tr>
        <th>Счет</th>
        <th>Время</th>
        <th>Официант</th>
        <th>Блюдо</th>
        <th>Цена</th>
        <th>Кол-во</th>
        <th>Сумма</th>
    </tr>
    </thead>
    {% for shop, __data in changesData %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>{{ shop }}</strong></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% if __data['changesDishes'] is defined %}

            {% for __change in __data['changesDishes'] %}
                <tr>
                    <td>
                        <a target="_blank" href="{{ path('admin_order_show', {'id' : __change.orderDish.parentOrder.id}) }}">
                            {{ __change.orderDish.parentOrder.localId }}
                        </a>
                    </td>
                    <td>{{ __change.datetime | date('Y-m-d H:i') }}</td>
                    <td>{{ __change.orderDish.parentOrder.user.name }}</td>
                    <td>
                        <a target="_blank" href="{{ path('dish_edit', {'id': __change.orderDish.dish.id}) }}">
                            {{ __change.orderDish.dish.name }}
                        </a>
                    </td>
                    <td>{{ __change.orderDish.dishPrice | price }}</td>
                    <td>{{ __change.difference }}</td>
                    <td>{{ (__change.difference * __change.orderDish.dishPrice) | price }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        {% if __data['deletedOrders'] is defined %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><i>{{ 'Удаленные со счетом' | trans }}</i></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% for __order in __data['deletedOrders'] %}
                {% for __dish in __order.dishes %}
                    <tr>
                        <td>
                            <a target="_blank" href="{{ path('admin_order_show', {'id' :__order.id}) }}">
                                {{ __dish.parentOrder.localId }}
                            </a>
                        </td>
                        <td>{{ __order.deletedAt | date('H:i:s') }}</td>
                        <td>{{ __order.user.name }}</td>
                        <td>
                            <a target="_blank" href="{{ path('dish_edit', {'id': __dish.dish.id}) }}">
                                {{ __dish.dish.name }}
                            </a>
                        </td>
                        <td>{{ __dish.dishPrice | price }}</td>
                        <td>{{ __dish.quantity }}</td>
                        <td>{{ (__dish.quantity * __dish.dishPrice) | price }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</table>