<tfoot>
<tr>
    <th></th>
    <th></th>
</tr>
</tfoot>
</table>
<table class="uk-table uk-table-striped">
    <thead>
    <tr>
        <th>{{ 'Дата' | trans }}</th>
        <th>{{ 'Кол-во' | trans }}</th>
    </tr>
    </thead>