{% extends "RestaurantBundle::layout.html.twig" %}

{#
{% form_theme form '@Restaurant/Form/Fields.twig' %}
#}


{% block custom_header_right_menu %}
    {#<li><a href="{{ path("fos_user_profile_edit") }}" class="user_action_icon uk-visible-large" style="font-size: 36px;">{{ app.user.shop.name }}</a></li>#}
    <li><a href="#" class="user_action_icon uk-visible-large" style="font-size: 18px;margin-right: 5px;">{{ app.user.name }}</a></li>
    {% if is_granted("ROLE_ADMIN") %}
        <li>
            <select id="change_shop" class="md-input">
                {% for sh in shops %}
                    <option value="{{ sh.id }}" {% if app.user.shop.id == sh.id %}selected{% endif %}>{{ sh.name }}</option>
                {% endfor %}
            </select>
        </li>
    {% else %}
        <li><a href="#" class="user_action_icon uk-visible-large" style="font-size: 18px;">{{ app.user.shop.name }}</a></li>
    {% endif %}
    {#    <li><a href="{{ path("fos_user_security_logout") }}" class="termianl_exit"><i class="material-icons">close</i></a></li>#}
    <li><a href="{{ path("login_tablet") }}" class="termianl_exit"><i class="material-icons">close</i></a></li>
{% endblock %}

{% block language_switcher %}{% endblock %}

{% block custom_header_left_buttons %}
{% endblock %}

{% block container %}
    <div class="uk-grid" id="weightData" style="display: none; margin-left: 0;">
        <div id="photo" class="uk-width-1-2">
            <img src="" alt="">
        </div>
        <div id="params" class="uk-width-1-2">
            <p>Счет <b>№</b><span id="order"></span></p>
            <p>Блюдо: <span id="name"></span></p>
            <p>Вес: <span id="weight"></span> гр.</p>
            <p>Стол: <span id="table"></span></p>
            <button class="md-btn md-btn-success md-btn-block disabled" disabled style="height: 60px;" id="senddata">OK</button>
        </div>
    </div>
    <div id="pizzaList">


    </div>
{% endblock %}

{% block page_specific_styles %}
    <style>
        .pizzaDish {
            height: 60px;
            background: #fff;
            margin: 5px;
            padding: 5px 15px;
            font-size: 18px;
        }

        .name {
            font-weight: bold;
            line-height: 30px;
        }

        .time {
            line-height: 30px;
        }

        #photo {
            /* width: 50%;
             float: left;*/
            padding: 20px 5px 5px 5px;
        }

        #photo img {
            width: 100%;
        }

        #params {
            /* width: 30%;
             float: left;*/
            padding: 20px;
            font-size: 18px;
        }

        #params span {
            font-weight: bold;
        }


    </style>
{% endblock %}

{% block page_specific_plugins %}
    <script>
        var photoObj = {};

        function loadDishes() {
            $.ajax({
                url: '{{ path('pizza_terminal_load') }}',
                success: function (response) {
                    $("#pizzaList").html(response);
                }
            });
        }

        setInterval(function () {
            loadDishes()
        }, 10000);

        $(document).on('click', '.pizzaDish', function () {
            var dishData = $(this).data();
            $("#name").text(dishData.dishname);
            $("#order").text(dishData.orderlocalid);
            $("#table").text(dishData.table);

            photoObj.orderDishId = dishData.dishid;
            $("#senddata").addClass('disabled').attr('disabled', 'disabled');

            $("#weightData").show();
            getPhoto(dishData.dishid);
        });

        function getPhoto(dish) {
            $.ajax({
                url: "{{ path('pizza_terminal_get_photo') }}",
                type: "POST",
                data: {dish:dish},
                success: function (response) {
                    photoObj.filename = response.photo;
                    photoObj.weight = response.weight;
                    $("#photo img").attr('src', '/uploads/photos/' + response.photo);
                    $("#weight").text(photoObj.weight);
                    $("#senddata").removeClass('disabled').removeAttr('disabled');
                }
            });
        }

        $(document).ready(function () {
            loadDishes();
        });

        $(document).on('click', '#senddata', function () {
            $("#weightData").hide();
            $("#senddata").addClass('disabled').attr('disabled', 'disabled');
            $("#photo img").attr('src', null);
            $("#weight").text('');

            $.ajax({
                url: '{{ path('pizza_terminal_listener') }}',
                type: 'POST',
                data: photoObj,
                success: function (response) {
                    photoObj = {};
                }
            });
        });
    </script>
{% endblock %}