{% extends "RestaurantBundle::layout.html.twig" %}

{#{% form_theme form '@Restaurant/Form/Fields.twig' %}#}

{% block custom_header_right_menu %}
    {#<li><a href="{{ path("fos_user_profile_edit") }}" class="user_action_icon uk-visible-large" style="font-size: 36px;">{{ app.user.shop.name }}</a></li>#}
    <li><a href="#" class="user_action_icon uk-visible-large" style="font-size: 18px;margin-right: 5px;">{{ app.user.name }}</a></li>
    {% if is_granted("ROLE_ADMIN") %}
        <li>
            <select id="change_shop" class="md-input">
                {% for sh in shops %}
                    <option value="{{ sh.id }}" {% if app.user.shop.id == sh.id %}selected{% endif %}>{{ sh.name }}</option>
                {% endfor %}
            </select>
        </li>
    {% else %}
        <li><a href="#" class="user_action_icon uk-visible-large" style="font-size: 18px;">{{ app.user.shop.name }}</a></li>
    {% endif %}
    <li><a href="{{ path("login_tablet") }}" class="termianl_exit"><i class="material-icons">close</i></a></li>
{% endblock %}

{% block sidebar_status %}{% endblock %}

{% block language_switcher %}{% endblock %}

{% block custom_header_left_buttons %}
    <div id="menu_top_dropdown" class="uk-float-left uk-hidden-small">
        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
            <a href="{{ path('terminal_index') }}" class="table_menu_toggle header_button">Зал</a>
        </div>
        <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
            <a href="{{ path('terminal_index') }}" class="order_menu_toggle header_button">Счета</a>
        </div>
    </div>
{% endblock %}

    {% block container %}
        <div id="page_content_inner">
            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-form-row">
                        <div class="uk-grid" id="quizForm">
                            <div class="uk-width-1-1">
                                <div id="dishPhoto"></div>
                                <div id="options"></div>
                                <div id="review">
                                    {% for bit, value in constant('ControlBundle\\Entity\\DishPhotoCheck::REVIEW_MASK') %}
                                        <div class="review_option" data-bit="{{ bit }}">
                                            <div>
                                                {{ value | capitalize }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div id="rate">
                                    {% for i in 0..5 %}
                                        <div class="rate_option" data-rate="{{ i }}">
                                            <div>{{ i }}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block page_specific_styles %}
        <link rel="stylesheet" href="{{ asset('assets/css/terminal.css') }}?{{ 'now'|date('U') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/jquery.mCustomScrollbar.min.css') }}">
        <style>
            .check_option {
                width: 235px;
                float: left;
                height: 60px;
                font-weight: bold;
                margin: 0 10px 10px 0;
                background: #eee;
            }

            #review:after {
                content: "";
                display: table;
                clear: both;
            }

            #review {
                float: left;
                width: 240px;
            }

            #review .review_option {
                width: 235px;
                float: left;
                height: 60px;
                font-weight: bold;
                margin: 0 5px 10px 0;
                background: #eee;
            }

            .check_option div, .review_option div {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                text-align: center;
            }

            #dishPhoto {
                width: 380px;
                height: 380px;
                background-position: 714px 493px;
                background-size: 1000px;
                margin: 0;
                float: left;

            }

            #rate {
                float: left;
                width: 60px;
                border-left: 1px #eee solid;
                border-right: 1px #eee solid;
            }

            #rate .rate_option div {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                font-weight: bold;
                text-align: center;
                font-size: 24px;
            }

            #rate .rate_option {
                display: block;
                width: 60px;
                height: 60px;
                background: #eee;
                margin-bottom: 10px;
            }

            #options {
                margin-left: 5px;
                float: left;
                width: 240px;
            }

        </style>
    {% endblock %}

    {% block page_specific_plugins %}
        <script>
            window.data = {
                option: false,
                rate: false,
                review: 0,
            };
            $(document).ready(function () {
                renderPhoto({{ data | raw }});
            });

            function renderPhoto(response) {
                window.data = {
                    option: false,
                    rate: false,
                    review: 0,
                };
                $("#quizForm").css({
                    'opacity': 1,
                });
                $(".rate_option").css({'background': ""});
                $(".review_option").data('status', false).css({'background': ""});
                if (response.photo) {

                    $('#dishPhoto').css({
                        'background-image': 'url(//admin.venezia.by/uploads/photos/' + response.photo.path + ")"
                    });
                    data.id = response.photo.id;

                    $("#options").empty();
                    response.options.forEach(function (__opt) {
                        var $opt = $("<div />", {
                            'class': 'check_option'
                        }).data('id', __opt.id).append($("<div />").text(__opt.name))
                        $("#options").append($opt);
                    });
                    var $opt = $("<div />", {
                        'class': 'check_option'
                    }).data('id', -1).append($("<div />").text('Нет'));
                    $("#options").append($opt);
                } else {
                    $("#quizForm").html(
                        $("<h1 />")
                            .text("Нет данных. Попробуйте позже")
                            .css({
                                'text-align': 'center',
                                'width': '100%',
                            })
                    );
                }
            }


            function sendReview() {

                if ((window.data.option !== false) && (window.data.rate !== false)) {
                    $("#quizForm").css({
                        'opacity': 0.1,
                    });
                    $.ajax({
                        url: '{{ path('pizza_terminal_check_submit') }}',
                        data: window.data,
                        type: 'POST',
                        success: function (response) {
                            renderPhoto(response);
                        }
                    })
                }
            }

            $(document).on('click', ".review_option", function () {
                if ($(this).data('status') == true) {
                    window.data.review -= $(this).data('bit');
                    $(this).data('status', false).css({'background': ""});
                } else {
                    window.data.review += $(this).data('bit');
                    $(this).data('status', true).css({'background': "#999",});
                }
            });

            $(document).on('click', ".check_option", function () {
                window.data.option = $(this).data('id');
                $(".check_option").css({'background': ""});
                $(this).css({
                    'background': "#999",
                });
                sendReview();
            });
            $(document).on('click', ".rate_option", function () {
                window.data.rate = $(this).data('rate');
                $(".rate_option").css({'background': ""});
                $(this).css({
                    'background': "#999",
                });
                sendReview();
            });
        </script>
    {% endblock %}

