{% for _pizza in pizza %}
    <div class="pizzaDish" data-table="{{ _pizza.order.place.name }} {{_pizza.order.table.name}}" data-dishId="{{ _pizza.id  }}" data-orderId="{{ _pizza.order.id  }}" data-orderLocalId="{{ _pizza.order.localId  }}" data-dishName="{{ _pizza.dish.name }} {{ _pizza.quantity }}шт" >
        <div class="name">
            {{ _pizza.dish.name }} {{ _pizza.quantity }}шт
        </div>
        <div class="time">
            {{ _pizza.order.place.name }} {{_pizza.order.table.name}} | Счет №{{ _pizza.order.localId }} в {{ _pizza.order.createdAt | date('d.m.Y H:i') }}
        </div>
    </div>
{% endfor %}