<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Сеть заведений Кафе Venezia{% endblock %}</title>
    <meta name="description" content="Сеть заведений Кафе Venezia">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.png">

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,700,300,400&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    {% stylesheets

    "css/new/bootstrap.min.css"
    "@FrontendBundle/Resources/public/scss/card.scss"

    filter="scssphp" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
</head>
<body>
<div class="container" id="success">
    <h1>Мы рады приветствовать вас в «Caffé Venezia»!</h1>
    <h2>Активация прошла успешно!</h2>
</div>
{% javascripts
"js/new/jquery.min.js"

filter="?jsqueeze" %}

<script src="{{ asset_url }}"></script>

{% endjavascripts %}</body>

</html>