<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Сеть заведений Кафе Venezia{% endblock %}</title>
    <meta name="description" content="Сеть заведений Кафе Venezia">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.png">

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,700,300,400&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    {% stylesheets

    "css/new/bootstrap.min.css"
    "@FrontendBundle/Resources/public/scss/card.scss"

    filter="scssphp" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Мы рады приветствовать вас в «Caffé Venezia»!</h1>
            <h2>Заполните, пожалуйста поля для активации карты почетного гостя!</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {{ form_start(form) }}

            <div class="input-box">
                {{ form_widget(form.cardId) }}
            </div>
            <div class="input-box">
                {{ form_widget(form.lastName) }}
            </div>
            <div class="input-box">
                {{ form_widget(form.firstName) }}
            </div>
            <div class="input-box">
                {{ form_widget(form.birthDate) }}
            </div>
            <div class="input-box">
                {{ form_widget(form.phone) }}
            </div>
            <div class="input-box">
                {{ form_widget(form.email) }}
            </div>

            {{ form_end(form) }}
        </div>
        <div class="col-md-6">
            <div class="input-box">
                <p>
                    <strong>
                        Дорогие друзья!
                    </strong>
                </p>
                <p>Мы решили поблагодарить своих
                    постоянных клиентов, которые за долгие
                    годы знакомства стали друзьями,
                    предоставив вам возможность посещать
                    наши заведения с 10% скидкой!</p>
                <p>
                    Данная программа предусматривает
                    получение предъявителю карты в "Caffè
                    Venezia", пабе "DRAFT HOUSE", а также
                    других кафе нашей итальянской
                    компании!
                </p>
            </div>
        </div>
    </div>
</div>

{% javascripts
"js/new/jquery.min.js"

filter="?jsqueeze" %}

<script src="{{ asset_url }}"></script>

{% endjavascripts %}</body>

</html>